.btn {
  background-color: transparent;
  border: 2px solid #dfe3e8;
  box-sizing: border-box;
  font-family: @thirdFont-Family;
  font-size: 1.0714285714285714em;
  font-weight: normal;
  line-height: 1.3333333333333333;
  -webkit-appearance:	none;
     -moz-appearance:	none;
          appearance:	none;
  color: @grayDark;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  padding: 8px 20px;
  height: 40px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  margin: 0;
  transition: .15s ease-in-out;
  transition-property: color, border-color, background;

  &::-moz-focus-inner {
	padding: 0;
	border: 0;
  }
  &__txt {
    display: inline-block;
    vertical-align: baseline;
  }
  &__ico {
    float: left;
    height: 38px;
    width: 40px;
    line-height: 38px;
    margin-top: -8px;
    margin-left: -20px;
    margin-right: 20px;

    &--right {
      margin-right: -20px;
      margin-left: 20px;
      float: right;
    }
  }
  &:hover, &:focus {
    color: @greenLighten;
    border-color: @greenLighten;
  }
  &:active {
    border-color: darken(@greenLighten, 10);
  }
  &:disabled {
    opacity: .5;

    &:hover, &:focus {
      color: @grayDark;
      border-color: #dfe3e8;
    }
  }
  &.btn--mr25 {
    margin-right: 25px;
  }
}
.btn--primary {
  font-family: @baseFont-Family;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to bottom, @violetLighten, @violetLight);
  color: @white;
  box-shadow: inset 0 -2px 0 @violetLightenLight;
  border: none;
  // line-height: 1.6;
  line-height: 1.7;

  &:disabled {
    &:hover {
      color: @white;
      background: linear-gradient(to bottom, @violetLighten, @violetLight);

      .btn__ico {
        background: linear-gradient(to bottom, @violetDark, @violetDarken);
      }
    }
  }

  .btn__ico {
    background: linear-gradient(to bottom, @violetDark, @violetDarken);
  }
  &.btn--s {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &.btn--l {
    line-height: 1.3333333333333333;
  }
  &:hover {
    background: linear-gradient(to bottom, @violetLighten-hover, @violetLight-hover);
    color: @white;
    .btn__ico {
      background: linear-gradient(to bottom, @violetDark-hover, @violetDarken-hover);
    }
  }
  &:active {
    background: linear-gradient(to top, darken(@violetLighten-hover, 10), @violetLight-hover);
    .btn__ico {
      background: linear-gradient(to bottom, darken(@violetDark-hover, 10), @violetDarken-hover);
    }
  }
}
.btn--secondary {
  font-family: @baseFont-Family;
  font-weight: bold;
  text-transform: uppercase;
  color: @white;
  border: none;
  // line-height: 1.6;
  line-height: 1.7;

  background: linear-gradient(to bottom, @grayLighten, @grayLightenLight);
  box-shadow: inset 0 -2px 0 @grayDarken;

  &:disabled {
    &:hover {
      color: @white;
      background: linear-gradient(to bottom, @grayLighten, @grayLightenLight);
    }
  }

  &.btn--s {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &.btn--l {
    line-height: 1.3333333333333333;
  }
  &:hover {
    background: linear-gradient(to bottom, @grayLighten-hover, @grayLightenLight-hover);
    color: @white;
  }
  &:active {
    background: linear-gradient(to top, darken(@grayLighten-hover, 10), @grayLightenLight-hover);
  }
}
.btn--success {
  font-family: @baseFont-Family;
  font-weight: bold;
  text-transform: uppercase;
  color: @white;
  border: none;
  // line-height: 1.6;
  line-height: 1.7;
  background: linear-gradient(to bottom, @greenDark, @greenDarken);
  box-shadow: inset 0 -2px 0 @greenDarkenDark;
  &:disabled {
    &:hover {
      color: @white;
      background: linear-gradient(to bottom, @greenDark, @greenDarken);
    }
  }

  &.btn--s {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  &.btn--l {
    line-height: 1.3333333333333333;
  }
  &:hover {
    background: linear-gradient(to bottom, @greenDark-hover, @greenDarken-hover);
    color: @white;
  }
  &:active {
    background: linear-gradient(to top, darken(@greenDark-hover, 10), @greenDarken-hover);
  }
}

.btn--block {
  display: block;

  input&,
  button& {
    width: 100%;
  }
}
.btn--s {
  height: 30px;
  padding: 4px 10px;
  font-size: 0.8571428571428571em;
  // line-height: 1.5;
  line-height: 1.7;

  .btn__ico {
    width: 30px;
    height: 28px;
    line-height: 28px;
    margin-left: -10px;
    margin-top: -6px;
    margin-right: 10px;
    &--right {
      margin-right: -10px;
      margin-left: 10px;
    }
    & + .btn__txt {
      font-size: 100%;
      line-height: inherit;
    }
  }
  .ico {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}
.btn--l {
  height: 50px;
  padding: 13px 20px;
  font-size: 1.2857142857142856em;
  line-height: 1.1111111111111112;

  .btn__ico {
    width: 50px;
    height: 48px;
    line-height: 48px;
    margin-left: -20px;
    margin-top: -13px;
    margin-right: 20px;

    &--right {
      margin-right: -20px;
      margin-left: 20px;
    }
  }
}
