@font-face {
  font-family: 'Futuris';
  src:  //url('../fonts/FuturaFuturis-Light/FuturaFuturis-Light.eot?#iefix') format('embedded-opentype'),
  //       url('../fonts/FuturaFuturis-Light/FuturaFuturis-Light.otf')  format('opentype'),
  //       url('../fonts/FuturaFuturis-Light/FuturaFuturis-Light.ttf')  format('truetype'),
  //       url('../fonts/FuturaFuturis-Light/FuturaFuturis-Light.svg#FuturaFuturis-Light') format('svg'),
        url('../fonts/FuturaFuturis-Light/FuturaFuturis-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futuris';
  src: // url('../fonts/FuturaFuturis-Medium/FuturaFuturis-Medium.eot?#iefix') format('embedded-opentype'),
  //      url('../fonts/FuturaFuturis-Medium/FuturaFuturis-Medium.otf')  format('opentype'),
  //      url('../fonts/FuturaFuturis-Medium/FuturaFuturis-Medium.ttf')  format('truetype'),
  //      url('../fonts/FuturaFuturis-Medium/FuturaFuturis-Medium.svg#FuturaFuturis-Medium') format('svg'),
       url('../fonts/FuturaFuturis-Medium/FuturaFuturis-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futuris';
  src: // url('../fonts/FuturaFuturis-MediumItalic/FuturaFuturis-MediumItalic.eot?#iefix') format('embedded-opentype'),
  //      url('../fonts/FuturaFuturis-MediumItalic/FuturaFuturis-MediumItalic.otf')  format('opentype'),
  //      url('../fonts/FuturaFuturis-MediumItalic/FuturaFuturis-MediumItalic.ttf')  format('truetype'),
  //      url('../fonts/FuturaFuturis-MediumItalic/FuturaFuturis-MediumItalic.svg#FuturaFuturis-MediumItalic') format('svg'),
       url('../fonts/FuturaFuturis-MediumItalic/FuturaFuturis-MediumItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Futuris';
  src: // url('../fonts/FuturaFuturis-Bold/FuturaFuturis-Bold.eot?#iefix') format('embedded-opentype'),
  //      url('../fonts/FuturaFuturis-Bold/FuturaFuturis-Bold.otf')  format('opentype'),
  //      url('../fonts/FuturaFuturis-Bold/FuturaFuturis-Bold.ttf')  format('truetype'),
  //      url('../fonts/FuturaFuturis-Bold/FuturaFuturis-Bold.svg#FuturaFuturis-Bold') format('svg'),
       url('../fonts/FuturaFuturis-Bold/FuturaFuturis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futuris';
  src: // url('../fonts/FuturaFuturis-BoldItalic/FuturaFuturis-BoldItalic.eot?#iefix') format('embedded-opentype'),
  //      url('../fonts/FuturaFuturis-BoldItalic/FuturaFuturis-BoldItalic.otf')  format('opentype'),
  //      url('../fonts/FuturaFuturis-BoldItalic/FuturaFuturis-BoldItalic.ttf')  format('truetype'),
  //      url('../fonts/FuturaFuturis-BoldItalic/FuturaFuturis-BoldItalic.svg#FuturaFuturis-BoldItalic') format('svg'),
       url('../fonts/FuturaFuturis-BoldItalic/FuturaFuturis-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
    font-family: 'Rouble';
    src: url('../fonts/RoubleArial/roublearial_bold-webfont.woff2') format('woff2'),
         url('../fonts/RoubleArial/roublearial_bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rouble';
    src: url('../fonts/RoubleArial/roublearial_regular-webfont.woff2') format('woff2'),
         url('../fonts/RoubleArial/roublearial_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

// @font-face {
//     font-family: 'Futuris';
//     src: url('../fonts/FuturaFuturis/futurafuturislightc-webfont.woff2') format('woff2'),
//          url('../fonts/FuturaFuturis/futurafuturislightc-webfont.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'Futuris';
//     src: url('../fonts/FuturaFuturis/futurafuturisc-webfont.woff2') format('woff2'),
//          url('../fonts/FuturaFuturis/futurafuturisc-webfont.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'Futuris';
//     src: url('../fonts/FuturaFuturis/futurafuturisc-bold-webfont.woff2') format('woff2'),
//          url('../fonts/FuturaFuturis/futurafuturisc-bold-webfont.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
// }
