.form-label {
  display: block;

  &--hid {
    display: none;
  }
}
.form-grp {
  position: relative;
  & + & {
	//margin-top: 8px;
  }
}
.selectric,
.form-ctrl{
  -webkit-appearance:	none;
  -moz-appearance:	none;
  appearance:	none;
  display: block;
  font-family: @thirdFont-Family;
  font-weight: normal;
  border-radius: 0;
  padding: 4px 10px;
  height: 30px;
  font-size: inherit;
  // line-height: inherit;
  line-height: 20px;
  width: 100%;
  box-sizing: border-box;
  color: @grayDark;
  outline: none;
  resize: none;
  // add Roman
  border: 1px solid #bcc5ce;
  box-shadow: 0 -1px 0 0 #cedde5;
  background: linear-gradient(to bottom, #eef0f0, #f7f7f7);


  &:hover,
  &:focus {
    background: linear-gradient(to bottom, #f5f7f8, #ffffff);

    .button {
      color: @greenLight-hover;
    }
  }
  // = > end add Roman

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  @media @mediaMob {
    height: 30px;
    padding: 8px 10px;
    font-size: 0.8571428571428571em;
    line-height: 1.1666666666666665;
  }
}

.selectric {
  padding-right: 30px;
  &-wrapper {
    position: relative;
    cursor: pointer;
  }
  &-responsive {
    width: 100%;
  }
  &-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;

   .form-ctrl {
      position: absolute;
      left: -100%;
      display: none;
    }
  }
  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    color: @blueGreyDark;
  }
  &-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
  }
  &-items {
    display: none;
    position: absolute;
    top: 130%;
    left: 0;
    min-width: 125px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: @white;
    z-index: 2;
    font-family: @thirdFont-Family;
    box-shadow: 0 0 50px #dadada;
    //overflow: auto;

    &:after {
      bottom: 100%;
      left: 10px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: 6px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      display: block;
      padding: 5px 21px;
      padding-right: 0;
      cursor: pointer;
      list-style-type: none;

      &:before {
        display: none;
      }

      &:hover,
      &.selected {
        background: @greenLight-hover;
        color: @white;
        font-weight: normal;
      }
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  &-open &-items {
    display: block;
  }
  &-open {
    .selectric .button {
      color: @greenLight-hover;
      //font-size: 0;
      transform: rotate(180deg);

      // &:after {
      //   display: block;
      // }
    }
  }
  .button {
    display: block;
    position: absolute;
    right: 3px;  // Roman
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    color: @violet;
    text-align: center;
    font-family: Lucida Sans Unicode, Arial Unicode MS, Arial;

    &:after {
      display: none;
      position: absolute;
      content: "▲";
      top: 2px;
      right: 7px;
      font-size: 11 / 16rem;  // 14px
    }

    @media @mediaMob {
      width: 14px;
      height: 14px;
      margin-top: -7px;
    }

  }

}

.chbx {

}

.chbx__input {
  position: absolute;
  top: 0;
  left: -9999px;
  display: none;
}

.chbx__label {
  position: relative;
  display: block;
  padding-left: 21px;
  padding-right: 10px;
  font-family: @secondFont-Family;
  font-size: 14 /16rem; // 14px
  line-height: 16 / 16rem; // 16px
  font-weight: normal;
  color: @blueGreyDark;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid #bbc4ce;
    background: #ecedee;
    box-shadow: inset 0 1px 0 0 #c9d9e1;
    transition: all .2s;
  }

   &:after {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 0px;
    height: 0px;
    border-bottom: 2px solid @white;
    border-left: 2px solid @white;
    background: transparent;
    transition: transform .2s, width .3s, height .1s;
    opacity: 0;
  }

  &:hover {
    &:before {
      border-color: @greenLight-hover;
      background: @white;
    }
  }

  & > i {
    margin-left: 7px;
  }
}

.chbx__input:checked ~ .chbx__label {
  &:before {
    background: linear-gradient(to bottom, #44bd83, #30b576);
    border-color: @greenLight-hover;
    box-shadow: none;

  }

  &:after {
    width: 10px;
    height: 4px;
    transform: rotate(-45deg);
    opacity: 1;
  }
}

.radio {

}

.radio__input {
  position: absolute;
  top: 0;
  left: -9999px;
  display: none;
}

.radio__label {
  position: relative;
  display: block;
  padding-left: 22px;
  padding-right: 10px;
  font-family: @secondFont-Family;
  font-size: 14 /16rem; // 14px
  line-height: 16 / 16rem; // 16px
  font-weight: normal;
  color: @blueGreyDark;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 2px;
    left: 0px;
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #bbc4ce;
    border-radius: 50%;
    background: #ecedee;
    box-shadow: inset 0 1px 0 0 #c9d9e1;
    transition: transform .3s, border-color 0.4s ease .4s;
  }

  &:hover {
    &:before {
      border-color: @greenLight-hover;
      background: @white;
    }
  }
}

.radio__input:checked ~ .radio__label {
  &:before {
    width: 4px;
    height: 4px;
    border-width: 5px;
    background: @white;
    border-color: @greenLight-hover;
    box-shadow: none;
    transform: scale(1, -1);
  }
}

textarea {
  resize: none;
}


.form-item__elem {
  position: relative;
}


//.selectric .button:after {
//  content: " ";
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  margin: auto;
//  width: 0;
//  height: 0;
//  border: 4px solid transparent;
//  border-top-color: #BBB;
//  border-bottom: none;
//}
//
//.selectric-hover .selectric {
//  border-color: #C4C4C4;
//}
//.selectric-hover .selectric .button {
//  color: #A2A2A2;
//}
//.selectric-hover .selectric .button:after {
//  border-top-color: #A2A2A2;
//}
//
//.selectric-open {
//  z-index: 9999;
//}
//.selectric-open .selectric {
//  border-color: #C4C4C4;
//}
//.selectric-disabled {
//  filter: alpha(opacity=50);
//  opacity: 0.5;
//  cursor: default;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}
//.selectric-temp-show {
//  position: absolute !important;
//  visibility: hidden !important;
//  display: block !important;
//}
//.selectric-items .selectric-scroll {
//  height: 100%;
//  overflow: auto;
//}
//.selectric-above .selectric-items {
//  top: auto;
//  bottom: 100%;
//}
//.selectric-items li.selected {
//  background: #EFEFEF;
//  color: #444;
//}
//.selectric-items li:hover {
//  background: #F0F0F0;
//  color: #444;
//}
//.selectric-items .disabled {
//  filter: alpha(opacity=50);
//  opacity: 0.5;
//  cursor: default !important;
//  background: none !important;
//  color: #666 !important;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}
//.selectric-items .selectric-group .selectric-group-label {
//  font-weight: bold;
//  padding-left: 10px;
//  cursor: default;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  background: none;
//  color: #444;
//}
//.selectric-items .selectric-group.disabled li {
//  filter: alpha(opacity=100);
//  opacity: 1;
//}
//.selectric-items .selectric-group li {
//  padding-left: 25px;
//}





//select.form-ctrl,
//.selectric {
//  padding-right: 46px;
//  &:-moz-focusring {
//    color: transparent;
//    text-shadow: 0 0 0 #000;
//  }
//}
//.select {
//  &__img {
//    display: table-cell;
//    vertical-align: middle;
//    width: 140px;
//    min-width: 140px;
//    max-width: 140px;
//    padding-right: 40px;
//    text-align: center;
//  }
//  &__text {
//    display: table-cell;
//    vertical-align: middle;
//    width: 100%;
//  }
//  &__price {
//    white-space: nowrap;
//    display: table-cell;
//    vertical-align: middle;
//    color: #77c01d;
//    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
//    padding-left: 20px;
//    padding-right: 20px;
//    min-width: 80px;
//    text-align: center;
//  }
//}
//textarea {
//  min-height: 95px;
//}
//[type=submit] {
//  cursor: pointer;
//}
//
//.form-checkbox,
//.form-radio {
//  position: relative;
//  padding-left: 40px;
//  line-height: 1.2;
//  margin-bottom: 25px;
//  min-height: 22px;
//
//  &--right {
//    padding-left: 0;
//    padding-right: 40px;
//  }
//
//  &__input {
//    width: 18px;
//    height: 18px;
//    margin: 0;
//    padding: 0;
//    position: absolute;
//    left: 2px;
//    top: 2px;
//  }
//  &--right &__input {
//    left: auto;
//    right: 2px;
//  }
//  &__ico {
//    background-color: #f4f4f4;
//    position: absolute;
//    width: 22px;
//    height: 22px;
//    left: 0;
//    top: 0;
//    text-align: center;
//    color: #000;
//
//    .ico {
//      vertical-align: top;
//      margin-top: 3px;
//      visibility: hidden;
//    }
//  }
//  &--right &__ico {
//    left: auto;
//    right: 0;
//  }
//  &__input:checked + &__txt .ico {
//    visibility: visible;
//  }
//  label:hover {
//    text-decoration: underline;
//    cursor: pointer;
//  }
//}
//.form-radio {
//  &__ico {
//    border-radius: 50%;
//    color: @thirdColor;
//  }
//}
//
//.form-range > .irs {
//  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
//  font-size: 0.8666666666666667em;
//  line-height: 1.3846153846153846;
//  margin-top: 40px;
//  z-index: 0;
//
//  .irs-line {
//    background-color: #e4e4e4;
//    height: 4px;
//  }
//  .irs-bar {
//    background-color: #ffffff;
//    height: 4px;
//    top: 0;
//  }
//  .irs-slider {
//    width: 8px;
//    height: 8px;
//    border-radius: 50%;
//    background-color: #e4e4e4;
//    border: 5px solid #fff;
//    top: 50%;
//    margin-top: -9px;
//  }
//  .irs-from, .irs-to, .irs-single, .irs-max, .irs-min {
//    top: -30px;
//  }
//}
//.selectric {
//  .label {
//    margin: 0;
//    font-size: inherit;
//    color: inherit;
//    height: auto;
//    line-height: inherit;
//  }
//  .button {
//    content: '▼';
//    display: block;
//    font-size: inherit;
//    position: absolute;
//    color: inherit;
//    top: 0;
//    right: 0;
//    width: 42px;
//    height: 42px;
//    line-height: 42px;
//
//    &:after {
//      display: none;
//    }
//  }
//  &-hover & .button {
//    color: inherit;
//  }
//  &-open&-form-ctrl & {
//    background: #77C01D;
//    color: #fff;
//  }
//  &-items {
//    border: none;
//    background: #fff;
//    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
//    width: auto!important;
//    right: 0;
//    ul, li {
//      list-style: none;
//      font-size: inherit;
//      line-height: inherit;
//      color: inherit;
//    }
//    li {
//      border: none;
//      padding: 7px 20px 11px;
//      &:hover {
//        background-color: #fbfbfb;
//      }
//      &.selected {
//        background: none;
//        color: #000;
//        font-weight: bold;
//      }
//    }
//    li:before {
//      display: none;
//    }
//  }
//}
//.stepper  {
//  padding-left: 40px;
//  padding-right: 40px;
//  position: relative;
//  &-input {
//    -webkit-appearance: textfield;
//    -moz-appearance: textfield;
//    appearance: textfield;
//    overflow: hidden;
//
//    height: 34px;
//    line-height: 24px;
//    width: 34px;
//    text-align: center;
//    padding: 0;
//    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
//    background: none !important;
//    box-shadow: none !important;
//    color: #000;
//    cursor: default;
//    margin-left: auto;
//    margin-right: auto;
//
//    &::-webkit-inner-spin-button,
//    &::-webkit-outer-spin-button {
//      -webkit-appearance: none;
//    }
//  }
//  &-arrow {
//    position: absolute;
//    width: 34px;
//    height: 34px;
//    border-radius: 5px;
//    background-color: #fff;
//    top: 50%;
//    margin-top: -17px;
//    text-align: center;
//    line-height: 34px;
//    cursor: pointer;
//    &.up {
//      right: 0;
//    }
//    &.down {
//      left: 0;
//    }
//  }
//}
