.ico {
  position: relative;
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  vertical-align: baseline;
  fill: currentColor;
  background-repeat: no-repeat;
  background-position: center;

  &:after {
  	content: '\a0';
  }

  &__svg {
  	position: absolute;
  	top: 0;
  	left: 0;
  	fill: inherit;
  	display: block;
  	width: 100%;
  	height: 100%;
  	transform: translateZ(0);
  	-ms-transform: translate(0, .5px);
  }
}
.ico--l {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
.ico--s {
  width: 22px;
  height: 22px;
  line-height: 22px;
}
.ico--xs {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.ico--h40 {
  width: 40px;
  height: auto;
  line-height: auto;
}

.ico--h36 {
  width: 36px;
  height: auto;
  line-height: auto;
}

.ico--red {
  fill: red;
}

.ico--violet {
  fill: @violet;
}

a, .apseudo {
  .ico {
    color: @blueGreyLight;
  }
  &:hover .ico {
    color: @greenLight-hover;
  }
}

body > svg {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
}