html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: @grayMedium;
  min-width: @minPageWidth;

  @media @mediaMob {
    background-color: @grayMedium;
  }
  &.page--index {
    @media @mediaMob {
      background-color: @gray;
    }
  }

}
.page {
  &-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .no-flexbox & {
      display: table;
    }
  }
  &-main {
    flex: 1 0 auto;
    background-color: @grayMedium;

    .page--index & {
      background-color: @gray;
    }

    > .inner-block {
      padding-bottom: 20px;
	  padding-top: 20px;
    }
  }
  &-inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &Header,
  &-footer {
    flex: none;

    .no-flexbox & {
      display: table-row;
      height: 1px;
    }
  }
  &-main{
    .no-flexbox & {
      display: table-row;
    }
  }
  &-no-mobile {
    min-width: 1280px;
  }
}

img {
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: baseline;
  //transform: translateZ(0);
}
span {
  display: inline-block;
}

.inner-block {
  max-width: @maxPageWidth - @pagePadLeft - @pagePadRight;
  padding-left: @pagePadLeft;
  padding-right: @pagePadRight;
  margin-left: auto;
  margin-right: auto;
  .clearfix();

  @media @mediaMob {
    padding-left: @pagePadLeftMob;
    padding-right: @pagePadRightMob;
  }
}
section {
  & + & {
    margin-top: @sectionMarginTop;

    @media @mediaMob {
      margin-top: @sectionMarginTop--Mob;
    }
  }
}
.clearfix {
  .clearfix();
}

.only-desktop {
  position: relative;
  visibility: visible;

  @media @mediaTable {
    position: fixed;
    visibility: hidden;
  }
  @media @mediaMob {
    position: fixed;
    visibility: hidden;
  }
}
.only-tablet {
  position: fixed;
  visibility: hidden;

  @media @mediaTable {
    position: relative;
    visibility: visible;
  }
  @media @mediaMob {
    position: fixed;
    visibility: hidden;
  }
}
.only-mobile {
  position: fixed;
  visibility: hidden;

  @media @mediaTable {
    position: fixed;
    visibility: hidden;
  }
  @media @media460 {
    position: relative;
    visibility: visible;
  }
}

.only-tablet.only-desktop {
  position: relative;
  visibility: visible;

  @media @mediaTable {
    position: relative;
    visibility: visible;
  }
  @media @mediaMob {
    position: fixed;
    visibility: hidden;
  }
}
.only-mobile.only-desktop {
  position: relative;
  visibility: visible;

  @media @mediaTable {
    position: fixed;
    visibility: hidden;
  }
  @media @mediaMob {
    position: relative;
    visibility: visible;
  }
}

.hide-desktop {
  position: fixed;
  visibility: hidden;

  @media @mediaTable {
    position: relative;
    visibility: visible;
  }
  @media @mediaMob {
    position: relative;
    visibility: visible;
  }
}

.hide-mobile {
  position: relative;
  visibility: visible;

  @media @mediaTable {
    position: relative;
    visibility: visible;
  }
  @media @mediaMob {
    position: fixed;
    visibility: hidden;
  }
}

.hidden {
  display: none;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.devider-dashed {
  box-sizing: border-box;
  border-bottom: 1px dashed #b1c5db;
  margin: 20px auto;
}
