.order-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }

  & td {
    font-family: @secondFont-Family;
    vertical-align: top;
  }

  thead {
    padding: 0 20px;
    background: @grayPpagin;
    font-family: @secondFont-Family;
    font-size: 13 / 16rem; // 13px
    font-weight: normal;
    line-height: 15 / 16rem; // 15px
    color: @blueGrey;

    td {
      padding: 5px 0;
    }

    td:first-child {
      padding-left: 20px;
    }
  }
}




