body {
  font-family:      @baseFont-Family;
  font-size:        @baseFont-Size;
  line-height:      @baseLine-Height;
  cursor:           @baseCursor;
  color:            @baseColor;
  text-size-adjust: none;
}
h1, .h1 {
  font-weight:    @h1FontWeight;
  //color:          @blueDeepExtraDark;
  color:          @blueDeepDark;
  font-size:      @h1FontSize;
  line-height:    @h1LineHeight;
  margin-top:     @h1MarginTop;
  margin-bottom:  @h1MarginBottom;
}
h2, .h2 {
  font-size:      @h2FontSize;
  line-height:    @h2LineHeight;
  //color:          @blueDeepExtraDark;
  color:          @blueDeepDark;
  font-weight:    @h2FontWeight;
  margin-top:     @h2MarginTop;
  margin-bottom:  @h2MarginBottom;

  @media @mediaMob {
    font-size: 1.4285714285714284em;
  }
}
h3, .h3 {
  font-weight:    @h3FontWeight;
  //color:          @blueDeepExtraDark;
  color:          @blueDeepDark;
  font-size:      @h3FontSize;
  line-height:    @h3LineHeight;
  margin-top:     @h3MarginTop;
  margin-bottom:  @h3MarginBottom;
}
h4, .h4 {
  font-weight:    @h4FontWeight;
  //color:          @blueDeepExtraDark;
  color:          @blueDeepDark;
  font-size:      @h4FontSize;
  line-height:    @h4LineHeight;
  margin-top:     @h4MarginTop;
  margin-bottom:  @h4MarginBottom;
}
p {
  font-family: @secondFont-Family;
  margin-top: @pMarginTop;
  margin-bottom: @pMarginBottom;
}
ul, ol {
  font-family: @secondFont-Family;
  padding-left: @listPaddingLeft;
  margin-top: @listMarginTop;
  margin-bottom: @listMarginBottom;
  li {
    position: relative;
  }

  li + li {
    margin-top: @listItemMarginTop;
  }
}
ul {
  list-style: none;
  li:before {
    content: "\2012";
    position: absolute;
    left: -1.2857142857142856em;
  }
  &.ul--bullet li:before {
    content: "•";
  }
}

.txt {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

small, .small {
  font-size: 0.8571428571428571em;
  line-height: 2;
}

.pseudo-link {
  border-bottom: 1px dashed;
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    color: @greenLight-hover;
  }
}

.udrline-dashed {
  position: relative;
  text-decoration: none;

  &:before {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed;
    border-color: inherit;
  }

  &:hover {
    &:before {
      border-color: inherit;
    }
  }
}

.link-grey {
  font-family: @secondFont-Family;
  font-size: 12 / 16rem; // 12px
  line-height:  14 / 16rem; // 14px
  font-weight: normal;
  color: @grayDarckMedium;
  text-decoration: underline;
}
//.apseudo {
//  color: #00a5e2;
//  cursor: pointer;
//  text-decoration: underline dotted;
//  &:hover {
//    color: @linkColor--HVR;
//  }
//}
.priceRu {
  font-family: "Rouble";
  letter-spacing: -0.0357142em;
  text-indent: -0.11428em;
  line-height: normal;
}

.list-disc-inline {
  margin: 0;
  padding: 0;

  .list-disc-inline__item  {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    padding-left: 12px;
    margin-left: 6px;

    &:before {
      width: 0;
      height: 0;
      border: 2px solid;
      border-color: inherit;
      content: "";
      border-radius: 50%;
      background: inherit;
      color: inherit;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:first-child {
      margin-left: 0;
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }
}
