<div class="balance">
  <div class="balance__col balance__price">
    <div class="balance__price-text">Баланс</div>
    <div class="price">30 000 <span class="priceRu">руб.</span></div>
  </div>
  <div class="balance__col balance__btn">
    <button type="button" class="btn btn--success btn--l btn-arrrow-l">
        <span class="btn__txt">Пополнить баланс</span>
      </button>
  </div>
  <div class="balance__col balance__capch">
    Взимается комиссия 0.5% в&nbsp;соответствии с условиями банка-партнера
  </div>
</div>
