<section class="sectionBox sectionBox--noBg sectionBox--noPad only-desktop">
  <div class="sectionBox__content">
    <div class="sectionBox__colWrap sectionBox__colWrap--padSmall">
      <div class="sectionBox__colInner campColInner">
        <div class="sectionBox__col campWrap">
          <div class="camp">
            <div class="dotBorder">
              <div class="dotBorder__inner">
                <div class="camp__row">
                  <div class="camp__pic">
                    <div class="dotBorder">
                      <div class="dotBorder__inner"><img src="img/temporary/camp_01@2x.jpg" class="camp__pic-img dotBorder__inner"></div>
                    </div>
                  </div>
                  <div class="camp__offerBox"><i data-ico="offer-sale" class="ico camp__offer-ico"><svg class="ico__svg"><use xlink:href="#offer-sale"></use></svg></i></div>
                  <div class="camp__title">Лагерь выходного дня. Голодные игры. Восстание капитолия</div>
                </div>
                <div class="camp__row">
                  <div class="camp__infoBox">
                    <div class="camp__separator"></div>
                    <div class="camp__infoBox-inner">
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="camp__info-title small">Мест:</div>
                        <div class="camp__seats">32</div>
                      </div>
                    </div>
                    <div class="camp__ctrlBox only-tablet only-desktop">
                      <div class="camp__ctrl">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>22 сен - 26 окт</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option></select></div>
                      </div>
                      <div class="camp__ctrl txt-right"><button class="btn btn--primary btn--s"><span class="btn__txt">Забронировать</span></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox__col campWrap">
          <div class="camp">
            <div class="dotBorder">
              <div class="dotBorder__inner">
                <div class="camp__row">
                  <div class="camp__pic">
                    <div class="dotBorder">
                      <div class="dotBorder__inner"><img src="img/temporary/camp_02@2x.jpg" class="camp__pic-img"></div>
                    </div>
                  </div>
                  <div class="camp__shieldsBox"><i data-ico="shields-health" data-content="Данный лагерь сертифицирован “Всемирной ассоциацией Здравоохранения”. Что означает высокий уровень текста во всплывающей подсказке" class="ico camp__shields-ico popover"><svg class="ico__svg"><use xlink:href="#shields-health"></use></svg></i>
                    <i data-ico="shields-ICF" data-content="Данный лагерь сертифицирован “Всемирной ассоциацией Здравоохранения”. Что означает высокий уровень текста во всплывающей подсказке" class="ico camp__shields-ico popover"><svg class="ico__svg"><use xlink:href="#shields-ICF"></use></svg></i>
                    <i
                      data-ico="shields-award" data-content="Данный лагерь сертифицирован “Всемирной ассоциацией Здравоохранения”. Что означает высокий уровень текста во всплывающей подсказке" class="ico camp__shields-ico popover"><svg class="ico__svg"><use xlink:href="#shields-award"></use></svg></i>
                  </div>
                  <div class="camp__offerBox"><i data-ico="offer-top" class="ico camp__offer-ico"><svg class="ico__svg"><use xlink:href="#offer-top"></use></svg></i></div>
                  <div class="camp__title">skillcamp. следопыт и девичья светлица</div>
                </div>
                <div class="camp__row">
                  <div class="camp__infoBox">
                    <div class="camp__separator"></div>
                    <div class="camp__infoBox-inner">
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="camp__info-title small">Мест:</div>
                        <div class="camp__seats">201</div>
                      </div>
                    </div>
                    <div class="camp__ctrlBox only-tablet only-desktop">
                      <div class="camp__ctrl">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>22 сен - 26 окт</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option></select></div>
                      </div>
                      <div class="camp__ctrl txt-right"><button class="btn btn--primary btn--s"><span class="btn__txt">Забронировать</span></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox__col campWrap">
          <div class="camp">
            <div class="dotBorder">
              <div class="dotBorder__inner">
                <div class="camp__row">
                  <div class="camp__pic">
                    <div class="dotBorder">
                      <div class="dotBorder__inner"><img src="img/temporary/camp_01@2x.jpg" class="camp__pic-img"></div>
                    </div>
                  </div>
                  <div class="camp__shieldsBox"><i data-ico="shields-health" data-content="Данный лагерь сертифицирован “Всемирной ассоциацией Здравоохранения”. Что означает высокий уровень текста во всплывающей подсказке" class="ico camp__shields-ico popover"><svg class="ico__svg"><use xlink:href="#shields-health"></use></svg></i>
                    <i data-ico="shields-ICF" data-content="Данный лагерь сертифицирован “Всемирной ассоциацией Здравоохранения”. Что означает высокий уровень текста во всплывающей подсказке" class="ico camp__shields-ico popover"><svg class="ico__svg"><use xlink:href="#shields-ICF"></use></svg></i>
                  </div>
                  <div class="camp__offerBox"><i data-ico="offer-season" class="ico camp__offer-ico"><svg class="ico__svg"><use xlink:href="#offer-season"></use></svg></i></div>
                  <div class="camp__title">Ромбинзонада. Чудеса на виражах</div>
                </div>
                <div class="camp__row">
                  <div class="camp__infoBox">
                    <div class="camp__separator"></div>
                    <div class="camp__infoBox-inner">
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="camp__info-title small">Мест:</div>
                        <div class="camp__seats camp__seats--few">8</div>
                      </div>
                    </div>
                    <div class="camp__ctrlBox only-tablet only-desktop">
                      <div class="camp__ctrl">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>22 сен - 26 окт</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option></select></div>
                      </div>
                      <div class="camp__ctrl txt-right"><button class="btn btn--primary btn--s"><span class="btn__txt">Забронировать</span></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox__col campWrap">
          <div class="camp">
            <div class="dotBorder">
              <div class="dotBorder__inner">
                <div class="camp__row">
                  <div class="camp__pic">
                    <div class="dotBorder">
                      <div class="dotBorder__inner"><img src="img/temporary/camp_02@2x.jpg" class="camp__pic-img"></div>
                    </div>
                  </div>
                  <div class="camp__shieldsBox"><i data-ico="shields-health" data-content="Данный лагерь сертифицирован “Всемирной ассоциацией Здравоохранения”. Что означает высокий уровень текста во всплывающей подсказке" class="ico camp__shields-ico popover"><svg class="ico__svg"><use xlink:href="#shields-health"></use></svg></i>
                    <i data-ico="shields-ICF" data-content="Данный лагерь сертифицирован “Всемирной ассоциацией Здравоохранения”. Что означает высокий уровень текста во всплывающей подсказке" class="ico camp__shields-ico popover"><svg class="ico__svg"><use xlink:href="#shields-ICF"></use></svg></i>
                  </div>
                  <div class="camp__offerBox"><i data-ico="offer-sale" class="ico camp__offer-ico"><svg class="ico__svg"><use xlink:href="#offer-sale"></use></svg></i></div>
                  <div class="camp__title">skillcamp. следопыт и девичья светлица</div>
                </div>
                <div class="camp__row">
                  <div class="camp__infoBox">
                    <div class="camp__separator"></div>
                    <div class="camp__infoBox-inner">
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="camp__info-title small">Мест:</div>
                        <div class="camp__seats">11</div>
                      </div>
                    </div>
                    <div class="camp__ctrlBox only-tablet only-desktop">
                      <div class="camp__ctrl">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>22 сен - 26 окт</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option></select></div>
                      </div>
                      <div class="camp__ctrl txt-right"><button class="btn btn--primary btn--s"><span class="btn__txt">Забронировать</span></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
