<div class="camp-transfer-table hidden" id="001">

    <div class="camp-transfer-table__close">
      <a href="#">Закрыть</a><i data-ico="close" class="ico ico--xs"><svg class="ico__svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></i>
    </div>
    <div class="camp-transfer-table__title"><b>Трансфер</b></div>
    <div class="clearfix"></div>

  <div class="camp-transfer-table__header">
    <div class="camp-transfer-table__col camp-transfer-table__col--wide">
      <img src="img/trans-in.svg" alt=""><span>В место отдыха</span>
    </div>

    <div class="camp-transfer-table__col camp-transfer-table__col--narrow">
      <span>Транспорт</span>
    </div>

    <div class="camp-transfer-table__col camp-transfer-table__col--wide">
      <img src="img/trans-out.svg" alt=""><span>Из места отдыха</span>
    </div>

    <div class="camp-transfer-table__col camp-transfer-table__col--narrow">
      <span>Транспорт</span>
    </div>
  </div>

  <div class="camp-transfer-table__body">
    <!-- в место отдыха -->
    <div class="camp-transfer-table__col camp-transfer-table__col--wide">
      <span class="transfer-table__transferTo-date"><b>17.11.2016</b></span>
      <b>&nbsp;в&nbsp;</b>
      <span class="transfer-table__transferTo-time"><b>13:15</b></span>
      <div class="transfer-table__transferTo-place small-txt">станция метро Крылатское</div>
    </div>

    <div class="camp-transfer-table__col camp-transfer-table__col--narrow">
      <div class="camp-transfer-table__transportTo-icon">
        <img src="img/bus.svg" alt="">
      </div>
      <div class="camp-transfer-table__transportTo-type small-txt">Автобус</div>
      <div class="camp-transfer-table__transportTo-name small-txt">Golden dragon XML6139JR</div>
    </div>
    <!-- в место отдыха -->

    <!-- из места отдыха -->
    <div class="camp-transfer-table__col camp-transfer-table__col--wide">
      <span class="transfer-table__transferFrom-date"><b>27.11.2016</b></span>
      <b>&nbsp;в&nbsp;</b>
      <span class="transfer-table__transferFrom-time"><b>10:15</b></span>
      <div class="transfer-table__transferFrom-place small-txt">г.&nbsp;Москва, Одинцовский&nbsp;район, д.&nbsp;Дунино,&nbsp;д.2, пансионат&nbsp;"Поляны"</div>
    </div>

    <div class="camp-transfer-table__col camp-transfer-table__col--narrow">
      <div class="camp-transfer-table__transportFrom-icon">
        <img src="img/bus.svg" alt="">
      </div>
      <div class="camp-transfer-table__transportFrom-type small-txt">Автобус</div>
      <div class="camp-transfer-table__transportFrom-name small-txt">Mercedes-Benz Citaro NGT</div>
    </div>
    <!-- из места отдыха -->
  </div>

</div>
