<div class="carousel campSlider">

  <div class="campSlider__item">
    <img src="img/clever-boy.jpg" class="campSlider__item-img only-desktop">
    <img src="img/clever-boy.jpg" class="campSlider__item-img only-tablet">
    <img src="img/clever-boy.jpg" class="campSlider__item-img only-mobile">
    <div class="campSlider__content">
      <div class="inner-block">
        <a href="#" class="campSlider__title">"Лагерь мастеров"</a>
        <div class="campSlider__desc">Подмосковье, Можайск
          <a href="#" class="campSlider__conditions">
            <div class="campSlider__conditions-ages">Детям<div class="big">10-16</div>лет</div>
            <div class="campSlider__conditions-period">Сроки проведения<div class="big">15.07-22.08</div></div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="campSlider__item">
    <img src="img/young-explorers.jpg" class="campSlider__item-img only-desktop">
    <img src="img/young-explorers.jpg" class="campSlider__item-img only-tablet">
    <img src="img/young-explorers.jpg" class="campSlider__item-img only-mobile">
    <div class="campSlider__content">
      <div class="inner-block">
        <a href="#" class="campSlider__title">"Охотники за привидениями"</a>
        <div class="campSlider__desc">Подмосковье, Можайск
          <a href="#" class="campSlider__conditions">
            <div class="campSlider__conditions-ages">Детям<div class="big">8-10</div>лет</div>
            <div class="campSlider__conditions-period">Сроки проведения<div class="big">15.07-22.08</div></div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="campSlider__item">
    <img src="img/young-pilot.jpg" class="campSlider__item-img only-desktop">
    <img src="img/young-pilot.jpg" class="campSlider__item-img only-tablet">
    <img src="img/young-pilot.jpg" class="campSlider__item-img only-mobile">
    <div class="campSlider__content">
      <div class="inner-block">
        <a href="#" class="campSlider__title">"Зимние каникулы. Длинный-предлинный заголовок. Зимние каникулы."</a>
        <div class="campSlider__desc">Подмосковье, Можайск
          <a href="#" class="campSlider__conditions">
            <div class="campSlider__conditions-ages">Детям
              <div class="big">10-16</div>лет</div>
            <div class="campSlider__conditions-period">Сроки проведения
              <div class="big">15.07-22.08</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
