<section class="sectionBox sectionBox--noBg sectionBox--noPad">
  <div class="sectionBox__content">
    <div class="sectionBox__colWrap sectionBox__colWrap--padSmall">
      <div class="sectionBox__colInner campColInner">
        <div class="sectionBox__col campWrap">
          <div class="camp has-gradBg">
            <div class="dotBorder">
              <div class="dotBorder__inner">
                <div class="camp__row">
                  <div class="camp__pic">
                    <div class="dotBorder">
                      <div class="dotBorder__inner">
                        <img src="img/temporary/camp_01@2x.jpg" class="camp__pic-img dotBorder__inner">
                      </div>
                    </div>
                  </div>
                  <div class="camp__offerBox">
                    <span class="camp__offer-hot"></span>
                  </div>
                  <div class="camp__title">
                    <a href="#">
                      Лагерь выходного дня. «Голодные игры». «Зойка-пересменщица в сумерках».
                    </a>
                  </div>
                </div>
                <div class="camp__row">
                  <div class="camp__infoBox">
                    <div class="camp__separator"></div>
                    <div class="camp__infoBox-inner">
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">
                            Стоимость:
                          </div>
                          <div class="camp__priceBox">
                            <div class="camp__price">
                              22 000 <span class="priceRu">руб.</span>
                            </div>
                          </div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="camp__info-title small">Мест:</div>
                        <div class="camp__seats">32</div>
                      </div>
                    </div>
                    <div class="camp__ctrlBox only-tablet only-desktop">
                      <div class="camp__ctrl">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">
                            1
                          </div>
                          <select class="form-ctrl">
                            <option>22 сен - 26 окт</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                          </select>
                        </div>
                      </div>
                      <div class="camp__ctrl txt-right">
                        <button class="btn btn--primary btn--s">
                          <span class="btn__ico">
                            <i data-ico="btn-order" class="ico ico--s">
                            <svg class="ico__svg">
                              <use xlink:href="#btn-order"></use>
                            </svg>
                            </i>
                          </span>
                          <span class="btn__txt">Купить</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox__col campWrap">
          <div class="camp">
            <div class="dotBorder">
              <div class="dotBorder__inner">
                <div class="camp__row">
                  <div class="camp__pic">
                    <div class="dotBorder">
                      <div class="dotBorder__inner">
                        <img src="img/temporary/camp_02@2x.jpg" class="camp__pic-img">
                      </div>
                    </div>
                  </div>
                  <div class="camp__title">
                    <a href="#">Лагерь выходного дня. «Инсургентный дивергентный деградант».</a>
                  </div>
                </div>
                <div class="camp__row">
                  <div class="camp__infoBox">
                    <div class="camp__separator"></div>
                    <div class="camp__infoBox-inner">
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="camp__info-title small">Мест:</div>
                        <div class="camp__seats">201</div>
                      </div>
                    </div>
                    <div class="camp__ctrlBox only-tablet only-desktop">
                      <div class="camp__ctrl">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">
                            1
                          </div>
                          <select class="form-ctrl">
                            <option>22 сен - 26 окт</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                          </select>
                        </div>
                      </div>
                      <div class="camp__ctrl txt-right"><button class="btn btn--primary btn--s"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#btn-order"></use></svg></i></span><span class="btn__txt">Купить</span></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox__col campWrap">
          <div class="camp">
            <div class="dotBorder">
              <div class="dotBorder__inner">
                <div class="camp__row">
                  <div class="camp__pic">
                    <div class="dotBorder">
                      <div class="dotBorder__inner"><img src="img/temporary/camp_01@2x.jpg" class="camp__pic-img"></div>
                    </div>
                  </div>
                  <div class="camp__title"><a href="#">Ромбинзонада. «Чудеса на виражах»</a></div>
                </div>
                <div class="camp__row">
                  <div class="camp__infoBox">
                    <div class="camp__separator"></div>
                    <div class="camp__infoBox-inner">
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="camp__info-title small">Мест:</div>
                        <div class="camp__seats camp__seats--few">8</div>
                      </div>
                    </div>
                    <div class="camp__ctrlBox only-tablet only-desktop">
                      <div class="camp__ctrl">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>22 сен - 26 окт</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option></select></div>
                      </div>
                      <div class="camp__ctrl txt-right"><button class="btn btn--primary btn--s"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#btn-order"></use></svg></i></span><span class="btn__txt">Купить</span></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox__col campWrap">
          <div class="camp">
            <div class="dotBorder">
              <div class="dotBorder__inner">
                <div class="camp__row">
                  <div class="camp__pic">
                    <div class="dotBorder">
                      <div class="dotBorder__inner"><img src="img/temporary/camp_02@2x.jpg" class="camp__pic-img"></div>
                    </div>
                  </div>
                  <div class="camp__title"><a href="#">skillcamp. «следопыт и девичья светлица»</a></div>
                </div>
                <div class="camp__row">
                  <div class="camp__infoBox">
                    <div class="camp__separator"></div>
                    <div class="camp__infoBox-inner">
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="only-tablet only-desktop">
                          <div class="camp__info-title small">Сроки:</div>
                          <div class="camp__period">22.07-24.08</div>
                          <div class="camp__linkBox small"><a href="#" class="camp__link">Показать все</a></div>
                        </div>
                        <div class="only-mobile">
                          <div class="camp__info-title small">Стоимость:</div>
                          <div class="camp__priceBox">
                            <div class="camp__price camp__price--old"><del>30 000</del></div>
                            <div class="camp__price">22 000 <span class="priceRu">руб.</span></div>
                          </div>
                        </div>
                      </div>
                      <div class="camp__info-col">
                        <div class="camp__info-title small">Мест:</div>
                        <div class="camp__seats">11</div>
                      </div>
                    </div>
                    <div class="camp__ctrlBox only-tablet only-desktop">
                      <div class="camp__ctrl">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>22 сен - 26 окт</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option></select></div>
                      </div>
                      <div class="camp__ctrl txt-right"><button class="btn btn--primary btn--s"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#btn-order"></use></svg></i></span><span class="btn__txt">Купить</span></button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
