<section class="sectionBox">
  <div class="features features--predstart">
    <div class="features__item features__item--program">
      <div class="features__item-inner">
        <div class="features__item-icon"><img src="/img/pd_programm.png"></div>
        <div class="features__item-desc">
          <div class="features__item-title">Количество<br> программ</div>
          <div class="features__item-count count count--yellow"><span>1</span><span>1</span><span>1</span></div>
        </div>
      </div>
    </div>
    <div class="features__item features__item--rest">
      <div class="features__item-inner">
        <div class="features__item-icon"><img src="/img/pd_camp.png"></div>
        <div class="features__item-desc">
          <div class="features__item-title">Количество<br>лагерей</div>
          <div class="features__item-count count count--orange"><span>1</span><span>1</span><span>1</span></div>
        </div>
      </div>
    </div>
    <div class="features__item features__item--sale">
      <div class="features__item-inner">
        <div class="features__item-icon"><img src="/img/pd_tour.png"></div>
        <div class="features__item-desc">
          <div class="features__item-title">Доступных для<br>покупки путевок</div>
          <div class="features__item-count count count--blue"><span>1</span><span>1</span><span>1</span></div>
        </div>
      </div>
    </div>
  </div>
</section>