<!-- jquery -->
<script src="js/jquery.min.js"></script>
<!-- jquery -->
<!-- build:js-vendor -->
<script src="js/vendor.min.js"></script>
<!-- endbuild -->
<!-- build:js-main -->
<script src="js/main.js"></script>
<!-- endbuild -->

<!-- Modal-->
<!-- <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button type="button" data-dismiss="modal" aria-label="Закрыть" class="modal-enter__close"><span>Закрыть</span><i data-ico="close" class="ico ico--xs modal-enter__close-icon"><svg class="ico__svg"><use xlink:href="#close"></use></svg></i></button></div>
      <div class="modal-body">
        <div class="modal-enter__title">Войти</div>
        <div class="form">
          <div class="modal-enter__inner-wrap">
            <div class="form__item modal-enter__input">
              <div class="form__item-inner">
                <div class="form-item__label"><label for="name">Логин</label></div>
                <div class="form-item__elem"><input type="text" id="name" name="name" class="form-ctrl"></div>
              </div>
            </div>
            <div class="form__item modal-enter__input">
              <div class="form__item-inner">
                <div class="form-item__label"><label for="pass">Пароль</label></div>
                <div class="form-item__elem"><input type="password" id="pass" name="pass" class="form-ctrl"></div>
              </div>
            </div>
          </div>
          <div class="chbx modal-enter__remember"><input type="checkbox" name="remember" id="remember" value="remember" checked class="chbx__input"><label for="remember" class="chbx__label"> Запомнить меня</label></div>
          <div class="print">
            <div class="print__btn"><button type="submit" disabled class="btn btn--secondary btn--l btn-disabled"><span class="btn__txt">Войти</span></button></div>
            <div class="print__links"><a href="#" class="fogot-pass print__links-item udrline-dashed">Забыл пароль</a></div>
          </div><a href="#" class="modal-enter__reg udrline-dashed regitstration">регистрация</a></div>
      </div>
    </div>
  </div>
</div> -->
