<head>
  <meta charset="UTF-8">
  <title>Поехали дети</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" type="image/x-icon" href="img/favicon.ico" sizes="16x16">
  <!-- build:js-load -->
  <script src="js/load.min.js"></script>
  <!-- endbuild -->
  <!-- <link rel="stylesheet" href="fonts/fonts.css"> -->
  <!-- build:css -->
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->
</head>
