  <div class="inner-block">

    <div class="pageHeader__nav hide-desktop">
      <a href="#" class="pageHeader__nav-link">
        <i data-ico="nav" class="ico pageHeader__nav-ico"><svg class="ico__svg"><use xlink:href="#nav"></use></svg></i>
      </a>
    </div>

    <div class="pageHeader__logoBox">
      <a href="#" class="pageHeader__logo-link">
        <i data-ico="logo" class="ico pageHeader__logo-ico"><svg class="ico__svg"><use xlink:href="#logo"></use></svg></i>
      </a>
    </div>

    <div class="pageHeader__content">
      <div class="pageHeader__contentInner">

        <div class="pageHeader__contactBox only-desktop">
          <div class="pageHeader__contact-num">+7 (495) 334-35-34</div>
          <div class="pageHeader__contact-callback">
            <span class="pseudo-link">Перезвоните мне</span>
          </div>
        </div>

        <div class="pageHeader__cityBox only-desktop">
          <div class="pageHeader__city-current">
            <span class="pageHeader__city-current-inner">Петропавловск-Камчатский</span>
          </div>

          <div class="pageHeader__city-choose">
            <span class="pseudo-link">Выбрать другой город</span>
          </div>
        </div>

        <div class="pageHeader__additionalBox only-desktop">
          <div class="pageHeader__additional">
            <i data-ico="sos" class="ico pageHeader__additional-ico">
              <svg class="ico__svg"><use xlink:href="#sos"></use></svg>
            </i>
            <a href="#" class="pageHeader__additional-link">Помощь</a>
          </div>

          <div class="pageHeader__additional">
            <i data-ico="heart" class="ico pageHeader__additional-ico">
              <svg class="ico__svg"><use xlink:href="#heart"></use></svg>
            </i>
            <a href="#" class="pageHeader__additional-link">Избранное</a>
            <span class="pageHeader__additional-counter">20</span>
          </div>
        </div>

        <div class="pageHeader__authBox">

          <a data-toggle="modal" data-target="#modal-reg" class="pageHeader__auth-link">Регистрация</a>

          <a data-toggle="modal" data-target="#modal-enter" class="pageHeader__auth-link">Вход</a>

          <!-- <a href="#" class="pageHeader__auth-link hide-mobile">
            <i data-ico="social-facebook--s" class="ico pageHeader__auth-ico">
              <svg class="ico__svg"><use xlink:href="#social-facebook--s"></use></svg>
            </i>
          </a>

          <a href="#" class="pageHeader__auth-link hide-mobile">
            <i data-ico="social-vk--s" class="ico pageHeader__auth-ico">
              <svg class="ico__svg"><use xlink:href="#social-vk--s"></use></svg>
            </i>
          </a>

          <a href="#" class="pageHeader__auth-link hide-mobile">
            <i data-ico="social-odnoklassniki--s" class="ico pageHeader__auth-ico">
              <svg class="ico__svg"><use xlink:href="#social-odnoklassniki--s"></use></svg>
            </i>
          </a>

          <a href="#" class="pageHeader__auth-link hide-mobile">
            <i data-ico="social-mail--s" class="ico pageHeader__auth-ico">
              <svg class="ico__svg"><use xlink:href="#social-mail--s"></use></svg>
            </i>
          </a> -->

        </div>

      </div>

      {{> nav }}

    </div>
  </div>
