<div class="main-filter">
  <form action="#" method="post" class="main-filter__form">
    <div class="main-filter__inner">

      <div class="main-filter__block">
        <div class="main-filter__title">Направления</div>
        <div class="form-grp main-filter__select main-filter__select--wide">
          <div class="form-label form-label--hid">Все</div>
          <select placeholder="Все" class="form-ctrl">
            <option>Все</option>
            <option>Туда</option>
            <option>Сюда</option>
            <option>Обратно</option>
          </select>
        </div>
      </div>

      <div class="main-filter__block main-filter__block--pb-small">
        <div class="main-filter__title">Программы</div>
        <div class="main-filter__block-inner">

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-1" id="name-1" value="value-1" checked class="chbx__input">
              <label for="name-1" class="chbx__label">Языковые</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-2" id="name-2" value="value-2" class="chbx__input">
              <label for="name-2" class="chbx__label">Спортивные</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-3" id="name-3" value="value-3" class="chbx__input">
              <label for="name-3" class="chbx__label">Впечатления</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-4" id="name-4" value="value-4" class="chbx__input">
              <label for="name-4" class="chbx__label">Развивающие</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-5" id="name-5" value="value-5" class="chbx__input">
              <label for="name-5" class="chbx__label">Искусство</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-6" id="name-6" value="value-6" class="chbx__input">
              <label for="name-6" class="chbx__label">Оздоровление</label>
            </div>
          </div>

        </div>
      </div>

      <div class="main-filter__block">
        <div class="main-filter__title">Кол.-во отдыхающих</div>
        <div class="form-grp main-filter__select main-filter__select--narrow">
          <div class="form-label form-label--hid">1</div>
          <select class="form-ctrl">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>

        <div class="main-filter__title">Возраст отдыхающих</div>
        <div class="form-grp main-filter__select main-filter__select--wide">
          <div class="form-label form-label--hid">Укажите возраст</div>
          <select placeholder="Укажите возраст" class="form-ctrl">
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
          </select></div>
      </div>

      <div class="main-filter__block">
        <div class="main-filter__title">Рейтинг</div>
        <div class="main-filter__block-inner main-filter__block-inner--narrow">
          <div class="form-grp main-filter__select main-filter__select--narrow main-filter__push-left">
            <div class="form-label form-label--hid">От</div>
            <select placeholder="От" class="form-ctrl">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>

          <div class="form-grp main-filter__select main-filter__select--narrow main-filter__push-right">
            <div class="form-label form-label--hid">До</div>
            <select placeholder="До" class="form-ctrl">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="main-filter__block main-filter__block--brd-btm-none">
        <div class="main-filter__title">Стоимость в рублях</div>
        <div class="main-filter__block-inner main-filter__block-inner--narrow">
          <div class="slider-range-block">
            <div class="slider-range-block-inner main-filter__slider-range-block-inner">
              <input type="text" readonly class="slider-range-input slider-range-input--min">
              <input type="text" readonly class="slider-range-input slider-range-input--max">
            </div>
            <div class="slider-range main-filter__slider-range">
              <div data-max-range="800000" data-min-range="0" data-min-val="200" data-max-val="250000" class="slider-range__inner"></div>
            </div>
          </div>
        </div>

        <div class="main-filter__block-inner main-filter__block-inner--narrow">
          <div class="form-grp main-filter__select main-filter__select--narrow main-filter__push-left">
            <div class="form-label form-label--hid">От</div>
            <select placeholder="От" class="form-ctrl">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>

          <div class="form-grp main-filter__select main-filter__select--narrow main-filter__push-right">
            <div class="form-label form-label--hid">До</div>
            <select placeholder="До" class="form-ctrl">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>

      </div>
    </div>
    <div class="main-filter__toggle">
      <a href="#" class="main-filter__toggle-link open">
        <i data-ico="plus" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#minus"></use></svg></i>
        <span>Скрыть доп. фильтры</span>
      </a>
    </div>

    <div class="main-filter__inner main-filter__inner--extra">

      <div class="main-filter__block main-filter__block--pad-top">
        <div class="main-filter__block-inner--narrow">
          <input type="text" id="places" placeholder="Лагерь, город, программа" class="form-ctrl">
        </div>
      </div>

      <div class="main-filter__block">
        <div class="main-filter__title">Диапазон цен</div>
        <div class="form-grp main-filter__select main-filter__select--wide">
          <div class="form-label form-label--hid">Зима</div>
          <select placeholder="Зима" class="form-ctrl">
            <option>Зима</option>
            <option>Лето</option>
            <option>Осень</option>
            <option>Весна</option>
          </select>
        </div>
      </div>

      <div class="main-filter__block main-filter__block--pb-small">
        <div class="main-filter__title">Поиск по услугам</div>
        <div class="main-filter__block-inner--narrow main-filter__block-inner--mb">
          <input type="text" id="places" placeholder="Название услуги" class="form-ctrl">
        </div>

        <div class="main-filter__block-inner">

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-7" id="name-7" value="value-7" checked class="chbx__input">
              <label for="name-7" class="chbx__label">Аквапарк</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-8" id="name-8" value="value-8" class="chbx__input">
              <label for="name-8" class="chbx__label">Зоопарк</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-9" id="name-9" value="value-9" class="chbx__input">
              <label for="name-9" class="chbx__label">Футбол</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-10" id="name-10" value="value-10" class="chbx__input">
              <label for="name-10" class="chbx__label">Музей</label>
            </div>
          </div>

        </div>
      </div>

      <div class="main-filter__block">
        <div class="main-filter__title">Человек в номере</div>
        <div class="form-grp main-filter__select main-filter__select--wide">
          <div class="form-label form-label--hid">Укажите количество</div>
          <select placeholder="Укажите количество" class="form-ctrl">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>

      <div class="main-filter__block main-filter__block--pb-small">
        <div class="main-filter__title">Поиск по удобствам</div>
        <div class="main-filter__block-inner--narrow main-filter__block-inner--mb">
          <input type="text" id="places" placeholder="Название услуги" class="form-ctrl">
        </div>
        <div class="main-filter__block-inner">

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-11" id="name-11" value="value-11" checked class="chbx__input">
              <label for="name-11" class="chbx__label">Бассейн</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-12" id="name-12" value="value-12" class="chbx__input">
              <label for="name-12" class="chbx__label">Бассейн</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-13" id="name-13" value="value-13" class="chbx__input">
              <label for="name-13" class="chbx__label">Библиотека</label>
            </div>
          </div>

          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-14" id="name-14" value="value-14" class="chbx__input">
              <label for="name-14" class="chbx__label">Спортзал</label>
            </div>
          </div>

        </div>
      </div>

      <div class="main-filter__block main-filter__block--pb-small">
        <div class="main-filter__title">Даты заезда в лагерь</div>

        <div class="main-filter__block-inner--narrow">
          <div class="datepicker main-filter__datepicker">
            <input type="text" value="дд.мм.гггг" readonly class="datepicker__input">
            <span class="datepicker__icon datepicker__icon--close"></span>
            <span class="datepicker__icon datepicker__icon--open"></span>
          </div>
          <span class="main-filter__caption">Укажите даты, если планируете поездку в несезон</span>
        </div>

      </div>

      <div class="main-filter__block">
        <div class="main-filter__title">Выбор транспорта</div>
        <div class="main-filter__select main-filter__select--wide">
          <div class="form-label form-label--hid">Все</div>
          <select placeholder="Все" class="form-ctrl">
            <option>Все</option>
            <option>Туда</option>
            <option>Сюда</option>
            <option>Обратно</option>
          </select>
        </div>
      </div>

      <div class="main-filter__block">
        <div class="main-filter__title">Город отправления</div>
        <div class="main-filter__select main-filter__select--wide">
          <div class="form-label form-label--hid">Все</div>
          <select placeholder="Все" class="form-ctrl">
            <option>Все</option>
            <option>Туда</option>
            <option>Сюда</option>
            <option>Обратно</option>
          </select>
        </div>
      </div>

      <div class="main-filter__block main-filter__block--brd-btm-none main-filter__block--pad-top">
        <div class="main-filter__block-inner">
          <div class="main-filter__chbx">
            <div class="chbx">
              <input type="checkbox" name="name-15" id="name-15" value="value-15" class="chbx__input">
              <label for="name-15" class="chbx__label main-filter__lable">Только мгновенное бронирование
                <a href="#" class="main-filter__lable-icon">
                <i data-ico="ask" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#ask"></use></svg></i>
              </a>
            </label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
