<section class="sectionBox">
  <h2 class="sectionBox__title">куда поедем?</h2>
  <div class="mapFilter">
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="camp" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#camp"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Городские лагеря</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="suburb" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#suburb"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Пригород</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="nature" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#nature"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">На природу</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="sea" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#sea"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">На море</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="abroad" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#abroad"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Зарубеж</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="camp" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#camp"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Городские лагеря</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="suburb" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#suburb"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Пригород</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="nature" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#nature"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">На природу</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="sea" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#sea"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">На море</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="abroad" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#abroad"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Зарубеж</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="camp" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#camp"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Городские лагеря</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="suburb" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#suburb"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Пригород</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="nature" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#nature"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">На природу</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="sea" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#sea"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">На море</a></div>
    </div>
    <div class="mapFilter__item">
      <div class="mapFilter__item-icoBox"><i data-ico="abroad" class="ico mapFilter__item-ico"><svg class="ico__svg"><use xlink:href="#abroad"></use></svg></i></div>
      <div class="mapFilter__item-title"><a href="#" class="mapFilter__item-link">Зарубеж</a></div>
    </div>
  </div>
  <div class="sectionBox__content sectionBox__content--noPad">
    <div class="mapWrap">
      <div id="map-section" class="map">
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
      </div>
    </div>
  </div>
</section>
