<div id="modal-no-style" tabindex="-1" role="dialog" aria-labelledby="modal-no-styleLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">

      <!-- modal-header -->
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Закрыть" class="modal-close__btn modal-close__btn--white">
          <i data-ico="close" class="ico ico--xs">
            <svg class="ico__svg"><use xlink:href="#close"></use></svg>
          </i>
        </button>
        <div class="modal-title">Модал</div>
      </div>
      <!-- modal-header -->

      <!-- modal-body -->
      <div class="modal-body">
      <!-- user content start -->
       <div class="form">
          <div class="form__items-wrap">
            <div class="form__item has-error">
              <div class="form__item-inner">
                <div class="form-item__label">
                  <label for="name">Имя</label>
                </div>
                <div class="form-item__elem">
                  <input type="text" id="" name="name" class="form-ctrl">
                  <div class="helper">Сообщение об ошибке</div>
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label">
                  <label for="surname">Фамилия</label>
                </div>
                <div class="form-item__elem">
                  <input type="text" id="surname" name="surname" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label">
                  <label for="email">Эл. почта</label>
                </div>
                <div class="form-item__elem">
                  <input type="email" id="email" name="email" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label">
                  <label for="passw">Пароль</label>
                </div>
                <div class="form-item__elem">
                  <input type="password" id="passw" name="passw" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label">
                  <label for="passw2">Повторите пароль</label>
                </div>
                <div class="form-item__elem">
                  <input type="password" id="passw2" name="passw2" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="chbx">
                  <input type="checkbox" name="conf" id="conf" value="conf" checked class="chbx__input">
                  <label for="conf" class="chbx__label">Согласие на обработку персональных данных</label>
                </div>
              </div>
            </div>


            <div class="form__item">
              <div class="form-item__elem">
                <button type="submit" class="btn btn--secondary">
                  <span class="btn__txt">Отправить</span>
                </button>
              </div>
            </div>

          </div>
        </div>
      <!-- user content end -->
      </div>
      <!-- modal-body -->
    </div>
  </div>
</div>
