<div id="modal-reg" tabindex="-1" role="dialog" aria-labelledby="modal-regLabel" class="modal fade modal-reg">
  <div role="document" class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Закрыть" class="modal-close__btn modal-close__btn--white">
          <i data-ico="close" class="ico ico--xs">
            <svg class="ico__svg"><use xlink:href="#close"></use></svg>
          </i>
        </button>
        <div class="modal-title">Регистрация</div>
      </div>

      <div class="modal-body">
        <div class="form modal-form was-a-form">
          <div class="form__items-wrap">

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label modal-reg__pwd">
                  <label for="reg-name">Имя</label>
                </div>
                <div class="form-item__elem">
                  <input type="text" id="reg-name" name="reg-name" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label modal-reg__pwd">
                  <label for="reg-surname">Фамилия</label>
                </div>
                <div class="form-item__elem">
                  <input type="text" id="reg-surname" name="reg-surname" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label modal-reg__email">
                  <label for="reg-email">Эл. почта</label>
                </div>
                <div class="form-item__elem">
                  <input type="email" id="reg-email" name="reg-email" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label modal-reg__pwd">
                  <label for="reg-passw">Пароль</label>
                </div>
                <div class="form-item__elem">
                  <input type="password" id="reg-passw" name="reg-passw" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label modal-reg__pwd2">
                  <label for="reg-passw2">Повторите пароль</label>
                </div>
                <div class="form-item__elem">
                  <input type="password" id="reg-passw2" name="reg-passw2" class="form-ctrl">
                </div>
              </div>
            </div>

            <div class="modal-reg__wrap clearfix">

              <div class="chbx modal-reg__confirm-me">
                <input type="checkbox" name="confirm-me" id="confirm-me" value="confirm-me" checked class="chbx__input">
                <label for="confirm-me" class="chbx__label">
                  Согласие на обработку персональных данных
                </label>
              </div>
              <div class="form__item modal-reg__button">
                <!-- <div class="form-item__elem"> -->
                  <button type="submit" class="btn btn--secondary">
                    <span class="btn__txt">Отправить</span>
                  </button>
                <!-- </div> -->
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
