<div id="modal-enter" tabindex="-1" role="dialog" aria-labelledby="modal-enterLabel" class="modal fade modal-enter">
  <div role="document" class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Закрыть" class="modal-close__btn modal-close__btn--white">
          <i data-ico="close" class="ico ico--xs">
            <svg class="ico__svg"><use xlink:href="#close"></use></svg>
          </i>
        </button>
        <div class="modal-title">Вход</div>
      </div>

      <div class="modal-body">
        <div class="form modal-form was-a-form">
          <div class="form__items-wrap">
            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label modal-enter__email">
                  <label for="login">Эл. почта</label>
                </div>
                <div class="form-item__elem">
                  <input type="email" id="login" name="email" class="form-ctrl">
                </div>
              </div>
            </div>
            <div class="form__item">
              <div class="form__item-inner">
                <div class="form-item__label modal-enter__pwd">
                  <label for="pass">Пароль</label>
                </div>
                <div class="form-item__elem">
                  <input type="password" id="pass" name="pass" class="form-ctrl">
                </div>
              </div>
            </div>
            <div class="modal-enter__wrap">
              <div class="chbx modal-enter__remember-me">
                <input type="checkbox" name="remember-me" id="remember-me" value="remember-me" checked class="chbx__input">
                <label for="remember-me" class="chbx__label">Запомнить меня</label>
              </div>
              <div class="form__item">
                <div class="form-item__elem">
                  <button type="submit" class="btn btn--secondary">
                    <span class="btn__txt">Войти</span>
                  </button>
                  <a href="#" class="recover-pwd udrline-dashed">Восстановить пароль</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
