<div id="modal-review-light" tabindex="-1" role="dialog" aria-labelledby="modal-review-lightLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content modal-content--light">

      <!-- modal-header start -->
      <div class="modal-header">
        <div class="modal-title">Новый отзыв</div>
      </div>
      <!-- modal-header end -->

      <!-- modal-body start -->
      <div class="modal-body">
      <!-- user content start -->
       <div class="form">
          <div class="form__items-wrap">

            <div class="form__item review-modal__item">
              <div class="form__item-inner">
                <div class="form-item__label">
                  <label for="reviewModal-like">Что понравилось</label>
                </div>
                <div class="form-item__elem">
                  <textarea id="reviewModal-like" class="form-ctrl"></textarea>
                </div>
              </div>
            </div>

            <div class="form__item review-modal__item has-error">
              <div class="form__item-inner">
                <div class="form-item__label">
                  <label for="reviewModal-dislike">Что не понравилось</label>
                </div>
                <div class="form-item__elem">
                  <textarea id="reviewModal-dislike" class="form-ctrl"></textarea>
                  <div class="helper">Ошибка! Вам не понравилось слишком много. Перепишите отзыв.</div>
                </div>
              </div>
            </div>

            <div class="form__item review-modal__item">
              <div class="form__item-inner">
                <div class="form-item__label">
                  <label for="reviewModal-comment">Комментарий</label>
                </div>
                <div class="form-item__elem">
                  <textarea id="reviewModal-comment" class="form-ctrl"></textarea>
                </div>
              </div>
            </div>

            <div class="float-r">
              <div class="review-rating review-rating--new">
                <div class="review-rating__title">Оценка</div>
                <div class="rateit svg" data-rateit-readonly="false" data-rateit-step="1" data-rateit-value="3" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
              </div>

              <button class="btn btn--success btn--mr25">
                <span class="btn__txt">Сохранить</span>
              </button>

              <button type="submit" class="btn btn--secondary">
                <span class="btn__txt">Удалить</span>
              </button>
            </div>
          </div>
        </div>
      <!-- user content end -->
      </div>
      <!-- modal-body end -->
    </div>
  </div>
</div>
