<div class="modal-city">
  <form action="#" method="post">
    <div class="modal-city__wrapper">
      <div class="modal-city__inner">
        <div class="modal-city__body">
          <a href="#" class="modal-city__close modal-city__close--inner">
            <span>Закрыть</span>
            <i data-ico="close" class="ico ico--xs modal-city__close-icon">
              <svg class="ico__svg"><use xlink:href="#close"></use></svg>
            </i>
          </a>
          <div class="modal-city__title">Выберите свой город</div>
          <div class="modal-city__list-wrap">
            <ul class="modal-city__main-list">
              <li class="modal-city__main-list-item">
                <ul class="modal-city__list">
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-1" value="radio-1" checked class="radio__input">
                      <label for="radio-1" class="radio__label">Москва</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-2" value="radio-1" class="radio__input">
                      <label for="radio-2" class="radio__label">Санкт-Петербург</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-3" value="radio-1" class="radio__input">
                      <label for="radio-3" class="radio__label">Екатеринбург</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-4" value="radio-1" class="radio__input">
                      <label for="radio-4" class="radio__label">Воронеж</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-5" value="radio-1" class="radio__input">
                      <label for="radio-5" class="radio__label">Казань</label>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="modal-city__main-list-item">
                <ul class="modal-city__list">
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-6" value="radio-1" class="radio__input">
                      <label for="radio-6" class="radio__label">Краснодар</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-7" value="radio-1" class="radio__input">
                      <label for="radio-7" class="radio__label">Нижний Новгород</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-8" value="radio-1" class="radio__input">
                      <label for="radio-8" class="radio__label">Новосибирск</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-9" value="radio-1" class="radio__input">
                      <label for="radio-9" class="radio__label">Омск</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-10" value="radio-1" class="radio__input">
                      <label for="radio-10" class="radio__label">Пермь</label>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="modal-city__main-list-item">
                <ul class="modal-city__list">
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-11" value="radio-1" class="radio__input">
                      <label for="radio-11" class="radio__label">Ростов-на-Дону</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-12" value="radio-1" class="radio__input">
                      <label for="radio-12" class="radio__label">Самара</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-13" value="radio-1" class="radio__input">
                      <label for="radio-13" class="radio__label">Саратов</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-14" value="radio-1" class="radio__input">
                      <label for="radio-14" class="radio__label">Уфа</label>
                    </div>
                  </li>
                  <li class="modal-city__list-item">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio-15" value="radio-1" class="radio__input">
                      <label for="radio-15" class="radio__label">Челябинск</label>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="modal-city__search small-search">
            <input type="search" name="search" placeholder="Или укажите в поле ..." class="modal-city__input small-search__input">
            <button class="btn btn--primary btn--l small-search__btn">
              <span class="btn__txt">ВЫБРАТЬ</span>
            </button>
          </div>
        </div>
      </div>

      <a href="#" class="modal-city__close modal-city__close--outer">
        <span>Закрыть</span>
        <i data-ico="close" class="ico ico--xs modal-city__close-icon">
          <svg class="ico__svg"><use xlink:href="#close"></use></svg>
        </i>
      </a>

    </div>
  </form>
</div>
