<div class="modal-tel">
  <form action="#" method="post">
    <div class="modal-tel__wrapper">
      <div class="modal-tel__inner">
        <div class="modal-tel__body"><a href="#" class="modal-tel__close"><span>Закрыть</span><i data-ico="close" class="ico ico--xs modal-tel__close-icon"><svg class="ico__svg"><use xlink:href="#close"></use></svg></i></a>
          <div class="modal-tel__title">Заполните поля и мы <span>обязательно перезвоним</span></div>
          <div class="form">
            <div class="modal-tel__inner-wrap">
              <div class="form__item modal-tel__name">
                <div class="form__item-inner">
                  <div class="form-item__label"><label for="name">Ваше имя</label></div>
                  <div class="form-item__elem"><input type="text" id="name" class="form-ctrl"></div>
                </div>
              </div>
              <div class="form__item form__item--s">
                <div class="form__item-inner">
                  <div class="form-item__label"><label for="tel">Телефон</label></div>
                  <div class="form-item__elem"><input type="tel" id="tel" placeholder="+7 (___) ___-__-__" class="form-ctrl"></div>
                </div>
              </div>
            </div>
            <div class="print">
              <div class="print__btn"><button type="submit" disabled class="btn btn--secondary btn--l btn-disabled"><span class="btn__txt">Отправить</span></button></div>
              <div class="print__links"><span class="print__links-item">Необходимо заполнить поля:</span><span class="print__links-item"><span class="pseudo-link">ваше имя</span>,<span class="pseudo-link">телефон</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
