<div class="modal-email">
  <form action="#" method="post">
    <div class="modal-email__wrapper">
      <div class="modal-email__inner">
        <div class="modal-email__body">

          <a href="#" class="modal-email__close"><span>Закрыть</span>
            <i data-ico="close" class="ico ico--xs modal-email__close-icon">
              <svg class="ico__svg"><use xlink:href="#close"></use></svg>
            </i>
          </a>

          <div class="modal-email__title">Забыл пароль</div>

          <div class="form">
            <div class="modal-email__inner-wrap">
              <div class="form__item modal-email__input">
                <div class="form__item-inner">

                  <div class="form-item__label">
                    <label for="email2">Email</label>
                  </div>

                  <div class="form-item__elem">
                    <input type="email" id="email2" name="email2" class="form-ctrl">
                  </div>

                </div>
              </div>
            </div>

            <button type="submit" disabled class="btn btn--secondary btn--l modal-email__btn">
              <span class="btn__txt">Отправить</span>
            </button>
            
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
