<nav class="nav only-desktop">
  <div class="nav__item">

    <a href="#" class="nav__item-link nav__item-link--sub">
      <span>Направления</span>
    </a>

    <div class="nav__itemSub-Wrap">
      <ul class="nav__itemSub">
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Спортивные</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Языковые</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Творческие</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Оздоровительные</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav__item">
    <a href="#" class="nav__item-link nav__item-link--sub">
      <span>Тематики</span>
    </a>

    <div class="nav__itemSub-Wrap">
      <ul class="nav__itemSub">
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Спортивные</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Языковые</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Творческие</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Оздоровительные</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav__item">
    <a href="#" class="nav__item-link nav__item-link--sub">
      <span>Цели</span>
    </a>

    <div class="nav__itemSub-Wrap">
      <ul class="nav__itemSub">
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Спортивные</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Языковые</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Творческие</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Оздоровительные</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav__item">
    <a href="#" class="nav__item-link nav__item-link--sub">
      <span>Материалы</span>
    </a>

    <div class="nav__itemSub-Wrap">
      <ul class="nav__itemSub">
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Советы</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Подготовка</a>
        </li>
        <li class="nav__itemSub-item">
          <a href="#" class="nav__itemSub-link">Статьи</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav__item">
    <a href="#" class="nav__item-link">Почему мы</a>
  </div>
</nav>
