<div class="order-header {{((page == 1) ? "" : ((page == 2) ? "order-header--page-2" : "order-header--page-3"))}}">
  <ol class="order-header__list">
    <li class="order-header__item">1. Ввод данных</li>
    <li class="order-header__item order-header__item--second">2. Проверка и оплата</li>
    <li class="order-header__item order-header__item--third">3. Готово</li>
  </ol>
</div>