<footer class="page-footer">
  <div class="inner-block">
    <div class="page-footer__inner">

      <div class="page-footer__socialBox">

        <a href="#" class="page-footer__social-item"><i data-ico="social-facebook" class="ico page-footer__social-ico"><svg class="ico__svg">
              <use xlink:href="#social-facebook"></use>
            </svg></i></a>

        <a href="#" class="page-footer__social-item"><i data-ico="social-vk" class="ico ico page-footer__social-ico"><svg class="ico__svg">
              <use xlink:href="#social-vk"></use>
            </svg></i></a>

        <a href="#" class="page-footer__social-item"><i data-ico="social-youtube" class="ico ico page-footer__social-ico"><svg class="ico__svg">
              <use xlink:href="#social-youtube"></use>
            </svg></i></a>

        <a href="#" class="page-footer__social-item"><i data-ico="social-twitter" class="ico ico page-footer__social-ico"><svg class="ico__svg">
              <use xlink:href="#social-twitter"></use>
            </svg></i></a>

        <a href="#" class="page-footer__social-item"><i data-ico="social-google" class="ico ico page-footer__social-ico"><svg class="ico__svg">
              <use xlink:href="#social-google"></use>
            </svg></i></a>

      </div>

      <div class="page-footer__logoBox">
        <a href="#" class="page-footer__logo-link"><i data-ico="logo" class="ico page-footer__logo-ico"><svg class="ico__svg"><use xlink:href="#logo"></use></svg></i></a>
      </div>

      <div class="page-footer__info">
        <div class="page-footer__info-copyright">© 2015. «Поехали&nbsp;дети»</div>
        <div class="page-footer__info-address">Москва, ул. Расковой, дом&nbsp;32</div>
      </div>

      <div class="page-footer__nav">

        <div class="page-footer__nav-col">
          <div class="page-footer__nav-item">
            <a href="#" class="page-footer__nav-link">О проекте “Поехали&nbsp;дети”</a>
          </div>
          <div class="page-footer__nav-item">
            <a href="#" class="page-footer__nav-link">Условия и конфиденциальность</a>
          </div>
        </div>

        <div class="page-footer__nav-col">
          <div class="page-footer__nav-item">
            <a href="#" class="page-footer__nav-link">Контакты</a>
          </div>
          <div class="page-footer__nav-item">
            <a href="#" class="page-footer__nav-link">Карта сайта</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
