<section class="sectionBox">
  <h2 class="sectionBox__title">Наши партнеры</h2>
  <div class="sectionBox__content">
    <div class="carousel partnerList">
      <div class="partnerList__item"><img src="img/temporary/partnerList_01.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_02.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_03.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_04.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_05.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_06.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_01.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_02.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_03.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_04.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_05.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_06.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_01.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_02.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_03.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_04.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_05.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_06.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_01.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_02.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_03.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_04.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_05.png" class="partnerList__item-img"></div>
      <div class="partnerList__item"><img src="img/temporary/partnerList_06.png" class="partnerList__item-img"></div>
    </div>
  </div>
</section>