<div class="programm-schedule" id="programSchedule_02">
  <div class="carousel programm-schedule__slider" data-items="5">


    <!-- День первый начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--01">

      <div class="programm-day__title">1 день</div>
      <div class="programm-day__date">Пн, 31 октября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">Расписание номер 02</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День первый кончало -->


    <!-- День второй начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--02">

      <div class="programm-day__title">2 день</div>
      <div class="programm-day__date">Вт, 1 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День второй кончало -->


    <!-- День третий начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--03">

      <div class="programm-day__title">3 день</div>
      <div class="programm-day__date">Ср, 2 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День третий кончало -->


    <!-- День четвёртый начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--04">

      <div class="programm-day__title">4 день</div>
      <div class="programm-day__date">Чт, 3 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День четвёртый кончало -->


    <!-- День пятый начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--05">

      <div class="programm-day__title">5 день</div>
      <div class="programm-day__date">Пт, 4 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День пятый кончало -->


    <!-- День шестой начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--06">

      <div class="programm-day__title">6 день</div>
      <div class="programm-day__date">Сб, 5 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День шестой кончало -->


    <!-- День седьмой начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--07">

      <div class="programm-day__title">7 день</div>
      <div class="programm-day__date">Вс, 6 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День седьмой кончало -->


    <!-- День восьмой начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--08">

      <div class="programm-day__title">8 день</div>
      <div class="programm-day__date">Пн, 7 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День восьмой кончало -->


    <!-- День девятый начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--09">

      <div class="programm-day__title">9 день</div>
      <div class="programm-day__date">Вт, 8 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День девятый кончало -->


    <!-- День десятый начало -->
    <div class="carousel__item programm-schedule__slider-item programm-day programm-day--10">

      <div class="programm-day__title">10 день</div>
      <div class="programm-day__date">Ср, 9 ноября</div>

      <div class="programm-day__time-list">

        <div class="programm-day__time-item programm-day__time-item--08_30">
          <b class="event-time">8:30</b>
          <div class="event-description">осенняя смена Восточная</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_00">
          <b class="event-time">9:00</b>
          <div class="event-description">йога для детей</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--09_30 hidden">
          <b class="event-time">9:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_00">
          <b class="event-time">10:00</b>
          <div class="event-description">ланч</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--10_30 hidden">
          <b class="event-time">10:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_00">
          <b class="event-time">11:00</b>
          <div class="event-description">занятия с носителем мастерклассы</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--11_30 hidden">
          <b class="event-time">11:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_00 hidden">
          <b class="event-time">12:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--12_30 hidden">
          <b class="event-time">12:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_00">
          <b class="event-time">13:00</b>
          <div class="event-description">обед прогулка</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--13_30 hidden">
          <b class="event-time">13:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_00 hidden">
          <b class="event-time">14:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--14_30 hidden">
          <b class="event-time">14:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_00">
          <b class="event-time">15:00</b>
          <div class="event-description">творческие мастерские хореография актерское мастерство мульт студия</div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--15_30 hidden">
          <b class="event-time">15:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_00 hidden">
          <b class="event-time">16:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--16_30 hidden">
          <b class="event-time">16:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_00 hidden">
          <b class="event-time">17:00</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--17_30 hidden">
          <b class="event-time">17:30</b>
          <div class="event-description"></div>
        </div>

        <div class="programm-day__time-item programm-day__time-item--18_00">
          <b class="event-time">18:00</b>
          <div class="event-description">прогулка встреча родителей</div>
        </div>

      </div>

    </div>
    <!-- День десятый кончало -->


  </div>
</div>
