<div class="programs-type__chart">
  <h4 class="programs-type__title">Структура программы</h4>
  <div class="chart">
    <div class="chart__diagram">
      <!-- структура программы для диаграммы -->
      <div class="chart__diagram-item ct-chart" data-chart-science="24" data-chart-masterclass="7" data-chart-evenining="5" data-chart-active="5"></div>
      <!-- структура программы для диаграммы -->
      <div class="chart__caption">
        <span>Всего</span>
        <b>00</b>
        <span>Часов</span>
      </div>
    </div>
    <div class="chart__descr">
      <div class="chart__descr-head">
        <div class="chart__descr-head__item">Состав</div>
        <div class="chart__descr-head__item">Кол-во часов</div>
      </div>
      <ul class="chart__descr-list">
        <li class="chart__descr-item chart__descr-item--intro">
          <span class="chart__descr-item-inner">
            <span class="color-label color-label--a"></span>
            <span class="chart__descr-item-inner-text">Научные дисциплины</span>
          </span>
          <span class="chart__descr-item-digit">24</span>
        </li>
        <li class="chart__descr-item chart__descr-item--intro">
          <span class="chart__descr-item-inner">
            <span class="color-label color-label--b"></span>
            <span class="chart__descr-item-inner-text">Мастер-классы</span>
          </span>
          <span class="chart__descr-item-digit">7</span>
        </li>
        <li class="chart__descr-item chart__descr-item--intro">
          <span class="chart__descr-item-inner">
            <span class="color-label color-label--c"></span>
            <span class="chart__descr-item-inner-text">Вечерние программы</span>
          </span>
          <span class="chart__descr-item-digit">5</span>
        </li>
        <li class="chart__descr-item chart__descr-item--intro">
          <span class="chart__descr-item-inner">
            <span class="color-label color-label--d"></span>
            <span class="chart__descr-item-inner-text">Активный отдых</span>
          </span>
          <span class="chart__descr-item-digit">5</span>
        </li>
        <li class="chart__descr-item chart__descr-item--intro">
          <span class="chart__descr-item-inner">
            <span class="color-label color-label--d"></span>
            <span class="chart__descr-item-inner-text">Активный отдых</span>
          </span>
          <span class="chart__descr-item-digit">5</span>
        </li>
        <li class="chart__descr-item chart__descr-item--intro">
          <span class="chart__descr-item-inner">
            <span class="color-label color-label--d"></span>
            <span class="chart__descr-item-inner-text">Активный отдых</span>
          </span>
          <span class="chart__descr-item-digit">5</span>
        </li>
        <li class="chart__descr-item chart__descr-item--intro">
          <span class="chart__descr-item-inner">
            <span class="color-label color-label--d"></span>
            <span class="chart__descr-item-inner-text">Активный отдых</span>
          </span>
          <span class="chart__descr-item-digit">5</span>
        </li>
      </ul>
    </div>
  </div>
</div>
