<div class="result-item bg-hot">
  <div class="result-item__decr">

    <div class="result-item__img-wrapper">
      <img src="img/temporary/result-item-1.jpg" alt="item" class="result-item__img">
    </div>

    <div class="result-item__desc-items">
      <div class="result-item__desc-links">

        <div class="result-item__icons">
          <a href="#"><i data-ico="shields-health" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#shields-health"></use></svg></i></a>
          <a href="#"><i data-ico="shields-ICF" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#shields-ICF"></use></svg></i></a>
          <a href="#"><i data-ico="shields-award" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#shields-award"></use></svg></i></a>
        </div>

        <div class="result-item__type-place">
          <i data-ico="#hot" class="ico ico--s result-item__type-place-icon-camp"><svg class="ico__svg"><use xlink:href="#hot"></use></svg></i>
          <span class="result-item__type-place-text">Санитарно-лечебный лагерь</span>
        </div>

        <a href="#"><i data-ico="#ask" class="ico ico--xs result-item__type-place-icon-ask"><svg class="ico__svg"><use xlink:href="#ask"></use></svg></i></a>

        <div class="result-item__rating">
          <i data-ico="#star" class="ico result-item__rating-icon"><svg class="ico__svg"><use xlink:href="#star"></use></svg></i>
          <span class="result-item__rating__didgit">8,4/10</span><span class="result-item__rating__text">Очень хорошо</span>
        </div>

        <div class="result-item__liked">
          <a href="#" class="result-item__liked-link"><i data-ico="#heart" class="ico ico--s result-item__liked-icon"><svg class="ico__svg"><use xlink:href="#heart"></use></svg></i><span>В избранное</span></a>
        </div>

      </div>

      <div class="result-item__place">“Артек”, Россия, Сочи, курорт “Сочинский”</div>

      <div class="result-item__inner">
        <div class="result-item__title">Экспресс-программа обучения английскому языку вторая строка названия</div>
      </div>

    </div>
  </div>

  <div class="result-item__book">

    <div class="result-item__age">
      <div class="result-item__age-title">Возраст (лет)</div>
      <div class="result-item__age-body">5-17</div>
    </div>

    <div class="result-item__date">
      <div class="result-item__date-title">Дата заезда</div>

      <div class="form-grp">
        <div class="form-label form-label--hid">22 сен - 26 окт</div>
        <select placeholder="22 сен - 26 окт" class="form-ctrl">
          <option>22 сен - 26 окт</option>
          <option>22 сен - 26 окт</option>
          <option>22 сен - 26 окт</option>
          <option>22 сен - 26 окт</option>
        </select>
      </div>
    </div>

    <div class="result-item__sits">
      <div class="result-item__sits-title">Мест</div>
      <div class="result-item__sits-body">389</div>
    </div>

    <div class="result-item__child">
      <div class="result-item__child-title">Кол.-во детей</div>
      <div class="form-grp">
        <div class="form-label form-label--hid">1</div>
        <select placeholder="1" class="form-ctrl">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

    <div class="result-item__book-icon">
      <img src="/img/category-hot-label.png" class="result-item__book-icon-hot">
    </div>

    <div class="result-item__amount">
      <div class="result-item__amount-sale"><span>250 000</span></div>
      <div class="result-item__amount-body">230 000 <span class="priceRu">руб.</span></div>
    </div>

    <div class="result-item__button">
      <button class="btn btn--primary btn--l">
        <span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#btn-order"></use></svg></i></span>
        <span class="btn__txt">Забронировать</span>
      </button>
    </div>
  </div>
</div>
