<div class="search-result-filter">

  <div class="search-result-filter__sort">
    <div class="search-result-filter__sort-title">Сортировать</div>
    <ul class="search-result-filter__sort-list">

      <li class="search-result-filter__sort-item search-result-filter__sort-item--active">
        <a href="#" class="search-result-filter__sort-link">Цена</a>
      </li>

      <li class="search-result-filter__sort-item">
        <a href="#" class="search-result-filter__sort-link">Регион</a>
      </li>

      <li class="search-result-filter__sort-item">
        <a href="#" class="search-result-filter__sort-link">Рейтинг</a>
      </li>

      <li class="search-result-filter__sort-item">
        <a href="#" class="search-result-filter__sort-link">Возраст</a>
      </li>

    </ul>
  </div>

  <div class="search-result-filter__apper">
    <div class="search-result-filter__apper__title">Вариант отображения</div>
    <div class="search-result-filter__apper__tabs">
      <div class="tabs__buttons">
        <ul class="tabs__list">
          <li class="tabs__item">
            <a href="#map-tab" class="tabs__link">Карта</a>
          </li>
          <li class="tabs__item tabs__item--active">
            <a href="#list-tab" class="tabs__link">Список</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
