<div class="searchBar">
  <div class="inner-block">
    <form>

      <div class="form-grp searchBar__season">
        <div class="form-label form-label--hid">Время года</div>
        <select placeholder="Время года" class="form-ctrl">
          <option>Время года</option>
          <option>Зима</option>
          <option>Весна</option>
          <option>Лето</option>
          <option>Осень</option>
        </select>
      </div>

      <div class="form-grp searchBar__area">
        <div class="form-label form-label--hid">Поехали...</div>
        <input type="text" placeholder="Поехали..." class="form-ctrl">
      </div>

      <div class="form-grp searchBar__ages">
        <div class="form-label form-label--hid">Возраст</div>
        <select placeholder="Возраст" class="form-ctrl">
          <option>Возраст</option>
          <option>от 7 - 8</option>
          <option>от 8 - 10</option>
          <option>от 10 -16</option>
        </select>
      </div>

      <div class="form-grp searchBar__submit">
        <button class="btn">
          <span class="btn__txt">НАЙТИ</span>
        </button>
      </div>

    </form>
  </div>
</div>
