<section class="sectionBox">
  <h2 class="sectionBox__title">Программы</h2>
  <div class="sectionBox__content">
    <div class="sectionBox__colWrap">
      <div class="sectionBox__colInner">
        <div class="topicTravel sectionBox__col">
          <div class="topicTravel__picBox"><img src="img/temporary/topicTravel_01@2x.jpg" class="topicTravel__picBox-img"></div>
          <div class="topicTravel__title">Языковые</div>
          <div class="topicTravel__suggestionList">
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Английский язык</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">5 000 <span class="priceRu">руб.</span></span>
              </div>
            </div>
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Тип программы вида тематические</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">4 000 <span class="priceRu">руб.</span></span>
              </div>
            </div>
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Немецкий язык</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">4 500 <span class="priceRu">руб.</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="topicTravel sectionBox__col">
          <div class="topicTravel__picBox"><img src="img/temporary/topicTravel_02@2x.jpg" class="topicTravel__picBox-img"></div>
          <div class="topicTravel__title">Творческие</div>
          <div class="topicTravel__suggestionList">
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Лидерские качества</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">5 000 <span class="priceRu">руб.</span></span>
              </div>
            </div>
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Развитие интеллекта</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">4 000 <span class="priceRu">руб.</span></span>
              </div>
            </div>
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Самостоятельность</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">4 500 <span class="priceRu">руб.</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="topicTravel sectionBox__col only-desktop only-mobile">
          <div class="topicTravel__picBox"><img src="img/temporary/topicTravel_03@2x.jpg" class="topicTravel__picBox-img"></div>
          <div class="topicTravel__title">Языковые</div>
          <div class="topicTravel__suggestionList">
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Футбол</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">5 000 <span class="priceRu">руб.</span></span>
              </div>
            </div>
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Конный спорт</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">4 000 <span class="priceRu">руб.</span></span>
              </div>
            </div>
            <div class="topicTravel__suggestion">
              <div class="topicTravel__suggestion-titleWrap"><span class="topicTravel__suggestion-title">Лыжи</span></div>
              <div class="topicTravel__suggestion-infoBox"><span class="topicTravel__suggestion-pricePrefix">от</span><span class="topicTravel__suggestion-price">4 500 <span class="priceRu">руб.</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sectionBox__ctrl"><a href="#" class="btn btn--block"><span class="btn__txt">Показать еще</span></a></div>
</section>
