@import "grid.less";

// Base
@img-url-prefix: '../img/';
@media1200: ~'screen and (max-width: 1200px)';
@media1100: ~'screen and (max-width: 1100px)';
@media1000: ~'screen and (max-width: 1000px)';
@mediaTable: ~'screen and (max-width: 880px)';
@media768: ~'screen and (max-width: 768px)';
@media600: ~'screen and (max-width: 600px)';
@media660: ~'screen and (max-width: 660px)';
@media460: ~'screen and (max-width: 460px)';
@mediaMob: ~'screen and (max-width: 460px)';
@media320: ~'screen and (max-width: 320px)';

// Color
@gray: #f1f2f3;
@grayMedium: #e9eaed;
@grayDark: #333333;
@grayDarckMedium: #778899;
@grayLight: #f8f8f9;
@grayLighten: #bfd1e3;
@grayLighten-hover: #97b4d2;
@grayLightenLight: #97b4d2;
@grayLightenLight-hover: #97b4d2;
@grayDarken: #7fa1c7;
@grayDarken-hover: #5174a1;
@grayPpagin: #f6f7f8;
@white: #ffffff;
@blueGrey: #778899;
@blueGreyDark: #556677;
@blueGreyExtraDark: #556677;
@blueGreyLight: #88aacc;
@blueDeepDark: #223344;
@blueDeepExtraDark: #001122;
@violet: #875fd9;
@violetMiddle:#7b54cb;
@violetLighten: #996eee;
@violetLighten-hover: #7e54d3;
@violetLight: #814cea;
@violetLight-hover: #602cc9;
@violetLightenLight: #6d40c5;
@violetLightenLight-hover: #4019a2;
@violetDark: #8259d3;
@violetDark-hover: #6543a6;
@violetDarken: #5f34b4;
@violetDarken-hover: #401691;
@violetDarkenDark-hover: #4d2698;
@green: #26b26f;
@greenLight: #dfe3e8;
@greenLight-hover: #31bf78;
@greenLighten: #339966;
@greenDark: #4cc189;
@greenDark-hover: #41ab78;
@greenDarken: #21b26c;
@greenDarken-hover: #149757;
@greenDarkenDark: #179b5c;
@greenDarkenDark-hover: #06692e;
@red: #f35555;


// Page
@minPageWidth: 320px;
@maxPageWidth: 1280px;
@pagePadLeft: 20px;
@pagePadRight: 20px;
@pagePadLeftMob: 10px;
@pagePadRightMob: 10px;

// Type Base
@baseFont-Family: Futuris, Futura, 'Trebuchet MS', Arial, sans-serif;
//@baseFont-Family-Bold: "FuturisCTT", 'Trebuchet MS', Arial, sans-serif;
@baseFont-Size: 0.875em; // 14px
@baseLine-Height: 1.7142857142857142; // 24px
@baseColor: @blueGreyDark;
@baseCursor: default;

@h1FontSize: 2.8571428571428568em;
@h1LineHeight: 1.125;
@h1FontWeight: 600;
@h1MarginTop: 0;
@h1MarginBottom: 0.55em;

@h2FontSize: 2.142857142857143em;
@h2LineHeight: 1.1666666666666667;
@h2FontWeight: 600;
@h2MarginTop: 1.2666666666666666em;
@h2MarginBottom: 0.8em;

@h3FontSize: 1.4285714285714284em;
@h3LineHeight: 1.2;
@h3FontWeight: 600;
@h3MarginTop: 1.1em;
@h3MarginBottom: 0.8em;

//@h4FontSize: 1.714289em; //24px
@h4FontSize: 1.785715em; //25px
@h4LineHeight: 1.2;
@h4FontWeight: 600;
@h4MarginTop: 2em;
@h4MarginBottom: 0.8em;

@pMarginTop:1em;
@pMarginBottom:1em;

@listPaddingLeft: 1.4285714285714284em;
@listMarginTop: 1em;
@listMarginBottom: 1em;
@listItemMarginTop: 0.7142857142857142em;


// Type Second
@secondFont-Family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

// Type Third
@thirdFont-Family: 'Helvetica Neue', Helvetica, Arial, sans-serif;


// Transition
@baseTransitionDuration: .3s;
@baseTransitionTiming: ease-in-out;


// Layout
@sectionMarginTop: 20px;
@sectionMarginTop--Mob: 10px;
