<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">


        <div class="sectionBox sectionBox--scallopTop about">

          <div class="about__header">
            <h1>О проекте «Поехали дети»</h1>
          </div>

          <div class="about__subtitle">
            <h2>
              Ежегодно родители ломают голову над тем, как сделать так, чтобы их ребенок мог хорошо отдохнуть и в то же время провести каникулы с пользой. Приходится собирать информацию, опрашивая десятки знакомых, и тратить часы на поиски сайтов различных организаций.
            </h2>
          </div>

            <div class="about__row">

              <div class="about__col about__col--1">

                <h3>
                  Как же найти тот самый идеальный отдых, который бы соответствовал Вашим требованиям и учитывал все особенности и интересы Вашего ребенка?
                </h3>
                <p>
                  «Поехали, дети» – это единая платформа для взаимодействия родителей и компаний, специализирующихся на детском отдыхе. «Поехали, дети» – первый и в настоящее время единственный агрегатор путевок для детей.
                  Что представляет собой наш агрегатор? Это сервис, собирающий в единую базу различные программы и предложения детского отдыха и подбирающий лучшие варианты на основе Ваших индивидуальных настроек.
                </p>
                <p>
                  Простой и удобный в использовании, наш сайт стремится обеспечить эффективный способ поиска и покупки путевки для Вашего ребенка и имеет широкую географию предложений, которая включает в себя как российские,
                  так и зарубежные направления.
                </p>
                <p>
                  Мы сотрудничаем с проверенными компаниями и обеспечиваем наличие у них обратной связи с клиентами. Выбирая нас, Вы можете быть уверены в том, что сможете найти всю необходимую информацию об интересующей Вас организации и совершить выгодную покупку. Мы хотим, чтобы наш проект помог Вашим детям провести запоминающийся отдых, после которого они Вам снова скажут: «Поехали».
                </p>
              </div>

              <div class="about__col about__col--2">

                <img src="img/smart-homework.png" alt="">

                <h3>
                  Наша задача – создать все условия для того, чтобы Вы могли регулировать параметры поиска и выбрать доступную и максимально подходящую программу поездки. Мы отбираем лучшие предложения детского отдыха, которые бы учитывали все необходимые запросы пользователей.
                </h3>

              </div>

            </div>

        </div>

      </div>
    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
