<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block action-invite">
        <div class="sectionBox sectionBox--scallopTop">

          <h1>Акция «Пригласи друга»</h1>

          <div class="action-invite-col">
            <img src="img/action-invite-pix.jpg" alt="" class="action-pix">
          </div>

          <div class="action-invite-col">
            <div class="action-term">
              <h1>1</h1>
              <h3>При регистрации на сайте poehalideti.ru ваш друг получит 1000 бонусов на бонусный счет!</h3>
            </div>

            <div class="action-term">
              <h1>2</h1>
              <h3>Если ваш друг купит тур, то вы получите 1000 бонусов на ваш бонусный счет!</h3>
            </div>

            <div class="form">

              <div class="was-a-form">

                <div class="form__items-wrap">
                  <div class="form__item">
                    <div class="form-item__label">
                      <label for="invite-name">ФИО друга</label>
                    </div>
                    <div class="form-item__elem">
                      <input type="text" id="invite-name" placeholder="" class="form-ctrl">
                    </div>
                  </div>

                  <div class="form__item">
                    <div class="form-item__label">
                      <label for="invite-email">Email друга</label>
                    </div>
                    <div class="form-item__elem">
                      <input type="email" id="invite-email" placeholder="" class="form-ctrl">
                    </div>
                  </div>

                  <div class="form__item">
                    <div class="form-item__elem">
                      <button type="submit" class="btn btn--secondary btn--l block-info__btn">
                        <span class="btn__txt">Отправить</span>
                      </button>
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="sectionBox">
          <h2>История активности по акции</h2>
          <div class="promocode-table">
            <table class="promocode-table__table order-table">
              <thead>
                <tr>
                  <td class="promocode-table__head-fio">ФИО:</td>
                  <td class="promocode-table__head-email">Email</td>
                  <td class="promocode-table__head-reg">Зарегистрировался</td>
                  <td class="promocode-table__head-buy">Купил</td>
                </tr>
              </thead>
              <tbody>
                <tr class="promocode-table-row">
                  <td class="promocode-table__body-fio">Сергеев Николай Фёдорович</td>
                  <td class="promocode-table__body-email">sergeev@itopcase.ru</td>
                  <td class="promocode-table__body-reg">Да</td>
                  <td class="promocode-table__body-buy">Да</td>
                </tr>
                <tr class="promocode-table-row">
                  <td class="promocode-table__body-fio">Никанорова Мария Сергеевна</td>
                  <td class="promocode-table__body-email">nikanorova@itopcase.ru</td>
                  <td class="promocode-table__body-reg">Нет</td>
                  <td class="promocode-table__body-buy">Нет</td>
                </tr>
                <tr class="promocode-table-row">
                  <td class="promocode-table__body-fio">Константиновский-Константинопольский Константин Гендальфович</td>
                  <td class="promocode-table__body-email">konstantinovskiy@gmail.com</td>
                  <td class="promocode-table__body-reg">Да</td>
                  <td class="promocode-table__body-buy">Да</td>
                </tr>
                <tr class="promocode-table-row">
                  <td class="promocode-table__body-fio">Никанорова Мария Сергеевна</td>
                  <td class="promocode-table__body-email">nikanorova@itopcase.ru</td>
                  <td class="promocode-table__body-reg">Да</td>
                  <td class="promocode-table__body-buy">Нет</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
