<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">


        <div class="sectionBox sectionBox--scallopTop advice">

          <div class="advice__header">
            <h1>Советы</h1>
          </div>
          <div class="advice__subtitle">
            <h2>
              Вы задумались о том, чтобы отправить ребенка в поездку.<br>
              С чего стоит начать и как не ошибиться с выбором лагеря?
            </h2>
          </div>
            <div class="advice__row">
              <div class="advice__col advice__col--1">

                <h3>
                  Ознакомьтесь с описанием лагеря на нашем сайте.
                </h3>
                <p>
                  Особенно обратите внимание на такие критерии, как расположение корпусов, условия проживания и питания. Обязательно просмотрите фотогалерею, чтобы увидеть внешний вид комнат и зданий и оценить их состояние.
                </p>

                <h3>
                  Определитесь, с какой целью вы отправляете ребенка в лагерь.
                </h3>
                <p>
                  Подумайте о том, чем Ваш ребенок любит заниматься в свободное время и чего ему, возможно, не хватает на данный момент. Какие программа предлагает кружки и мастер-классы? Как будет организован досуг детей? От выбора программы зависит, какие впечатления получит ребенок от поездки, поэтому она должна совпадать с его увлечениями, стремлениями и интересами.
                </p>
                <p>
                  Внимательно ознакомьтесь с его программой поездки. Каждая программа может иметь одно или несколько направлений своей деятельности:
                </p>

                <ul class="advice__list">
                  <li>
                    <img src="img/icon-arm.png" alt="">
                    <span>Оздоровление</span>
                  </li>
                  <li>
                    <img src="img/icon-graduate.png" alt="">
                    <span>Образование</span>
                  </li>
                  <li>
                    <img src="img/icon-campfire.png" alt="">
                    <span>Активный отдых</span>
                  </li>
                </ul>

                <ul class="advice__list">
                  <li>
                    <img src="img/icon-ball.png" alt="">
                    <span>Спорт</span>
                  </li>
                  <li>
                    <img src="img/icon-briefcase.png" alt="">
                    <span>Профессиональное</span>
                  </li>
                  <li>
                    <img src="img/icon-palette.png" alt="">
                    <span>Творческое направление</span>
                  </li>
                </ul>

              </div>

              <div class="advice__col advice__col--2">
                <h3>
                  Прочитайте отзывы пользователей о лагере.
                </h3>
                <p>
                  Как правило, компании, которые дорожат своей репутацией, стремятся предоставить объективную оценку своих услуг и не удаляют отрицательные отзывы.
                </p>

                <h3>
                  Оформляя путевку, обратите внимание на такие пункты:
                </h3>
                <ul class="advice__list">
                  <li>
                    <img src="img/icon-paperfile.png" alt="">
                    <span>Тематика смены и ее мероприятия</span>
                  </li>
                  <li>
                    <img src="img/icon-calendar.png" alt="">
                    <span>Сроки заезда</span>
                  </li>
                  <li>
                    <img src="img/icon-papertablet.png" alt="">
                    <span>Список необходимых документов</span>
                  </li>
                </ul>

                <ul class="advice__list">
                  <li>
                    <img src="img/icon-house.png" alt="">
                    <span>Контактные данные организации</span>
                  </li>
                  <li>
                    <img src="img/icon-map.png" alt="">
                    <span>Расположение лагеря</span>
                  </li>
                  <li>
                    <img src="img/icon-refund.png" alt="">
                    <span>Условия возврата путевки</span>
                  </li>
                </ul>

                <h3>
                  Помните, что Ваш главный советчик – это сам ребенок.
                </h3>
                <p>
                  Дайте ему возможность самостоятельно ознакомиться c лагерями и их программой. Обсудите понравившиеся варианты и примите совместное решение.
                </p>

              </div>

            </div>

        </div>

      </div>
    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
