<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}
<body class="page--index page-no-mobile">
  <div class="page-wrap">
    {{> header-inner }}
    <main class="page-main">
      <div class="inner-block">
        <div class="articles-list">

          <section class="sectionBox__colWrap sectionBox__colWrap--padSmall">
            <div class="sectionBox__colInner campColInner">
              <div class="sectionBox__col article-thumb campWrap">
                <div class="camp">
                  <div class="dotBorder">
                    <div class="dotBorder__inner">
                      <div class="camp__row">
                        <div class="camp__pic">
                          <div class="dotBorder">
                            <div class="dotBorder__inner">
                              <img src="img/article-thumb-01.jpg" class="article-thumb__img">
                            </div>
                          </div>
                        </div>
                        <div class="camp__infoBox">
                          <b class="article-thumb__date">02.03.2017</b>
                        </div>
                        <div class="camp__title article-thumb__title">
                          <a href="#">Название статьи. Название статьи. Название статьи.</a>
                        </div>
                      </div>
                      <div class="camp__row">
                        <div class="camp__infoBox">
                            <p class="article-thumb__brief">Картинг лагерь — это уникальная возможность попробовать себя в роли настоящего автогонщика на самой большой гоночной трассе в России. Многие с детства мечтают сесть за руль родительской машины.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sectionBox__col campWrap article-thumb">
                <div class="camp">
                  <div class="dotBorder">
                    <div class="dotBorder__inner">
                      <div class="camp__row">
                        <div class="camp__pic">
                          <div class="dotBorder">
                            <div class="dotBorder__inner">
                              <img src="img/article-thumb-02.jpg" class="article-thumb__img">
                            </div>
                          </div>
                        </div>
                        <div class="camp__infoBox">
                          <b class="article-thumb__date">02.03.2017</b>
                        </div>
                        <div class="camp__title article-thumb__title">
                          <a href="#">Название статьи. Название статьи. Название статьи.</a>
                        </div>
                      </div>
                      <div class="camp__row">
                        <div class="camp__infoBox">
                            <p class="article-thumb__brief">Картинг лагерь — это уникальная возможность попробовать себя в роли настоящего автогонщика на самой большой гоночной трассе в России. Многие с детства мечтают сесть за руль родительской машины.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sectionBox__col campWrap article-thumb">
                <div class="camp">
                  <div class="dotBorder">
                    <div class="dotBorder__inner">
                      <div class="camp__row">
                        <div class="camp__pic">
                          <div class="dotBorder">
                            <div class="dotBorder__inner">
                              <img src="img/article-thumb-03.jpg" class="article-thumb__img">
                            </div>
                          </div>
                        </div>
                        <div class="camp__infoBox">
                          <b class="article-thumb__date">02.03.2017</b>
                        </div>
                        <div class="camp__title article-thumb__title">
                          <a href="#">Название статьи. Название статьи. Название статьи.</a>
                        </div>
                      </div>
                      <div class="camp__row">
                        <div class="camp__infoBox">
                            <p class="article-thumb__brief">Картинг лагерь — это уникальная возможность попробовать себя в роли настоящего автогонщика на самой большой гоночной трассе в России. Многие с детства мечтают сесть за руль родительской машины.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="sectionBox__colWrap sectionBox__colWrap--padSmall">
            <div class="sectionBox__colInner campColInner">
              <div class="sectionBox__col campWrap article-thumb">
                <div class="camp">
                  <div class="dotBorder">
                    <div class="dotBorder__inner">
                      <div class="camp__row">
                        <div class="camp__pic">
                          <div class="dotBorder">
                            <div class="dotBorder__inner">
                              <img src="img/article-thumb-01.jpg" class="article-thumb__img">
                            </div>
                          </div>
                        </div>
                        <div class="camp__infoBox">
                          <b class="article-thumb__date">02.03.2017</b>
                        </div>
                        <div class="camp__title article-thumb__title">
                          <a href="#">Название статьи. Название статьи. Название статьи.</a>
                        </div>
                      </div>
                      <div class="camp__row">
                        <div class="camp__infoBox">
                            <p class="article-thumb__brief">Картинг лагерь — это уникальная возможность попробовать себя в роли настоящего автогонщика на самой большой гоночной трассе в России. Многие с детства мечтают сесть за руль родительской машины.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sectionBox__col campWrap article-thumb">
                <div class="camp">
                  <div class="dotBorder">
                    <div class="dotBorder__inner">
                      <div class="camp__row">
                        <div class="camp__pic">
                          <div class="dotBorder">
                            <div class="dotBorder__inner">
                              <img src="img/article-thumb-02.jpg" class="article-thumb__img">
                            </div>
                          </div>
                        </div>
                        <div class="camp__infoBox">
                          <b class="article-thumb__date">02.03.2017</b>
                        </div>
                        <div class="camp__title article-thumb__title">
                          <a href="#">Название статьи. Название статьи. Название статьи.</a>
                        </div>
                      </div>
                      <div class="camp__row">
                        <div class="camp__infoBox">
                            <p class="article-thumb__brief">Картинг лагерь — это уникальная возможность попробовать себя в роли настоящего автогонщика на самой большой гоночной трассе в России. Многие с детства мечтают сесть за руль родительской машины.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sectionBox__col campWrap article-thumb">
                <div class="camp">
                  <div class="dotBorder">
                    <div class="dotBorder__inner">
                      <div class="camp__row">
                        <div class="camp__pic">
                          <div class="dotBorder">
                            <div class="dotBorder__inner">
                              <img src="img/article-thumb-03.jpg" class="article-thumb__img">
                            </div>
                          </div>
                        </div>
                        <div class="camp__infoBox">
                          <b class="article-thumb__date">02.03.2017</b>
                        </div>
                        <div class="camp__title article-thumb__title">
                          <a href="#">Название статьи. Название статьи. Название статьи.</a>
                        </div>
                      </div>
                      <div class="camp__row">
                        <div class="camp__infoBox">
                            <p class="article-thumb__brief">Картинг лагерь — это уникальная возможность попробовать себя в роли настоящего автогонщика на самой большой гоночной трассе в России. Многие с детства мечтают сесть за руль родительской машины.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>
            <div class="paginator">
              <ul class="paginator__list">
                <li class="paginator__item">
                  <a href="#" class="paginator__link paginator__link--prev">
                    <i data-ico="arrow-left-small" class="ico paginator__ico">
                        <svg class="ico__svg">
                          <use xlink:href="#arrow-left-small"></use>
                        </svg>
                    </i>
                    <span class="paginator__link-span">Пред.</span>
                  </a>
                </li>
                <li class="paginator__item active"><a href="#" class="paginator__link">1</a>
                </li>
                <li class="paginator__item"><a href="#" class="paginator__link">2</a>
                </li>
                <li class="paginator__item"><a href="#" class="paginator__link">3</a>
                </li>
                <li class="paginator__item"><a href="#" class="paginator__link">4</a>
                </li>
                <li class="paginator__item"><a href="#" class="paginator__link">5</a>
                </li>
                <li class="paginator__item"><span class="paginator__span">...</span>
                </li>
                <li class="paginator__item"><a href="#" class="paginator__link">12</a>
                </li>
                <li class="paginator__item">
                  <a href="#" class="paginator__link paginator__link--next">
                    <span class="paginator__link-span">След.</span>
                    <i data-ico="arrow-right-small" class="ico paginator__ico">
                      <svg class="ico__svg">
                          <use xlink:href="#arrow-right-small"></use>
                      </svg>
                    </i>
                  </a>
                </li>
              </ul>
            </div>
          </section>

        </div>
      </div>
    </main>
    {{> page-footer }}
  </div>
  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}
  {{> foot }}
</body>
</html>
