<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-inner camp-card">
      <div class="inner-block">
        <div class="sectionBox sectionBox--scallopTop camp-card__header">
          <div class="camp-card__header-row">
            <div class="camp-card__header-left">
              <div class="camp-card__header-type"><img src="img/camp-type-health.png" class="camp-card__header-type-img">Санитарно-лечебный лагерь</div><span class="camp-card__header-org">Организатор:<a href="#">ООО “Матрешка”</a></span></div>

          </div>
          <h1 class="title-h1 camp-card__title">Детский оздоровительный лагерь<br>«Миру — мир во всех мирах всего мира»
            <div class="camp-card__title-links">
              <a href="#" class="camp-card__title-link camp-card__title-link--website"><img src="img/global.png" alt="">artek.ru</a>
              <a href="#" class="camp-card__title-link camp-card__title-link--social"><img src="img/youtube.png" alt=""><span>Канал лагеря<br>в Youtube</span></a>
              <a href="#" class="camp-card__title-link camp-card__title-link--social"><img src="img/3d.png" alt=""><span>3D тур<br>по лагерю</span></a>
            </div>
          </h1>
          <nav class="camp-card__nav">
            <a href="#nav-camp" class="camp-card__nav-item"><span>Лагерь</span></a><a href="#nav-programms" class="camp-card__nav-item"><span>Программы и заезды</span></a><a href="#nav-add" class="camp-card__nav-item"><span>Дополнительные услуги</span></a>
            <a href="#nav-transport" class="camp-card__nav-item"><span>Транспорт</span></a><a href="#nav-docs" class="camp-card__nav-item"><span>Документы и визы</span></a></nav>
        </div>
        <div class="clearfix"></div>
        <div class="camp-card__media">
          <div class="sectionBox camp-card__gallery">
            <div class="slider-gallery">
              <div class="slider-gallery__body">
                <div data-nav="thumbs" data-navposition="left" data-thumbborderwidth="2" data-thumbmargin="10" data-thumbwidth="40" data-thumbheight="40" data-arrows="always" data-width="538" data-height="430" data-fit="cover" data-allowfullscreen="true" data-shadows="false"
                  data-navwidth="430" class="fotorama">
                  <a src="img/temporary/slider-gallery-03.jpg"></a>
                  <a src="img/temporary/slider-gallery-03.jpg"></a>
                  <a src="img/temporary/slider-gallery-03.jpg"></a>
                  <a src="img/temporary/slider-gallery-03.jpg"></a>
                  <a src="img/temporary/slider-gallery-03.jpg"></a>
                  <a src="img/temporary/slider-gallery-03.jpg"></a>
                  <a src="img/temporary/slider-gallery-03.jpg"></a>
                  <a src="img/temporary/slider-gallery-03.jpg"></a>
                </div><a href="#" class="slider-gallery__fullscreen-triger"><i data-ico="full-screen" class="ico ico--gray-hover-green ico--40"><svg class="ico__svg"><use xlink:href="#full-screen"></use></svg></i></a></div>
            </div>
          </div>
          <div class="sectionBox camp-card__map">
            <div id="map" data-lat="55.03292878" data-lng="73.25239250" data-image-clip="0 269 77 335" class="camp-card__map-canvas"></div>
            <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
          </div>
        </div>
        <div class="sectionBox camp-card__service">
          <div class="camp-card__service-slider">
            <div class="carousel campSliderDecr" data-items="3">

              <div class="camp-card__service-slider-item">
                <div class="camp-card__service-item">
                  <img src="img/heart.png" class="camp-card__service-icon">
                  <div class="camp-card__service-desc">
                    <div class="camp-card__service-title">Библиотека</div>
                    <div class="camp-card__service-text">20</div>
                  </div>
                </div>
              </div>

              <div class="camp-card__service-slider-item">
                <div class="camp-card__service-item">
                  <img src="img/boat.png" class="camp-card__service-icon">
                  <div class="camp-card__service-desc">
                    <div class="camp-card__service-title">Доступно людям с ограниченными возможностями</div>
                    <div class="camp-card__service-text">20 мест</div>
                  </div>
                </div>
              </div>

              <div class="camp-card__service-slider-item">
                <div class="camp-card__service-item">
                  <img src="img/cup.png" class="camp-card__service-icon">
                  <div class="camp-card__service-desc">
                    <div class="camp-card__service-title">Кинозал</div>
                    <div class="camp-card__service-text">350 мест</div>
                  </div>
                </div>
              </div>

              <div class="camp-card__service-slider-item">
                <div class="camp-card__service-item">
                  <img src="img/ball.png" class="camp-card__service-icon">
                  <div class="camp-card__service-desc">
                    <div class="camp-card__service-title">Компьютерный класс</div>
                  </div>
                </div>
              </div>

              <div class="camp-card__service-slider-item">
                <div class="camp-card__service-item">
                  <img src="img/ball.png" class="camp-card__service-icon">
                  <div class="camp-card__service-desc">
                    <div class="camp-card__service-title">Оздоровительный центр</div>
                  </div>
                </div>
              </div>

              <div class="camp-card__service-slider-item">
                <div class="camp-card__service-item">
                  <img src="img/cup.png" class="camp-card__service-icon">
                  <div class="camp-card__service-desc">
                    <div class="camp-card__service-title">Ресторан</div>
                    <div class="camp-card__service-text">60 мест</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="camp-card__service-item camp-card__service-item--location"><img src="img/location.png" class="camp-card__service-icon">
            <div class="camp-card__service-desc">
              <div class="camp-card__service-title">Россия, Сочи, курорт “Сочинский”, ул. Октябрьская, 1</div>
              <div class="camp-card__service-text"><a href="#" class="camp-card__map-show"><i data-ico="target-blank" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#target-blank"></use></svg></i>Открыть карту</a></div>
            </div>
          </div>
        </div>
        <div id="nav-camp" class="sectionBox camp-card__fullinfo">
          <div class="camp-card__fullinfo-tabs"><a href="#description" class="camp-card__fullinfo-button camp-card__fullinfo-button--active"><span>Описание</span></a><a href="#infrastructure" class="camp-card__fullinfo-button"><span>Инфраструктура</span></a><a href="#accommodation" class="camp-card__fullinfo-button"><span>Размещение и удобства</span></a>
            <a href="#food" class="camp-card__fullinfo-button"><span>Питание</span></a><a href="#medical" class="camp-card__fullinfo-button"><span>Медицинское обслуживание</span></a><a href="#security" class="camp-card__fullinfo-button"><span>Безопасность</span></a></div>
          <div class="camp-card__fullinfo-contents">
            <div class="style-guide__scroll-bar scrollbar-rail">
              <div id="description" class="camp-card__fullinfo-content camp-card__fullinfo-content--active">
                <div class="text">
                  <h1>Описание лагеря</h1>
                  <p>В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию, апробации и внедрению инновационных форм
                    общего и дополнительного образования, а также оздоровлению и отдыху детей. Концепция предусматривает практически полную реконструкцию «Артека»: перестройку всех корпусов, площадок, строительство новых объектов. А самое главное – обновление
                    содержания педагогической деятельности. В марте 2015 года правительство РФ утвердило Программу развития «Артека» на 2015-2020 годы.</p>
                  <p>В рекордные сроки к летнему сезону 2015 года отремонтировано и реконструировано:</p>
                  <p>– 24 жилых корпуса, способных принять одновременно более 2 000 детей;</p>
                  <p>– 3 столовых общей вместимостью на 2190 детей;</p>
                  <p>– универсальный спортивный зал общей вместимостью 1 000 человек;</p>
                  <p>– плавательный бассейн с морской водой (с одновременным посещением 60 человек),</p>
                  <p>– 6 открытых спортивных площадок,</p>
                  <p>– 2 костровых площадки,</p>
                  <p>– более 5 км автодорог, тротуаров и пешеходных дорожек,</p>
                  <p>– более 20 га озеленения</p>
                </div>
              </div>
              <div id="infrastructure" class="camp-card__fullinfo-content">
                <div class="text">
                  <h1>Описание лагеря</h1>
                  <p>В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию, апробации и внедрению инновационных форм
                    общего и дополнительного образования, а также оздоровлению и отдыху детей. Концепция предусматривает практически полную реконструкцию «Артека»: перестройку всех корпусов, площадок, строительство новых объектов. А самое главное – обновление
                    содержания педагогической деятельности. В марте 2015 года правительство РФ утвердило Программу развития «Артека» на 2015-2020 годы.</p>
                  <p>В рекордные сроки к летнему сезону 2015 года отремонтировано и реконструировано:</p>
                  <p>– 24 жилых корпуса, способных принять одновременно более 2 000 детей;</p>
                  <p>– 3 столовых общей вместимостью на 2190 детей;</p>
                  <p>– универсальный спортивный зал общей вместимостью 1 000 человек;</p>
                  <p>– плавательный бассейн с морской водой (с одновременным посещением 60 человек),</p>
                  <p>– 6 открытых спортивных площадок,</p>
                  <p>– 2 костровых площадки,</p>
                  <p>– более 5 км автодорог, тротуаров и пешеходных дорожек,</p>
                  <p>– более 20 га озеленения</p>
                  <h1>Описание лагеря</h1>
                  <p>В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию, апробации и внедрению инновационных форм
                    общего и дополнительного образования, а также оздоровлению и отдыху детей. Концепция предусматривает практически полную реконструкцию «Артека»: перестройку всех корпусов, площадок, строительство новых объектов. А самое главное – обновление
                    содержания педагогической деятельности. В марте 2015 года правительство РФ утвердило Программу развития «Артека» на 2015-2020 годы.</p>
                  <p>В рекордные сроки к летнему сезону 2015 года отремонтировано и реконструировано:</p>
                  <p>– 24 жилых корпуса, способных принять одновременно более 2 000 детей;</p>
                  <p>– 3 столовых общей вместимостью на 2190 детей;</p>
                  <p>– универсальный спортивный зал общей вместимостью 1 000 человек;</p>
                  <p>– плавательный бассейн с морской водой (с одновременным посещением 60 человек),</p>
                  <p>– 6 открытых спортивных площадок,</p>
                  <p>– 2 костровых площадки,</p>
                  <p>– более 5 км автодорог, тротуаров и пешеходных дорожек,</p>
                  <p>– более 20 га озеленения</p>
                  <h1>Описание лагеря</h1>
                  <p>В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию, апробации и внедрению инновационных форм
                    общего и дополнительного образования, а также оздоровлению и отдыху детей. Концепция предусматривает практически полную реконструкцию «Артека»: перестройку всех корпусов, площадок, строительство новых объектов. А самое главное – обновление
                    содержания педагогической деятельности. В марте 2015 года правительство РФ утвердило Программу развития «Артека» на 2015-2020 годы.</p>
                  <p>В рекордные сроки к летнему сезону 2015 года отремонтировано и реконструировано:</p>
                  <p>– 24 жилых корпуса, способных принять одновременно более 2 000 детей;</p>
                  <p>– 3 столовых общей вместимостью на 2190 детей;</p>
                  <p>– универсальный спортивный зал общей вместимостью 1 000 человек;</p>
                  <p>– плавательный бассейн с морской водой (с одновременным посещением 60 человек),</p>
                  <p>– 6 открытых спортивных площадок,</p>
                  <p>– 2 костровых площадки,</p>
                  <p>– более 5 км автодорог, тротуаров и пешеходных дорожек,</p>
                  <p>– более 20 га озеленения</p>
                </div>
              </div>
              <div id="accommodation" class="camp-card__fullinfo-content">3</div>
              <div id="food" class="camp-card__fullinfo-content">4</div>
              <div id="medical" class="camp-card__fullinfo-content">5</div>
              <div id="security" class="camp-card__fullinfo-content">6</div>
            </div>
          </div>
        </div>
        <div class="sectionBox camp-card__fullinfo-rating">
          <div class="camp-card__fullinfo-rating-title">Рейтинг лагеря</div>
          <div class="camp-card__fullinfo-rating-result"><span class="result result-4"></span>4.25 из 5</div><a href="#" class="camp-card__fullinfo-rating-people">Основан на 2 проголосовавших</a>
          <div class="camp-card__fullinfo-rating-item"><span class="num">3</span>Условия размещения</div>
          <div class="camp-card__fullinfo-rating-item"><span class="num">4</span>Программа</div>
          <div class="camp-card__fullinfo-rating-item"><span class="num">5</span>Питание</div>
          <div class="camp-card__fullinfo-rating-item"><span class="num">4</span>Персонал</div>
          <div class="camp-card__fullinfo-rating-item"><span class="num">3</span>Цена/качество</div><a href="#" class="camp-card__fullinfo-rating-add">Оценить лагерь</a></div>
        <div class="clearfix"></div>
        <div id="nav-programms" class="sectionBox camp-card__programs">
          <h1 class="title-h1">Программы и заезды</h1>
          <div class="camp-card__tabs">
            <div class="camp-card__tab">
              <div class="camp-card__tab-title">
                <div class="camp-card__tab-icon"></div>Языковые программы. Английский язык</div>
              <div class="camp-card__tab-cont">
                <div class="camp-card__tab-cont-box">
                  <div class="camp-card__table">
                    <div class="camp-card__table-header">
                      <div class="camp-card__table-row">
                        <div class="camp-card__table-col w-290 p-r-0">Программа:</div>
                        <div class="camp-card__table-col w-100 p-r-0">Смена:</div>
                        <div class="camp-card__table-col w-100 p-r-0">Даты смены:</div>
                        <div class="camp-card__table-col w-150 p-r-0">Пункты и даты трансфера:</div>
                        <div class="camp-card__table-col w-100 p-r-0">Транспорт:</div>
                        <div class="camp-card__table-col w-70">Цена:</div>
                        <div class="camp-card__table-col w-150 p-r-0 p-l-0">Бронирование:</div>
                      </div>
                    </div>
                    <div class="camp-card__table-body">
                      <div class="camp-card__table-row camp-card__table-product">
                        <div class="camp-card__table-col w-310 p-r-0 p-l-0">
                          <a href="#" class="camp-card__table-product-link"><img src="http://placehold.it/90x90" alt="" class="camp-card__table-product-pic">Экспресс-программа обучения<br>английскому языку<span class="text">В 2014 году разработана Концепция<br>развития Международного детского<br>центра «Артек» – «Артек 2.0.<br>Перезагрузка», цель которой –<br>превратить<span class="underline">подробнее</span>...</span>
                          </a>
                        </div>
                        <div class="camp-card__table-col w-100 p-r-0">"Индейская деревня"</div>
                        <div class="camp-card__table-col w-100 p-r-0">С 02.09.2015<br>до 01.09.2015</div>
                        <div class="camp-card__table-col w-150 p-r-0">Москва, Центральный<br>проезд Хорошёвского<br>Серебряного Бора<br><br>Отправление:<br>01.09.2015 в 09:00<br>Прибытие:<br>01.09.2015 в 18:00</div>
                        <div class="camp-card__table-col w-100 p-r-0">Аэробус А-320<br>Рейс 342 998</div>
                        <div class="camp-card__table-col w-70">
                          <div class="camp-card__table-product-price">40 000 &#8381;</div>
                        </div>
                        <div class="camp-card__table-col w-150 p-r-0 p-l-0">
                          <div class="camp-card__table-product-booking">Кол.-во отдыхающих:
                            <div class="style-guide__select">
                              <div class="form-grp style-guide__select-height">
                                <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>1</option><option>2</option></select></div>
                            </div><button class="btn btn--primary btn--s"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#btn-order"></use></svg></i></span><span class="btn__txt">забронировать</span></button>
                            <div><a href="#" class="addToFav"><i data-ico="heart" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#heart"></use></svg></i><span>В избранное</span></a></div>
                          </div>
                        </div>
                      </div><a href="#" class="camp-card__table-product-link--big"><span>Показать доступные даты заезда</span></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="camp-card__tab">
              <div class="camp-card__tab-title">
                <div class="camp-card__tab-icon"></div>Языковые программы. Немецкий язык</div>
              <div class="camp-card__tab-cont">
                <div class="camp-card__tab-cont-box">Контент</div>
              </div>
            </div>
            <div class="camp-card__tab">
              <div class="camp-card__tab-title">
                <div class="camp-card__tab-icon"></div>Спортивные программы. Волейбол</div>
              <div class="camp-card__tab-cont">
                <div class="camp-card__tab-cont-box">Контент</div>
              </div>
            </div>
          </div>
        </div>
        <div id="nav-add" class="sectionBox camp-card__docs">
          <h1 class="title-h1">Дополнительные услуги</h1>
          <div class="camp-card__table">
            <div class="camp-card__table-header">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-290 m-r-90">Наименование услуги</div>
                <div class="camp-card__table-col w-440 m-r-90">Описание</div>
                <div class="camp-card__table-col w-100">Стоимость</div>
              </div>
            </div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-290 m-r-90">
                  <a href="#" class="camp-card__table-product-link"><img src="http://placehold.it/90x90" alt="" class="camp-card__table-product-pic">Экскурсия на море</a>
                </div>
                <div class="camp-card__table-col w-440 m-r-90">В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить</div>
                <div class="camp-card__table-col w-100">
                  <div class="camp-card__table-product-price">40 000 &#8381;</div>
                </div>
              </div>
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-290 m-r-90">
                  <a href="#" class="camp-card__table-product-link"><img src="http://placehold.it/90x90" alt="" class="camp-card__table-product-pic">Экскурсия на море</a>
                </div>
                <div class="camp-card__table-col w-440 m-r-90">В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить</div>
                <div class="camp-card__table-col w-100">
                  <div class="camp-card__table-product-price">40 000 &#8381;</div>
                </div>
              </div>
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-290 m-r-90">
                  <a href="#" class="camp-card__table-product-link"><img src="http://placehold.it/90x90" alt="" class="camp-card__table-product-pic">Экскурсия на море</a>
                </div>
                <div class="camp-card__table-col w-440 m-r-90">В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить</div>
                <div class="camp-card__table-col w-100">
                  <div class="camp-card__table-product-price">40 000 &#8381;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox camp-card__docs">
          <h1 class="title-h1">Питание</h1>
          <div class="camp-card__table">
            <div class="camp-card__table-header">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-500 m-r-90">Форма питания:</div>
                <div class="camp-card__table-col w-200">Стол для диабетиков:</div>
                <div class="camp-card__table-col w-200">Стол для веганов:</div>
              </div>
            </div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-500 m-r-90"><b>Шведский стол</b></div>
              </div>
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-500 m-r-90">Концепция предусматривает практически полную реконструкцию «Артека»:<br>перестройку всех корпусов, площадок, строительство новых объектов.</div>
                <div class="camp-card__table-col w-200"><img src="img/ok-icon.png" alt=""></div>
                <div class="camp-card__table-col w-200"><img src="img/no-icon.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox camp-card__docs">
          <h1 class="title-h1">Медицинское обслуживание</h1>
          <div class="camp-card__table">
            <div class="camp-card__table-header">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-500 m-r-90">Медицинский тип лагеря:</div>
                <div class="camp-card__table-col w-200">Врачи в лагере:</div>
              </div>
            </div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-500 m-r-90"><b>Санитарно-лечебный лагерь</b><br>В лагере присутствует медицинский лечебный корпус, для каждого<br>отдыхающего составляются профили лечения</div>
                <div class="camp-card__table-col w-200">Педиатр<br>Терапевт<br>Травмотолог<br>Массажист<br>Спортивный врач</div>
              </div>
            </div>
          </div>
        </div>
        <div class="sectionBox camp-card__docs">
          <h1 class="title-h1">Безопасность</h1>
          <p>Более 50-ти охранников, каждый номер оборудован сигнализацией, новейшая система видеонаблюдения</p>
        </div>
      </div>
    </main>

    {{> page-footer }}

  </div>

  <div class="camp-card__map-overlay"></div>
  <div class="camp-card__map-wrap">
    <a href="#" class="camp-card__map-close"><i data-ico="close" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#close"></use></svg></i></a>
    <div id="map-big" class="camp-card__map-big"></div>
  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}

</body>

</html>
