<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="category">
        <div class="category__filter">

          {{> main-filter }}

        </div>
        <div class="category__content">
          <div class="category__content-inner">
            <div class="tabs">

              <div class="search-result-title">По вашему запросу найдено 10 вариантов отдыха</div>

              {{> search-result-filter }}

              <div class="tabs__inner">
                <div id="list-tab" class="tabs__tab tabs__tab--active">

                  {{> result-item-hot }}

                  {{> result-item }}

                  {{> result-item }}

                  {{> result-item }}

                  {{> result-item }}

                  {{> result-item }}

                  <div class="paginator">
                    <ul class="paginator__list">
                      <li class="paginator__item"><a href="#" class="paginator__link paginator__link--prev">
                        <i data-ico="arrow-left-small" class="ico paginator__ico"><svg class="ico__svg"><use xlink:href="#arrow-left-small"></use></svg></i><span class="paginator__link-span">Пред.</span></a>
                      </li>
                      <li class="paginator__item active">
                        <a href="#" class="paginator__link">1</a>
                      </li>
                      <li class="paginator__item">
                        <a href="#" class="paginator__link">2</a></li>
                      <li class="paginator__item">
                        <a href="#" class="paginator__link">3</a>
                      </li>
                      <li class="paginator__item">
                        <a href="#" class="paginator__link">4</a></li>
                      <li class="paginator__item">
                        <a href="#" class="paginator__link">5</a>
                      </li>
                      <li class="paginator__item">
                        <span class="paginator__span">...</span>
                      </li>
                      <li class="paginator__item">
                        <a href="#" class="paginator__link">12</a>
                      </li>
                      <li class="paginator__item">
                        <a href="#" class="paginator__link paginator__link--next"><span class="paginator__link-span">След.</span><i data-ico="arrow-right-small" class="ico paginator__ico"><svg class="ico__svg"><use xlink:href="#arrow-right-small"></use></svg></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{> page-footer }}
  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}

  <div id="map-tab" class="tabs__tab">
    {{> search-map }}
  </div>
</body>


</html>
