<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">


        <div class="sectionBox sectionBox--scallopTop conditions">

          <div class="conditions__header">
            <h1>Условия и конфиденциальность</h1>
          </div>

          <div class="conditions__subtitle">
            <h2>
              Спасибо за посещение нашего сайта. Раздел «Условия и
              конфиденциальность» должен ознакомить Вас с условиями
              использования сервиса и политикой конфиденциальности информации.
            </h2>
            <h3>
              В данной статье мы объясняем принципы функционирования нашего сайта, описываем процесс сбора, хранения и обработки Ваших персональных данных и информируем Вас об их использовании.
            </h3>
          </div>

            <div class="conditions__row">

              <div class="conditions__col conditions__col--1">

                <h4>
                  Условия функционирования сервиса
                </h4>
                <p>
                  «Поехали, дети» является онлайн-платформой, с помощью которой компании, занимающиеся детским отдыхом, могут выставить на продажу свои предложения, а посетители веб-сайта – осуществить покупку. При оформлении покупки Вы вступаете в прямые договорные отношения с исполнителем услуг. Нашими задачами являются – предоставление всех необходимых сведений об объекте продажи, согласование детальных условий Вашего заказа и подробное информирование Вас о совершенных покупках. Мы выступаем в качестве посредника между Вами и компанией, предлагающей свои услуги. Это означает, что информация об объектах продажи основана на данных, предоставленных ее владельцами.
                </p>

                <h4>
                  Политика конфиденциальности
                </h4>
                <p>
                  «Поехали, дети» ценит доверие своих пользователей. Мы уделяем особое значение сохранению Ваших персональных данных, указанных на нашем веб-сайте, и считаем своим долгом защищать предоставленную Вами личную информацию. Данные условия конфиденциальности распространяются на всю информацию, которую мы можем получить во время Вашего пребывания на сайте и которая может быть соотнесена с Вами.<br>
                  Наш сайт получает сведения, касающиеся Вас, когда Вы регистрируетесь на сайте, пользуетесь нашими сервисами и совершаете покупки. Ваши персональные данные являются Вашей личной собственностью.
                </p>

                <h3>
                  Отправляя эту информацию нам, Вы предоставляете нам право использовать ее законным образом для следующих целей:
                </h3>
                <ul class="ul--bullet">
                  <li>
                    Обработка Вашего заказа;
                  </li>
                  <li>
                    Управление аккаунтом и настройка индивидуальных параметров для повышения эффективности поиска на сайте;
                  </li>
                  <li>
                    Формирование обратной связи, основанной на отзывах покупателей;
                  </li>
                  <li>
                    Отслеживание исполнения принятого Вами «Пользовательского соглашения», выявление и предотвращение мошенничества;
                  </li>
                  <li>
                    Демонстрация рекламных предложений средствами маркетинга и баннерной рекламы;
                  </li>
                  <li>
                    Демонстрация предложений принять участие в маркетинговых исследованиях для анализа рынка;
                  </li>
                  <li>
                    Демонстрация предложений от партнеров сервиса;
                  </li>
                </ul>

                <h4>
                  Ваш выбор использования информации
                </h4>
                <p>
                  Мы сотрудничаем с авторитетными партнерами в различных сферах. Отправляя нам персональные данные, Вы имеете право согласиться или не согласиться с предложением передавать их нашим партнерам в маркетинговых целях. Несмотря на это, мы можем передавать им Ваши cookie-файлы (См. ниже). Это никак не связано с персональными данными конкретного пользователя. Тем не менее, Вы можете отключить эту опцию. Для того, чтобы отказаться от некоторых cookie-файлов, используйте настройки Вашего браузера.
                </p>

                <img src="img/privacy-01.png" alt="">

                <h4>
                  Cookie-файлы
                </h4>
                <p>
                  Для улучшения функционирования нашего сайта мы можем использовать текстовые файлы cookies, которые остаются в Вашем браузере для хранения пользовательских предпочтений и настроек. Благодаря cookie-файлам сайт сможет распознать Вас при следующих посещениях и возобновить сохраненные Вами ранее настройки.
                </p>
                <p>
                  Мы используем cookie-файлы, чтобы наш сайт был максимально удобным и современным и мог оперативно подстраиваться под своего конкретного пользователя. Если Вы хотите изменить функционирование cookie-файлов, в настройках браузера Вы можете выбрать, какие файлы принимать, а какие – отклонять. Обращаем Ваше внимание, что в случае, когда Вы решаете отказаться от определенных cookie-файлов, Вам могут быть недоступны некоторые функции нашего сайта.
                </p>

              </div>

              <div class="conditions__col conditions__col--2">

                <p>
                  Несмотря на то, что мы стремимся следить за качеством контента нашего сайта, у нас нет возможности проверять достоверность и гарантировать точность и полноту всей информации, представленной компаниями. Каждая компания при любых условиях самостоятельно несет ответственность за правильность сведений (включая цены, наличие мест и качество размещения), отображаемых на нашем веб-сайте.Совершая покупку, Вы соглашаетесь с порядком оформления услуги, условиями отмены заявки и правилами, действующими в случае незаезда. Также Вы соглашаетесь с дополнительными инструкциями, действующими во время бронирования или во время проживания на территории исполнителя.
                </p>

                <img src="img/privacy-02.png" alt="">

                <p>
                  Принимая «Пользовательское соглашение», Вы соглашаетесь с перечисленными выше пунктами. Предупреждаем, что мы также оставляем за собой право передать информацию о пользователе соответствующим компетентным органам в том случае, если наш сайт был использован данным пользователем для совершения незаконной деятельности.
                </p>

                <p>
                  Персональные данные, которые могут быть собраны на нашем сайте в ходе регистрации, совершения заказов и покупки продуктов и услуг, могут включать Ваши имя, фамилию и отчество, почтовый адрес, e-mail, номер телефона и платежную информацию. Кроме того, мы можем запросить информацию о Ваших интересах и предпочтениях с целью улучшения эффективности оказываемых нами услуг.
                </p>

                <h4>
                  Сторонние ссылки
                </h4>
                <p>
                  Доносим до Вашего сведения, что мы не несем ответственности за точность, конфиденциальность и содержание пользовательских соглашений любых сторонних партнеров, которые могут быть прорекламированы на нашем сайте. Любые размещенные сторонние материалы, имеющие рекламный характер, принадлежат сторонним рекламодателям и никак не связаны с нашим сайтом.
                </p>

                <h4>
                  Неидентифицирующая информация
                </h4>
                <p>
                  Мы оставляем за собой право собирать неидентифицирующую информацию о Вас, когда Вы посещаете страницы нашего сайта. Данная информация может включать в себя такие сведения, как тип используемого Вами браузера, Ваш IP-адрес, тип операционной системы, а также домен Вашего интернет-провайдера. Мы используем неидентифицирующую информацию для администрирования и оптимизации нашего сайта. Мы также можем использовать обобщенные данные о наших пользователях для не запрещенных законом целей: составления статистики и характеристики наших пользователей как обобщенной группы.
                </p>

                <h4>
                  Согласие
                </h4>
                <p>
                  Используя наш сайт, Вы соглашайтесь с данной «Политикой конфиденциальности». Мы оставляем за собой право по нашему личному решению корректировать, удалять или добавлять ее положения в любое время. Пожалуйста, проверяйте эту страницу и следите за ее обновлениями. Продолжение использования сайта после e-mail-оповещения об изменениях в «Политике конфиденциальности» подразумевает Ваше согласие с данными изменениями.
                </p>

              </div>

            </div>

        </div>

      </div>
    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
