<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">


        <div class="sectionBox sectionBox--scallopTop contact">

          <div class="contact__header">
            <h1>Контактная <br>
              информация</h1>
          </div>
          <div class="contact__subtitle">
          </div>
            <div class="contact__row">
              <div class="contact__col contact__col--1">
                <h3>
                  Полное наименование организации:
                </h3>
                <div class="contacts--grey">
                  <span>
                    Общество с ограниченной ответственностью <br>
                    «Поехали дети»
                  </span>
                </div>
                <h3>
                  Фактический адрес:
                </h3>
                <div class="contacts--grey">
                  <span>
                    Москва, ул. Большая Дмитровка, <br>
                    д. 32, стр. 4, офис 422
                  </span>
                </div>

              </div>

              <div class="contact__col contact__col--2">

                <div class="contact-wrap">
                  <h3>ИНН:</h3>
                  <span class="contacts--grey">7743119390</span>
                </div>

                <div class="contact-wrap">
                  <h3>КПП:</h3>
                  <span class="contacts--grey">774301001</span>
                </div>

                <div class="contact-wrap">
                  <h3>Эл. почта:</h3>
                  <span class="contacts--grey">info@poehalideti.ru</span>
                </div>

                <div class="contact-wrap">
                  <h3>Телефон:</h3>
                  <span class="contacts--grey">+7 (499) 110-39-92</span>
                </div>

              </div>

            </div>

        </div>

      </div>
    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
