<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">
    {{> header-inner }}
    <main class="page-main">
      <div class="inner-block">
        <div class="sectionBox sectionBox--scallopTop">
          <div class="content">
            <div class="content__big-col">
              <h1>H1 Заголовок. <br> Futura Futuris Medium 40 px</h1>
              <img src="img/temporary/img.jpg" alt="img">
              <h3>Созданный в 1925 году небольшой летний палаточный лагерь за прошедшие девять десятилетий превратился в страну детства.</h3>
              <p>Arial Regular 18 px для основного текста.В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию,
                апробации и внедрению инновационных форм общего и дополнительного образования.</p>
              <h2>H2 Заголовок. <br> Futura Futuris Medium 30 px</h2>
              <p>Как рассказал РБК знакомый Кудрина, переговоры о том, чтобы он возглавил организацию, которая будет отвечать за разработку масштабной экономической программы, ведутся с конца прошлого года и точный срок их окончания неизвестен. Принципиально
                важно, чтобы у Кудрина как разработчика программы были полномочия запрашивать документы и статистику у министерств и ведомств, говорит собеседник. Делать проект, исходя из «общих знаний», смысла нет: он не будет иметь практического применения.</p>
              <h3>Буллиты:</h3>
              <ul class="ul--bullet">
                <li>24 жилых корпуса, способных принять одновременно более 2 000 детей;</li>
                <li>3 столовых общей вместимостью на 2190 детей;</li>
              </ul>
              <h3>Нумерованный список:</h3>
              <ol>
                <li>24 жилых корпуса, способных принять одновременно более 2 000 детей;</li>
                <li>3 столовых общей вместимостью на 2190 детей;</li>
              </ol><br></div>
            <div class="content__small-col">
              <h3>Полезные ссылки <br> или статьи</h3>
              <p><a href="#">Концепция центра «Артек»</a></p>
              <p><a href="#">10 фактов о лагере</a></p>
              <p><a href="#">Необходимые документы</a></p>
              <p><a href="#">Что нужно знать об отдыхе</a></p>
              <p><a href="#">Великие русские путешественники и ученые</a></p>
              <p><a href="#">Восемь шагов до отдыха</a></p><br><br><br><img src="img/temporary/small-img.jpg" alt="img"><strong><h3>Всякого рода <br> пояснения –</h3></strong>
              <p>Концепция Международного детского центра «Артек» цель которой – превратить детский центр в лучшую международную площадку по созданию, апробации и внедрению инновационных форм общего и дополнительного образования.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{> page-footer }}
  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}

</body>

</html>
