<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">
        <div class="sectionBox sectionBox--scallopTop feedback-page">

          <div class="feedback-page__header">
            <h1>Обратная связь</h1>
          </div>

          <div class="feedback-page__main">
            <h3>
              Уважаемый посетитель сайта! На странице «Обратной связи» Вы можете задать вопрос, высказать свои замечания, пожелания или комментарии о продуктах и услугах, предоставляемых нашей компанией.
            </h3>

            <div class="feedback-page__txt-wrap">
              <p>
                При использовании формы обратной связи, пожалуйста, корректно указывайте в полях, обязательных для заполнения (*) реквизиты.
              </p>
              <p>
                Это позволит сотруднику нашей компании связаться с Вами для предоставления наиболее полного ответа на Ваш вопрос.
              </p>
            </div>

            <div class="was-a-form">

              <div class="block-info__inner">
                <div class="form">
                  <div class="form__form">
                    <div class="form__data">
                      <div class="form__items-wrap">

                        <div class="form__item field-contactform-surname required">
                          <div class="form__item-inner">
                            <div class="form-item__label">
                              <label class="control-label" for="contactform-surname">
                                Фамилия
                              </label>
                            </div>
                            <div class="form-item__elem">
                              <input type="text" id="contactform-surname" class="form-ctrl" name="ContactForm[surname]">
                            </div>
                            <div class="help-block"></div>
                          </div>
                        </div>

                        <div class="form__item field-contactform-name required">
                          <div class="form__item-inner">
                            <div class="form-item__label">
                              <label class="control-label" for="contactform-name">
                                Имя
                              </label>
                            </div>
                            <div class="form-item__elem">
                              <input type="text" id="contactform-name" class="form-ctrl" name="ContactForm[name]">
                            </div>
                            <div class="help-block"></div>
                          </div>
                        </div>

                        <div class="form__item field-contactform-patronymic required">
                          <div class="form__item-inner">
                            <div class="form-item__label">
                              <label class="control-label" for="contactform-patronymic">
                                Отчество
                              </label>
                            </div>
                            <div class="form-item__elem">
                              <input type="text" id="contactform-patronymic" class="form-ctrl" name="ContactForm[patronymic]">
                            </div>
                            <div class="help-block"></div>
                          </div>
                        </div>

                        <div class="form__item field-contactform-phone">
                          <div class="form__item-inner">
                            <div class="form-item__label">
                              <label class="control-label" for="contactform-phone">
                                Телефон
                              </label>
                            </div>
                            <div class="form-item__elem">
                              <input type="text" id="contactform-phone" class="form-ctrl" name="ContactForm[phone]" placeholder="" data-mask="+7 (000) 000-0000" autocomplete="off">
                            </div>
                            <div class="help-block"></div>
                          </div>
                        </div>

                        <div class="form__item field-contactform-email required">
                          <div class="form__item-inner">
                            <div class="form-item__label">
                              <label class="control-label" for="contactform-email">
                                E-mail
                              </label>
                            </div>
                            <div class="form-item__elem">
                              <input type="text" id="contactform-email" class="form-ctrl" name="ContactForm[email]">
                            </div>
                            <div class="help-block"></div>
                          </div>
                        </div>

                        <div class="form__item field-contactform-body required">
                          <div class="form__item-inner">
                            <div class="form-item__label">
                              <label class="control-label" for="contactform-body">
                                Сообщениe
                              </label>
                            </div>
                            <div class="form-item__elem">
                              <textarea id="contactform-body" class="form-ctrl" name="ContactForm[body]"></textarea>
                            </div>
                            <div class="help-block"></div>
                          </div>
                        </div>

                        <div class="form__item field-contactform-verifycode required">
                          <div class="form__item-inner">
                            <div class="form-item__label">
                              <label class="control-label" for="contactform-verifycode">
                                Код проверки
                              </label>
                            </div>
                            <div class="form-item__elem">
                              <img id="contactform-verifycode-image" src="#" alt="">
                              <input type="text" id="contactform-verifycode" class="form-ctrl" name="ContactForm[verifyCode]">
                            </div>
                            <div class="help-block"></div>
                          </div>
                        </div>

                        <div class="block-info__btn-wrap">
                          <button type="submit" name="submit_options" class="btn btn--secondary btn--l block-info__btn">
                            <span class="btn__txt">Отправить</span>
                          </button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>



              </div>

            </div>

          </div>

        </div>
      </div>
    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}
  {{> foot }}
</body>

</html>
