<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page--index">

  <div class="page-wrap">

    {{> page-header }}

    <main class="page-main">

      {{> camp-slider }}

      {{> searchBar }}

      <div class="inner-block">

        {{> camp-section_01 }}

        <section class="sectionBox only-desktop">
          <div class="sectionBox__content">
            <div class="campCTRL">
              <a href="#" class="campCTRL__link">
                <i data-ico="compass" class="ico campCTRL__ico ico--violet">
                  <svg class="ico__svg">
                    <use xlink:href="#compass"></use>
                  </svg>
                </i>
                Полный список лагерей
              </a>
            </div>
          </div>
        </section>

        <section class="sectionBox sectionBox--noPad sectionBox--noBg sectionBox--advt">
          <div class="sectionBox__content">
            <img src="http://placehold.it/1240x120">
          </div>
        </section>

        {{> map-section }}

        {{> features }}

        <section class="sectionBox sectionBox--noPad sectionBox--noBg sectionBox--advt">
          <div class="sectionBox__content">
            <div class="sectionBox__colWrap">
              <div class="sectionBox__colInner">
                <div class="sectionBox__col">
                  <img src="http://placehold.it/460x250">
                </div>
                <div class="sectionBox__col only-tablet only-desktop">
                  <img src="http://placehold.it/460x250">
                </div>
                <div class="sectionBox__col only-desktop">
                  <img src="http://placehold.it/460x250">
                </div>
              </div>
            </div>
          </div>
        </section>

        {{> topicTravel-section }}

        <section class="sectionBox sectionBox--noPad sectionBox--noBg sectionBox--advt">
          <div class="sectionBox__content">
            <img src="http://placehold.it/1240x120">
          </div>
        </section>

        {{> partnerList }}

      </div>

    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}

</body>

</html>
