<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">

        <section class="sectionBox sectionBox--scallopTop sectionBox--noPad sectionBox--mbNone">
          <div class="order-header order-header--page-3">
            <ol class="order-header__list">
              <li class="order-header__item">1. Ввод данных</li>
              <li class="order-header__item order-header__item--second">2. Проверка и оплата</li>
              <li class="order-header__item order-header__item--third">3. Готово</li>
            </ol>
          </div>
        </section>

        <section class="sectionBox order-block">
          <h1 class="order__title">Ваш номер успешно забронирован</h1>
          <div class="book-order order-block__book-order">
            <div class="book-order__num">Номер бронирования: Р0008765</div>
            <div class="book-order__confirm">На указанный вами E-mail, а также в раздел ЛК "<a href="#">Уведомления</a>", выслано подтверждение бронирования</div>
            <div class="book-order__leave">Отъезд через 20 дней!</div>
          </div>
          <div class="separator-big order-block__separator"></div>
          <h3 class="order-block__program-title">Экспресс-программа изучения английского языка</h3>
          <p class="order-block__desc">Созданный в 1925 году небольшой летний палаточный лагерь МДЦ «Артек» за прошедшие девять десятилетий превратился в страну детства – комплекс из 10 детских лагерей с развитой инфраструктурой, собственными образовательными технологиями и культурными
            традициями.
          </p>
          <div class="description order-block__description">
            <ul class="description__list">
              <li class="description__list-item">
                <div class="description-item">
                  <div class="description-item__title">Отдыхающие:</div>
                  <ul class="description-item__list">
                    <li class="description-item__list-item">Константинопольский Андрей Васильевич</li>
                    <li class="description-item__list-item">Константинопольский Андрей Васильевич</li>
                  </ul>
                </div>
              </li>
              <li class="description__list-item">
                <div class="description-item">
                  <div class="description-item__title">Лагерь:</div>
                  <ul class="description-item__list">
                    <li class="description-item__list-item">Артек</li>
                  </ul>
                </div>
              </li>
              <li class="description__list-item">
                <div class="description-item">
                  <div class="description-item__title">Даты заезда:</div>
                  <ul class="description-item__list">
                    <li class="description-item__list-item">08.09.2015-15.09.2015</li>
                  </ul>
                </div>
              </li>
              <li class="description__list-item">
                <div class="description-item">
                  <div class="description-item__title">Номер:</div>
                  <ul class="description-item__list">
                    <li class="description-item__list-item">3-х местный номер</li>
                  </ul>
                </div>
              </li>
              <li class="description__list-item">
                <div class="description-item">
                  <div class="description-item__title">Дополнительные услуги:</div>
                  <ul class="description-item__list">
                    <li class="description-item__list-item">
                      <ul class="list-disc-inline">
                        <li class="list-disc-inline__item">Экскурсия в музей</li>
                        <li class="list-disc-inline__item">Ночная рыбалка</li>
                        <li class="list-disc-inline__item">Веселые игры</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="amount order-block__amount">
            <div class="amount__item">Общая стоимость:<span class="amount__item-end">250 000<span class="priceRu">руб.</span></span>
            </div>
          </div>
          <div class="print order-block__print">
            <div class="print__btn"><button class="btn btn--secondary btn--l"><span class="btn__txt">Распечатать</span></button></div>
            <div class="print__links"><a href="#" class="print__links-item">Документация по бронированию</a><a href="#" class="print__links-item">Подготовка ребенка к лагерю</a></div>
          </div>
        </section>
        <section class="sectionBox order-block">
          <h1 class="order__title">Возможно вас заинтересуют дополнительные услуги</h1>
          <div class="search-block order-block__search-block">
            <form action="#" method="post" class="search-block__form"><input type="search" name="search" placeholder="Введите название услуги ..." class="search-block__input"><button type="submit" class="btn btn--secondary btn--s search-block__btn"><span class="btn__txt">Найти услугу</span></button></form>
          </div>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="block-srch-res order-block__block-srch-res">
              <div class="block-srch-res__header">
                <ul class="block-srch-res__header-list">
                  <li class="block-srch-res__header-list-item block-srch-res__header-list-item--name">Наименование услуги</li>
                  <li class="block-srch-res__header-list-item block-srch-res__header-list-item--date">Дата оказания услуги:</li>
                  <li class="block-srch-res__header-list-item block-srch-res__header-list-item--price">Цена</li>
                  <li class="block-srch-res__header-list-item block-srch-res__header-list-item--col">Кол.-во</li>
                  <li class="block-srch-res__header-list-item block-srch-res__header-list-item--amount">Общая стоимость</li>
                  <li class="block-srch-res__header-list-item block-srch-res__header-list-item--people">Отдыхающие</li>
                  <li class="block-srch-res__header-list-item block-srch-res__header-list-item--all">Выбор всех</li>
                </ul>
              </div>
              <div class="block-srch-res__body">
                <div class="block-srch-res__body-inner">
                  <div class="block-srch-res__body-content">
                    <div class="block-srch-res__body-name">
                      <div class="programm-item">
                        <div class="programm-item__img-wrap"><img src="img/program-item.jpg" alt="item" class="programm-item__img"></div>
                        <div class="programm-item_desc">
                          <div class="programm-item__title"><a href="#">Экскурсия на море</a></div>
                          <div class="programm-item__text">В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель ...</div>
                        </div>
                      </div>
                    </div>
                    <div class="block-srch-res__body-date">
                      <div class="date-block">
                        <div class="date-block__from">С 08.09.2015</div>
                        <div class="date-block__to">по 15.09.2015</div>
                      </div>
                    </div>
                    <div class="block-srch-res__body-price">
                      <div class="cost-small"><span class="price-small__inner">2000<span class="priceRu">руб.</span></span>
                      </div>
                    </div>
                    <div class="block-srch-res__body-col">0</div>
                    <div class="block-srch-res__body-amount">
                      <div class="cost-small"><span class="price-small__inner">0<span class="priceRu">руб.</span></span>
                      </div>
                    </div>
                    <div class="block-srch-res__body-people"></div>
                    <div class="block-srch-res__body-all">
                      <div class="chbx"><input type="checkbox" name="name-1" id="name-1" value="value-1" class="chbx__input"><label for="name-1" class="chbx__label"></label></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block-srch-res__body">
                <div class="block-srch-res__body-inner">
                  <div class="block-srch-res__body-content">
                    <div class="block-srch-res__body-name">
                      <div class="programm-item">
                        <div class="programm-item__img-wrap"><img src="img/program-item.jpg" alt="item" class="programm-item__img"></div>
                        <div class="programm-item_desc">
                          <div class="programm-item__title"><a href="#">Музей “Радуга”</a></div>
                          <div class="programm-item__text">В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель ...</div>
                        </div>
                      </div>
                    </div>
                    <div class="block-srch-res__body-date">
                      <div class="block-srch-res__body-date-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-4" value="value-1" checked class="chbx__input"><label for="name-4" class="chbx__label">10.09.2015</label></div>
                      </div>
                      <div class="block-srch-res__body-date-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-5" value="value-1" checked class="chbx__input"><label for="name-5" class="chbx__label">12.05.2015</label></div>
                      </div>
                      <div class="block-srch-res__body-date-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-6" value="value-1" checked class="chbx__input"><label for="name-6" class="chbx__label">16.09.2015</label></div>
                      </div>
                    </div>
                    <div class="block-srch-res__body-price">
                      <div class="cost-small"><span class="price-small__inner">2000<span class="priceRu">руб.</span></span>
                      </div>
                    </div>
                    <div class="block-srch-res__body-col">0</div>
                    <div class="block-srch-res__body-amount">
                      <div class="cost-small"><span class="price-small__inner">0<span class="priceRu">руб.</span></span>
                      </div>
                    </div>
                    <div class="block-srch-res__body-people">
                      <div class="block-srch-res__body-people-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-7" value="value-1" checked class="chbx__input"><label for="name-7" class="chbx__label">Константинопольский Константин Константинович</label></div>
                      </div>
                      <div class="block-srch-res__body-people-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-8" value="value-1" checked class="chbx__input"><label for="name-8" class="chbx__label">Константинопольский Константин Константинович</label></div>
                      </div>
                      <div class="block-srch-res__body-people-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-9" value="value-1" checked class="chbx__input"><label for="name-9" class="chbx__label">Агеев Олег Константинович</label></div>
                      </div>
                    </div>
                    <div class="block-srch-res__body-all">
                      <div class="chbx"><input type="checkbox" name="name-1" id="name-10" value="value-1" class="chbx__input"><label for="name-10" class="chbx__label"></label></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block-srch-res__body">
                <div class="block-srch-res__body-inner">
                  <div class="block-srch-res__body-content">
                    <div class="block-srch-res__body-name">
                      <div class="programm-item">
                        <div class="programm-item__img-wrap"><img src="img/program-item.jpg" alt="item" class="programm-item__img"></div>
                        <div class="programm-item_desc">
                          <div class="programm-item__title"><a href="#">Рыбалка</a></div>
                          <div class="programm-item__text">В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель ...</div>
                        </div>
                      </div>
                    </div>
                    <div class="block-srch-res__body-date">
                      <div class="block-srch-res__body-date-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-15" value="value-1" checked class="chbx__input"><label for="name-15" class="chbx__label">10.09.2015</label></div>
                      </div>
                      <div class="block-srch-res__body-date-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-16" value="value-1" checked class="chbx__input"><label for="name-16" class="chbx__label">12.05.2015</label></div>
                      </div>
                      <div class="block-srch-res__body-date-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-17" value="value-1" checked class="chbx__input"><label for="name-17" class="chbx__label">16.09.2015</label></div>
                      </div>
                    </div>
                    <div class="block-srch-res__body-price">
                      <div class="cost-small"><span class="price-small__inner">2000<span class="priceRu">руб.</span></span>
                      </div>
                    </div>
                    <div class="block-srch-res__body-col">0</div>
                    <div class="block-srch-res__body-amount">
                      <div class="cost-small"><span class="price-small__inner">0<span class="priceRu">руб.</span></span>
                      </div>
                    </div>
                    <div class="block-srch-res__body-people">
                      <div class="block-srch-res__body-people-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-11" value="value-1" checked class="chbx__input"><label for="name-11" class="chbx__label">Константинопольский Константин Константинович</label></div>
                      </div>
                      <div class="block-srch-res__body-people-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-12" value="value-1" checked class="chbx__input"><label for="name-12" class="chbx__label">Константинопольский Константин Константинович</label></div>
                      </div>
                      <div class="block-srch-res__body-people-item">
                        <div class="chbx"><input type="checkbox" name="name-1" id="name-13" value="value-1" checked class="chbx__input"><label for="name-13" class="chbx__label">Агеев Олег Константинович</label></div>
                      </div>
                    </div>
                    <div class="block-srch-res__body-all">
                      <div class="chbx"><input type="checkbox" name="name-1" id="name-14" value="value-1" class="chbx__input"><label for="name-14" class="chbx__label"></label></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="buy buy-step3 order-block__buy">
            <div class="buy__amount">
              <div class="amount">
                <div class="amount__item">Услуг выбрано:<span class="amount__item-col">3 шт.</span></div>
                <div class="amount__item">Общая стоимость:<span class="amount__item-end">14 000<span class="priceRu">руб.</span></span>
                </div>
              </div>
            </div>
            <div class="buy__push"><button class="btn btn--primary btn--l"><span class="btn__txt"> Оплатить</span></button></div>
            <div class="buy__desc">
              <div class="pay-type">
                <div class="pay-type__desc">Средства будут списаны, с указанной в ходе бронирования, платежной карты: 2700 **** **** 2333</div><a href="#" class="pay-type__change">Изменить способ оплаты</a></div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {{> page-footer }}
  </div>
  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
