<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">

        <section class="sectionBox sectionBox--scallopTop sectionBox--noPad sectionBox--mbNone">
          <div class="order-header order-header--page-2">
            <ol class="order-header__list">
              <li class="order-header__item">
                1. Ввод данных
              </li>
              <li class="order-header__item order-header__item--second">
                2. Проверка и оплата
              </li>
              <li class="order-header__item order-header__item--third">
                3. Готово
              </li>
            </ol>
          </div>
        </section>

        <section class="sectionBox order-block">
          <h1 class="order__title">Заезд</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="programm">

              <table class="programm__table order-table">

                <thead>
                  <tr>
                    <td class="programm__table-prgm">Описание заезда:</td>
                    <td class="programm__table-transport">Вид транспорта и маршрут:</td>
                    <td class="programm__table-arrive">Заезд в номер:</td>
                    <td class="programm__table-date-arrive">Даты заезда:</td>
                    <td class="programm__table-cost">Базовая стоимость:</td>
                  </tr>
                </thead>

                <tbody>
                  <tr class="programm__table-row">
                    <td>
                      <div class="programm-item programm__item">
                        <div class="programm-item__img-wrap">
                          <img src="img/program-item.jpg" alt="item" class="programm-item__img">
                        </div>
                        <div class="programm-item_desc">
                          <div class="programm-item__title">
                            Гостиница “Санрайз”
                          </div>
                          <div class="programm-item__text">
                            <span>3-х местный номер</span>Дополнительное описание номера, всяческие параметры заезда и т.д.
                          </div>
                        </div>
                      </div>
                    </td>

                    <td>
                      <div class="tranpsort program__transport">
                        <div class="tranpsort__title">
                          Самолет пассажирский
                        </div>
                        <div class="tranpsort__block">
                          <div class="tranpsort__from">
                            Москва,<span>аэропорт Домодедово</span>
                          </div>
                          <div class="tranpsort__to"
                          >Сочи,<span>аэропорт Сочинский</span>
                        </div>
                        </div>
                      </div>
                    </td>

                    <td>
                      <div class="date-block programm__date">
                        <div class="date-block__from">
                          22.07.2016 -
                        </div>
                        <div class="date-block__to">
                          12.00 <span>по Москве</span>
                        </div>
                      </div>
                      <a href="#" class="link-grey">Изменить дату</a>
                    </td>

                    <td>
                      <div class="date-block programm__date">
                        <div class="date-block__from">
                          22.07.2016 -
                        </div>
                        <div class="date-block__to">
                          28.06.2016
                        </div>
                      </div>
                      <a href="#" class="link-grey">Выбрать другие даты</a>
                    </td>

                    <td>
                      <div class="programm__icon">
                        <i data-ico="camp" class="ico ico--s">
                          <svg class="ico__svg"><use xlink:href="#camp"></use></svg>
                        </i>
                      </div>
                      <div class="price-small programm__price">
                        <div class="price-small__item price-small__item--cost cost-small">
                          <span class="price-small__inner">230 000<span class="priceRu">руб.</span></span>
                        </div>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section class="sectionBox order-block">
          <h1 class="order__title">Отдыхающие</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="list-table">
              <table class="list-table__table order-table">
                <thead>
                  <tr>
                    <td class="list-table__head-num">№</td>
                    <td class="list-table__head-fio">ФИО:</td>
                    <td class="list-table__head-pass">Удостоверяющий документ, номер - серия</td>
                    <td class="list-table__head-date-bitrh">Дата рождения</td>
                    <td class="list-table__head-age">Возраст</td>
                    <td class="list-table__head-edit"></td>
                    <td class="list-table__head-del"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="list-table-row">
                    <td class="list-table__body-num">1</td>
                    <td class="list-table__body-fio">Андрей Васильевич Хлебников</td>
                    <td class="list-table__body-pass">Паспорт, 1206 - 334555</td>
                    <td class="list-table__body-date-bitrh">22.07.1978</td>
                    <td class="list-table__body-age">41</td>
                    <td class="list-table__body-edit"><a href="#"><i data-ico="pen" class="ico ico--xs list-table__icon"><svg class="ico__svg"><use xlink:href="#pen"></use></svg></i></a></td>
                    <td class="list-table__body-del"><a href="#"><i data-ico="close" class="ico ico--xs list-table__icon"><svg class="ico__svg"><use xlink:href="#close"></use></svg></i></a></td>
                  </tr>
                  <tr class="list-table-row">
                    <td class="list-table__body-num">2</td>
                    <td class="list-table__body-fio">Андрей Васильевич Хлебников</td>
                    <td class="list-table__body-pass">Паспорт, 1206 - 334555</td>
                    <td class="list-table__body-date-bitrh">22.07.1978</td>
                    <td class="list-table__body-age">41</td>
                    <td class="list-table__body-edit"><a href="#"><i data-ico="pen" class="ico ico--xs list-table__icon"><svg class="ico__svg"><use xlink:href="#pen"></use></svg></i></a></td>
                    <td class="list-table__body-del"><a href="#"><i data-ico="close" class="ico ico--xs list-table__icon"><svg class="ico__svg"><use xlink:href="#close"></use></svg></i></a></td>
                  </tr>
                  <tr class="list-table-row">
                    <td class="list-table__body-num">3</td>
                    <td class="list-table__body-fio">Андрей Васильевич Хлебников</td>
                    <td class="list-table__body-pass">Паспорт, 1206 - 334555</td>
                    <td class="list-table__body-date-bitrh">22.07.1978</td>
                    <td class="list-table__body-age">41</td>
                    <td class="list-table__body-edit"><a href="#"><i data-ico="pen" class="ico ico--xs list-table__icon"><svg class="ico__svg"><use xlink:href="#pen"></use></svg></i></a></td>
                    <td class="list-table__body-del"><a href="#"><i data-ico="close" class="ico ico--xs list-table__icon"><svg class="ico__svg"><use xlink:href="#close"></use></svg></i></a></td>
                  </tr>
                  <tr class="list-table-row">
                    <td class="list-table__body-num">4</td>
                    <td class="list-table__body-fio">Андрей Васильевич Хлебников</td>
                    <td class="list-table__body-pass">Паспорт, 1206 - 334555</td>
                    <td class="list-table__body-date-bitrh">22.07.1978</td>
                    <td class="list-table__body-age">41</td>
                    <td class="list-table__body-edit"><a href="#"><i data-ico="pen" class="ico ico--xs list-table__icon"><svg class="ico__svg"><use xlink:href="#pen"></use></svg></i></a></td>
                    <td class="list-table__body-del"><a href="#"><i data-ico="close" class="ico ico--xs list-table__icon"><svg class="ico__svg"><use xlink:href="#close"></use></svg></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section class="sectionBox order-block">
          <h1 class="order__title">Необходимые документы</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="documents">
              <div class="documents-item"><a href="#"><i data-ico="icon-pdf" class="ico ico--xs documents-item__icon"><svg class="ico__svg"><use xlink:href="#icon-pdf"></use></svg></i><span class="documents-item__span">Обязательный документ</span></a></div>
              <div class="documents-item"><a href="#"><i data-ico="icon-doc" class="ico ico--xs documents-item__icon"><svg class="ico__svg"><use xlink:href="#icon-doc"></use></svg></i><span class="documents-item__span">Важная информация</span></a></div>
              <div class="documents-item"><a href="#"><i data-ico="icon-xls" class="ico ico--xs documents-item__icon"><svg class="ico__svg"><use xlink:href="#icon-xls"></use></svg></i><div class="documents-item__desc"><div class="documents-item__desc-inner"><span class="documents-item__span">Самый важный документ с названием в несколько строк от двенадцатого февраля две тысячи шестнадцатого года</span></div><div class="documents-item__desc-inner"><span class="documents-item__span">Согласно постановлению президента Российской Федерации.</span></div></div></a></div>
            </div>
          </div>
        </section>

        <section class="sectionBox order-block">
          <h1 class="order__title">Лагерь</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="programm">
              <table class="programm__table order-table">
                <thead>
                  <tr>
                    <td class="programm__table-prgm">Описание лагеря</td>
                    <td class="programm__table-condish">Условия</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="programm__table-row">
                    <td>
                      <div class="programm-item programm__item">
                        <div class="programm-item__img-wrap"><img src="img/program-item.jpg" alt="item" class="programm-item__img"></div>
                        <div class="programm-item_desc">
                          <div class="programm-item__title programm-item__title--under">Лагерь “Артек”</div>
                          <div class="programm-item__text">Созданный в 1925 году небольшой летний палаточный лагерь МДЦ «Артек» за прошедшие девять десятилетий превратился в страну детства – комплекс из 10 детских лагерей с развитой инфраструктурой, собственными образовательными технологиями
                            и культурными традициями.</div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="description programm__description">
                        <ul class="description__list">
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Расположение:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">Россия, Москва, пос. Нахабино, ул. Комсомольская, 42</li>
                              </ul>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Тип лагеря:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">Санитарно-лечебный лагерь</li>
                              </ul>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Инфраструктура:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">Описание инфраструктуры</li>
                              </ul>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Удобства:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">Бассейн, Кинозал, Библиотека, Спортзал, Бильярд, Боулинг</li>
                              </ul>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Питание:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">5-ти разовое питание, шведский стол</li>
                              </ul>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Безопасность:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">Более 50-ти охранников, система видеонаблюдения, сигнализация</li>
                              </ul>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Организация:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">ООО "Матрешка"</li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section class="sectionBox order-block">
          <h1 class="order__title">Программа</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="programm">
              <table class="programm__table order-table">
                <thead>
                  <tr>
                    <td class="programm__table-prgm">Описание программы</td>
                    <td class="programm__table-condish">Задачи</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="programm__table-row">
                    <td>
                      <div class="programm-item programm__item">
                        <div class="programm-item__img-wrap"><img src="img/program-item.jpg" alt="item" class="programm-item__img"></div>
                        <div class="programm-item_desc">
                          <div class="programm-item__title programm-item__title--under">Экспресс-программа обучения английскому языку</div>
                          <div class="programm-item__text">«Артек» расположен в Крыму, в одном из красивейших мест планеты – на побережье Черного моря, в 12 км от знаменитого южнобережного курорта - города Ялта,в поселке городского типа Гурзуф.</div><a href="#" class="link-grey programm-item__link">Изменить программу</a></div>
                      </div>
                    </td>
                    <td>
                      <div class="description programm__description">
                        <ul class="description__list">
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Задачи программы:</div>
                              <ol class="description-item__list">
                                <li class="description-item__list-item">Развитие памяти</li>
                                <li class="description-item__list-item">Развитие навыков межличностного общения</li>
                                <li class="description-item__list-item">Развитие внимательности</li>
                              </ol>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Методика обучения:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">Описание методики обучения.</li>
                              </ul>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Основная программа:</div>
                              <ol class="description-item__list">
                                <li class="description-item__list-item">Вводное занятие, 3 часа.</li>
                                <li class="description-item__list-item">Экспресс-занятие, 1.5 часа.</li>
                                <li class="description-item__list-item">Продвинутое занятие, 5 часов.</li>
                              </ol>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Кружки и мастер классы:</div>
                              <ol class="description-item__list">
                                <li class="description-item__list-item">Разговорный мастер-класс, 2 часа.</li>
                                <li class="description-item__list-item">Кружок с углубленным изучением английского языка, 30 часов.</li>
                              </ol>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Распорядок дня:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">7:00 Подъем</li>
                                <li class="description-item__list-item">7:10-8:00 Утренняя зарядка</li>
                                <li class="description-item__list-item">8:00-8:30 Завтрак</li>
                                <li class="description-item__list-item">10:00-12:00 Утренние занятия</li>
                                <li class="description-item__list-item">14:00-14:30 Обед</li>
                              </ul>
                            </div>
                          </li>
                          <li class="description__list-item">
                            <div class="description-item">
                              <div class="description-item__title">Педагоги:</div>
                              <ul class="description-item__list">
                                <li class="description-item__list-item">20-й квалификационный разряд. Соотношение педагог/ребенок 0.5</li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section class="sectionBox sectionBox--bonus">
          <div class="buy buy-step2">

            <div class="buy__back">
              <button class="btn btn--success btn--l">
                <span class="btn__txt">Назад</span>
              </button>
            </div>

            <!-- <div class="buy__price">
              <div class="block-price"> -->

                <div class="base-price__wrap">
                  <div class="base-price">
                    <span class="base-price__label">Стоимость путёвки</span>
                    <span class="base-price__amount">56 000</span><span class="priceRu">руб.</span>
                  </div>

                  <div class="form">
                      <div class="was-a-form">

                        <div class="form__items-wrap">
                          <div class="form__item has-error">

                            <div class="form-item__label">
                              <label for="bonus-paid">Оплата баллами</label>
                            </div>

                            <div class="form-item__elem">
                              <input type="text" id="bonus-paid" placeholder="" class="form-ctrl">
                              <div class="helper">Тестовое сообщение об ошибке</div>
                            </div>

                            <div class="form-item__label form-item__label--small">
                              <!-- <label for="bonus-paid">Баланс 23 000 баллов</label> -->
                            </div>

                          </div>
                        </div>

                      </div>
                  </div>
                </div>


                <div class="buy__price">
                  <div class="block-price">
                    <div class="block-price__title">
                      Итоговая стоимость
                    </div>
                    <div class="block-price__price">
                      <div class="price">
                        39 000
                        <span class="priceRu">руб.</span>
                      </div>
                    </div>
                  </div>
                </div>

              <!-- </div>
            </div> -->

            <div class="buy__offer">
              <div class="chbx">
                <input type="checkbox" name="name-1" id="name-1" value="value-1" class="chbx__input">
                <label for="name-1" class="chbx__label">
                  С<a href="#" class="udrline-dashed"> договором</a> оферты согласен
                </label>
              </div>
            </div>

            <div class="buy__push">
              <button class="btn btn--primary btn--l">
                <span class="btn__txt">Оплатить</span>
              </button>
            </div>

          </div>
        </section>

      </div>
    </main>
    {{> page-footer }}
  </div>
  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
