<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">

        <section class="sectionBox sectionBox--scallopTop sectionBox--noPad sectionBox--mbNone">
          <div class="order-header">
            <ol class="order-header__list">
              <li class="order-header__item">1. Ввод данных</li>
              <li class="order-header__item order-header__item--second">2. Проверка и оплата</li>
              <li class="order-header__item order-header__item--third">3. Готово</li>
            </ol>
          </div>
        </section>

        <section class="sectionBox order-block">
          <h1 class="order__title">Программа</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="programm">
              <table class="programm__table order-table">

                <thead>
                  <tr>
                    <td class="programm__table-prgm">Программа:</td>
                    <td class="programm__table-place">Место проведения:</td>
                    <td class="programm__table-date">Даты проведения:</td>
                    <td class="programm__table-cost">Стоимость:</td>
                  </tr>
                </thead>

                <tbody>
                  <tr class="programm__table-row">

                    <td>
                      <div class="programm-item programm__item">
                        <div class="programm-item__img-wrap"><img src="img/program-item.jpg" alt="item" class="programm-item__img"></div>
                        <div class="programm-item_desc">
                          <div class="programm-item__title">Экспресс-программа обучения английскому языку</div><a href="#" class="link-grey programm-item__link">Выбрать другую программу</a></div>
                      </div>
                    </td>

                    <td>
                      <div class="programm__icon"><i data-ico="camp" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#camp"></use></svg></i></div>
                      <div class="camp-item programm__camp">
                        <div class="camp-item__name">Лагерь “Артек”</div>
                        <div class="camp-item__address">Россия, Сочи, курорт “Сочинский”, ул. Октябрьская, 1</div>
                      </div>
                    </td>

                    <td>
                      <div class="date-block programm__date">
                        <div class="date-block__from">22.07.2016-</div>
                        <div class="date-block__to">28.06.2016</div>
                      </div><a href="#" class="link-grey">Выбрать другую дату</a>
                    </td>

                    <td>
                      <div class="programm__icon"><i data-ico="camp" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#camp"></use></svg></i></div>
                      <div class="price-small programm__price">
                        <div class="price-small__item price-small__item--sale sale-small"><span class="price-small__inner">250 000</span></div>
                        <div class="price-small__item price-small__item--cost cost-small"><span class="price-small__inner">230 000<span class="priceRu">руб.</span></span>
                        </div>
                      </div>
                    </td>

                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </section>
        <section class="sectionBox order-block order-block--inform">
          <h1 class="order__title">Контактные данные заявителя<span class="order-block__inform">Данные используются при составлении договора оферты</span></h1>
          <div class="form">
            <form action="#" method="post" class="form__form">
              <div class="form__data">
                <div class="form__title">Данные</div>
                <div class="form__items-wrap">
                  <div class="form__item has-error">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label for="last-name">Фамилия</label></div>
                      <div class="form-item__elem">
                        <input type="text" id="last-name" class="form-ctrl">
                        <div class="helper">Тестовое сообщение об ошибке</div>
                      </div>
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label for="name">Имя</label></div>
                      <div class="form-item__elem"><input type="text" id="name" class="form-ctrl"></div>
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label for="patronymic">Отчество</label></div>
                      <div class="form-item__elem"><input type="text" id="patronymic" class="form-ctrl"></div>
                    </div>
                    <div class="chbx"><input type="checkbox" name="name-1" id="name-1" value="value-1" class="chbx__input"><label for="name-1" class="chbx__label">Нет отчества</label></div>
                  </div>
                  <div class="form__item form__item--radio-chbx">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label>Пол:</label></div>
                      <div class="form-item__elem form-item__elem--radio-chbx-inline">
                        <div class="radio"><input type="radio" name="radio" id="radio-1" value="radio-1" checked class="radio__input"><label for="radio-1" class="radio__label">Мужской</label></div>
                        <div class="radio"><input type="radio" name="radio" id="radio-2" value="radio-2" class="radio__input"><label for="radio-2" class="radio__label">Женский</label></div>
                      </div>
                    </div>
                  </div>
                  <div class="form__item form__item--s">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label>Дата рождения</label></div>
                      <div class="form-item__elem">
                        <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form__item form__item--s">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label for="tel">Телефон</label></div>
                      <div class="form-item__elem"><input type="tel" id="tel" placeholder="+7 (___) ___-__-__" class="form-ctrl"></div>
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label for="email">Эл. почта</label></div>
                      <div class="form-item__elem"><input type="text" id="email" class="form-ctrl"></div>
                    </div>
                    <div class="capch">На этот адрес будет отправляться информация <br> о бронировании. Адрес будет использован при регистрации</div>
                  </div>
                </div>
              </div>
              <div class="form__docs">
                <div class="form__title">Тип документа</div>
                <div class="form__items-wrap">
                  <div class="form__item">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label>Тип документа</label></div>
                      <div class="form-item__elem">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">Паспорт гражданина РФ</div><select placeholder="Паспорт гражданина РФ" class="form-ctrl"><option>Права</option><option>Справка студента</option><option>Свидетльство</option></select></div>
                      </div>
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__item-inner">
                      <div class="form__item">
                        <div class="form__item-inner">
                          <div class="form-item__label"><label for="num">Номер</label></div>
                          <div class="form-item__elem"><input type="text" id="num" class="form-ctrl"></div>
                        </div>
                      </div>
                      <div class="form__item">
                        <div class="form__item-inner">
                          <div class="form-item__label"><label for="series">Серия</label></div>
                          <div class="form-item__elem"><input type="text" id="series" class="form-ctrl"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form__item form__item--s">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label>Когда выдан</label></div>
                      <div class="form-item__elem">
                        <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form__item form__item--l form__item--vat">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label for="who">Кем выдан</label></div>
                      <div class="form-item__elem"><textarea id="who" class="form-ctrl"></textarea></div>
                    </div>
                  </div>
                  <div class="form__item form__item--l">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label for="place">Место рождения</label></div>
                      <div class="form-item__elem"><input id="place" type="text" name="place" class="form-ctrl form-ctrl"></div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <section class="sectionBox order-block order-block--inform">
          <h1 class="order__title">Данные платежной карты</h1>
          <div class="form">
            <form action="#" method="post" class="form__form">
              <div class="form__data">
                <div class="form__items-wrap">
                  <div class="form__item">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label>Тип карты</label></div>
                      <div class="form-item__elem">
                        <div class="form-grp">
                          <div class="form-label form-label--hid">Visa</div><select placeholder="Visa" class="form-ctrl"><option>Visa</option><option>Master cart<option>Visa electron</option></option></select></div>
                      </div>
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label for="cart-num">Номер карты</label></div>
                      <div class="form-item__elem"><input type="text" id="cart-num" class="form-ctrl"></div>
                    </div>
                    <div class="chbx"><input type="checkbox" name="speed-buy" id="speed-buy" value="value-1" class="chbx__input"><label for="speed-buy" class="chbx__label">Покупка в 1 клик</label></div>
                  </div>
                </div>
              </div>
              <div class="form__docs">
                <div class="form__items-wrap">
                  <div class="form__item form__item--s form__item--big-label">
                    <div class="form__item-inner">
                      <div class="form-item__label"><label>Дата окончания действия</label></div>
                      <div class="form-item__elem">
                        <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form__item">
                    <div class="form__item-inner">
                      <div class="form__item">
                        <div class="form__item-inner">
                          <div class="form-item__label"><label for="cv">CVC-код</label></div>
                          <div class="form-item__elem"><input type="text" id="cv" class="form-ctrl"></div>
                        </div>
                      </div>
                      <div class="form__item"></div>
                    </div>
                    <div class="capch">Код CVV2 можно найти на обратной стороне карты VISA, это последние 3 цифры из семизначного числа рядом с подписью держателя карты. Как правило данные цифры визуально отделены от всего числа</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
        <section class="sectionBox order-block">
          <h1 class="order__title">Программы и заезды</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="order-child order-child--active">
              <div data-close-icon="#minus" data-open-icon="#plus" class="order-child__title"><a href="#" class="order-child__link"><i data-ico="minus" class="ico ico--xs order-child__icon"><svg class="ico__svg"><use xlink:href="#minus"></use></svg></i></a>Первый ребёнок</div>
              <div class="order-child__inner">
                <div class="form">
                  <form action="#" method="post" class="form__form">
                    <div class="form__data">
                      <div class="form__title">Данные</div>
                      <div class="form__items-wrap">
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="last-name1">Фамилия</label></div>
                            <div class="form-item__elem"><input type="text" id="last-name1" class="form-ctrl"></div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="name1">Имя</label></div>
                            <div class="form-item__elem"><input type="text" id="name1" class="form-ctrl"></div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="patronymic1">Отчество</label></div>
                            <div class="form-item__elem"><input type="text" id="patronymic1" class="form-ctrl"></div>
                          </div>
                          <div class="chbx"><input type="checkbox" name="name-1" id="name-11" value="value-11" class="chbx__input"><label for="name-11" class="chbx__label">Нет отчества</label></div>
                        </div>
                        <div class="form__item form__item--radio-chbx">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Пол:</label></div>
                            <div class="form-item__elem form-item__elem--radio-chbx-inline">
                              <div class="radio"><input type="radio" name="radio" id="radio-11" value="radio-1" checked class="radio__input"><label for="radio-11" class="radio__label">Мужской</label></div>
                              <div class="radio"><input type="radio" name="radio" id="radio-21" value="radio-2" class="radio__input"><label for="radio-21" class="radio__label">Женский</label></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--s">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Дата рождения</label></div>
                            <div class="form-item__elem">
                              <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__docs">
                      <div class="form__title">Удостоверяющий документ</div>
                      <div class="form__items-wrap">
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Тип документа</label></div>
                            <div class="form-item__elem">
                              <div class="form-grp">
                                <div class="form-label form-label--hid">Паспорт гражданина РФ</div><select placeholder="Паспорт гражданина РФ" class="form-ctrl"><option>Права</option><option>Справка студента</option><option>Свидетльство</option></select></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label"><label for="num1">Номер</label></div>
                                <div class="form-item__elem"><input type="text" id="num1" class="form-ctrl"></div>
                              </div>
                            </div>
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label"><label for="series1">Серия</label></div>
                                <div class="form-item__elem"><input type="text" id="series1" class="form-ctrl"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--s">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Когда выдан</label></div>
                            <div class="form-item__elem">
                              <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--l form__item--vat">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="who1">Кем выданн</label></div>
                            <div class="form-item__elem"><textarea id="who1" class="form-ctrl"></textarea></div>
                          </div>
                        </div>
                        <div class="form__item form__item--l">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="place1">Место рождения</label></div>
                            <div class="form-item__elem"><input id="place1" type="text" name="place" class="form-ctrl form-ctrl"></div>
                          </div>
                        </div>
                      </div><button type="submit" class="btn btn--secondary btn--l form__btn"><span class="btn__txt">Сохранить</span></button></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="order-child">
              <div data-close-icon="#minus" data-open-icon="#plus" class="order-child__title"><a href="#" class="order-child__link"><i data-ico="plus" class="ico ico--xs order-child__icon"><svg class="ico__svg"><use xlink:href="#plus"></use></svg></i></a>Второй ребёнок</div>
              <div class="order-child__inner">
                <div class="form">
                  <form action="#" method="post" class="form__form">
                    <div class="form__data">
                      <div class="form__title">Данные</div>
                      <div class="form__items-wrap">
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="last-name12">Фамилия</label></div>
                            <div class="form-item__elem"><input type="text" id="last-name12" class="form-ctrl"></div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="name12">Имя</label></div>
                            <div class="form-item__elem"><input type="text" id="name12" class="form-ctrl"></div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="patronymic12">Отчество</label></div>
                            <div class="form-item__elem"><input type="text" id="patronymic12" class="form-ctrl"></div>
                          </div>
                          <div class="chbx"><input type="checkbox" name="name-1" id="name-112" value="value-11" class="chbx__input"><label for="name-112" class="chbx__label">Нет отчества</label></div>
                        </div>
                        <div class="form__item form__item--radio-chbx">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Пол:</label></div>
                            <div class="form-item__elem form-item__elem--radio-chbx-inline">
                              <div class="radio"><input type="radio" name="radio" id="radio-112" value="radio-1" checked class="radio__input"><label for="radio-112" class="radio__label">Мужской</label></div>
                              <div class="radio"><input type="radio" name="radio" id="radio-212" value="radio-2" class="radio__input"><label for="radio-212" class="radio__label">Женский</label></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--s">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Дата рождения</label></div>
                            <div class="form-item__elem">
                              <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__docs">
                      <div class="form__title">Удостоверяющий документ</div>
                      <div class="form__items-wrap">
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Тип документа</label></div>
                            <div class="form-item__elem">
                              <div class="form-grp">
                                <div class="form-label form-label--hid">Паспорт гражданина РФ</div><select placeholder="Паспорт гражданина РФ" class="form-ctrl"><option>Права</option><option>Справка студента</option><option>Свидетльство</option></select></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label"><label for="num12">Номер</label></div>
                                <div class="form-item__elem"><input type="text" id="num12" class="form-ctrl"></div>
                              </div>
                            </div>
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label"><label for="series12">Серия</label></div>
                                <div class="form-item__elem"><input type="text" id="series12" class="form-ctrl"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--s">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Когда выдан</label></div>
                            <div class="form-item__elem">
                              <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--l form__item--vat">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="who12">Кем выданн</label></div>
                            <div class="form-item__elem"><textarea id="who12" class="form-ctrl"></textarea></div>
                          </div>
                        </div>
                        <div class="form__item form__item--l">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="place12">Место рождения</label></div>
                            <div class="form-item__elem"><input id="place12" type="text" name="place" class="form-ctrl form-ctrl"></div>
                          </div>
                        </div>
                      </div><button type="submit" class="btn btn--secondary btn--l form__btn"><span class="btn__txt">Сохранить</span></button></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="order-child">
              <div data-close-icon="#minus" data-open-icon="#plus" class="order-child__title"><a href="#" class="order-child__link"><i data-ico="plus" class="ico ico--xs order-child__icon"><svg class="ico__svg"><use xlink:href="#plus"></use></svg></i></a>Третий ребёнок</div>
              <div class="order-child__inner">
                <div class="form">
                  <form action="#" method="post" class="form__form">
                    <div class="form__data">
                      <div class="form__title">Данные</div>
                      <div class="form__items-wrap">
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="last-name13">Фамилия</label></div>
                            <div class="form-item__elem"><input type="text" id="last-name13" class="form-ctrl"></div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="name13">Имя</label></div>
                            <div class="form-item__elem"><input type="text" id="name13" class="form-ctrl"></div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="patronymic13">Отчество</label></div>
                            <div class="form-item__elem"><input type="text" id="patronymic13" class="form-ctrl"></div>
                          </div>
                          <div class="chbx"><input type="checkbox" name="name-1" id="name-113" value="value-11" class="chbx__input"><label for="name-113" class="chbx__label">Нет отчества</label></div>
                        </div>
                        <div class="form__item form__item--radio-chbx">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Пол:</label></div>
                            <div class="form-item__elem form-item__elem--radio-chbx-inline">
                              <div class="radio"><input type="radio" name="radio" id="radio-113" value="radio-1" checked class="radio__input"><label for="radio-113" class="radio__label">Мужской</label></div>
                              <div class="radio"><input type="radio" name="radio" id="radio-213" value="radio-2" class="radio__input"><label for="radio-213" class="radio__label">Женский</label></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--s">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Дата рождения</label></div>
                            <div class="form-item__elem">
                              <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__docs">
                      <div class="form__title">Удостоверяющий документ</div>
                      <div class="form__items-wrap">
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Тип документа</label></div>
                            <div class="form-item__elem">
                              <div class="form-grp">
                                <div class="form-label form-label--hid">Паспорт гражданина РФ</div><select placeholder="Паспорт гражданина РФ" class="form-ctrl"><option>Права</option><option>Справка студента</option><option>Свидетльство</option></select></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__item-inner">
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label"><label for="num13">Номер</label></div>
                                <div class="form-item__elem"><input type="text" id="num13" class="form-ctrl"></div>
                              </div>
                            </div>
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label"><label for="series13">Серия</label></div>
                                <div class="form-item__elem"><input type="text" id="series13" class="form-ctrl"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--s">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label>Когда выдан</label></div>
                            <div class="form-item__elem">
                              <div class="datepicker"><input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span></div>
                            </div>
                          </div>
                        </div>
                        <div class="form__item form__item--l form__item--vat">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="who13">Кем выданн</label></div>
                            <div class="form-item__elem"><textarea id="who13" class="form-ctrl"></textarea></div>
                          </div>
                        </div>
                        <div class="form__item form__item--l">
                          <div class="form__item-inner">
                            <div class="form-item__label"><label for="place13">Место рождения</label></div>
                            <div class="form-item__elem"><input id="place13" type="text" name="place" class="form-ctrl form-ctrl"></div>
                          </div>
                        </div>
                      </div><button type="submit" class="btn btn--secondary btn--l form__btn"><span class="btn__txt">Сохранить</span></button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="sectionBox buy-step1">
        <!-- <section class="sectionBox buy-step1 buy-step1--bonus"> -->
          <div class="buy buy-step1">

            <!-- <div class="step1-bonus-amount">
              <div class="step1-bonus-amount__title">Текущий бонусный баланс</div>
              <div class="step1-bonus-amount__amount">1 800 баллов</div>
            </div> -->

            <div class="buy__price">
              <div class="block-price">
                <div class="block-price__title">Стоимость путевки:</div>
                <div class="block-price__price">
                  <div class="price">
                    230 000
                    <span class="priceRu">руб.</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="step1-use-bonus">
              <div class="form__item">
                <div class="form-item__label">
                  <label for="useBonuse">Использовать бонусы</label>
                </div>
              </div>
              <div class="form__item">
                <div class="form-item__elem">
                  <input type="text" id="useBonuse" placeholder="Количество" class="form-ctrl">
                </div>
              </div>
            </div> -->

            <div class="buy__push">
              <button class="btn btn--success btn--l">
                <span class="btn__txt">Продолжить</span>
              </button>
            </div>

          </div>
        </section>

      </div>
    </main>
    {{> page-footer }}
  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}

</body>

</html>
