<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">

        <div class="sectionBox sectionBox--scallopTop prepare">

          <div class="prepare__header">
            <h1>Подготовка</h1>
          </div>

          <div class="prepare__subtitle">
            <img src="img/toys-in-backet-265x195.png" alt="" class="prepare-header-pix">
            <h2>
              Собираем ребенка в лагерь. Пошаговое руководство для родителей, которые боятся что-либо упустить.
            </h2>
            <h3>
              Каждый сезон лагеря сталкиваются с тем, что родители начинают звонить в администрацию с многочисленными вопросами о том, что нужно взять из вещей. Именно поэтому у любого лагеря есть определенный список рекомендаций, который можно или найти на сайте организации, или получить после оформления путевки. Этот список должен стать основой для Вашей подготовки в лагерь.
            </h3>
          </div>

            <div class="prepare__row">

                <div class="prepare-block">
                  <img src="img/icon-prepare-16.png" alt="">
                  <p>
                    Четко следуйте инструкции по сбору вещей. Обратите внимание на пункты, что можно взять с собой, а что – нельзя. Как правило, это касается скоропортящихся продуктов, отдельных видов одежды, ювелирных украшений и дорогих гаджетов.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-15.png" alt="">
                  <p>
                    Составьте свой список, а именно – перечень всех вещей, которые ребенок берет с собой. Это поможет ему сориентироваться во время отъезда и ничего не забыть
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-03.png" alt="">
                  <p>
                    Чтобы в поездке не перепутать вещи, на самых ценных из них укажите инициалы ребенка. Детям до 9 лет обязательно стоит нанести на одежду индивидуальные метки.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-14.png" alt="">
                  <p>
                    При выборе одежды ориентируйтесь на сведения о погоде. Обязательно положите немного теплых вещей, даже если Вам кажется, что прогноз очень хороший.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-13.png" alt="">
                  <p>
                    Учитывайте место расположения лагеря и особенности его программы (если лагерь расположен в лесу, купите средства против насекомых; если Ваш ребенок будет часто купаться, положите несколько купальников, чтобы они успели высохнуть и т.д.).
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-02.png" alt="">
                  <p>
                    Учитывайте особенности самого лагеря (если лагерь оздоровительный, выясните, какими могут быть дополнительные требования санатория: специальная диета, одежда для физиопроцедур и т.п.).
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-12.png" alt="">
                  <p>
                    Это может быть указано в списке, но еще раз настоятельно советуем Вам собрать мини-аптечку со всеми необходимыми медикаментами, включая средства первой помощи, таблетки (как минимум, активированный уголь) и лейкопластыри.
                    Также рекомендуем купить влажные салфетки, одноразовые чашки и пакеты для мусора.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-11.png" alt="">
                  <p>
                    Не забудьте комплект документов, которые может запросить лагерь. Это могут быть – справка о здоровье, выписка о прививках, копии свидетельства рождения/паспорта и страхового медицинского полиса. Проверьте информацию о документах на сайте организации.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-04.png" alt="">
                  <p>
                    Не берите очень дорогие вещи, с которыми Вам будет жалко расстаться, особенно это касается техники. Подумайте о том, что, чем меньше гаджетов возьмет Ваш ребенок, тем больше времени он будет проводить на воздухе, общаясь с другими детьми. Лучше всего взять с собой старенький мобильник, который долго держит зарядку, потому что в детских комнатах не всегда есть розетки.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-10.png" alt="">
                  <p>
                    Собирайте сумку вместе с ребенком, чтобы он знал, что где лежит и в любой момент мог самостоятельно найти нужную вещь.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-09.png" alt="">
                  <p>
                    Проверьте состояние сумки, замки и молнию. Если нужно, укрепите ручки. Не забудьте подписать багаж.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-06.png" alt="">
                  <p>
                    Сообщите вожатым всю важную информацию о ребенке. Вспомните, есть ли у него на что-то аллергия, расскажите о его хронических заболеваниях и разрешенных физических нагрузках.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-01.png" alt="">
                  <p>
                    Проведите ребенку инструктаж, особенно если это его первая самостоятельная поездка. Он должен быть готов к тому, чтобы следовать установленному распорядку дня, уметь ухаживать за собой, следить за чистотой и порядком.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-08.png" alt="">
                  <p>
                    Объясните ребенку, как ему следует себя вести в лагере и чего делать категорически нельзя. В этом Вам поможет информация, предоставленная на его сайте. Убедитесь, что Ваш ребенок понимает, как важно следовать установленным правилам, слушаться вожатых и относиться к людям с уважением. За нарушение общественного порядка, драки, кражу вещей и другие формы неприличного поведения администрация лагеря имеет право отчислить ребенка.
                  </p>
                </div>

                <div class="prepare-block">
                  <img src="img/icon-prepare-07.png" alt="">
                  <p>
                    Если Вы боитесь отпускать ребенка в первое путешествие одного, предложите ему поехать вместе с одним из его друзей или одноклассников. Так ему будет легче освоиться в новой среде. Не переживайте, если в течение нескольких дней ребенок будет звонить и жаловаться, что ему не нравится в лагере. Обычно на адаптацию детям нужно какое-то время, особенно при первой поездке. Однако, если все-таки такая ситуация продолжает иметь место, поговорите с ребенком, чтобы все выяснить. В конце концов, Вы отправляли его в поездку, чтобы он вернулся из нее счастливым.
                  </p>
                </div>

            </div>
        </div>

      </div>
    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
