<!DOCTYPE html>
<html lang="ru" class="no-js">
{{> head }}
<body class="page--index page-no-mobile">
  <div class="page-wrap">
    {{> header-inner }}
    <main class="page-main">
      <div class="inner-block">

        <section class="sectionBox sectionBox--pad20 sectionBox--scallopTop">
          <div class="programm-header">
            <!-- <div class="programm-header__list"> -->

              <div class="programm-header__item">
                <div class="programm-header__item-inner">
                  <div class="programm-header__age-limit">
                    <span class="age-low">10</span>
                    <span class="age-dash">-</span>
                    <span class="age-high">12</span>
                  </div>
                </div>
                <div class="programm-header__item-inner">
                  <span>Рекомендуемый <br>возраст ребёнка</span>
                </div>
              </div>

              <div class="programm-header__item">
                <div class="programm-header__item-inner">
                  <img src="img/camp-type-language.png" class="camp-card__header-type-img">
                </div>
                <div class="programm-header__item-inner">
                  <div class="programm-type">Языковая программа</div>
                  <div class="programm-specialisation">Английский язык</div>
                </div>
              </div>

              <div class="programm-header__item">
                <div class="programm-header__item-inner">
                  <div>Организатор</div>
                  <div class="programm-organisator"><a href="#">ООО "Матрешка"</a></div>
                </div>
              </div>

              <div class="social-netw">
                <a href="#" class="social-netw__vk"><img src="img/soc-icon-vk.svg" alt="vk"></a>
                <a href="#" class="social-netw__rb"><img src="img/soc-icon-fb.svg" alt="fb"></a>
                <a href="#" class="social-netw__ok"><img src="img/soc-icon-ok.svg" alt="ok"></a>
                <a href="#" class="social-netw__tw"><img src="img/soc-icon-tw.svg" alt="tw"></a>
              </div>

              <div class="programm-rating">
                <div class="programm-rating__icon">
                  <img src="img/smile-face.svg">
                </div>
                <div class="programm-rating__value">
                  <div class="programm-rating__stars rateit svg" data-rateit-value="3.7" data-rateit-readonly="true" data-rateit-starwidth="14" data-rateit-starheight="14"></div>
                  <span class="programm-rating__comments"><a href="#">12 отзывов</a></span>
                </div>
              </div>
            <!-- </div> -->
          </div>

          <h1 class="programm-title">Название программы «Научный лагерь» и проверка на очень длинное название программы</h1>

          <nav class="camp-card__nav camp-card__nav--progamm2">
            <a href="#programm" class="camp-card__nav-item"><span>Программа</span></a>
            <a href="#camps" class="camp-card__nav-item"><span>Доступые лагеря и заезды</span></a>
            <a href="#docs" class="camp-card__nav-item"><span>Документы</span></a>
            <a href="#comments" class="camp-card__nav-item camp-card__nav-item--comments"><span>Отзывы</span><span class="badge">12</span></a>
          </nav>

          <div class="slider-gallery__body">
            <div data-nav="false" data-navposition="bottom" data-thumbborderwidth="2" data-thumbmargin="10" data-thumbwidth="40" data-thumbheight="40" data-arrows="always" data-width="1200" data-height="540" data-fit="cover" data-allowfullscreen="false" data-shadows="false" data-loop="true" class="fotorama">
            <a src="img/programm-carousel-01.jpg"></a>
            <a src="img/programm-carousel-02.jpg"></a>
            <a src="img/programm-carousel-03.jpg"></a>
            </div>
          </div>
        </section>

        <section id="programm" class="sectionBox sectionBox--pad20 programm-section">
          <div class="h1">Программа</div>
          <div class="block-info">
            <div class="section-tabs">
              <div class="camp-card__fullinfo">
                <div class="camp-card__fullinfo-tabs">
                  <a href="#programm-decription" class="camp-card__fullinfo-button camp-card__fullinfo-button--active">
                    <span>Описание</span>
                  </a>
                  <a href="#methods" class="camp-card__fullinfo-button">
                    <span>Методика</span>
                  </a>
                  <a href="#skills" class="camp-card__fullinfo-button">
                    <span>Развиваемые навыки</span>
                  </a>
                  <a href="#schedule" class="camp-card__fullinfo-button">
                    <span>Распорядок дня</span>
                  </a>
                </div>
                <div class="camp-card__fullinfo-contents">
                  <div class="block-info__inner">

                    <div id="programm-decription" class="camp-card__fullinfo-content programm-decription  camp-card__fullinfo-content--active">

                      {{> program-chart }}

                      <div class="programm-decription">
                        <h4>Описание программы «Научный лагерь»</h4>
                        <h3>Лагерь «Лингвамания» подарит детям незабываемый отдых, массу ярких впечатлений и новый уровень английского языка!</h3>
                        <p>Комфортабельное размещение, питание по системе «шведский стол», наличие собственного большого парка развлечений (спеклайн, самокатинг, батуты, водная горка, водный зорб, веревочный парк многое другое), посещение аквапарка и бассейна, а также каждый день новые интересные МЕГАприятия (фестиваль красок «Холи», Игра «MINECRAFT», «ночная охота» и много других мероприятий) — все это сделает лагерь «Лингвамания» любимым лагерем ребенка!</p>
                        <p>За каждыми 8–10 детьми прикреплен квалифицированный вожатый. Все вожатые в лагере «Лингвамания» имеют высшее педагогическое, психологическое или спортивное образование. Носители языка, преподающие в лагере, родились и получили образование в англоязычных странах, что говорит о высоком уровне знания языка!</p>
                        <p>Для обеспечения дружественной атмосферы в лагере всегда дежурит детский психолог! Лагерь «Лингвамания» — лучший лингвистический лагерь в России!</p>
                      </div>
                    </div>

                    <div id="methods" class="camp-card__fullinfo-content methods">
                      <p>Методика</p>
                    </div>

                    <div id="skills" class="camp-card__fullinfo-content skills">

                      {{> program-chart }}

                      <div>
                        <h4>Интеллект</h4>
                        <h3>Теоретические занятия в научной лаборатории</h3>
                      </div>
                      <div class="camp-card__table-devider"></div>
                      <div>
                        <h4>Логическое мышление</h4>
                        <h3>Применение теоретических научных знаний на практике, развитие навыков использования науки для решения бытовых проблем</h3>
                      </div>
                      <div class="camp-card__table-devider"></div>
                      <div>
                        <h4>Эрудиция</h4>
                        <h3>Расширение кругозора и развитие любознательности</h3>
                      </div>
                    </div>

                    <div id="schedule" class="camp-card__fullinfo-content schedule">

                          <div class="camp-card__tabs">

                            <div class="camp-card__tab">
                              <div class="camp-card__tab-title">
                                <div class="camp-card__tab-icon"></div>
                                <span>Оздоровительный детский лагерь «Komandor camp» (Рязань)</span>
                              </div>
                              <div class="camp-card__tab-cont">
                                <div class="camp-card__tab-cont-box">
                                  <p>Навыки рисования, создания анимации, режиссуры мультипликационных фильмов.</p>
                                </div>
                              </div>
                            </div>

                            <div class="camp-card__tab open">
                              <div class="camp-card__tab-title">
                                <div class="camp-card__tab-icon"></div>
                                <span>Детский санаторно-оздоровительный центр «Дружба»</span>
                              </div>
                              <div class="camp-card__tab-cont">
                                <div class="camp-card__tab-cont-box  camp-card__tab-cont-box--pad0">

                                  <div class="schedule-header">
                                    <div data-programScheduleID="programSchedule_01" class="scheduled-programm-title">
                                      <a href="#">Осенние Каникулы «Восточная Смена»</a>
                                    </div>

                                    <div data-programScheduleID="programSchedule_02" class="scheduled-programm-title">
                                      <a href="#">Лето 2016 «Астраханские зори» (Каникулы 15)</a>
                                    </div>

                                    <div data-programScheduleID="programSchedule_03" class="scheduled-programm-title">
                                      <a href="#">Чудотворы</a>
                                    </div>
                                  </div>

                                  {{> programm-schedule_01 }}
                                  {{> programm-schedule_02 }}
                                  {{> programm-schedule_03 }}

                                </div>
                              </div>
                            </div>

                            <div class="camp-card__tab">
                              <div class="camp-card__tab-title">
                                <div class="camp-card__tab-icon"></div>
                                <span>Остров Героев. Мандариновый драйв</span>
                              </div>
                              <div class="camp-card__tab-cont">
                                <div class="camp-card__tab-cont-box">
                                  <p>Папье-маше «Защитный Тотем», оригами, изонить, «Мир-красок», изготовление именных медальонов.</p>
                                </div>
                              </div>
                            </div>

                          </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="camps" class="sectionBox sectionBox--pad20 avail-camps-section">
          <div class="h1">Доступные лагеря и заезды</div>

          <!-- раздел лагеря 01-->
          <div class="block-info avail-camps__item">
            <div class="avail-camps__item-header">
              <img class="avail-camps-title-img" src="img/camp-title-img-01.png" alt="">
              <h4 class="avail-camps-title">Оздоровительный детский лагерь «Komandor camp» (Рязань)</h4>
            </div>

            <div class="section-tabs">
              <div class="camp-card__fullinfo">

                <div class="camp-card__fullinfo-tabs">
                  <a href="#checkin" class="camp-card__fullinfo-button  camp-card__fullinfo-button--active">
                    <span>Размещение</span>
                  </a>
                  <a href="#meals" class="camp-card__fullinfo-button">
                    <span>Питание</span>
                  </a>
                  <a href="#medical" class="camp-card__fullinfo-button">
                    <span>Медицинское обслуживание</span>
                  </a>
                  <a href="#security" class="camp-card__fullinfo-button">
                    <span>Безопасность</span>
                  </a>
                </div>

                <div class="camp-card__fullinfo-contents">
                  <div class="block-info__inner">
                    <div id="checkin" class="camp-card__fullinfo-content camp-card__fullinfo-content--active checkin">

                      <div class="avail-camps__table">

                        <div class="avail-camps__table-header">

                          <div class="avail-camps__table-row">
                            <div class="avail-camps__table-col avail-camps__table-col--1">Смена</div>
                            <div class="avail-camps__table-col avail-camps__table-col--2">Даты заезда</div>
                            <div class="avail-camps__table-col avail-camps__table-col--3"></div>
                            <div class="avail-camps__table-col avail-camps__table-col--4">Стоимость</div>
                            <div class="avail-camps__table-col avail-camps__table-col--5">Кол-во</div>
                            <div class="avail-camps__table-col avail-camps__table-col--6"></div>
                            <div class="avail-camps__table-col avail-camps__table-col--7"></div>
                          </div>
                        </div>

                        <div class="avail-camps__table-body">
                          <div class="avail-camps__table-row avail-camp-description">

                            <div class="avail-camps__table-col avail-camps__table-col--1">
                              <a href="#" class="avail-camps__table-product-link">Осенние каникулы «Восточная смена» проверка на длинное название</a>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--2">
                              <div class="avail-camps__table-date">02.09.2015 — 01.09.2015</div>
                              <div class="avail-camps__table-duration small-txt">5 дней</div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--3">
                              <div>
                                <div class="avail-camps__table-item">
                                  <div class="transfer-wrap">
                                    <!-- transfer table button -->
                                    <a href="#" class="avail-camps__table-transfer"  data-campTransferID="001">Трансфер</a>
                                    <!-- transfer table button -->
                                    <a href="#" class="avail-camps__table-transfer-q">
                                      <i data-ico="#ask" class="ico ico--xs result-item__type-place-icon-ask">
                                        <svg class="ico__svg">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ask"></use>
                                        </svg>
                                      </i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--4">
                              <div class="avail-camps__table-product-price">
                                <b>40 000<span class="priceRu">руб.</span></b>
                              </div>
                              <div class="small-txt">Трансфер входит <br>в стоимость</div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--5">
                              <div class="style-guide__select">
                                <div class="form-grp style-guide__select-height">
                                  <div class="form-label form-label--hid">1</div>
                                  <select class="form-ctrl">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--6">
                              <div class="avail-camps__table-product-booking">
                                <button class="btn btn--primary btn--s">
                                  <span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#btn-order"></use></svg></i></span>
                                  <span class="btn__txt">КУПИТЬ</span>
                                </button>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--7">
                              <div class="avail-camps__table-booking-heart">
                                <a href="#" class="addToFav">
                                  <i data-ico="heart" class="ico">
                                    <svg class="ico__svg"><use xlink:href="#heart"></use></svg>
                                  </i>
                                </a>
                              </div>
                            </div>

                          </div>
                            {{> camp-transfer-table_01 }}
                          <div class="camp-card__table-devider"></div>
                          <div class="avail-camps__table-row avail-camp-description">

                            <div class="avail-camps__table-col avail-camps__table-col--1">
                              <a href="#" class="avail-camps__table-product-link">Смена 2</a>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--2">
                              <div class="avail-camps__table-date">02.09.2015 — 01.09.2015</div>
                              <div class="avail-camps__table-duration small-txt">5 дней</div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--3">
                              <div>
                                <div class="avail-camps__table-item">
                                  <div class="transfer-wrap">
                                    <!-- transfer table button -->
                                    <a href="#" class="avail-camps__table-transfer"  data-campTransferID="002">Трансфер</a>
                                    <!-- transfer table button -->
                                    <a href="#" class="avail-camps__table-transfer-q">
                                      <i data-ico="#ask" class="ico ico--xs result-item__type-place-icon-ask">
                                        <svg class="ico__svg">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ask"></use>
                                        </svg>
                                      </i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--4">
                              <div class="avail-camps__table-product-price">
                                <b>40 000<span class="priceRu">руб.</span></b>
                              </div>
                              <div class="small-txt">Трансфер входит <br>в стоимость</div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--5">
                              <div class="style-guide__select">
                                <div class="form-grp style-guide__select-height">
                                  <div class="form-label form-label--hid">1</div>
                                  <select class="form-ctrl">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--6">
                              <div class="avail-camps__table-product-booking">
                                <button class="btn btn--primary btn--s">
                                  <span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#btn-order"></use></svg></i></span>
                                  <span class="btn__txt">КУПИТЬ</span>
                                </button>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--7">
                              <div class="avail-camps__table-booking-heart">
                                <a href="#" class="addToFav">
                                  <i data-ico="heart" class="ico">
                                    <svg class="ico__svg"><use xlink:href="#heart"></use></svg>
                                  </i>
                                </a>
                              </div>
                            </div>

                          </div>
                            {{> camp-transfer-table_02 }}
                        </div>
                      </div>

                    </div>

                    <div id="meals" class="camp-card__fullinfo-content">
                      <div class="camp-card__inside">
                        <h3>Питание пятиразовое комлексное</h3>
                        <p>Сбалансированное 5-и разовое питание по утвержденному меню (завтрак, обед, ужин, полдник, сонник) проходит в отдельно стоящей столовой. В рацион входят свежие овощи, фрукты, мясные, рыбные блюда, собственная свежая выпечка, кисломолочные продукты. Меню разработано с учетом норм и правил детского питания.</p>
                      </div>
                    </div>

                    <div id="medical" class="camp-card__fullinfo-content">
                      <div class="camp-card__inside">
                        <h3>Медицинское обслуживание</h3>
                        <p>Сбалансированное 5-и разовое питание по утвержденному меню (завтрак, обед, ужин, полдник, сонник) проходит в отдельно стоящей столовой. В рацион входят свежие овощи, фрукты, мясные, рыбные блюда, собственная свежая выпечка, кисломолочные продукты. Меню разработано с учетом норм и правил детского питания.</p>
                      </div>
                    </div>

                    <div id="security" class="camp-card__fullinfo-content">
                      <div class="camp-card__inside">
                        <h3>Безопасность</h3>
                        <p>Сбалансированное 5-и разовое питание по утвержденному меню (завтрак, обед, ужин, полдник, сонник) проходит в отдельно стоящей столовой. В рацион входят свежие овощи, фрукты, мясные, рыбные блюда, собственная свежая выпечка, кисломолочные продукты. Меню разработано с учетом норм и правил детского питания.</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- раздел лагеря 02-->

          <!-- раздел лагеря 02-->
          <div class="block-info avail-camps__item">
            <div class="avail-camps__item-header">
              <img class="avail-camps-title-img" src="img/camp-title-img-02.png" alt="">
              <h4 class="avail-camps-title">Детский санаторно-оздоровительный центр «Дружба»</h4>
            </div>

            <div class="section-tabs">
              <div class="camp-card__fullinfo">

                <div class="camp-card__fullinfo-tabs">
                  <a href="#checkin02" class="camp-card__fullinfo-button  camp-card__fullinfo-button--active">
                    <span>Размещение</span>
                  </a>
                  <a href="#meals02" class="camp-card__fullinfo-button">
                    <span>Питание</span>
                  </a>
                  <a href="#medical02" class="camp-card__fullinfo-button">
                    <span>Медицинское обслуживание</span>
                  </a>
                  <a href="#security02" class="camp-card__fullinfo-button">
                    <span>Безопасность</span>
                  </a>
                </div>

                <div class="camp-card__fullinfo-contents">
                  <div class="block-info__inner">
                    <div id="checkin02" class="camp-card__fullinfo-content camp-card__fullinfo-content--active checkin">

                      <div class="avail-camps__table">

                        <div class="avail-camps__table-header">

                          <div class="avail-camps__table-row">
                            <div class="avail-camps__table-col avail-camps__table-col--1">Смена</div>
                            <div class="avail-camps__table-col avail-camps__table-col--2">Даты заезда</div>
                            <div class="avail-camps__table-col avail-camps__table-col--3"></div>
                            <div class="avail-camps__table-col avail-camps__table-col--4">Стоимость</div>
                            <div class="avail-camps__table-col avail-camps__table-col--5">Кол-во</div>
                            <div class="avail-camps__table-col avail-camps__table-col--6"></div>
                            <div class="avail-camps__table-col avail-camps__table-col--7"></div>
                          </div>
                        </div>

                        <div class="avail-camps__table-body">
                          <div class="avail-camps__table-row avail-camp-description">

                            <div class="avail-camps__table-col avail-camps__table-col--1">
                              <a href="#" class="avail-camps__table-product-link">Осенние каникулы «Восточная смена» проверка на длинное название</a>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--2">
                              <div class="avail-camps__table-date">02.09.2015 — 01.09.2015</div>
                              <div class="avail-camps__table-duration small-txt">5 дней</div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--3">
                              <div>
                                <div class="avail-camps__table-item">
                                  <div class="transfer-wrap">
                                    <!-- transfer table button -->
                                    <a href="#" class="avail-camps__table-transfer"  data-campTransferID="003">Трансфер</a>
                                    <!-- transfer table button -->
                                    <a href="#" class="avail-camps__table-transfer-q">
                                      <i data-ico="#ask" class="ico ico--xs result-item__type-place-icon-ask">
                                        <svg class="ico__svg">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ask"></use>
                                        </svg>
                                      </i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--4">
                              <div class="avail-camps__table-product-price">
                                <b>40 000<span class="priceRu">руб.</span></b>
                              </div>
                              <div class="small-txt">Трансфер входит <br>в стоимость</div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--5">
                              <div class="style-guide__select">
                                <div class="form-grp style-guide__select-height">
                                  <div class="form-label form-label--hid">1</div>
                                  <select class="form-ctrl">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--6">
                              <div class="avail-camps__table-product-booking">
                                <button class="btn btn--primary btn--s">
                                  <span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#btn-order"></use></svg></i></span>
                                  <span class="btn__txt">КУПИТЬ</span>
                                </button>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--7">
                              <div class="avail-camps__table-booking-heart">
                                <a href="#" class="addToFav">
                                  <i data-ico="heart" class="ico">
                                    <svg class="ico__svg"><use xlink:href="#heart"></use></svg>
                                  </i>
                                </a>
                              </div>
                            </div>

                          </div>
                            {{> camp-transfer-table_03 }}
                          <div class="camp-card__table-devider"></div>
                          <div class="avail-camps__table-row avail-camp-description">

                            <div class="avail-camps__table-col avail-camps__table-col--1">
                              <a href="#" class="avail-camps__table-product-link">Смена 2</a>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--2">
                              <div class="avail-camps__table-date">02.09.2015 — 01.09.2015</div>
                              <div class="avail-camps__table-duration small-txt">5 дней</div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--3">
                              <div>
                                <div class="avail-camps__table-item">
                                  <div class="transfer-wrap">
                                    <!-- transfer table button -->
                                    <a href="#" class="avail-camps__table-transfer"  data-campTransferID="004">Трансфер</a>
                                    <!-- transfer table button -->
                                    <a href="#" class="avail-camps__table-transfer-q">
                                      <i data-ico="#ask" class="ico ico--xs result-item__type-place-icon-ask">
                                        <svg class="ico__svg">
                                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ask"></use>
                                        </svg>
                                      </i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--4">
                              <div class="avail-camps__table-product-price">
                                <b>40 000<span class="priceRu">руб.</span></b>
                              </div>
                              <div class="small-txt">Трансфер входит <br>в стоимость</div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--5">
                              <div class="style-guide__select">
                                <div class="form-grp style-guide__select-height">
                                  <div class="form-label form-label--hid">1</div>
                                  <select class="form-ctrl">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--6">
                              <div class="avail-camps__table-product-booking">
                                <button class="btn btn--primary btn--s">
                                  <span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#btn-order"></use></svg></i></span>
                                  <span class="btn__txt">КУПИТЬ</span>
                                </button>
                              </div>
                            </div>

                            <div class="avail-camps__table-col avail-camps__table-col--7">
                              <div class="avail-camps__table-booking-heart">
                                <a href="#" class="addToFav">
                                  <i data-ico="heart" class="ico">
                                    <svg class="ico__svg"><use xlink:href="#heart"></use></svg>
                                  </i>
                                </a>
                              </div>
                            </div>

                          </div>
                            {{> camp-transfer-table_04 }}
                        </div>
                      </div>

                    </div>

                    <div id="meals02" class="camp-card__fullinfo-content">
                      <div class="camp-card__inside">
                        <h3>Питание пятиразовое комлексное</h3>
                        <p>Сбалансированное 5-и разовое питание по утвержденному меню (завтрак, обед, ужин, полдник, сонник) проходит в отдельно стоящей столовой. В рацион входят свежие овощи, фрукты, мясные, рыбные блюда, собственная свежая выпечка, кисломолочные продукты. Меню разработано с учетом норм и правил детского питания.</p>
                      </div>
                    </div>

                    <div id="medical02" class="camp-card__fullinfo-content">
                      <div class="camp-card__inside">
                        <h3>Медицинское обслуживание</h3>
                        <p>Сбалансированное 5-и разовое питание по утвержденному меню (завтрак, обед, ужин, полдник, сонник) проходит в отдельно стоящей столовой. В рацион входят свежие овощи, фрукты, мясные, рыбные блюда, собственная свежая выпечка, кисломолочные продукты. Меню разработано с учетом норм и правил детского питания.</p>
                      </div>
                    </div>

                    <div id="security02" class="camp-card__fullinfo-content">
                      <div class="camp-card__inside">
                        <h3>Безопасность</h3>
                        <p>Сбалансированное 5-и разовое питание по утвержденному меню (завтрак, обед, ужин, полдник, сонник) проходит в отдельно стоящей столовой. В рацион входят свежие овощи, фрукты, мясные, рыбные блюда, собственная свежая выпечка, кисломолочные продукты. Меню разработано с учетом норм и правил детского питания.</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- раздел лагеря 02-->

        </section>

        <section id="docs" class="sectionBox sectionBox--pad20 docs-section">
          <div class="h1">Документы</div>
          <div class="block-info">
            <div class="section-tabs">
              <div class="camp-card__fullinfo">

                <div class="camp-card__fullinfo-tabs">
                  <a href="#docs-checkin" class="camp-card__fullinfo-button  camp-card__fullinfo-button--active">
                    <span>Документы для заезда</span>
                  </a>
                  <a href="#docs-organiz" class="camp-card__fullinfo-button">
                    <span>Организационные документы</span>
                  </a>
                </div>

                <div class="camp-card__fullinfo-contents">
                    <div class="block-info__inner">
                      <div id="docs-checkin" class="camp-card__fullinfo-content  camp-card__fullinfo-content--active docs-checkin">

                        <div class="docs-checkin__list">
                          <h4>Перечень документов</h4>
                          <div class="doc-small-item">
                            <i data-ico="icon-pdf" class="ico ico--s doc-small-item__icon">
                              <svg class="ico__svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pdf"></use></svg>
                            </i>
                            <div class="doc-small-item__doc-name">Копия паспорта ребенка (достигшего 14 лет)</div>
                            <a href="#" class="doc-small-item__link">Скачать 290 Kb</a>
                          </div>

                          <div class="doc-small-item">
                            <i data-ico="icon-pdf" class="ico ico--s doc-small-item__icon">
                              <svg class="ico__svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pdf"></use></svg>
                            </i>
                            <div class="doc-small-item__doc-name">Копия свидетельства о рождении ребенка (не достигшего 14 лет)</div>
                            <a href="#" class="doc-small-item__link">Скачать 290 Kb</a>
                          </div>

                          <div class="doc-small-item">
                            <i data-ico="icon-pdf" class="ico ico--s doc-small-item__icon">
                              <svg class="ico__svg">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pdf"></use>
                              </svg>
                            </i>
                            <div class="doc-small-item__doc-name">Медицинская справка по форме № 079/У</div>
                            <a href="#" class="doc-small-item__link">Скачать 290 Kb</a>
                          </div>

                          <div class="doc-small-item">
                            <i data-ico="icon-pdf" class="ico ico--s doc-small-item__icon">
                              <svg class="ico__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pdf"></use>
                              </svg>
                            </i>
                            <div class="doc-small-item__doc-name">Медицинская справка об отсутствии контактов с инфекционными больными</div>
                            <a href="#" class="doc-small-item__link">Скачать 290 Kb</a>
                          </div>

                          <div class="doc-small-item">
                            <i data-ico="icon-pdf" class="ico ico--s doc-small-item__icon">
                              <svg class="ico__svg">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pdf"></use>
                              </svg>
                            </i>
                            <div class="doc-small-item__doc-name">Копия страхового полиса обязательного медицинского страхования</div>
                            <a href="#" class="doc-small-item__link">Скачать 290 Kb</a>
                          </div>
                        </div>

                        <div class="docs-checkin__rules">
                          <h4>Правила предоставления документов</h4>
                          <p><b>1. Медицинская справка</b> предоставляется по специальной форме для детского лагеря, 079/у,
                            с указанием хронических заболеваний, информации о прививках и всех видов аллергии / включая на лекарства/, с отметкой об осмотре на педикулез;</p>
                          <p><b>2. Справка об отсутствии контактов с носителями инфекционных заболеваний</b> (давностью не более 3-х дней до даты заезда).</p>
                        </div>

                      </div>
                      <div id="docs-organiz" class="camp-card__fullinfo-content docs-organiz">
                        <p>Организационные документы</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="comments" class="sectionBox sectionBox--pad20 comments-section">
          <div class="h1">Отзывы</div>
          <div class="camp-card__fullinfo-inner comments-list">

            <!-- комментарий начало -->
            <div class="comments-list__item">
              <div class="comments-list__item-header">
                <div class="comment-rating">
                  <span class="h4">Оценка</span>
                  <!-- <div class="comment-rating__value"> -->
                    <div class="comment-rating__stars rateit svg" data-rateit-value="4.2"  data-rateit-readonly="true" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
                  <!-- </div> -->
                  <span class="h4 comment-rating__score">4.2</span>
                </div>

                <div class="comment__user-info">
                  <img class="comment__user-avatar" src="img/smile-face.svg">
                  <span class="h4 comment__user-name">Сергей Семьянов</span>
                  <p class="comment__user-date">Заезд 02.09.2015 — 01.09.2015. Опубликовано 21 ноября 2016</p>
                </div>
              </div>

              <div class="comments-list__item-body">

                <div class="comments-list__item-comment comments-list__item-comment--like">
                  <h3>Понравилось</h3>
                  <p>Отдавал прошедшей весной дочку на курсы по Unity 3D в Кодабру. С каждым днем , проведенным в школе, она начинала все больше понимать во этой сфере и это, я считаю, большой плюс. Сейчас ее уже не пугают такие выражения, как написать код. А первый раз вообще была паника). В общем сейчас осенью хочу отдать на уже более продвинутый уровень, если есть желание, то почему нет:)</p>
                </div>

                <div class="camp-card__table-devider"></div>

                <div class="comments-list__item-comment comments-list__item-comment--dislike">
                  <h3>Не понравилось</h3>
                  <p>Вот и начались осенние каникулы. Вчера отправила сына в ДОЛ "Буревестник"
                  с театрально-языковым лагерем "Мимикрия". Весной уже отдыхал в этом лагере, второй раз отпускать было надежней. Команда вожатых очень слаженна и организованна, поэтому переживаний не возникает!</p>
                </div>

                <div class="camp-card__table-devider"></div>

                <div class="comments-list__item-comment">
                  <h3>Комментарий</h3>
                  <p>Вот и начались осенние каникулы. Вчера отправила сына в ДОЛ "Буревестник"
                  с театрально-языковым лагерем "Мимикрия". Весной уже отдыхал в этом лагере, второй раз отпускать было надежней. Команда вожатых очень слаженна и организованна, поэтому переживаний не возникает!</p>
                </div>

              </div>
            </div>
            <!-- комментарий кончало -->

            <!-- комментарий начало -->
            <div class="comments-list__item">
              <div class="comments-list__item-header">
                <div class="comment-rating">
                  <span class="h4">Оценка</span>
                  <!-- <div class="comment-rating__value"> -->
                    <div class="comment-rating__stars rateit svg" data-rateit-value="2.5"  data-rateit-readonly="true" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
                  <!-- </div> -->
                  <span class="h4 comment-rating__score">2.5</span>
                </div>

                <div class="comment__user-info">
                  <img class="comment__user-avatar" src="img/smile-face.svg">
                  <span class="h4 comment__user-name">Маргарита Рыбакова</span>
                  <p class="comment__user-date">Заезд 02.09.2015 — 01.09.2015. Опубликовано 21 ноября 2016</p>
                </div>
              </div>

              <div class="comments-list__item-body">

                <div class="comments-list__item-comment comments-list__item-comment--like">
                  <h3>Понравилось</h3>
                  <p>Отдавал прошедшей весной дочку на курсы по Unity 3D в Кодабру. С каждым днем , проведенным в школе, она начинала все больше понимать во этой сфере и это, я считаю, большой плюс. Сейчас ее уже не пугают такие выражения, как написать код. А первый раз вообще была паника). В общем сейчас осенью хочу отдать на уже более продвинутый уровень, если есть желание, то почему нет:)</p>
                </div>

                <div class="camp-card__table-devider"></div>

                <div class="comments-list__item-comment comments-list__item-comment--dislike">
                  <h3>Не понравилось</h3>
                  <p>Вот и начались осенние каникулы. Вчера отправила сына в ДОЛ "Буревестник"
                  с театрально-языковым лагерем "Мимикрия". Весной уже отдыхал в этом лагере, второй раз отпускать было надежней. Команда вожатых очень слаженна и организованна, поэтому переживаний не возникает!</p>
                </div>

                <div class="camp-card__table-devider"></div>

                <div class="comments-list__item-comment">
                  <h3>Комментарий</h3>
                  <p>Вот и начались осенние каникулы. Вчера отправила сына в ДОЛ "Буревестник"
                  с театрально-языковым лагерем "Мимикрия". Весной уже отдыхал в этом лагере, второй раз отпускать было надежней. Команда вожатых очень слаженна и организованна, поэтому переживаний не возникает!</p>
                </div>

              </div>
            </div>
            <!-- комментарий кончало -->

            <!-- комментарий начало -->
            <div class="comments-list__item">
              <div class="comments-list__item-header">
                <div class="comment-rating">
                  <span class="h4">Оценка</span>
                  <!-- <div class="comment-rating__value"> -->
                    <div class="comment-rating__stars rateit svg" data-rateit-value="5.0"  data-rateit-readonly="true" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
                  <!-- </div> -->
                  <span class="h4 comment-rating__score">5.0</span>
                </div>

                <div class="comment__user-info">
                  <img class="comment__user-avatar" src="img/smile-face.svg">
                  <span class="h4 comment__user-name">Константин Константинович Константиновский</span>
                  <p class="comment__user-date">Заезд 02.09.2015 — 01.09.2015. Опубликовано 21 ноября 2016</p>
                </div>
              </div>

              <div class="comments-list__item-body">

                <div class="comments-list__item-comment comments-list__item-comment--like">
                  <h3>Понравилось</h3>
                  <p>Отдавал прошедшей весной дочку на курсы по Unity 3D в Кодабру. С каждым днем , проведенным в школе, она начинала все больше понимать во этой сфере и это, я считаю, большой плюс. Сейчас ее уже не пугают такие выражения, как написать код. А первый раз вообще была паника). В общем сейчас осенью хочу отдать на уже более продвинутый уровень, если есть желание, то почему нет:)</p>
                </div>

                <div class="camp-card__table-devider"></div>

                <div class="comments-list__item-comment comments-list__item-comment--dislike">
                  <h3>Не понравилось</h3>
                  <p>Вот и начались осенние каникулы. Вчера отправила сына в ДОЛ "Буревестник"
                  с театрально-языковым лагерем "Мимикрия". Весной уже отдыхал в этом лагере, второй раз отпускать было надежней. Команда вожатых очень слаженна и организованна, поэтому переживаний не возникает!</p>
                </div>

                <div class="camp-card__table-devider"></div>

                <div class="comments-list__item-comment">
                  <h3>Комментарий</h3>
                  <p>Вот и начались осенние каникулы. Вчера отправила сына в ДОЛ "Буревестник"
                  с театрально-языковым лагерем "Мимикрия". Весной уже отдыхал в этом лагере, второй раз отпускать было надежней. Команда вожатых очень слаженна и организованна, поэтому переживаний не возникает!</p>
                </div>

              </div>
            </div>
            <!-- комментарий кончало -->

          </div>
        </section>

      </div>
    </main>
    {{> page-footer }}
  </div>
  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}
  {{> foot }}
</body>
</html>
