<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">

      <div class="inner-block">
        <section class="sectionBox sectionBox--scallopTop">
          <div class="program-speed-desc">
            <ul class="program-speed-desc__list">
              <li class="program-speed-desc__item">
                <div class="program-speed-desc__item-inner"><i data-ico="cubes" class="ico ico--l program-speed-desc__icon"><svg class="ico__svg"><use xlink:href="#cubes"></use></svg></i></div>
                <div class="program-speed-desc__item-inner"><span>Языковая программа</span><span>Английский язык</span></div>
              </li>
              <li class="program-speed-desc__item">
                <div class="program-speed-desc__item-inner program-speed-desc__item-inner--green"><i data-ico="smile-face" class="ico ico--l program-speed-desc__icon program-speed-desc__icon-32"><svg class="ico__svg"><use xlink:href="#smile-face"></use></svg></i></div>
                <div class="program-speed-desc__item-inner program-speed-desc__item-inner--green">
                  <div class="program-speed-desc__big-text">10-12</div>
                </div>
                <div class="program-speed-desc__item-inner"><span>Рекомендуемый</span><span>возраст ребёнка (лет)</span></div>
              </li>
            </ul>
          </div>
          <h1 class="camp-card__title camp-card__title--nopad">Супер-программа по изучению английского языка</h1>
          <nav class="camp-card__nav camp-card__nav--progamm"><a href="#programm" class="camp-card__nav-item"><span>Программа</span></a><a href="#camps" class="camp-card__nav-item"><span>Доступые</span><br><span>лагеря</span></a><a href="#tasks" class="camp-card__nav-item"><span>Задачи</span><br><span>и навыки</span></a>
            <a href="#method-prog" class="camp-card__nav-item"><span>Методика</span><br><span>программы</span></a><a href="#method-prog" class="camp-card__nav-item"><span>Основная</span><br><span>программа</span></a><a href="#meal" class="camp-card__nav-item"><span>Питание</span></a>
            <a
              href="#schedule" class="camp-card__nav-item"><span>Распорядок</span><br><span>дня</span></a><a href="#teachers" class="camp-card__nav-item"><span>Педагоги</span></a><a href="#docs" class="camp-card__nav-item"><span>Документы</span></a><a href="#intro" class="camp-card__nav-item"><span>Заезды</span></a></nav>
          <div id="programm" class="programm-gal-descr">
            <div class="sectionBox__content sectionBox__content--inner">
              <div class="programm-gal-descr__gal">
                <div class="slider-gallery">
                  <div class="slider-gallery__body">
                    <div data-nav="thumbs" data-navposition="bottom" data-thumbborderwidth="2" data-thumbmargin="10" data-thumbwidth="40" data-thumbheight="40" data-arrows="always" data-width="567" data-height="440" data-fit="cover" data-allowfullscreen="true" data-shadows="false"
                      data-navwidth="440" class="fotorama">
                      <a src="img/temporary/slider-gallery-02.jpg"></a>
                      <a src="img/temporary/slider-gallery-03.jpg"></a>
                      <a src="img/temporary/slider-gallery-01.jpg"></a>
                      <a src="img/temporary/slider-gallery-03.jpg"></a>
                      <a src="img/temporary/slider-gallery-03.jpg"></a>
                      <a src="img/temporary/slider-gallery-03.jpg"></a>
                      <a src="img/temporary/slider-gallery-03.jpg"></a>
                      <a src="img/temporary/slider-gallery-03.jpg"></a>
                    </div><a href="#" class="slider-gallery__fullscreen-triger"><i data-ico="full-screen" class="ico ico--gray-hover-green ico--40"><svg class="ico__svg"><use xlink:href="#full-screen"></use></svg></i></a></div>
                </div>
              </div>
              <div class="programm-gal-descr__text-wrap overshadow">
                <div class="programm-gal-descr__text">
                  <div class="programm-gal-descr__text-iiner">
                    <h2 class="programm-gal-descr__text-title">Описание программы</h2>
                    <h3>Уникальная программа, зарекомендовавшая себя не только в Европе, но и по всему миру, теперь доступна и для ваших детей</h3>
                    <p>В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию, апробации и внедрению инновационных
                      форм общего и дополнительного образования, а также оздоровлению и отдыху детей. Концепция предусматривает практически полную реконструкцию «Артека»: перестройку всех корпусов, площадок, строительство новых объектов. А самое главное
                      – обновление содержания педагогической деятельности. В марте 2015 года правительство РФ утвердило Программу развития «Артека» на 2015-2020 годы. А самое главное – обновление содержания педагогической деятельности. В марте 2015 года
                      правительство РФ утвердило Программу развития «Артека» на Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию, апробации и внедрению
                      инновационных форм общего и дополнительного образования, а также оздоровлению и отдыху детей. Концепция предусматривает практически полную реконструкцию «Артека»: перестройку всех корпусов, площадок, строительство новых объектов.
                      А самое главное – обновление содержания педагогической деятельности. В марте 2015 года правительство РФ утвердило Программу развития «Артека» на 2015-2020 годы. А самое главное – обновление содержания педагогической деятельности.
                      В марте 2015 года правительство РФ утвердило Программу развития «Артека» на</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="intro" class="sectionBox">
          <h1>Заезды</h1>
          <div class="camp-card__table camp-card__table--full-width">
            <div class="camp-card__table-header">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-210 p-r-0">Площадка:</div>
                <div class="camp-card__table-col w-120 p-r-0">Смена:</div>
                <div class="camp-card__table-col w-120 p-r-0">Даты смены:</div>
                <div class="camp-card__table-col w-230 p-r-0">Пункты и даты трансфера:</div>
                <div class="camp-card__table-col w-140 p-r-0">Транспорт:</div>
                <div class="camp-card__table-col w-90">Цена:</div>
                <div class="camp-card__table-col w-150 p-r-0 p-l-0">Бронирование:</div>
              </div>
            </div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-210 p-r-0"><a href="#" class="camp-card__table-product-link">Новый Артек</a></div>
                <div class="camp-card__table-col w-120 p-r-0">211</div>
                <div class="camp-card__table-col w-120 p-r-0">С 02.09.2015<br>до 01.09.2015</div>
                <div class="camp-card__table-col w-230 p-r-0">
                  <div>
                    <div class="camp-card__table-item">Москва, Центральный проезд<br> Хорошёвского Серебряного Бора</div>
                    <div class="camp-card__table-item">Отправление: 01.09.2015 в 09:00<br>Прибытие: 01.09.2015 в 18:00</div>
                  </div>
                </div>
                <div class="camp-card__table-col w-140 p-r-0">Аэробус А-320<br>Рейс 342 998</div>
                <div class="camp-card__table-col w-90">
                  <div class="camp-card__table-product-price">40 000 &#8381;</div>
                </div>
                <div class="camp-card__table-col w-150 p-r-0 p-l-0">
                  <div class="camp-card__table-product-booking">Кол.-во отдыхающих:
                    <div class="style-guide__select">
                      <div class="form-grp style-guide__select-height">
                        <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>1</option><option>2</option></select></div>
                    </div><button class="btn btn--primary btn--s"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#btn-order"></use></svg></i></span><span class="btn__txt">забронировать</span></button>
                    <div><a href="#" class="addToFav"><i data-ico="heart" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#heart"></use></svg></i><span class="camp-card__table-link pseudo-link"> В избранное</span></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="camp-card__table-devider"></div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-210 p-r-0"><a href="#" class="camp-card__table-product-link">Орленок</a></div>
                <div class="camp-card__table-col w-120 p-r-0">211</div>
                <div class="camp-card__table-col w-120 p-r-0">С 02.09.2015<br>до 01.09.2015</div>
                <div class="camp-card__table-col w-230 p-r-0">
                  <div>
                    <div class="camp-card__table-item"> Хорошёвского Серебряного Бора</div>
                    <div class="camp-card__table-item">Отправление: 01.09.2015 в 09:00<br>Прибытие: 01.09.2015 в 18:00</div>
                  </div>
                </div>
                <div class="camp-card__table-col w-140 p-r-0">Аэробус А-320<br>Рейс 342 998</div>
                <div class="camp-card__table-col w-90">
                  <div class="camp-card__table-product-price">40 000 &#8381;</div>
                </div>
                <div class="camp-card__table-col w-150 p-r-0 p-l-0">
                  <div class="camp-card__table-product-booking">Кол.-во отдыхающих:
                    <div class="style-guide__select">
                      <div class="form-grp style-guide__select-height">
                        <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>1</option><option>2</option></select></div>
                    </div><button class="btn btn--primary btn--s"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#btn-order"></use></svg></i></span><span class="btn__txt">забронировать</span></button>
                    <div><a href="#" class="addToFav"><i data-ico="heart" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#heart"></use></svg></i><span class="camp-card__table-link pseudo-link"> В избранное</span></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="camp-card__table-devider"></div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-210 p-r-0"><a href="#" class="camp-card__table-product-link">Жемчужина востока</a></div>
                <div class="camp-card__table-col w-120 p-r-0">211</div>
                <div class="camp-card__table-col w-120 p-r-0">С 02.09.2015<br>до 01.09.2015</div>
                <div class="camp-card__table-col w-230 p-r-0">
                  <div>
                    <div class="camp-card__table-item"> Хорошёвского Серебряного Бора</div>
                    <div class="camp-card__table-item">Отправление: 01.09.2015 в 09:00<br>Прибытие: 01.09.2015 в 18:00</div>
                  </div>
                </div>
                <div class="camp-card__table-col w-140 p-r-0">Аэробус А-320<br>Рейс 342 998</div>
                <div class="camp-card__table-col w-90">
                  <div class="camp-card__table-product-price">40 000 &#8381;</div>
                </div>
                <div class="camp-card__table-col w-150 p-r-0 p-l-0">
                  <div class="camp-card__table-product-booking">Кол.-во отдыхающих:
                    <div class="style-guide__select">
                      <div class="form-grp style-guide__select-height">
                        <div class="form-label form-label--hid">1</div><select class="form-ctrl"><option>1</option><option>2</option></select></div>
                    </div><button class="btn btn--primary btn--s"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s"><svg class="ico__svg"><use xlink:href="#btn-order"></use></svg></i></span><span class="btn__txt">забронировать</span></button>
                    <div><a href="#" class="addToFav"><i data-ico="heart" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#heart"></use></svg></i><span class="camp-card__table-link pseudo-link"> В избранное</span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="tasks" class="sectionBox camp-card__programs camp-card__programs--mb-pad-small">
          <h1 class="title-h1">Задачи программы и развиваемые навыки</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="camp-card__tabs">
              <div class="camp-card__tab">
                <div class="camp-card__tab-title">
                  <div class="camp-card__tab-icon"></div>Интелект</div>
                <div class="camp-card__tab-cont">
                  <div class="camp-card__tab-cont-box">Навыки рисования, создания анимации, режиссуры мультипликационных фильмов.</div>
                </div>
              </div>
              <div class="camp-card__tab">
                <div class="camp-card__tab-title">
                  <div class="camp-card__tab-icon"></div>Логическое мышление</div>
                <div class="camp-card__tab-cont">
                  <div class="camp-card__tab-cont-box">Шлюпочное и такелажное дело, корабельная архитектура, история развития флота и флотских традиций, начальный курс плавания, первая помощь в критических ситуациях, этикет, танец</div>
                </div>
              </div>
              <div class="camp-card__tab">
                <div class="camp-card__tab-title">
                  <div class="camp-card__tab-icon"></div>Внимание</div>
                <div class="camp-card__tab-cont">
                  <div class="camp-card__tab-cont-box">Папье-маше «Защитный Тотем», оригами, изонить, «Мир-красок», изготовление именных медальонов.</div>
                </div>
              </div>
              <div class="camp-card__tab">
                <div class="camp-card__tab-title">
                  <div class="camp-card__tab-icon"></div>Память</div>
                <div class="camp-card__tab-cont">
                  <div class="camp-card__tab-cont-box">Шуточный футбол, малые олимпийские игры.</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="meal" class="sectionBox camp-card__docs">
          <h1 class="title-h1">Питание</h1>
          <div class="camp-card__table">
            <div class="camp-card__table-header">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-500 m-r-90">Форма питания:</div>
                <div class="camp-card__table-col w-200">Стол для диабетиков:</div>
                <div class="camp-card__table-col w-200">Стол для веганов:</div>
              </div>
            </div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-500 m-r-90"><b>Шведский стол</b></div>
              </div>
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-500 m-r-90">Концепция предусматривает практически полную реконструкцию «Артека»:<br>перестройку всех корпусов, площадок, строительство новых объектов.</div>
                <div class="camp-card__table-col w-200"><img src="img/ok-icon.png" alt=""></div>
                <div class="camp-card__table-col w-200"><img src="img/no-icon.png" alt=""></div>
              </div>
            </div>
          </div>
        </section>
        <section class="sectionBox calendar-block">
          <h1 class="calendar-block__title">Распорядок дня</h1>
          <div class="sectionBox__content sectionBox__content--inner">
            <div class="calendar">
              <div class="calendar__tabs"><a href="#" class="calendar__tabs-link calendar__tabs-link--first active">1 смена</a><a href="#" class="calendar__tabs-link calendar__tabs-link--second">2 смена</a></div>
              <div class="calendar__main"></div>
            </div>
          </div>
        </section>
        <section id="method-prog" class="programs-type">
          <div class="programs-type__method">
            <h1 class="programs-type__title">Методика программы</h1>
            <div class="programs-type__method-inner">
              <p>В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центрв лучшую международную площадку по созданию, апробации и внедрению инновационных форм общего
                и дополнительного образования, а также оздоровлению и отдыху детей.</p>
              <p>Концепция предусматривает практически полную реконструкцию «Артека»: перестройку всех корпусов, площадок, строительство новых объектов. А самое главное – обновление содержания педагогической деятельности.</p>
              <p>Концепция предусматривает практически полную реконструкцию «Артека»: перестройку всех корпусов, площадок, строительство новых объектов. А самое главное – обновление содержания педагогической деятельности.</p>
            </div>
          </div>
          <div class="programs-type__chart">
            <h1 class="programs-type__title">Основная программа</h1>
            <div class="chart">
              <div class="chart__diagram">

                <!-- структура программы для диаграммы -->
                <div class="chart__diagram-item ct-chart ct-perfect-fourth"
                data-chart-science="24"
                data-chart-masterclass="7"
                data-chart-evenining="5"
                data-chart-active="5"></div>
                <!-- структура программы для диаграммы -->

                <div class="chart__caption">
                  <span>Всего</span>
                  <b>00</b>
                  <span>Часов</span>
                </div>

              </div>
              <div class="chart__descr">
                <div class="chart__descr-head">
                  <div class="chart__descr-head__item">Программа</div>
                  <div class="chart__descr-head__item">Кол-во. часов</div>
                </div>
                <ul class="chart__descr-list">
                  <li class="chart__descr-item chart__descr-item--intro">
                    <span class="chart__descr-item-inner"><span class="chart__descr-item-inner-text">Вводная программа</span></span><span class="chart__descr-item-digit">14</span>
                  </li>
                  <li class="chart__descr-item chart__descr-item--intro"><span class="chart__descr-item-inner"><span class="chart__descr-item-inner-text">Вводная программа Вводная</span></span><span class="chart__descr-item-digit">999</span></li>
                  <li class="chart__descr-item chart__descr-item--intro"><span class="chart__descr-item-inner"><span class="chart__descr-item-inner-text">Вводная программа Вводная программа</span></span><span class="chart__descr-item-digit">14</span></li>
                  <li class="chart__descr-item chart__descr-item--intro"><span class="chart__descr-item-inner"><span class="chart__descr-item-inner-text">Вводная программа Вводная программа</span></span><span class="chart__descr-item-digit">999</span></li>
                  <li class="chart__descr-item chart__descr-item--intro"><span class="chart__descr-item-inner"><span class="chart__descr-item-inner-text">Вводная программа Вводная программа</span></span><span class="chart__descr-item-digit">14</span></li>
                  <li class="chart__descr-item chart__descr-item--intro"><span class="chart__descr-item-inner"><span class="chart__descr-item-inner-text">Вводная программа Вводная программа</span></span><span class="chart__descr-item-digit">14</span></li>
                  <li class="chart__descr-item chart__descr-item--intro"><span class="chart__descr-item-inner"><span class="chart__descr-item-inner-text">Вводная программа Вводная программа</span></span><span class="chart__descr-item-digit">14</span></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section id="docs" class="sectionBox docs-list">
          <h1 class="docs-list__title">Типовой перечень документов для заезда</h1>
          <div class="docs-list__inner">
            <div class="docs-list__desc">
              <div class="docs-list__inner-title">Описание порядка отправки документов</div>
              <p>Для получения въездной визы необходимы следующие документы:</p>
              <p>1) один экземпляр визовой анкеты на бланке согласно утвержденной форме;<small>[Визовая анкета заполняется разборчиво от руки или с использованием технических средств на государственном языке государства пребывания загранучреждения, или на русском, или белорусском, или английском языке. Ответы на вопросы визовой анкеты должны быть полными и логически последовательными, указывать на действительную цель поездки. Визовая анкета подписывается иностранцем лично. Визовую анкету на несовершеннолетнего подписывает законный представитель.]</small></p>
              <p>2) одна фотография;<small>[Фотография должна отвечать определениям, указанным в международном стандарте ИСО/МЭК 19794–5: размер 35х45 мм, анфас, на ровном светлом фоне, четкость высокого качества, без складок и чернил, 70 - 80 процентов вертикального размера снимка должно занимать лицо, давность снимка - не более 6 месяцев]</small></p>
              <p>3) документ для выезда за границу;</p>
              <p>4) договор медицинского страхования, заключенный с РУП «Белгосстрах» или «Белэксимгарант», либо договор медицинского страхования, заключенный с любой иностранной страховой организацией.</p>
            </div>
            <div class="docs-list__docs">
              <div class="docs-list__inner-title">Примеры документов</div>
              <div class="div">
                <div class="doc-small-item"><i data-ico="icon-doc" class="ico ico--s doc-small-item__icon"><svg class="ico__svg"><use xlink:href="#icon-doc"></use></svg></i><span class="doc-small-item__span">Обязательный документ</span><a href="#" class="doc-small-item__link">Скачать 290 Kb</a></div>
                <div class="doc-small-item"><i data-ico="icon-doc" class="ico ico--s doc-small-item__icon"><svg class="ico__svg"><use xlink:href="#icon-doc"></use></svg></i><span class="doc-small-item__span">Обязательный документ  обязательный документ</span><a href="#" class="doc-small-item__link">Скачать 290 Kb</a></div>
                <div class="doc-small-item"><i data-ico="icon-doc" class="ico ico--s doc-small-item__icon"><svg class="ico__svg"><use xlink:href="#icon-doc"></use></svg></i><span class="doc-small-item__span">Обязательный документ</span><a href="#" class="doc-small-item__link">Скачать 290 Kb</a></div>
                <div class="doc-small-item"><i data-ico="icon-doc" class="ico ico--s doc-small-item__icon"><svg class="ico__svg"><use xlink:href="#icon-doc"></use></svg></i><span class="doc-small-item__span">Обязательный документ</span><a href="#" class="doc-small-item__link">Скачать 290 Kb</a></div>
                <div class="doc-small-item"><i data-ico="icon-doc" class="ico ico--s doc-small-item__icon"><svg class="ico__svg"><use xlink:href="#icon-doc"></use></svg></i><span class="doc-small-item__span">Обязательный документ  обязательный документ</span><a href="#" class="doc-small-item__link">Скачать 290 Kb</a></div>
                <div class="doc-small-item"><i data-ico="icon-doc" class="ico ico--s doc-small-item__icon"><svg class="ico__svg"><use xlink:href="#icon-doc"></use></svg></i><span class="doc-small-item__span">Обязательный документ</span><a href="#" class="doc-small-item__link">Скачать 290 Kb</a></div>
              </div>
            </div>
          </div>
        </section>
        <section id="camps" class="sectionBox camp-card--camps">
          <h1>Доступные лагеря</h1>
          <h3>Программа доступна в следующих лагерях</h3>
          <div class="camp-card__table">
            <div class="camp-card__table-header">
              <div class="camp-card__table-row">
                <div class="camp-card__table-col w-25 p-r-0">№:</div>
                <div class="camp-card__table-col w-145">Название лагеря:</div>
                <div class="camp-card__table-col w-235 p-r-0">Тип лагеря:</div>
                <div class="camp-card__table-col w-210">Тематика лагеря:</div>
                <div class="camp-card__table-col w-440 p-r-0">Расположение:</div>
              </div>
            </div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-25"> 1</div>
                <div class="camp-card__table-col w-165 p-r-0 p-l-0"><a href="#" class="camp-card__table-product-link">Артек</a></div>
                <div class="camp-card__table-col w-235 p-r-0"> Санитарно-лечебный лагерь</div>
                <div class="camp-card__table-col w-210"><i data-ico="#nature" class="ico ico--s camp-card__table-icon"><svg class="ico__svg"><use xlink:href="#nature"></use></svg></i><span>Подмосковный лагерь</span></div>
                <div class="camp-card__table-col w-440 p-r-0"> Россия, Астраханская область, с. Иркяное, ул. Комсомольская, 42</div>
              </div>
            </div>
            <div class="camp-card__table-devider"></div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-25"> 2</div>
                <div class="camp-card__table-col w-165 p-r-0 p-l-0"><a href="#" class="camp-card__table-product-link">Артек</a></div>
                <div class="camp-card__table-col w-235 p-r-0"> Санитарно-лечебный лагерь</div>
                <div class="camp-card__table-col w-210"><i data-ico="#nature" class="ico ico--s camp-card__table-icon"><svg class="ico__svg"><use xlink:href="#nature"></use></svg></i><span>Подмосковный лагерь</span></div>
                <div class="camp-card__table-col w-440 p-r-0"> Россия, Астраханская область, с. Иркяное, ул. Комсомольская, 42</div>
              </div>
            </div>
            <div class="camp-card__table-devider"></div>
            <div class="camp-card__table-body">
              <div class="camp-card__table-row camp-card__table-product">
                <div class="camp-card__table-col w-25"> 3</div>
                <div class="camp-card__table-col w-165 p-r-0 p-l-0"><a href="#" class="camp-card__table-product-link">Артек</a></div>
                <div class="camp-card__table-col w-235 p-r-0"> Санитарно-лечебный лагерь</div>
                <div class="camp-card__table-col w-210"><i data-ico="#nature" class="ico ico--s camp-card__table-icon"><svg class="ico__svg"><use xlink:href="#nature"></use></svg></i><span>Подмосковный лагерь</span></div>
                <div class="camp-card__table-col w-440 p-r-0"> Россия, Астраханская область, с. Иркяное, ул. Комсомольская, 42</div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}

  {{> modal-tel }}

  {{> modal-enter }}

  {{> modal-reg }}

  {{> modal-email }}

  {{> foot }}
</body>

</html>
