<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">
      <div class="inner-block">
        <div class="sectionBox sectionBox--scallopTop resentprogs">
          <h1 class="resentprogs__title">Избранное</h1>
          <div class="resentprogs__inner">

            {{> search-result-filter }}

            {{> result-item }}

            {{> result-item }}

            {{> result-item }}

          </div>
        </div>
      </div>
    </main>

    {{> page-footer }}

  </div>

  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}

</body>

</html>
