<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body>
  <div class="page-wrap">
    <main class="page-main">
      <div class="inner-block">

        <div class="description-item__title">
          <a data-toggle="modal" data-target="#modal-reg">Регистрация</a>&nbsp;&nbsp;
          <a data-toggle="modal" data-target="#modal-enter">Вход</a>&nbsp;&nbsp;
          <a data-toggle="modal" data-target="#modal-no-style">Модал с тёмным хедером</a>
          <a data-toggle="modal" data-target="#modal-light">Модал светлый</a>
        </div>

        <section class="sectionBox">
          <div class="sectionBox__content">
            <div class="sectionBox__colWrap">
              <div class="sectionBox__colInner">
                <div class="sectionBox__col">
                  <h1>H1 Заголовок.<br>Futura Futuris Medium 40 px</h1>
                  <h3>H3 Заголовок. Futura Futuris Medium 20 px.<br>Созданный в 1925 году небольшой летний палаточный лагерь за прошедшие девять десятилетий превратилсяв страну детства.</h3>
                  <p>Arial Regular 14 px для основного текста.В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию,
                    апробации и внедрению инновационных форм общегои дополнительного образования.</p>
                  <h2>H2 Заголовок.<br>Futura Futuris Medium 30 px</h2>
                  <p>Arial Regular 14 px для основного текста.В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию,
                    апробации и внедрению инновационных форм общегои дополнительного образования.</p>
                  <h3>Классический список:</h3>
                  <ul>
                    <li>24 жилых корпуса, способных принять одновременно более 2 000 детей;</li>
                    <li>3 столовых общей вместимостью на 2190 детей;</li>
                  </ul>
                  <h3>Нумерованный список:</h3>
                  <ol>
                    <li>24 жилых корпуса, способных принять одновременно более 2 000 детей;</li>
                    <li>3 столовых общей вместимостью на 2190 детей;</li>
                  </ol>
                  <h3>Буллиты:</h3>
                  <ul class="ul--bullet">
                    <li>24 жилых корпуса, способных принять одновременно более 2 000 детей;</li>
                    <li>3 столовых общей вместимостью на 2190 детей;</li>
                  </ul>
                  <h3>H3 Заголовок. Futura Futuris Medium 20 px.</h3>
                  <p>Arial Regular 14 px для основного текста.В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию,
                    апробации и внедрению инновационных форм общегои дополнительного образования.</p>
                  <p>Arial Regular 14 px для основного текста.В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию,
                    апробации и внедрению инновационных форм.</p>

                    <h4>H4 Заголовок. Futura Futuris Medium 25 px.</h4>
                    <p>Arial Regular 14 px для основного текста.В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию,
                      апробации и внедрению инновационных форм общегои дополнительного образования.</p>
                    <p>Arial Regular 14 px для основного текста.В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка», цель которой – превратить детский центр в лучшую международную площадку по созданию,
                      апробации и внедрению инновационных форм.</p>

                  <button class="btn btn--primary btn--s"><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--primary btn--s"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s">
                          <svg class="ico__svg">
                            <use xlink:href="#btn-order"></use>
                          </svg></i></span><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--primary btn--s"><span class="btn__ico btn__ico--right"><i data-ico="btn-order" class="ico ico--s">
                          <svg class="ico__svg">
                            <use xlink:href="#btn-order"></use>
                          </svg></i></span><span class="btn__txt">Кнопка</span>
                  </button>
                  <br>
                  <br>
                  <button class="btn btn--primary"><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--primary"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s">
                          <svg class="ico__svg">
                            <use xlink:href="#btn-order"></use>
                          </svg></i></span><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--primary"><span class="btn__ico btn__ico--right"><i data-ico="btn-order" class="ico ico--s">
                          <svg class="ico__svg">
                            <use xlink:href="#btn-order"></use>
                          </svg></i></span><span class="btn__txt">Кнопка</span>
                  </button>
                  <br>
                  <br>
                  <button class="btn btn--primary btn--l"><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--primary btn--l"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s">
                          <svg class="ico__svg">
                            <use xlink:href="#btn-order"></use>
                          </svg></i></span><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--primary btn--l"><span class="btn__ico btn__ico--right"><i data-ico="btn-order" class="ico ico--s">
                          <svg class="ico__svg">
                            <use xlink:href="#btn-order"></use>
                          </svg></i></span><span class="btn__txt">Кнопка</span>
                  </button>
                  <br>
                  <br>
                  <button class="btn btn--s"><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn"><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--l"><span class="btn__txt">Кнопка</span>
                  </button>
                  <br>
                  <br>
                  <button class="btn btn--secondary btn--s">
                    <span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--secondary"><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--secondary btn--l"><span class="btn__txt">Кнопка</span>
                  </button>
                  <br>
                  <br>
                  <button class="btn btn--success btn--s"><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--success"><span class="btn__txt">Кнопка</span>
                  </button>
                  <button class="btn btn--success btn--l"><span class="btn__txt">Кнопка</span>
                  </button>
                  <br>
                  <br>
                  <div class="separator-big"></div>
                  <br>
                  <section class="sectionBox">
                    <div class="features features--predstart">
                      <div class="features__item features__item--program">
                        <div class="features__item-inner">
                          <div class="features__item-icon">
                            <img src="/img/pd_programm.png">
                          </div>
                          <div class="features__item-desc">
                            <div class="features__item-title">Количество
                              <br>программ</div>
                            <div class="features__item-count count count--yellow"><span>1</span><span>1</span><span>1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="features__item features__item--rest">
                        <div class="features__item-inner">
                          <div class="features__item-icon">
                            <img src="/img/pd_camp.png">
                          </div>
                          <div class="features__item-desc">
                            <div class="features__item-title">Количество
                              <br>лагерей</div>
                            <div class="features__item-count count count--orange"><span>1</span><span>1</span><span>1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="features__item features__item--sale">
                        <div class="features__item-inner">
                          <div class="features__item-icon">
                            <img src="/img/pd_tour.png">
                          </div>
                          <div class="features__item-desc">
                            <div class="features__item-title">Доступных для
                              <br>покупки путевок</div>
                            <div class="features__item-count count count--blue"><span>1</span><span>1</span><span>1</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="sectionBox__col">
                  <section class="sectionBox__colWrap">
                    <div class="sectionBox__colInner">
                      <div class="sectionBox__col">
                        <p><small>Arial Regular 12 px вспомогательный текст. В 2014 году разработана Концепция развития Международного детского центра «Артек» – «Артек 2.0. Перезагрузка»</small>
                        </p>
                        <nav class="nav">
                          <div class="nav__item"><a href="#" class="nav__item-link nav__item-link--sub">Направления</a>
                            <div class="nav__itemSub-Wrap">
                              <ul class="nav__itemSub">
                                <li class="nav__itemSub-item"><a href="#" class="nav__itemSub-link">Спортивные</a>
                                </li>
                                <li class="nav__itemSub-item"><a href="#" class="nav__itemSub-link">Языковые</a>
                                </li>
                                <li class="nav__itemSub-item"><a href="#" class="nav__itemSub-link">Творческие</a>
                                </li>
                                <li class="nav__itemSub-item"><a href="#" class="nav__itemSub-link">Оздоровительные</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </nav>
                        <br>
                        <br>
                        <div class="datepicker">
                          <input type="text" value="дд.мм.гггг" readonly class="datepicker__input"><span class="datepicker__icon datepicker__icon--close"></span><span class="datepicker__icon datepicker__icon--open"></span>
                        </div>
                        <br>
                        <br>
                        <div class="style-guide__select">
                          <div class="form-grp style-guide__select-height">
                            <div class="form-label form-label--hid">1</div>
                            <select class="form-ctrl">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="sectionBox__col"><a href="#"><i data-ico="pen" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#pen"></use>
                              </svg></i></a><a href="#"><i data-ico="close" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#close"></use>
                              </svg></i></a><a href="#"><i data-ico="ask" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#ask"></use>
                              </svg></i></a><a href="#"><i data-ico="target-blank" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#target-blank"></use>
                              </svg></i></a><a href="#"><i data-ico="sos" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#sos"></use>
                              </svg></i></a><a href="#"><i data-ico="heart" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#heart"></use>
                              </svg></i></a><a href="#"><i data-ico="social-odnoklassniki--s" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#social-odnoklassniki--s"></use>
                              </svg></i></a><a href="#"><i data-ico="social-vk--s" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#social-vk--s"></use>
                              </svg></i></a><a href="#"><i data-ico="social-mail--s" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#social-mail--s"></use>
                              </svg></i></a><a href="#"><i data-ico="social-facebook--s" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#social-facebook--s"></use>
                              </svg></i></a><a href="#"><i data-ico="minus" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#minus"></use>
                              </svg></i></a><a href="#"><i data-ico="plus" class="ico ico--xs">
                              <svg class="ico__svg">
                                <use xlink:href="#plus"></use>
                              </svg></i></a>
                        <br>
                        <br><a href="#"><i data-ico="shields-health" class="ico ico--s">
                              <svg class="ico__svg">
                                <use xlink:href="#shields-health"></use>
                              </svg></i></a><a href="#"><i data-ico="shields-award" class="ico ico--s">
                              <svg class="ico__svg">
                                <use xlink:href="#shields-award"></use>
                              </svg></i></a><a href="#"><i data-ico="shields-ICF" class="ico ico--s">
                              <svg class="ico__svg">
                                <use xlink:href="#shields-ICF"></use>
                              </svg></i></a>
                        <br>
                        <br><a href="#"><i data-ico="compass" class="ico ico--l">
                              <svg class="ico__svg">
                                <use xlink:href="#compass"></use>
                              </svg></i></a><a href="#"><i data-ico="social-facebook" class="ico ico--l">
                              <svg class="ico__svg">
                                <use xlink:href="#social-facebook"></use>
                              </svg></i></a><a href="#"><i data-ico="social-google" class="ico ico--l">
                              <svg class="ico__svg">
                                <use xlink:href="#social-google"></use>
                              </svg></i></a><a href="#"><i data-ico="social-twitter" class="ico ico--l">
                              <svg class="ico__svg">
                                <use xlink:href="#social-twitter"></use>
                              </svg></i></a><a href="#"><i data-ico="social-youtube" class="ico ico--l">
                              <svg class="ico__svg">
                                <use xlink:href="#social-youtube"></use>
                              </svg></i></a><a href="#"><i data-ico="social-vk" class="ico ico--l">
                              <svg class="ico__svg">
                                <use xlink:href="#social-vk"></use>
                              </svg></i></a><a href="#"><i data-ico="full-screen" class="ico ico--l">
                              <svg class="ico__svg">
                                <use xlink:href="#full-screen"></use>
                              </svg></i></a>
                        <br>
                        <br>
                        <div class="slider-range-block">
                          <div class="slider-range-block-inner">
                            <input type="text" readonly class="slider-range-input slider-range-input--min">
                            <input type="text" readonly class="slider-range-input slider-range-input--max">
                          </div>
                          <div class="slider-range">
                            <div data-max-range='800000' data-min-range="0" data-min-val="200" data-max-val="250000" class="slider-range__inner"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="sectionBox__colWrap">
                    <div class="sectionBox__colInner">
                      <div class="sectionBox__col">
                        <div class="chbx">
                          <input type="checkbox" name="name-1" id="name-1" value="value-1" checked class="chbx__input">
                          <label for="name-1" class="chbx__label">Аквапарк</label>
                        </div>
                        <div class="chbx">
                          <input type="checkbox" name="name-2" id="name-2" value="value-2" class="chbx__input">
                          <label for="name-2" class="chbx__label">Зоопарк</label>
                        </div>
                        <div class="radio">
                          <input type="radio" name="radio" id="radio-1" value="radio-1" checked class="radio__input">
                          <label for="radio-1" class="radio__label">Аквапарк</label>
                        </div>
                        <div class="radio">
                          <input type="radio" name="radio" id="radio-2" value="radio-2" class="radio__input">
                          <label for="radio-2" class="radio__label">Зоопарк</label>
                        </div>
                      </div>
                      <div class="sectionBox__col">
                        <div class="tabs">
                          <div class="tabs__buttons">
                            <ul class="tabs__list">
                              <li class="tabs__item"><a href="#map-tab" class="tabs__link">Карта</a>
                              </li>
                              <li class="tabs__item tabs__item--active"><a href="#list-tab" class="tabs__link">Список</a>
                              </li>
                            </ul>
                          </div>
                          <div class="tabs__inner">
                            <div id="list-tab" class="tabs__tab tabs__tab--active">tab-1</div>
                            <div id="map-tab" class="tabs__tab">tab-2</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <div class="paginator">
                      <ul class="paginator__list">
                        <li class="paginator__item"><a href="#" class="paginator__link paginator__link--prev"><i data-ico="arrow-left-small" class="ico paginator__ico">
                                <svg class="ico__svg">
                                  <use xlink:href="#arrow-left-small"></use>
                                </svg></i><span class="paginator__link-span">Пред.</span></a>
                        </li>
                        <li class="paginator__item active"><a href="#" class="paginator__link">1</a>
                        </li>
                        <li class="paginator__item"><a href="#" class="paginator__link">2</a>
                        </li>
                        <li class="paginator__item"><a href="#" class="paginator__link">3</a>
                        </li>
                        <li class="paginator__item"><a href="#" class="paginator__link">4</a>
                        </li>
                        <li class="paginator__item"><a href="#" class="paginator__link">5</a>
                        </li>
                        <li class="paginator__item"><span class="paginator__span">...</span>
                        </li>
                        <li class="paginator__item"><a href="#" class="paginator__link">12</a>
                        </li>
                        <li class="paginator__item"><a href="#" class="paginator__link paginator__link--next"><span class="paginator__link-span">След.</span><i data-ico="arrow-right-small" class="ico paginator__ico">
                                <svg class="ico__svg">
                                  <use xlink:href="#arrow-right-small"></use>
                                </svg></i></a>
                        </li>
                      </ul>
                    </div>
                    <br>
                    <br>
                    <div class="slider-gallery">
                      <div class="slider-gallery__body">
                        <div data-nav="thumbs" data-navposition="bottom" data-thumbborderwidth="2" data-thumbmargin="10" data-thumbwidth="40" data-thumbheight="40" data-arrows="always" data-width="440" data-height="270" data-fit="cover" data-allowfullscreen="true" data-shadows="false"
                          data-navwidth="400" class="fotorama">
                          <a src="img/temporary/slider-gallery-01.jpg"></a>
                          <a src="img/temporary/slider-gallery-02.jpg"></a>
                          <a src="img/temporary/slider-gallery-03.jpg"></a>
                          <a src="img/temporary/slider-gallery-01.jpg"></a>
                          <a src="img/temporary/slider-gallery-02.jpg"></a>
                          <a src="img/temporary/slider-gallery-03.jpg"></a>
                          <a src="img/temporary/slider-gallery-01.jpg"></a>
                          <a src="img/temporary/slider-gallery-02.jpg"></a>
                          <a src="img/temporary/slider-gallery-03.jpg"></a>
                          <a src="img/temporary/slider-gallery-01.jpg"></a>
                        </div><a href="#" class="slider-gallery__fullscreen-triger"><i data-ico="full-screen" class="ico ico--l">
                              <svg class="ico__svg">
                                <use xlink:href="#full-screen"></use>
                              </svg></i></a>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="date-block">
                      <div class="date-block__from">22.07.2016-</div>
                      <div class="date-block__to">28.06.2016</div>
                    </div>
                    <br>
                    <br>
                    <div class="date-block">
                      <div class="date-block__from">22.07.2016-</div>
                      <div class="date-block__to">12.00<span>по Москве</span>
                      </div>
                    </div>
                    <br>
                    <br><a href="#" class="link-grey">Выбрать другую дату</a>
                    <br>
                    <br>
                    <div class="price-small">
                      <div class="price-small__item price-small__item--sale sale-small"><span class="price-small__inner">250 000</span>
                      </div>
                      <div class="price-small__item price-small__item--cost cost-small"><span class="price-small__inner">230 000<span class="priceRu">руб.</span></span>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="programm-item">
                      <div class="programm-item__img-wrap">
                        <img src="img/program-item.jpg" alt="item" class="programm-item__img">
                      </div>
                      <div class="programm-item_desc">
                        <div class="programm-item__title">Экспресс-программа обучения английскому языку</div>
                        <div class="programm-item__text"><span>3-х местный номер</span>Дополнительное описание номера, всяческие параметры заезда и т.д.</div><a href="#" class="link-grey programm-item__link">Выбрать другую программу</a>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="camp-item">
                      <div class="camp-item__name">Лагерь “Артек”</div>
                      <div class="camp-item__address">Россия, Сочи, курорт “Сочинский”, ул. Октябрьская, 1</div>
                    </div>
                    <br>
                    <br>
                    <div class="documents">
                      <div class="documents-item"><a href="#"><i data-ico="icon-pdf" class="ico ico--xs documents-item__icon">
                              <svg class="ico__svg">
                                <use xlink:href="#icon-pdf"></use>
                              </svg></i><span class="documents-item__span">Обязательный документ</span></a>
                      </div>
                      <div class="documents-item"><a href="#"><i data-ico="icon-xls" class="ico ico--xs documents-item__icon">
                              <svg class="ico__svg">
                                <use xlink:href="#icon-xls"></use>
                              </svg></i>
                            <div class="documents-item__desc">
                              <div class="documents-item__desc-inner"><span class="documents-item__span">Первая строка</span></div>
                              <div class="documents-item__desc-inner"><span class="documents-item__span">Вторая строка</span></div>
                            </div></a>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="documents-item"><a href="#"><i data-ico="icon-xls" class="ico ico--xs documents-item__icon">
                            <svg class="ico__svg">
                              <use xlink:href="#icon-xls"></use>
                            </svg></i>
                          <div class="documents-item__desc"><span class="documents-item__span">Важная информация</span></div></a>
                    </div>
                    <br>
                    <br>
                    <div class="description">
                      <ul class="description__list">
                        <li class="description__list-item">
                          <div class="description-item">
                            <div class="description-item__title">Задачи программы:</div>
                            <ol class="description-item__list">
                              <li class="description-item__list-item">Развитие памяти</li>
                              <li class="description-item__list-item">Развитие навыков межличностного общения</li>
                              <li class="description-item__list-item">Развитие внимательности</li>
                            </ol>
                          </div>
                        </li>
                        <li class="description__list-item">
                          <div class="description-item">
                            <div class="description-item__title">Методика обучения:</div>
                            <ul class="description-item__list">
                              <li class="description-item__list-item">Описание методики обучения.</li>
                            </ul>
                          </div>
                        </li>
                        <li class="description__list-item">
                          <div class="description-item">
                            <div class="description-item__title">Основная программа:</div>
                            <ol class="description-item__list">
                              <li class="description-item__list-item">Вводное занятие, 3 часа.</li>
                              <li class="description-item__list-item">Экспресс-занятие, 1.5 часа.</li>
                              <li class="description-item__list-item">Продвинутое занятие, 5 часов.</li>
                            </ol>
                          </div>
                        </li>
                        <li class="description__list-item">
                          <div class="description-item">
                            <div class="description-item__title">Кружки и мастер классы:</div>
                            <ol class="description-item__list">
                              <li class="description-item__list-item">Разговорный мастер-класс, 2 часа.</li>
                              <li class="description-item__list-item">Кружок с углубленным изучением английского языка, 30 часов.</li>
                            </ol>
                          </div>
                        </li>
                        <li class="description__list-item">
                          <div class="description-item">
                            <div class="description-item__title">Распорядок дня:</div>
                            <ul class="description-item__list">
                              <li class="description-item__list-item">7:00 Подъем</li>
                              <li class="description-item__list-item">7:10-8:00 Утренняя зарядка</li>
                              <li class="description-item__list-item">8:00-8:30 Завтрак</li>
                              <li class="description-item__list-item">10:00-12:00 Утренние занятия</li>
                              <li class="description-item__list-item">14:00-14:30 Обед</li>
                            </ul>
                          </div>
                        </li>
                        <li class="description__list-item">
                          <div class="description-item">
                            <div class="description-item__title">Педагоги:</div>
                            <ul class="description-item__list">
                              <li class="description-item__list-item">20-й квалификационный разряд. Соотношение педагог/ребенок 0.5</li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <br>
                    <br>
                    <div class="book-order">
                      <div class="book-order__num">Номер бронирования: Р0008765</div>
                      <div class="book-order__confirm">На указанный вами E-mail, а также в раздел ЛК "<a href="#">Уведомления</a>", выслано подтверждение бронирования</div>
                      <div class="book-order__leave">Отъезд через 20 дней!</div>
                    </div>
                    <br>
                    <br>
                    <div class="amount">
                      <div class="amount__item">Услуг выбрано:<span class="amount__item-col">3 шт.</span>
                      </div>
                      <div class="amount__item">Общая стоимость:<span class="amount__item-end">14 000<span class="priceRu">руб.</span></span>
                      </div>
                    </div>
                    <br>
                    <br>
                    <ul class="list-disc-inline">
                      <li class="list-disc-inline__item">Экскурсия в музей</li>
                      <li class="list-disc-inline__item">Ночная рыбалка</li>
                      <li class="list-disc-inline__item">Веселые игры</li>
                    </ul>
                    <br>
                    <br>
                    <div class="print">
                      <div class="print__btn">
                        <button class="btn btn--secondary btn--l"><span class="btn__txt">Распечатать</span>
                        </button>
                      </div>
                      <div class="print__links"><a href="#" class="print__links-item">Документация по бронированию</a><a href="#" class="print__links-item">Подготовка ребенка к лагерю</a>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="search-block">
                      <form action="#" method="post" class="search-block__form">
                        <input type="search" name="search" placeholder="Введите название услуги ..." class="search-block__input">
                        <button type="submit" class="btn btn--secondary btn--s search-block__btn"><span class="btn__txt">Найти услугу</span>
                        </button>
                      </form>
                    </div>
                    <br>
                    <br>
                    <div class="program-speed-desc">
                      <ul class="program-speed-desc__list">
                        <li class="program-speed-desc__item">
                          <div class="program-speed-desc__item-inner"><i data-ico="cubes" class="ico ico--l program-speed-desc__icon">
                                <svg class="ico__svg">
                                  <use xlink:href="#cubes"></use>
                                </svg></i>
                          </div>
                          <div class="program-speed-desc__item-inner"><span>Языковая программа</span><span>Английкий язык</span>
                          </div>
                        </li>
                        <li class="program-speed-desc__item">
                          <div class="program-speed-desc__item-inner program-speed-desc__item-inner--green"><i data-ico="smile-face" class="ico ico--l program-speed-desc__icon program-speed-desc__icon-32">
                                <svg class="ico__svg">
                                  <use xlink:href="#smile-face"></use>
                                </svg></i>
                          </div>
                          <div class="program-speed-desc__item-inner program-speed-desc__item-inner--green">
                            <div class="program-speed-desc__big-text">10-12</div>
                          </div>
                          <div class="program-speed-desc__item-inner"><span>Рекомендуемый</span><span>возраст ребенка (лет)</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <br>
                    <br>
                    <div class="doc-small-item"><i data-ico="icon-doc" class="ico ico--s doc-small-item__icon">
                          <svg class="ico__svg">
                            <use xlink:href="#icon-doc"></use>
                          </svg></i><span class="doc-small-item__span">Обязательный документ</span><a href="#" class="doc-small-item__link">Скачать 290 Kb</a>
                    </div>
                    <br>
                    <br>
                    <div class="small-search">
                      <input type="search" name="search" placeholder="Или укажите в поле ..." class="small-search__input">
                      <button class="btn btn--primary btn--l small-search__btn"><span class="btn__txt">ВЫБРАТЬ</span>
                      </button>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <section class="sectionBox__colWrap">
                      <div class="sectionBox__colInner">
                        <div class="sectionBox__col">
                          <div class="state-book state-book--stateBook-yes">
                            <div class="state-book__icon"><i data-ico="#stateBook-yes" class="ico state-book__icon-ico">
                                  <svg class="ico__svg">
                                    <use xlink:href="#stateBook-yes"></use>
                                  </svg></i>
                            </div>
                            <div class="state-book__text">Бронирование
                              <br>успешно
                            </div>
                          </div>
                        </div>
                        <div class="sectionBox__col">
                          <div class="state-book state-book--stateBook-no">
                            <div class="state-book__icon"><i data-ico="#stateBook-no" class="ico state-book__icon-ico">
                                  <svg class="ico__svg">
                                    <use xlink:href="#stateBook-no"></use>
                                  </svg></i>
                            </div>
                            <div class="state-book__text">Бронирование
                              <br>не завершено
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </section>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="result-item">
                <div class="result-item__decr">
                  <div class="result-item__img-wrapper">
                    <img src="img/temporary/result-item-1.jpg" alt="item" class="result-item__img">
                  </div>
                  <div class="result-item__desc-items">
                    <div class="result-item__desc-links">
                      <div class="result-item__icons"><a href="#"><i data-ico="shields-health" class="ico ico--s">
                              <svg class="ico__svg">
                                <use xlink:href="#shields-health"></use>
                              </svg></i></a><a href="#"><i data-ico="shields-ICF" class="ico ico--s">
                              <svg class="ico__svg">
                                <use xlink:href="#shields-ICF"></use>
                              </svg></i></a><a href="#"><i data-ico="shields-award" class="ico ico--s">
                              <svg class="ico__svg">
                                <use xlink:href="#shields-award"></use>
                              </svg></i></a>
                      </div>
                      <div class="result-item__type-place"><i data-ico="#camp" class="ico ico--s result-item__type-place-icon-camp">
                            <svg class="ico__svg">
                              <use xlink:href="#camp"></use>
                            </svg></i><span class="result-item__type-place-text">Санитарно-лечебный лагерь</span>
                      </div><a href="#"><i data-ico="#ask" class="ico ico--xs result-item__type-place-icon-ask">
                            <svg class="ico__svg">
                              <use xlink:href="#ask"></use>
                            </svg></i></a>
                      <div class="result-item__rating"><i data-ico="#star" class="ico result-item__rating-icon">
                            <svg class="ico__svg">
                              <use xlink:href="#star"></use>
                            </svg></i><span class="result-item__rating__didgit">8,4/10</span><span class="result-item__rating__text">Очень хорошо</span>
                      </div>
                      <div class="result-item__liked"><a href="#" class="result-item__liked-link"><i data-ico="#heart" class="ico ico--s result-item__liked-icon">
                              <svg class="ico__svg">
                                <use xlink:href="#heart"></use>
                              </svg></i><span>В избранное</span></a>
                      </div>
                    </div>
                    <div class="result-item__place">“Артек”, Россия, Сочи, курорт “Сочинский”</div>
                    <div class="result-item__inner">
                      <div class="result-item__title">Экспресс-программа обучения английскому языку вторая строка названия</div>
                    </div>
                  </div>
                </div>
                <div class="result-item__book">
                  <div class="result-item__age">
                    <div class="result-item__age-title">Возраст (лет)</div>
                    <div class="result-item__age-body">5-17</div>
                  </div>
                  <div class="result-item__date">
                    <div class="result-item__date-title">Дата заезда</div>
                    <div class="form-grp">
                      <div class="form-label form-label--hid">22 сен - 26 окт</div>
                      <select placeholder="22 сен - 26 окт" class="form-ctrl">
                        <option>22 сен - 26 окт</option>
                        <option>22 сен - 26 окт</option>
                        <option>22 сен - 26 окт</option>
                        <option>22 сен - 26 окт</option>
                      </select>
                    </div>
                  </div>
                  <div class="result-item__sits">
                    <div class="result-item__sits-title">Мест</div>
                    <div class="result-item__sits-body ">389</div>
                  </div>
                  <div class="result-item__child">
                    <div class="result-item__child-title">Кол.-во детей</div>
                    <div class="form-grp">
                      <div class="form-label form-label--hid">1</div>
                      <select placeholder="1" class="form-ctrl">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <div class="result-item__book-icon"><i data-ico="#offer-sale" class="ico result-item__book-icon-ico">
                        <svg class="ico__svg">
                          <use xlink:href="#offer-sale"></use>
                        </svg></i>
                  </div>
                  <div class="result-item__amount">
                    <div class="result-item__amount-sale"><span>250 000</span>
                    </div>
                    <div class="result-item__amount-body">230 000 <span class="priceRu">руб.</span>
                    </div>
                  </div>
                  <div class="result-item__button">
                    <button class="btn btn--primary btn--l"><span class="btn__ico"><i data-ico="btn-order" class="ico ico--s">
                            <svg class="ico__svg">
                              <use xlink:href="#btn-order"></use>
                            </svg></i></span><span class="btn__txt">Забронировать</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-no-style }}
  {{> modal-light }}

  {{> foot }}
</body>

</html>
