<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page--index page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main">

      <div class="inner-block">

        <section class="section-tabs">

          <div class="camp-card__fullinfo">

            <div class="camp-card__fullinfo-tabs">
              <a href="#book" class="camp-card__fullinfo-button">
                <span>Бронирования</span>
              </a>
              <a href="#e-currency" class="camp-card__fullinfo-button">
                <span>Электронный кошелек</span>
              </a>
              <a href="#child" class="camp-card__fullinfo-button">
                <span>Мои дети</span>
              </a>
              <a href="#message" class="camp-card__fullinfo-button">
                <span>Сообщения</span>
                <div class="badge">3</div>
              </a>
              <a href="#settings" class="camp-card__fullinfo-button">
                <span>Настройки</span>
              </a>
              <a href="#bonus" class="camp-card__fullinfo-button">
                <span>Бонусы</span>
              </a>
              <a href="#reviews" class="camp-card__fullinfo-button camp-card__fullinfo-button--active">
                <span>Отзывы</span>
              </a>
            </div>

            <div class="camp-card__fullinfo-contents">
              <div id="book" class="camp-card__fullinfo-content">
                <h1 class="camp-card__fullinfo-title">Бронирования</h1>
                <div class="camp-card__fullinfo-inner">

                  {{> search-result-filter }}

                  {{> result-item-1 }}

                  {{> result-item-2 }}

                  {{> result-item-3 }}

                </div>
              </div>

              <div id="e-currency" class="camp-card__fullinfo-content">

                <h1 class="camp-card__fullinfo-title">Электронный кошелек
                  <a href="#" class="camp-card__fullinfo-title-link">
                    <i data-ico="ask" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#ask"></use></svg></i>
                    <span class="udrline-dashed">Как это работает?</span>
                  </a>
                </h1>

                {{> balance }}

                <div class="separator-big"></div>
                <div class="available-goods">
                  <div class="camp-card__programs">
                    <h1 class="title-h1">Настройка доступных для детей товаров</h1>
                    <div class="camp-card__tabs">
                      <div class="camp-card__tab open">

                        <div class="camp-card__tab-title">
                          <div class="camp-card__tab-icon"></div>Гришин Андрей Павлович. 5 лет
                        </div>

                        <div class="camp-card__tab-cont">
                          <form action="#" method="post">
                            <div class="camp-card__tab-cont-box">
                              <div class="goods">
                                <p>Укажите продукты, которые вы хотели бы видеть, <br> в меню вашего ребенка</p>

                                <ul class="goods__ul">

                                  <li class="goods__item">
                                    <ul class="goods__list">

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-1" id="name-1" value="value-1" class="chbx__input">
                                          <label for="name-1" class="chbx__label">Вода</label>
                                        </div>
                                      </li>

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-2" id="name-2" value="value-2" class="chbx__input">
                                          <label for="name-2" class="chbx__label">Фаст-фуд</label>
                                        </div>
                                      </li>

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-3" id="name-3" value="value-3" class="chbx__input">
                                          <label for="name-3" class="chbx__label">Пирог</label>
                                        </div>
                                      </li>

                                    </ul>
                                  </li>

                                  <li class="goods__item">
                                    <ul class="goods__list">

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-4" id="name-4" value="value-4" class="chbx__input">
                                          <label for="name-4" class="chbx__label">Конфеты</label>
                                        </div>
                                      </li>

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-5" id="name-5" value="value-5" class="chbx__input">
                                          <label for="name-5" class="chbx__label">Мороженое</label>
                                        </div>
                                      </li>

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-6" id="name-6" value="value-6" class="chbx__input">
                                          <label for="name-6" class="chbx__label">Соки</label>
                                        </div>
                                      </li>

                                    </ul>
                                  </li>

                                  <li class="goods__item">
                                    <ul class="goods__list">

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-7" id="name-7" value="value-7" class="chbx__input">
                                          <label for="name-7" class="chbx__label">Печенье</label>
                                        </div>
                                      </li>

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-8" id="name-8" value="value-8" class="chbx__input">
                                          <label for="name-8" class="chbx__label">Молоко</label>
                                        </div>
                                      </li>

                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-9" id="name-9" value="value-9" class="chbx__input">
                                          <label for="name-9" class="chbx__label">Мясо</label>
                                        </div>
                                      </li>

                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="camp-card__tab-btn-wrap">
                              <button type="submit" class="btn btn--secondary btn--l">
                                <span class="btn__txt">Сохранить</span>
                              </button>
                            </div>

                          </form>
                        </div>
                      </div>

                      <div class="camp-card__tab">

                        <div class="camp-card__tab-title">
                          <div class="camp-card__tab-icon"></div>Гришина Дарья Павловна. 7 лет
                        </div>

                        <div class="camp-card__tab-cont">
                          <form action="#" method="post">
                            <div class="camp-card__tab-cont-box">
                              <div class="goods">
                                <p>Укажите продукты, которые вы хотели бы видеть, <br> в меню вашего ребенка</p>
                                <ul class="goods__ul">
                                  <li class="goods__item">
                                    <ul class="goods__list">
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-12" id="name-12" value="value-12" class="chbx__input">
                                          <label for="name-12" class="chbx__label">Вода</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-22" id="name-22" value="value-22" class="chbx__input">
                                          <label for="name-22" class="chbx__label">Фаст-фуд</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-32" id="name-32" value="value-32" class="chbx__input">
                                          <label for="name-32" class="chbx__label">Пирог</label>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="goods__item">
                                    <ul class="goods__list">
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-42" id="name-42" value="value-42" class="chbx__input">
                                          <label for="name-42" class="chbx__label">Конфеты</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-52" id="name-52" value="value-52" class="chbx__input">
                                          <label for="name-52" class="chbx__label">Мороженое</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-62" id="name-62" value="value-62" class="chbx__input">
                                          <label for="name-62" class="chbx__label">Соки</label>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="goods__item">
                                    <ul class="goods__list">
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-72" id="name-72" value="value-72" class="chbx__input">
                                          <label for="name-72" class="chbx__label">Печенье</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-8" id="name-82" value="value-82" class="chbx__input">
                                          <label for="name-82" class="chbx__label">Молоко</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-92" id="name-92" value="value-92" class="chbx__input">
                                          <label for="name-92" class="chbx__label">Мясо</label>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="camp-card__tab-btn-wrap">
                              <button type="submit" class="btn btn--secondary btn--l">
                                <span class="btn__txt">Сохранить</span>
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>

                      <div class="camp-card__tab">
                        <div class="camp-card__tab-title">
                          <div class="camp-card__tab-icon"></div>Васильев Антон Иванович. 15 лет
                        </div>
                        <div class="camp-card__tab-cont">
                          <form action="#" method="post">
                            <div class="camp-card__tab-cont-box">
                              <div class="g3ods">
                                <p>Укажите продукты, которые вы хотели бы видеть,<br> в меню вашего ребенка</p>
                                <ul class="goods__ul">
                                  <li class="goods__item">
                                    <ul class="goods__list">
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-13" id="name-13" value="value-13" class="chbx__input">
                                          <label for="name-13" class="chbx__label">Вода</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-23" id="name-23" value="value-23" class="chbx__input">
                                          <label for="name-23" class="chbx__label">Фаст-фуд</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-33" id="name-33" value="value-33" class="chbx__input">
                                          <label for="name-33" class="chbx__label">Пирог</label>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="goods__item">
                                    <ul class="goods__list">
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-43" id="name-43" value="value-43" class="chbx__input">
                                          <label for="name-43" class="chbx__label">Конфеты</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-53" id="name-53" value="value-53" class="chbx__input">
                                          <label for="name-53" class="chbx__label">Мороженое</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-63" id="name-63" value="value-63" class="chbx__input">
                                          <label for="name-63" class="chbx__label">Соки</label>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="goods__item">
                                    <ul class="goods__list">
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-73" id="name-73" value="value-73" class="chbx__input">
                                          <label for="name-73" class="chbx__label">Печенье</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-83" id="name-83" value="value-83" class="chbx__input">
                                          <label for="name-83" class="chbx__label">Молоко</label>
                                        </div>
                                      </li>
                                      <li class="goods__list-item">
                                        <div class="chbx">
                                          <input type="checkbox" name="name-93" id="name-93" value="value-93" class="chbx__input">
                                          <label for="name-93" class="chbx__label">Мясо</label>
                                        </div>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="camp-card__tab-btn-wrap">
                              <button type="submit" class="btn btn--secondary btn--l">
                                <span class="btn__txt">Сохранить</span>
                              </button>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="child" class="camp-card__fullinfo-content">
                <h1 class="camp-card__fullinfo-title camp-card__fullinfo-title--pb-sm">Мои дети</h1>
                <div class="order-child order-child--btn-out">
                  <div data-close-icon="#round-minus" data-open-icon="#round-plus" class="order-child__title">
                    <a href="#" class="order-child__link"><i data-ico="round-plus" class="ico ico--xs order-child__icon"><svg class="ico__svg"><use xlink:href="#round-plus"></use></svg></i></a>
                    <span class="udrline-dashed order-child__title-text">Добавить ребенка</span>
                  </div>
                  <div class="order-child__inner">
                    <div class="form">
                      <form action="#" method="post" class="form__form">
                        <div class="form__data">
                          <div class="form__title">Данные</div>
                          <div class="form__items-wrap">
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label for="last-name1">Фамилия</label>
                                </div>
                                <div class="form-item__elem">
                                  <input type="text" id="last-name1" class="form-ctrl">
                                </div>
                              </div>
                            </div>
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label for="name1">Имя</label>
                                </div>
                                <div class="form-item__elem">
                                  <input type="text" id="name1" class="form-ctrl">
                                </div>
                              </div>
                            </div>
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label for="patronymic1">Отчество</label>
                                </div>
                                <div class="form-item__elem">
                                  <input type="text" id="patronymic1" class="form-ctrl">
                                </div>
                              </div>
                              <div class="chbx">
                                <input type="checkbox" name="name-1" id="name-11" value="value-11" class="chbx__input">
                                <label for="name-11" class="chbx__label">Нет отчества</label>
                              </div>
                            </div>
                            <div class="form__item form__item--radio-chbx">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label>Пол:</label>
                                </div>
                                <div class="form-item__elem form-item__elem--radio-chbx-inline">
                                  <div class="radio">
                                    <input type="radio" name="radio" id="radio-11" value="radio-1" checked class="radio__input">
                                    <label for="radio-11" class="radio__label">Мужской</label>
                                  </div>
                                  <div class="radio">
                                    <input type="radio" name="radio" id="radio-21" value="radio-2" class="radio__input">
                                    <label for="radio-21" class="radio__label">Женский</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form__item form__item--s">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label>Дата рождения</label>
                                </div>
                                <div class="form-item__elem">
                                  <div class="datepicker">
                                    <input type="text" value="дд.мм.гггг" readonly class="datepicker__input">
                                    <span class="datepicker__icon datepicker__icon--close"></span>
                                    <span class="datepicker__icon datepicker__icon--open"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form__docs">
                          <div class="form__title">Удостоверяющий документ</div>
                          <div class="form__items-wrap">
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label>Тип документа</label>
                                </div>
                                <div class="form-item__elem">
                                  <div class="form-grp">
                                    <div class="form-label form-label--hid">Паспорт гражданина РФ</div>
                                    <select placeholder="Паспорт гражданина РФ" class="form-ctrl">
                                      <option>Права</option>
                                      <option>Справка студента</option>
                                      <option>Свидетльство</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form__item">
                              <div class="form__item-inner">
                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="num1">Номер</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="text" id="num1" class="form-ctrl">
                                    </div>
                                  </div>
                                </div>
                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="series1">Серия</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="text" id="series1" class="form-ctrl">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form__item form__item--s">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label>Когда выдан</label>
                                </div>
                                <div class="form-item__elem">
                                  <div class="datepicker">
                                    <input type="text" value="дд.мм.гггг" readonly class="datepicker__input">
                                    <span class="datepicker__icon datepicker__icon--close"></span>
                                    <span class="datepicker__icon datepicker__icon--open"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form__item form__item--l form__item--vat">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label for="who1">Кем выданн</label>
                                </div>
                                <div class="form-item__elem">
                                  <textarea id="who1" class="form-ctrl"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="form__item form__item--l">
                              <div class="form__item-inner">
                                <div class="form-item__label">
                                  <label for="place1">Место рождения</label>
                                </div>
                                <div class="form-item__elem">
                                  <input id="place1" type="text" name="place" class="form-ctrl form-ctrl">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form__btn-wrap">
                          <button type="submit" class="btn btn--secondary btn--l form__btn">
                            <span class="btn__txt">Сохранить</span>
                          </button>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>

                <div class="block-info block-info--close">
                  <div class="block-info__title">Васильев Антон Иванович. 15 лет
                    <span>Поедет в лагерь “Голодные игры. Восстание капитолия” через 12 дней</span>
                  </div>
                  <button type="button" class="btn btn--success btn--l block-info__top-btn">
                    <span class="btn__txt">К бронированию</span>
                  </button>
                </div>

                <div class="block-info block-info--close">
                  <div class="block-info__title">
                    <div class="block-info__title-text">Гришина Дарья Павловна. 7 лет</div>
                    <span>
                      <a href="#" class="block-info__title-link">
                        <i data-ico="pen" class="ico ico--xs"><svg class="ico__svg"><use xlink:href="#pen"></use></svg></i>
                        <span class="udrline-dashed"> Редактировать данные</span>
                      </a>
                    </span>
                  </div>

                  <form action="#" method="post">
                    <div class="block-info__inner">
                      <div class="form">
                        <div class="form__form">
                          <div class="form__data">
                            <div class="form__title">Данные</div>
                            <div class="form__items-wrap">
                              <div class="form__item">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label for="last-name">Фамилия</label>
                                  </div>
                                  <div class="form-item__elem">
                                    <input type="text" id="last-name" class="form-ctrl">
                                  </div>
                                </div>
                              </div>
                              <div class="form__item">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label for="name">Имя</label>
                                  </div>
                                  <div class="form-item__elem">
                                    <input type="text" id="name" class="form-ctrl">
                                  </div>
                                </div>
                              </div>
                              <div class="form__item">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label for="patronymic">Отчество</label>
                                  </div>
                                  <div class="form-item__elem">
                                    <input type="text" id="patronymic" class="form-ctrl">
                                  </div>
                                </div>
                                <div class="chbx">
                                  <input type="checkbox" name="name-1" id="name-1" value="value-1" class="chbx__input">
                                  <label for="name-1" class="chbx__label">Нет отчества</label>
                                </div>
                              </div>
                              <div class="form__item form__item--radio-chbx">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label>Пол:</label>
                                  </div>
                                  <div class="form-item__elem form-item__elem--radio-chbx-inline">
                                    <div class="radio">
                                      <input type="radio" name="radio" id="radio-1" value="radio-1" checked class="radio__input">
                                      <label for="radio-1" class="radio__label">Мужской</label>
                                    </div>
                                    <div class="radio">
                                      <input type="radio" name="radio" id="radio-2" value="radio-2" class="radio__input">
                                      <label for="radio-2" class="radio__label">Женский</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form__item form__item--s">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label>Дата рождения</label>
                                  </div>
                                  <div class="form-item__elem">
                                    <div class="datepicker">
                                      <input type="text" value="дд.мм.гггг" readonly class="datepicker__input">
                                      <span class="datepicker__icon datepicker__icon--close"></span>
                                      <span class="datepicker__icon datepicker__icon--open"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form__docs">
                            <div class="form__title">Удостоверяющий документ</div>
                            <div class="form__items-wrap">
                              <div class="form__item">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label>Тип документа</label>
                                  </div>
                                  <div class="form-item__elem">
                                    <div class="form-grp">
                                      <div class="form-label form-label--hid">Паспорт гражданина РФ</div>
                                      <select placeholder="Паспорт гражданина РФ" class="form-ctrl">
                                        <option>Права</option>
                                        <option>Справка студента</option>
                                        <option>Свидетльство</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form__item">
                                <div class="form__item-inner">
                                  <div class="form__item">
                                    <div class="form__item-inner">
                                      <div class="form-item__label">
                                        <label for="num">Номер</label>
                                      </div>
                                      <div class="form-item__elem">
                                        <input type="text" id="num" class="form-ctrl">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form__item">
                                    <div class="form__item-inner">
                                      <div class="form-item__label">
                                        <label for="series">Серия</label>
                                      </div>
                                      <div class="form-item__elem">
                                        <input type="text" id="series" class="form-ctrl">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form__item form__item--s">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label>Когда выдан</label>
                                  </div>
                                  <div class="form-item__elem">
                                    <div class="datepicker">
                                      <input type="text" value="дд.мм.гггг" readonly class="datepicker__input">
                                      <span class="datepicker__icon datepicker__icon--close"></span>
                                      <span class="datepicker__icon datepicker__icon--open"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form__item form__item--l form__item--vat">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label for="who">Кем выдан</label>
                                  </div>
                                  <div class="form-item__elem">
                                    <textarea id="who" class="form-ctrl"></textarea>
                                  </div>
                                </div>
                              </div>
                              <div class="form__item form__item--l">
                                <div class="form__item-inner">
                                  <div class="form-item__label">
                                    <label for="place">Место рождения</label>
                                  </div>
                                  <div class="form-item__elem">
                                    <input id="place" type="text" name="place" class="form-ctrl form-ctrl">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="block-info__btn-wrap">
                      <button type="submit" class="btn btn--secondary btn--l block-info__btn">
                        <span class="btn__txt">Сохранить</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>

              <div id="message" class="camp-card__fullinfo-content">
                <h1 class="camp-card__fullinfo-title">Сообщения и оповещения</h1>

                <div>

                  <div class="message">
                    <div class="message__title">
                      <span class="message__title-span">
                        <span>Ваш тур по программе 'Экспресс-программа обучения английскому языку'</span>
                        <span>успешно забронирован</span>
                      </span>
                      <span class="message__title-data">17.14.2016. в 12:35</span>
                    </div>
                    <div class="message__inner">
                      <p>Здравствуйте, Колчаева Дарья Владимировна! Ваша регистрация подтверждена.</p>
                      <p>Ваши регистрационные данные:
                        <br>Логин: Login
                        <br>Пароль: Password</p>
                    </div>
                  </div>

                  <div class="message">
                    <div class="message__title">
                      <span class="message__title-span">
                        <span>Спасибо за регистрацию</span>
                      </span>
                      <span class="message__title-data">17.14.2016. в 12:35</span>
                    </div>
                    <div class="message__inner">
                      <p>Здравствуйте, Колчаева Дарья Владимировна! Ваша регистрация подтверждена.</p>
                      <p>Ваши регистрационные данные:
                        <br>Логин: Login
                        <br>Пароль: Password</p>
                    </div>
                  </div>

                  <div class="message">
                    <div class="message__title"><span class="message__title-span"><span> Поздравляем с днем рождения!</span></span><span class="message__title-data">17.14.2016. в 12:35</span>
                    </div>
                    <div class="message__inner">
                      <p>Здравствуйте, Колчаева Дарья Владимировна! Ваша регистрация подтверждена.</p>
                      <p>Ваши регистрационные данные:
                        <br>Логин: Login
                        <br>Пароль: Password</p>
                    </div>
                  </div>

                </div>

              </div>

              <div id="settings" class="camp-card__fullinfo-content">
                <h1 class="camp-card__fullinfo-title camp-card__fullinfo-title--pb-sm">Настройки</h1>
                <div>
                  <div class="block-info">
                    <div class="block-info__title">Общая информация</div>
                    <form action="#" method="post">
                      <div class="block-info__inner">
                        <div class="form">
                          <div class="form__form">
                            <div class="form__data">
                              <div class="form__items-wrap">

                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="last-name">Фамилия</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="text" id="last-name" class="form-ctrl">
                                    </div>
                                  </div>
                                </div>

                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="name">Имя</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="text" id="name" class="form-ctrl">
                                    </div>
                                  </div>
                                </div>
                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="patronymic">Отчество</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="text" id="patronymic" class="form-ctrl">
                                    </div>
                                  </div>
                                  <div class="chbx">
                                    <input type="checkbox" name="1" id="1" value="1" class="chbx__input">
                                    <label for="1" class="chbx__label">Нет отчества</label>
                                  </div>
                                </div>
                                <div class="form__item form__item--radio-chbx">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label>Пол:</label>
                                    </div>
                                    <div class="form-item__elem form-item__elem--radio-chbx-inline">
                                      <div class="radio">
                                        <input type="radio" name="radio" id="radio-1" value="radio-1" checked class="radio__input">
                                        <label for="radio-1" class="radio__label">Мужской</label>
                                      </div>
                                      <div class="radio">
                                        <input type="radio" name="radio" id="radio-2" value="radio-2" class="radio__input">
                                        <label for="radio-2" class="radio__label">Женский</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form__docs">
                              <div class="form__items-wrap">
                                <div class="form__item form__item--s">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="tel">Телефон</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="tel" id="tel" placeholder="+7 (___) ___-__-__" class="form-ctrl">
                                    </div>
                                  </div>
                                </div>
                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="email">Эл. почта</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="text" id="email" class="form-ctrl">
                                    </div>
                                  </div>
                                  <div class="capch">
                                    На этот адрес будет отправляться информация <br>
                                    о бронировании. Адрес будет использован при регистрации
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="block-info__btn-wrap">
                        <button type="submit" class="btn btn--secondary btn--l block-info__btn">
                          <span class="btn__txt">Сохранить</span>
                        </button>
                      </div>

                    </form>
                  </div>

                  <div class="block-info block-info--docs">
                    <div class="block-info__title">Удостоверяющий документ</div>
                    <form action="#" method="post">
                      <div class="block-info__inner">
                        <div class="form">
                          <div class="form__form">
                            <div class="form__data">
                              <div class="form__items-wrap">
                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label>Тип документа</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <div class="form-grp">
                                        <div class="form-label form-label--hid">Паспорт гражданина РФ</div>
                                        <select placeholder="Паспорт гражданина РФ" class="form-ctrl">
                                          <option>Права</option>
                                          <option>Справка студента</option>
                                          <option>Свидетльство</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form__item">
                                      <div class="form__item-inner">
                                        <div class="form-item__label">
                                          <label for="num">Номер</label>
                                        </div>
                                        <div class="form-item__elem">
                                          <input type="text" id="num" class="form-ctrl">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form__item">
                                      <div class="form__item-inner">
                                        <div class="form-item__label">
                                          <label for="series">Серия</label>
                                        </div>
                                        <div class="form-item__elem">
                                          <input type="text" id="series" class="form-ctrl">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form__item form__item--s">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label>Дата рождения</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <div class="datepicker">
                                        <input type="text" value="дд.мм.гггг" readonly class="datepicker__input">
                                        <span class="datepicker__icon datepicker__icon--close"></span>
                                        <span class="datepicker__icon datepicker__icon--open"></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="place">Место рождения</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input id="place" type="text" name="place" class="form-ctrl form-ctrl">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form__docs">
                              <div class="form__items-wrap">
                                <div class="form__item form__item--s">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label>Когда выдан</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <div class="datepicker">
                                        <input type="text" value="дд.мм.гггг" readonly class="datepicker__input">
                                        <span class="datepicker__icon datepicker__icon--close"></span>
                                        <span class="datepicker__icon datepicker__icon--open"></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form__item form__item--l form__item--vat">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="who">Кем выдан</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <textarea id="who" class="form-ctrl"></textarea>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="block-info__btn-wrap">
                        <button type="submit" class="btn btn--secondary btn--l block-info__btn">
                          <span class="btn__txt">Сохранить</span>
                        </button>
                      </div>
                    </form>
                  </div>

                  <div class="block-info block-info--card">
                    <div class="block-info__title">Данные платежной карты</div>
                    <form action="#" method="post">
                      <div class="block-info__inner">
                        <div class="form">
                          <div class="form__form">
                            <div class="form__data">
                              <div class="form__items-wrap">
                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label>Тип карты</label>
                                    </div>

                                    <div class="form-item__elem">
                                      <div class="form-grp">
                                        <div class="form-label form-label--hid">Visa</div>
                                        <select placeholder="Visa" class="form-ctrl">
                                          <option>Visa</option>
                                          <option>Master cart</option>
                                          <option>Visa electron</option>
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label for="cart-num">Номер карты</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="text" id="cart-num" class="form-ctrl">
                                    </div>
                                  </div>
                                  <div class="chbx">
                                    <input type="checkbox" name="speed-buy" id="speed-buy" value="value-1" class="chbx__input">
                                    <label for="speed-buy" class="chbx__label">Покупка в 1 клик</label>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form__docs">
                              <div class="form__items-wrap">
                                <div class="form__item form__item--s form__item--big-label">
                                  <div class="form__item-inner">
                                    <div class="form-item__label">
                                      <label>Дата окончания действия</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <div class="datepicker">
                                        <input type="text" value="дд.мм.гггг" readonly class="datepicker__input">
                                        <span class="datepicker__icon datepicker__icon--close"></span>
                                        <span class="datepicker__icon datepicker__icon--open"></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="form__item">
                                  <div class="form__item-inner">
                                    <div class="form__item">
                                      <div class="form__item-inner">
                                        <div class="form-item__label">
                                          <label for="cv">CVC-код</label>
                                        </div>
                                        <div class="form-item__elem">
                                          <input type="text" id="cv" class="form-ctrl">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form__item"></div>
                                  </div>
                                  <div class="capch">
                                    Код CVV2 можно найти на обратной стороне карты VISA,
                                    это последние 3 цифры из семизначного числа рядом с подписью держателя карты.
                                    Как правило данные цифры визуально отделены от всего числа
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="block-info__btn-wrap">
                        <button type="submit" class="btn btn--secondary btn--l block-info__btn">
                          <span class="btn__txt">Сохранить</span>
                        </button>
                      </div>

                    </form>
                  </div>
                </div>
              </div>

              <div id="bonus" class="camp-card__fullinfo-content">
                <h1 class="camp-card__fullinfo-title camp-card__fullinfo-title--pb-sm">Бонусы</h1>

                <div class="bonus-balance">
                  Баланс:<span class="bonus-balance__amount">1280 бонусов</span>
                </div>

                <div class="bonus-block__wrap">

                  <div class="bonus-block block-info">

                    <div class="block-info__title">История</div>

                    <div class="block-info__inner">

                      <div class="bonus-table">

                        <table class="bonus-table__table order-table">

                          <thead>
                            <tr>
                              <td class="bonus-table__head-date">Дата</td>
                              <td class="bonus-table__head-event">Событие</td>
                              <td class="bonus-table__head-quantity">Количество бонусов</td>
                              <td class="bonus-table__head-expire">Срок действия бонусов</td>
                              <td class="bonus-table__head-status">Статус</td>
                            </tr>
                          </thead>

                          <tbody>
                            <tr class="bonus-table-row">
                              <td class="bonus-table__body-date">20.10.2016</td>
                              <td class="bonus-table__body-event">Скидка при оплате</td>
                              <td class="bonus-table__body-quantity">-1300</td>
                              <td class="bonus-table__body-expire">–</td>
                              <td class="bonus-table__body-status">Списаны</td>
                            </tr>
                            <tr class="bonus-table-row">
                              <td class="bonus-table__body-date">15.10.2016</td>
                              <td class="bonus-table__body-event">Начисление по программе "Пригласи друга"</td>
                              <td class="bonus-table__body-quantity">1800</td>
                              <td class="bonus-table__body-expire">15.10.2017</td>
                              <td class="bonus-table__body-status">Активны</td>
                            </tr>
                            <tr class="bonus-table-row">
                              <td class="bonus-table__body-date">10.09.2016</td>
                              <td class="bonus-table__body-event">Начисление по программе "Зимняя выгода"</td>
                              <td class="bonus-table__body-quantity">12 500</td>
                              <td class="bonus-table__body-expire">20.10.2016</td>
                              <td class="bonus-table__body-status">Истёк срок</td>
                            </tr>
                          </tbody>

                        </table>

                      </div>

                    </div>

                  </div>

                </div>

                <h1 class="camp-card__fullinfo-title camp-card__fullinfo-title--pb-sm">
                  Приглашения
                </h1>

                <div class="promocode-block__wrap">

                  <div class="promocode-block block-info">

                    <div class="block-info__title">Промокоды</div>

                    <div class="block-info__inner">

                      <div class="promocode-table">

                        <table class="promocode-table__table order-table">

                          <thead>
                            <tr>
                              <td class="promocode-table__head-fio">ФИО:</td>
                              <td class="promocode-table__head-email">Email</td>
                              <td class="promocode-table__head-reg">Зарегистрировался</td>
                              <td class="promocode-table__head-buy">Купил</td>
                            </tr>
                          </thead>

                          <tbody>
                            <tr class="promocode-table-row">
                              <td class="promocode-table__body-fio">Сергеев Николай Фёдорович</td>
                              <td class="promocode-table__body-email">sergeev@itopcase.ru</td>
                              <td class="promocode-table__body-reg">Да</td>
                              <td class="promocode-table__body-buy">Да</td>
                            </tr>
                            <tr class="promocode-table-row">
                              <td class="promocode-table__body-fio">Никанорова Мария Сергеевна</td>
                              <td class="promocode-table__body-email">nikanorova@itopcase.ru</td>
                              <td class="promocode-table__body-reg">Нет</td>
                              <td class="promocode-table__body-buy">Нет</td>
                            </tr>
                            <tr class="promocode-table-row">
                              <td class="promocode-table__body-fio">Константиновский-Константинопольский Константин Гендальфович</td>
                              <td class="promocode-table__body-email">konstantinovskiy@gmail.com</td>
                              <td class="promocode-table__body-reg">Да</td>
                              <td class="promocode-table__body-buy">Да</td>
                            </tr>
                            <tr class="promocode-table-row">
                              <td class="promocode-table__body-fio">Никанорова Мария Сергеевна</td>
                              <td class="promocode-table__body-email">nikanorova@itopcase.ru</td>
                              <td class="promocode-table__body-reg">Да</td>
                              <td class="promocode-table__body-buy">Нет</td>
                            </tr>
                          </tbody>

                        </table>

                      </div>

                      <div class="promocode-invite-form">
                        <hr class="dashed-line">
                        <div class="block-info__title">Отправить приглашение</div>
                        <div class="was-a-form"><!-- <form action="#" method="post"> -->
                          <div class="form">
                              <div class="form__form">
                                <div class="form__items-wrap">

                                  <div class="form__item">
                                    <div class="form__item-inner">
                                      <div class="form-item__label">
                                        <label for="invite-name">ФИО друга</label>
                                      </div>
                                      <div class="form-item__elem">
                                        <input type="text" id="invite-name" placeholder="" class="form-ctrl">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form__item has-error">
                                    <div class="form-item__label">
                                      <label for="invite-email">Email</label>
                                    </div>
                                    <div class="form-item__elem">
                                      <input type="email" id="invite-email" placeholder="" class="form-ctrl">
                                      <div class="helper">Значение «Email» не является правильным email адресом.</div>
                                    </div>
                                  </div>

                                  <div class="form__item">
                                    <div class="form-item__elem">
                                      <button type="submit" class="btn btn--secondary btn--l block-info__btn">
                                        <span class="btn__txt">Отправить</span>
                                      </button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                          </div>
                        </div><!-- </form> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="reviews" class="camp-card__fullinfo-content reviews camp-card__fullinfo-content--active">
                <h1 class="camp-card__fullinfo-title camp-card__fullinfo-title--pb-sm">Отзывы</h1>

                  <div class="block-info block-info--pb0">
                    <div class="block-info__title">Новый отзыв</div>
                    <div class="block-info__inner block-info__inner--pd-l-r-20">
                      <!-- content start -->
                      <div class="review-new clearfix">
                        <select class="form-ctrl review-new__program">
                          <option>Программа</option>
                          <option>Морское братство перезагрузка</option>
                          <option>"Страна Оз" в Крыму</option>
                          <option>Мезмай. Школа Волшебников</option>
                          <option>Фантастические твари и где они обитают</option>
                          <option>Фантастические твари и где они обитают. Экстремально длинное название программы.</option>
                        </select>

                        <div class="review-new__wrap float-r">
                          <div class="form__item review-new__item">
                            <div class="form__item-inner">
                              <div class="form-item__label">
                                <label for="reviewNew-like">Что понравилось</label>
                              </div>
                              <div class="form-item__elem">
                                <textarea id="reviewNew-like" class="form-ctrl"></textarea>
                              </div>
                            </div>
                          </div>

                          <div class="form__item review-new__item">
                            <div class="form__item-inner">
                              <div class="form-item__label">
                                <label for="reviewNew-dislike">Что не понравилось</label>
                              </div>
                              <div class="form-item__elem">
                                <textarea id="reviewNew-dislike" class="form-ctrl"></textarea>
                              </div>
                            </div>
                          </div>

                          <div class="form__item review-new__item">
                            <div class="form__item-inner">
                              <div class="form-item__label">
                                <label for="reviewNew-comment">Комментарий</label>
                              </div>
                              <div class="form-item__elem">
                                <textarea id="reviewNew-comment" class="form-ctrl"></textarea>
                              </div>
                            </div>
                          </div>

                          <div class="float-r">
                            <div class="review-rating review-rating--new">
                              <div class="review-rating__title">Оценка</div>
                              <div class="rateit svg" data-rateit-readonly="false" data-rateit-step="1" data-rateit-value="3" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
                            </div>

                            <button type="submit" class="btn btn--secondary">
                              <span class="btn__txt">Отправить</span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- content end -->
                    </div>
                  </div>

                  <div class="block-info block-info--pb0">
                    <div class="block-info__title">Мои отзывы</div>
                    <div class="block-info__inner block-info__inner--pd-l-r-20">
                      <!-- content start -->
                      <div class="review clearfix">
                        <div class="review-publish float-r">
                          <div class="review-publish__status"><b>На модерации</b></div>
                          <div class="review-publish__date">с 16 октября 2016</div>
                        </div>

                        <h3>Морское брастство перезагрузка</h3>

                        <div class="review-rating review-rating--my">
                          <div class="review-rating__title">Оценка</div>
                          <div class="rateit svg" data-rateit-readonly="true" data-rateit-step="1" data-rateit-value="3" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
                        </div>

                        <div class="devider-dashed"></div>

                        <div class="review-IMHO review-IMHO--like">
                          <div class="review-IMHO__title"><b>Что понравилось</b></div>
                          <p class="review-IMHO__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit</p>
                        </div>

                        <div class="review-IMHO review-IMHO--dislike">
                          <div class="review-IMHO__title"><b>Что не понравилось</b></div>
                          <p class="review-IMHO__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.</p>
                        </div>

                        <div class="review-IMHO review-IMHO--comment">
                          <div class="review-IMHO__title"><b>Комментарий</b></div>
                          <p class="review-IMHO__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit</p>
                        </div>

                        <div class="review-IMHO__buttons">
                          <button class="btn btn--success">
                            <span class="btn__txt">Отозвать</span>
                          </button>
                          <button data-toggle="modal" data-target="#modal-review-light" class="btn btn--primary">
                            <span class="btn__txt">Редактировать</span>
                          </button>
                        </div>
                      </div>
                      <!-- content end -->
                    </div>

                    <div class="block-info__inner block-info__inner--pd-l-r-20">
                      <!-- content start -->
                      <div class="review clearfix">
                        <div class="review-publish float-r">
                          <div class="review-publish__status"><b>Отклонён</b></div>
                          <div class="review-publish__date">Отзыв на непонятном языке. Похоже на латынь.</div>
                        </div>

                        <h3>"Страна Оз" в Крыму. Длинное название для проверки. Длинное название для проверки. Длинное название для проверки. Длинное название для проверки. Длинное название для проверки.</h3>

                        <div class="review-rating review-rating--my">
                          <div class="review-rating__title">Оценка</div>
                          <div class="rateit svg" data-rateit-readonly="true" data-rateit-step="1" data-rateit-value="4" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
                        </div>

                        <div class="devider-dashed"></div>

                        <div class="review-IMHO review-IMHO--like">
                          <div class="review-IMHO__title"><b>Что понравилось</b></div>
                          <p class="review-IMHO__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>

                        <div class="review-IMHO review-IMHO--dislike">
                          <div class="review-IMHO__title"><b>Что не понравилось</b></div>
                          <p class="review-IMHO__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate commodo lectus, ac blandit elit tincidunt id.</p>
                        </div>

                        <div class="review-IMHO review-IMHO--comment">
                          <div class="review-IMHO__title"><b>Комментарий</b></div>
                          <p class="review-IMHO__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit</p>
                        </div>

                        <div class="review-IMHO__buttons">
                          <button class="btn btn--success">
                            <span class="btn__txt">Отозвать</span>
                          </button>
                          <button data-toggle="modal" data-target="#modal-review-light" class="btn btn--primary">
                            <span class="btn__txt">Редактировать</span>
                          </button>
                        </div>
                      </div>
                      <!-- content end -->
                    </div>
                  </div>

                {{>modal-review-light}}

              </div>

            </div>
          </div>
        </section>
      </div>
    </main>
    {{> page-footer }}
  </div>
  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
