<!DOCTYPE html>
<html lang="ru" class="no-js">

{{> head }}

<body class="page-no-mobile">
  <div class="page-wrap">

    {{> header-inner }}

    <main class="page-main why-we-bg">
      <div class="inner-block">

        <section class="why-we-brief">
          <div class="why-we-brief__descr">
            <h1>Почему мы?</h1>
            <p>
              Отправлять детей в самостоятельное путешествие всегда сложно и волнительно.
               Мы хотим сделать так, чтобы с нашим сервисом Вы получали от этого удовольствие.
               С нами Вы можете быть уверены, что найдете идеальную программу отдыха для своего ребенка.
             </p>
            <p>
              С нами работают лучшие профессионалы, которые знаюто детском отдыхе все.
               Наш сервис обладает следующими преимуществами:
             </p>
          </div>
          <div class="why-we-brief__img">
            <img src="img/bag.png" alt="why-we-bag">
          </div>
        </section>

        <section class="four-in-row">
          <ul class="four-in-row__list">
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="comp" style="width: 42px; height: 39px" class="ico"><svg class="ico__svg"><use xlink:href="#comp"></use></svg></i>
                </div>
                <div class="feature-we__title">Удобство</div>
                <div class="feature-we__text">
                  Мы предлагаем Вам единую точку доступа ко множеству предложений
                </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="rur" style="width: 31px; height: 36px" class="ico"><svg class="ico__svg"><use xlink:href="#rur"></use></svg></i>
                </div>
                <div class="feature-we__title">Доступность</div>
                <div class="feature-we__text">
                  Мы предоставляем возможность поиска выгодных по цене предложений
                </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="ca" style="width: 33px; height: 42px" class="ico"><svg class="ico__svg"><use xlink:href="#ca"></use></svg></i>
                </div>
                <div class="feature-we__title">Прозрачность</div>
                <div class="feature-we__text">
                  Мы гарантируем отслеживание&nbsp;всех этапов оформления покупки
                </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="shit" style="width: 39px; height: 39px" class="ico"><svg class="ico__svg"><use xlink:href="#shit"></use></svg></i>
                </div>
                <div class="feature-we__title">Безопасность</div>
                <div class="feature-we__text">
                  Мы работаем только с&nbsp;проверенными<br>компаниями
                </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="clock" style="width: 36px; height: 42px" class="ico"><svg class="ico__svg"><use xlink:href="#clock"></use></svg></i>
                </div>
                <div class="feature-we__title">Экономия времени</div>
                <div class="feature-we__text">
                  Мы упрощаем процесс поиска&nbsp;информации
                </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="man" style="width: 33px; height: 37px" class="ico"><svg class="ico__svg"><use xlink:href="#man"></use></svg></i>
                </div>
                <div class="feature-we__title">Индивидуальность</div>
                <div class="feature-we__text">
                  Мы делаем возможной настройку параметров по&nbsp;Вашему усмотрению
                </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="core" style="width: 39px; height: 39px" class="ico"><svg class="ico__svg"><use xlink:href="#core"></use></svg></i>
                </div>
                <div class="feature-we__title">Разнообразие</div>
                <div class="feature-we__text">
                  Мы размещаем широкий спектр программи предложений
                </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="lines" style="width: 37px; height: 39px" class="ico"><svg class="ico__svg"><use xlink:href="#lines"></use></svg></i>
                </div>
                <div class="feature-we__title">Эффективность</div>
                <div class="feature-we__text">
                  Мы обеспечиваем систему сортировки нужной информации
                </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="mess" style="width: 42px; height: 40px" class="ico"><svg class="ico__svg"><use xlink:href="#mess"></use></svg></i>
                </div>
                <div class="feature-we__title">Обратная связь</div>
                <div class="feature-we__text">
                  Мы создаем платформу для&nbsp;взаимодействия продавцов и&nbsp;покупателей
                   и&nbsp;предоставляем отзывы о&nbsp;продукте интересующей Вас&nbsp;компании
                 </div>
              </div>
            </li>
            <li class="four-in-row__item">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="star--big" style="width: 43px; height: 42px" class="ico"><svg class="ico__svg"><use xlink:href="#star--big"></use></svg></i>
                </div>
                <div class="feature-we__title">Качество</div>
                <div class="feature-we__text">
                  Мы выбираем компании, в&nbsp;которых работают профессиональные<br>сотрудники
                </div>
              </div>
            </li>
            <li class="four-in-row__item four-in-row__item--double">
              <div class="feature-we">
                <div class="feature-we__icon">
                  <i data-ico="book" style="width: 42px; height: 35px" class="ico"><svg class="ico__svg"><use xlink:href="#book"></use></svg></i>
                </div>
                <div class="feature-we__title">Информированность</div>
                <div class="feature-we__text">
                  Мы не только выставляем готовые продукты компаний,<br>
                  но и следим за тем, чтобы Вы могли найти на нашем сайте всю необходимую информацию о
                  детском отдыхе в целом: советы для родителей и этапы подготовки ребенка к путешествию,<br>
                  а также подробное описание программ и направлений.
                </div>
              </div>
            </li>
          </ul>
        </section>

      </div>
    </main>
    <div class="usefull-links">
      <div class="usefull-links__inner">
        <h3 class="usefull-links__title">Полезные ссылки или статьи:</h3>
        <ul class="usefull-links__list">
          <li class="usefull-links__item">
            <a href="#">Концепция центра «Артек»</a>
            <a href="#">10 фактов о лагере</a>
          </li>
          <li class="usefull-links__item">
            <a href="#">Необходимые документы</a>
            <a href="#">Что нужно знать об отдыхе</a>
          </li>
          <li class="usefull-links__item">
            <a href="#">Великие русские путешественники<br>
              и ученые</a>
            </li>
          <li class="usefull-links__item">
            <a href="#">Восемь шагов до отдыха</a>
          </li>
        </ul>
      </div>
    </div>
    {{> page-footer }}
  </div>
  {{> modal-city }}
  {{> modal-tel }}
  {{> modal-enter }}
  {{> modal-reg }}
  {{> modal-email }}

  {{> foot }}
</body>

</html>
