.sectionBox--scallopTop.about {
  background: @white url("../img/girl-swim.jpg") no-repeat 50% -9px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 0;
    background: url("../img/about-scalloptop.png") no-repeat 50% 0 transparent;
    width: 100%;
    height: 9px;
  }
}

.about__header {
  position: relative;
  height: 390px;
  margin-bottom: 45px;

  h1 {
    position: absolute;
    bottom: 10px;
    color: @white;
  }
}

.about__subtitle {
  width: 1080px;
  h2 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}

.about__row {
  .row-wrap();
}

.about__col {
  .col-half();
  padding-bottom: 30px;

  h3:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  h4:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  p:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  &.about__col--1 {

    p {
      margin-bottom: 2em;
    }
  }

  &.about__col--2 {

    img {
      margin-top: 10px;
    }

    h3 {
      color: #01a6ac;
    }
  }
}
