.action-invite {

  & .sectionBox.sectionBox--scallopTop {
    margin-bottom: 20px;
  }

  & .action-invite-col {
    display: inline-block;
    width: 485px;
    margin-right: 45px;
    vertical-align: top;
  }

  & .action-pix {
    width: auto;
    height: auto;
  }

  & .action-term {
    margin-bottom: 20px;

    & h1 {
      display: inline-block;
      width: 40px;
      margin: 0;
      padding: 0;
      line-height: 38px;
      vertical-align: top;
    }

    & h3 {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 380px;
      vertical-align: top;
    }
  }

  & .form {
    margin-top: 50px;
  }

  & .form__item {
    margin-top: 30px;
  }

  & .form-item__label {
    width: 60px;
  }

  & .form-ctrl {
    width: 200px;
    overflow: hidden;
  }

  & .sectionBox h2 {
    margin-top: 0;
  }

  & .promocode-table {
    margin: 0;
    padding: 0;
  }

  & .promocode-table__head-fio {
    width: 430px;
  }

  & .promocode-table__head-email {
    width: 305px;
  }

  & .promocode-table__head-reg {
    width: 245px;
  }
}
