.sectionBox--scallopTop.advice {
  background: @white url("../img/boys-scuba-mask.jpg") no-repeat 50% -8px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: 0;
    background: url("../img/advice-scalloptop.png") no-repeat 50% 0 transparent;
    width: 100%;
    height: 9px;
  }
}

.advice__header {
  position: relative;
  height: 390px;
  margin-bottom: 45px;

  h1 {
    position: absolute;
    bottom: 10px;
    color: @white;
  }
}

.advice__subtitle {
  width: 950px;
  h2 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}

.advice__row {
  .row-wrap();
}

.advice__col {
  .col-half();

  h3:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  h4:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  p:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  .advice__list {
    display: inline-block;
    font-size: 0;
    width: 49.5%;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
    vertical-align: top;

    li {
      height: 50px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        display: none;
      }

      img {
        margin-right: 8px;
        vertical-align: middle;
      }

      span {
        width: 75%;
        font-family: @baseFont-Family;
        font-size: 18px;
        line-height: 20px;
        color: @blueGreyDark;
        vertical-align: middle;
      }
    }


  }

  &.advice__col--1 {}

  &.advice__col--2 {}

}
