.amount {
  font-size: 20 / 16rem; // 20px
  line-height: 22/ 16rem; // 22px
  color: @blueDeepExtraDark;
  font-weight: 400;
}

.amount__item {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.amount__item-col {

}

.amount__item-end {
  color: @violetMiddle;
  font-weight: 700;
}