.articles-list {
  width: 1240px;
}

.article-thumb {
  &.campWrap {
    position: relative;
    float: none;
    width: 400px;
  }
  & .camp {
    width: 400px;
  }
  & .camp__pic {
    float: none;
    margin: 0;
    width: 100%;
  }
  &__img {
    height: 250px;
  }
  &__date {
    font-family: @secondFont-Family;
    color: @grayLighten;
  }
  &__title {
    min-height: 1em;
    margin-top: auto;
    font-weight: 600;
  }
}
