.available-goods {
  .camp-card__tab-btn-wrap {
    .btn {
      width: 135px;
      height: 40px;
      padding: 0;
      font-size: 15 / 16rem;
    }
  }

  .camp-card__programs {
    .title-h1 {
      margin-left: 20px;
    }
  }

  .camp-card__tab.open {
    .camp-card__tab-title {
      color: @greenLight-hover;
    }
  }

  .camp-card__tab-cont-box {
    padding: 50px 45px;
    padding-top: 28px;
    padding-bottom: 39px;
  }
}