.badge {
  display: inline-block;
  margin-left: 6px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: @secondFont-Family;
  font-size: 10 / 16rem; // 10px
  line-height: 14 / 16rem; // 12px
  color: @white;
  background: @blueGreyLight;
  border-radius: 7px;

  &:hover {
    background: @greenLight-hover;
  }
}