.balance {
  display: inline-block;
  .clearfix();
  // background: #ccc;
}

.balance__col {
  float: left;
}

.balance__price {
  margin-left: 3px;

  span {
    margin-bottom: 1px;
  }

  .price {
    font-size: 30 / 16rem;
    line-height: 30 / 16rem;
    color: @blueDeepExtraDark;
  }
}

.balance__price-text {
  font-family: @secondFont-Family;
  font-size: 12 / 16rem;
  font-weight: normal;
  line-height: 14 / 16rem;
  color: @blueGrey;
}

.balance__btn {
  margin-left: 18px;

  .btn.btn--success.btn--l {
    width: 225px;
    height: 50px;
    padding: 0;
    padding-top: 2px;
  }
}

.btn-arrrow-l {
  position: relative;
  margin-left: 16px;
  overflow: visible;

  &:after {
    position: absolute;
    z-index: 20;
    top: 0;
    left: -16px;
    content: "";
    width: 0;
    height: 0;
    border-left: none;
    border-top: 25px solid @white;
    border-bottom: 25px solid @white;
    border-right: 16px solid transparent;
  }

  &:before {
    position: absolute;
    z-index: 10;
    top: 0;
    left: -16px;
    content: "";
    width: 16px;
    height: 100%;
    // background: linear-gradient(to bottom, #4cc189, #21b26c);
    background: inherit;
  }
}

.balance__capch {
  width: 190px;
  margin-top: -1px;
  margin-left: 15px;
  line-height: 18px;
}