.block-price {
  
}

.block-price__title {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  margin-right: 10px;
  font-family: @secondFont-Family;
  line-height: 19 / 16rem; // 19px
  text-align: right;
}

.block-price__price {
  display: inline-block;
  vertical-align: middle;
}