.block-srch-res {
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }
}

//header
.block-srch-res__header {
  padding: 9px 0;
  font-family: @secondFont-Family;
  font-size: 12 / 16rem; // 12px
  line-height: 14 / 16rem; // 14px
  background: @grayPpagin;
}

.block-srch-res__header-list {
  .clearfix();
  margin: 0;
  padding: 0;
}

.block-srch-res__header-list-item {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:before {
    display: none;
  }
}

.block-srch-res__header-list-item--name {
 width: 455px;
 padding-left: 20px;
}

.block-srch-res__header-list-item--date {
 width: 165px;
}

.block-srch-res__header-list-item--price {
 width: 105px;
}

.block-srch-res__header-list-item--col {
 width: 68px;
}

.block-srch-res__header-list-item--amount {
 width: 130px;
}

.block-srch-res__header-list-item--people {
 width: 195px;
}

.block-srch-res__header-list-item--all {
 width: 75px;
}

//body
.block-srch-res__body {
  padding: 10px 0;
  background: @white;
  border-bottom: 1px dashed #b1c5db;
}

.block-srch-res__body-inner {
  position: relative;
  padding-right: 42px;
  background: @grayPpagin;
}

.block-srch-res__body-content {
  background: @white;
  min-height: 131px;
}

.block-srch-res__body-name {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 453px;

  .programm-item {
    padding: 0;
  }

  .programm-item__title {
    display: block;
    margin-top: -5px;
    margin-bottom: 15px;
    padding-top: 0;
    line-height: 16 / 16rem; // 16px
  }

  .programm-item__text {
    margin: 0;
  }
}

.block-srch-res__body-date {
  position: absolute;
  left: 454px;
  top: 50%;
  transform: translateY(-50%);
  width: 165px;
  overflow: hidden;

  .date-block {
    font-weight: normal;
  }
}

.block-srch-res__body-date-item {
  margin-top: 11px;

  &:first-child {
    margin-top: 0;
  }
}

.block-srch-res__body-price {
  position: absolute;
  left: 620px;
  top: 50%;
  transform: translateY(-50%);
  width: 105px;
}

.block-srch-res__body-col {
  position: absolute;
  left: 725px;
  top: 50%;
  transform: translateY(-50%);
  width: 68px;
  font-family: @secondFont-Family;
  color: @blueDeepDark;
  font-weight: bold;
}

.block-srch-res__body-amount {
  width: 130px;
  position: absolute;
  left: 793px;
  top: 50%;
  transform: translateY(-50%);
  width: 105px;
}

.block-srch-res__body-people {
  width: 234px;
  margin-left: 923px;
  padding: 16px 0;
  // background: #f00;
}

.block-srch-res__body-people-item {
  margin-top: 22px;

  &:first-child {
    margin-top: 0;
  }
}

.block-srch-res__body-all {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 16px;
  padding-left: 15px;
}



