.block-info {
  .clearfix();
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 25px;
  background: #f6f7f8;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &:last-child {
    margin-bottom: 0;
  }

  form {
    float: none;
    clear: both;
  }

  &.block-info--pb0 {
    padding-bottom: 0;
  }
}

.block-info--close {
  padding-bottom: 0;

  form {
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    transition: all .3s ease;
  }
}

.block-info--close.open {
  padding-bottom: 20px;

  .block-info__title-text {
    color: @greenLight-hover;
  }

  form {
    opacity: 1;
    max-height: 100%;
    // padding-top: 30px;
    // padding-bottom: 30px;
  }
}

.block-info--docs,
.block-info--card {
  .block-info__inner {
    padding-bottom: 50px;
  }
}

.block-info__title {
  float: left;
  padding: 20px;
  padding-left: 0;
  font-size: 30 / 16rem;
  line-height: 32/ 16rem;
  font-weight: 600;
  color: @blueDeepDark;

  span {
    display: block;
    margin-top: 5px;
    margin-bottom: 7px;
    font-family: @secondFont-Family;
    font-size: 14 / 16rem;
    line-height: 16 / 16rem;
    font-weight: 400;
    color: @blueGreyDark;
  }

  .block-info__title-link {

    i {
      top: 3px;
      width: 11px;
      height: 11px;
      margin-right: 10px;
    }

    span {
      display: inline-block;
      margin: 0;
    }

    &:hover {

      span {
        color: @greenLight-hover;
      }
    }
  }
}

.block-info__top-btn {
  float: right;
  // position: absolute;
  // right: 20px;
  // top: 50%;
  // margin-top: -25px;
  margin-top: 25px;
  width: 190px;
  height: 50px;
  padding: 0;
  font-size: 15 / 16rem;
}

.block-info__inner {
  float: none;
  clear: both;
  margin-bottom: 20px;
  padding: 48px;
  padding-top: 50px;
  padding-bottom: 44px;
  background: @white;

  &.block-info__inner--pd-l-r-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.block-info__btn-wrap {
  text-align: center;
}

.block-info__btn {
  width: 135px;
  height: 40px;
  padding: 0;
  font-size: 15 / 16rem;
}
