.book-order {

}
.book-order__num {
  margin-bottom: 19px;
  //font-family: ;
  font-size: 20 / 16rem; // 20px
  line-height: 22 / 16rem; // 22px
  color: @blueDeepExtraDark;
  font-weight: 600;
}

.book-order__confirm {
  font-family: @secondFont-Family;
}

.book-order__leave {
  font-family: @secondFont-Family;
  color: @blueDeepExtraDark;
  font-weight: bold;
}
