.buy {
  .clearfix();

  .btn {
    width: 190px;
    text-align: center;
  }

}

.buy__offer {
  width: 170px;

  & a {
    font-size: 14 / 16rem; // 14px
  }

  .chbx__label {
    line-height: 19 / 16rem; // 19px

    &:before {
      top: 3px;
    }

    &:after {
      top: 3px;
    }
  }
}

.buy-step1 {

  .buy__price {
    display: inline-block;
    vertical-align: middle;
    margin-left: 433px;
  }

  .buy__push {
    float: right;
  }
}

.buy-step2 {
  .buy__back {
    display: inline-block;
    vertical-align: middle;
  }

  .buy__price {
    display: inline-block;
    vertical-align: middle;
    width: 388px;
    margin-left: 148px;
  }

  .buy__offer {
    display: inline-block;
    vertical-align: middle;
    //margin-left: 94px;
  }

  .buy__push {
    float: right;
  }
}

.buy-step3 {

  .buy__amount {
    float: left;
    width: 485px;
  }

  .buy__push {
    float: left;
    padding-top: 5px;
  }

  .buy__desc {
    float: right;
    width: 386px;
  }
}
