.small-txt {
  font-size: 12px;
  line-height: 1.5;
}

.camp-transfer-table {
  position: relative;
  width: 1120px;
  min-height: 185px;
  margin: 0 auto;
  padding: 20px;
  color: @white;
  font-family: @secondFont-Family;
  background: @green;

  &.visible {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 480px;
    display: block;
    border-top: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px @green;
    border-left: solid 5px transparent;
  }
}

.camp-transfer-table__close {
  float: right;

  a {
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    border-bottom: dashed 1px @white;

    &:focus,
    &:hover {
      color: inherit;
    }
  }

  .ico.ico--xs {
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    border: none;
    fill: @white;
    cursor: pointer;
  }

  &:focus,
  &:hover {
    opacity: 0.7;
  }
}

.camp-transfer-table__title {
  float: left;
}

.camp-transfer-table__header {
  .small-txt();
  background: #27a768;
  padding: 8px 10px;
  margin: 15px -8px;
}

.camp-transfer-table__col {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 80px;

  &:last-child {
    margin-right: 0;
  }

  & img {
    margin-right: 5px;
  }

  &--wide {
    //width: 330px;
    //padding-right: 90px;
  }

  &--narrow {
    //width: 200px;
    //padding-right: 20px;
  }
}
