.campSlider {
  &__item {
    position: relative;
    display: none;
    height: 720px;
    overflow: hidden;
    @media @mediaTable {
      height: 495px;
    }
    @media @mediaMob {
      height: 259px;
    }

    &-img {
      display: block;
      width: 100%;
      min-width: 1280px;
      min-height: 720px;
      position: absolute;
      top: 0;
      left: 0;
      @media @media1200 {
        left: 50%;
        margin-left: -640px;
      }
      @media @mediaTable {
        min-width: 880px;
        min-height: 495px;
        margin-left: -440px;
      }
      @media @mediaMob {
        min-width: 460px;
        min-height: 259px;
        margin-left: -230px;
      }
    }

    &:first-child {
      display: block;
    }
  }

  &__content {
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    bottom: 0;
    @media @media600 {
      top: 80px;
    }
  }

  &__title {
    font-size: 3.571428571428571em;
    padding-top: 6.209677419354839%;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    font-weight: bold;
    height: 3.6em;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    text-decoration: none;
    white-space: normal!important;
    // &::before {
    //   content: "«";
    // }
    // &::after {
    //   content: "»";
    // }
    @media @media1200 {
      //font-size: 3.142857142857143em;
      //line-height: 1.1363636363636365;
      //height: 3.409090909090909em;
      //padding-top: 4.5%;
    }
    @media @media1100 {
      //font-size: 2.714285714285714em;
      //line-height: 1.1578947368421053;
      //height: 3em;
      //padding-top: 3%;
    }
    @media @media1000 {
      //height: 2em;
    }
    @media @mediaTable {
      font-size: 2.8571428571428568em;
      line-height: 1.5em;
      height: 4.5em;
      padding-top: 1.25em;
    }
    @media @media600 {
      //font-size: 2em;
      //line-height: 1.2142857142857142;
      //height: 3.642857142857143em;
    }
    @media @mediaMob {
      font-size: 1.4285714285714284em;
      line-height: 1.5;
      height: 4.5em;
      padding-top: 0.8em;
    }
  }

  &__desc {
    display: none;
    font-size: 1.4285714285714284em;
    line-height: 1.2000000000000002;
    text-align: center;
    color: @white;
    font-family: @secondFont-Family;
    font-weight: bold;
    @media @mediaMob {
      font-size: 1.0714285714285714em;
      line-height: 1.2;
    }
  }

  &__conditions {
    width: 248px;
    height: 92px;
    background: url('@{img-url-prefix}ribbon.svg') no-repeat center;
    background-size: 248px 92px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
    color: @white;
    font-size: 0.8571428571428571em;
    line-height: 1.3333333333333333;
    font-family: @secondFont-Family;
    text-decoration: none;

    &:hover {
      color: @white;
    }
    @media @media1000 {
      //margin-top: 18px;
    }
    @media @mediaTable {
      margin-top: 32px;
    }
    @media @mediaMob {
      width: 166px;
      height: 62px;
      background-size: 166px 62px;
      font-size: 0.6428571428571428em;
      line-height: 1.1111111111111112;
      margin-top: 22px;
    }

    &-ages {
      display: table-cell;
      width: 80px;
      vertical-align: top;
      text-align: center;
      padding-top: 20px;
      @media @mediaMob {
        padding-top: 12px;
        width: 52px;
      }
    }

    &-period {
      display: table-cell;
      vertical-align: top;
      padding-top: 20px;
      padding-left: 14px;
      @media @mediaMob {
        padding-top: 12px;
      }
    }

    .big {
      font-size: 1.6666666666666665em;
      line-height: 1;
      font-weight: bold;
      font-family: @baseFont-Family;
      margin-top: 5px;
      margin-bottom: 1px;
      @media @mediaMob {
        font-size: 1.6666666666666665em;
        line-height: 1.0666666666666667;
        margin-bottom: 0;
      }
    }
  }

  .carousel__dotList {
    right: 50px;
    bottom: 50px;
    height: 0;
    margin-top: 0;
    text-align: right;
    position: relative;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: @pagePadLeft;
    padding-right: @pagePadRight;
    @media @mediaMob {
      right: 0;
      padding-left: @pagePadLeftMob;
      padding-right: @pagePadRightMob;
    }
    @media @media1200 {
      bottom: 50px;
    }
    @media @media1100 {
      bottom: 50px;
    }
    @media @mediaTable {
      right: 0;
      bottom: 30px;
      text-align: center;
    }
    @media @media600 {
      right: 0;
      bottom: 30px;
    }
    @media @mediaMob {
      right: 0;
      bottom: 30px;
      display: block;
    }
  }
}
