.camp-card {
  min-width: 1280px;

  &__header {
    padding: 37px 40px 23px;
    margin-bottom: 0;

    &-row {
      overflow: hidden;
      padding-bottom: 30px;
    }

    &-right {
      width: 38.5%;
      float: right;
      text-align: left;
    }

    &-left {
      width: 60%;
      float: left;
      text-align: left;
    }

    &-type {
      display: inline-block;
      vertical-align: middle;
      font-family: @secondFont-Family;
      font-size: 14px;
      color: @blueGreyDark;
      margin-right: 70px;

      &-img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }

      .ico {
        margin-left: 15px;
      }
    }

    &-org {
      display: inline-block;
      vertical-align: middle;
      font-family: @secondFont-Family;
      font-size: 14px;
      color: @blueGreyDark;
    }

    &-org a {
      margin-left: 5px;
    }

    &-rating {
      display: inline-block;
      vertical-align: top;
      font-size: 34px;
      line-height: 34px;
      font-weight: bold;
      color: @green;
      font-family: Arial, sans-serif;
      margin-right: 8px;

      &-desc {
        display: inline-block;
        vertical-align: top;
        width: 150px;
        font-size: 12px;
        color: @blueGrey;
        line-height: 13px;

        .green {
          font-size: 14px;
          color: @green;
          font-weight: bold;
          padding-top: 5px;
          letter-spacing: 1px;
        }
      }

      &-img {
        display: inline-block;
        vertical-align: top;
        margin-right: 14px;
      }
    }

    &-addToFav {
      display: inline-block;
      vertical-align: top;
      font-size: 12 / 16rem;
      line-height: 12 / 16rem;
      color: @blueGrey;
      text-decoration: none;
      cursor: pointer;
      margin-right: 25px;

      .ico {
        width: 30px;
        height: 30px;
        margin-right: 7px;
        vertical-align: middle;
      }

      span {
        display: inline-block;
        padding-bottom: 1px;
        border-bottom: 1px dashed #8ba8c5;
      }
    }

    &-certificates {
      display: inline-block;
      vertical-align: middle;
      margin-right: 35px;
    }

    &-certificate {
      color: @blueGreyLight;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;

      .ico {
        width: 26px;
        height: 26px;
      }
    }
  }

  &__title {
    font-size: 40 / 16rem;
    line-height: 55 / 16rem;
    font-weight: 600;
    padding-right: 400px;
    min-height: 110px;
    margin-bottom: 20px;
    position: relative;

    &-links {
      position: absolute;
      right: 0;
      top: 0;
    }

    &-link {
      &--website {
        font-size: 14px;
        color: @blueDeepDark;
        font-family: Arial, sans-serif;
        font-weight: bold;
        display: block;

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }
      }

      &--social {
        font-size: 12px;
        line-height: 18px;
        color: @blueGrey;
        font-family: Arial, sans-serif;
        display: inline-block;
        vertical-align: middle;
        width: 140px;
        margin-right: 20px;
        white-space: nowrap;

        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }

        span {
          display: inline-block;
          vertical-align: middle;
          width: 90px;
        }
      }
    }

    &--nopad {
      padding: 0;
      min-height: 0;
    }
  }

  &__nav {
    background: @grayPpagin;
    margin-left: -20px;
    margin-right: -20px;

    &-item {
      color: @blueDeepDark;
      text-decoration: none;
      display: inline-block;
      // vertical-align: middle;
      vertical-align: top;
      //font-size: 14 / 16rem;
      //line-height: 14 / 16rem;
      font-size: 20px;
      line-height: 1;
      font-weight: 600;
      margin-right: 20px;
      padding: 22px 0 20px 20px;
      font-family: @baseFont-Family;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        span {
          border-color: transparent;
        }
      }

      span {
        display: inline-block;
        //margin-top: 6px;
        padding-bottom: 1px;
        border-bottom: 1px dashed #7f7f7f;

        &:first-child {
          margin-top: 0;
        }
      }

      &--active {
        color: @green;

        span {
          border-color: transparent;
        }
      }
    }
  }

  &__info {
    padding-top: 0;
    margin-left: -20px;
    margin-top: -20px;
    margin-bottom: -23px;
    white-space: nowrap;

    &-title {
      color: @blueGrey;
      font-size: 12 / 16rem;
      line-height: 12 / 16rem;
      padding-bottom: 10px;
      padding-top: 2px;
    }

    &-text {
      color: @blueDeepDark;
      font-size: 14 / 16rem;
      line-height: 14 / 16rem;
      padding-bottom: 2px;
    }

    &-location,
    &-org,
    &-type {
      display: inline-block;
      vertical-align: top;
      background: @grayPpagin;
      padding: 15px 20px;
    }

    &-location {
      width: 560px;
    }

    &-type {
      width: 255px;
    }

    &-org {
      width: 255px;
    }
  }

  &__service {
    .clearfix();
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    font-size: 0;

    .campSliderDecr {
      height: 50px;
      visibility: hidden;
    }

    .campSliderDecr.carousel--loaded {
      height: auto;
      visibility: visible;
    }

    // .carousel__nav {}
    //
    // .carousel__nav-item {
    //   text-indent: 0;
    //
    //   &.disabled {
    //     display: block;
    //     opacity: 0;
    //     cursor: default;
    //   }
    // }
    //
    // .carousel__nav-item--prev {}
    //
    // .carousel__nav-item--next {}
    //
    // .carousel__nav-item--prev-icon {}
    //
    // .carousel__nav-item--next-icon {}

    &-slider {
      float: left;
      width: 595px;
      // height: 70px; //filled bg + outside arrows
      // box-sizing: border-box; //filled bg + outside arrows
      // padding-left: 20px; //filled bg + outside arrows
      // padding-right: 20px; //filled bg + outside arrows
      // background: @grayPpagin; //filled bg + outside arrows

      &-item {
        width: auto;
        height: auto;
      }
    }

    &-item {
      display: inline-block;
      width: 100%;
      height: 70px;
      margin: 0;
      padding: 10px 20px;
      vertical-align: top;
      white-space: nowrap;
      line-height: 50px;
      background: #F6F7F8;
      border: 0;

      &--location {
        display: block;
        float: right;
        width: 600px;
        white-space: initial;
        height: auto;
        min-height: 70px;
        padding-right: 10px;

        .camp-card__service-desc {
          position: relative;
          width: 530px;
        }

        .camp-card__service-title {
          line-height: 15px;
          min-height: 18px;
        }

        a {
          font-size: 12px;
          color: @blueGrey;

          &:hover {
            color: @green;
          }

          .ico {
            width: 13px;
            height: 13px;
            margin-right: 7px;
          }
        }
      }
      box-sizing: border-box;
      // &:last-child {
      // 	margin-right: 0;
      // 	border-right: 0;
      // }
    }

    &-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    &-desc {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }

    &-title {
      padding-bottom: 3px;
      font-size: 14 / 16rem;
      line-height: 20 / 16rem;
      color: @blueGrey;
    }

    &-text {
      font-size: 15 / 16rem;
      color: @blueDeepDark;
      font-weight: bold;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    }

    &-button {
      display: block;
      float: right;
      width: 230px;
      height: 100px;
      font-size: 15 / 16rem;
      background: url("../img/service-btn.png") no-repeat 0 0;
      text-decoration: none;
      color: @white;
      margin-top: 20px;
      font-weight: bold;
      text-align: center;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      padding-top: 65px;
      box-sizing: border-box;
      transition: opacity 0.3s ease;
      opacity: 1;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__media {
    overflow: hidden;
  }

  &__gallery {
    width: 620px;
    float: left;
    height: 430px;
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;

    .slider-gallery {
      margin-left: 77px;
      width: 538px !important;
    }

    .slider-gallery__fullscreen-triger {
      right: initial;
      left: -55px;
      bottom: 0;
    }

    .fotorama__stage {
      position: relative;
      z-index: 2;
    }

    .fotorama {
      overflow: visible;

      &__nav-wrap {
        position: absolute;
        z-index: 1;
        left: -250px;
        top: 0;
        height: 380px;
        overflow: hidden;
      }

      &__nav__frame--thumb {
        display: block;
        padding: 0 !important;
        margin-bottom: 10px;

        &.fotorama__active {
          border: 1px solid @green;
        }
      }

      &__thumb-border {
        display: none !important;
      }
    }
  }

  &__map {
    width: 620px;
    float: right;
    height: 430px;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    margin-top: 0;

    &-canvas {
      width: 600px;
      height: 430px;
    }

    &-link {
      font-size: 14 / 16rem;
      color: @blueDeepDark;
      text-decoration: none;
      padding: 25px 0;
      display: inline-block;

      span {
        display: inline-block;
        border-bottom: 1px solid #9099a1;
      }

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 13px;
        height: 13px;
        background: url("../img/link.png") no-repeat 0 0;
        margin-right: 5px;
      }
    }
  }

  &__fullinfo {
    overflow: hidden;
    margin-top: 20px;
    padding: 0;
    width: 986px;
    height: 450px;
    float: left;

    &-tabs {
      background: @grayMedium;
      white-space: nowrap;
    }

    &-button {
      color: @blueDeepDark;
      //font-size: 14 / 16rem;
      //font-size: 20px;
      font-size: 16px;
      text-decoration: none;
      //font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-family: @baseFont-Family;
      //font-weight: bold;
      font-weight: 600;
      padding: 15px 22px;
      display: inline-block;
      vertical-align: top;
      margin-right: 3px;
      background: @grayPpagin;
      z-index: 1;

      span {
        display: inline-block;
        border-bottom: 1px dashed #77828c;
        //line-height: 15 / 16rem;
        line-height: 1;
      }

      &--active {
        background: @white;
        color: @green;
        padding-bottom: 16px;
        z-index: 2;

        span {
          border-bottom: 0;
        }
      }
    }

    &-title {
      margin: 0;
      padding-left: 20px;
      padding-top: 34px;
      padding-bottom: 30px;
      font-size: 40 / 16rem;
      line-height: 42 / 16rem;
      color: @blueDeepExtraDark;
      font-weight: 600;

      &-link {
        position: relative;
        top: -4px;
        margin-left: 15px;
        font-family: @secondFont-Family;
        font-size: 12 / 16rem;
        line-height: 14/ 16rem;
        color: @blueGrey;

        i {
          width: 15px;
          height: 15px;
          margin-right: 10px;
        }
      }

      &--pb-sm {
        padding-bottom: 20px;
      }
    }

    &-inner {
      padding: 20px;
      //background: @gray;
      background: @grayPpagin;
    }

    &-contents {
      height: 300px;
      overflow: hidden;
      padding: 30px 40px;
      position: relative;

      .style-guide__scroll-bar {
        height: 380px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 105px;
        background: url("../img/glow.png") repeat-x 0 0;
        width: 100%;
      }
    }

    &-content {
      display: none;

      &--active {
        .clearfix();
        display: block;
      }
    }

    &-rating {
      float: right;
      width: 232px;
      height: 450px;
      box-sizing: border-box;
      margin-top: 20px;
      padding: 5px 20px;

      &-title {
        color: @blueDeepDark;
        font-size: 20 / 16rem;
        border-bottom: 1px dotted #b1c5db;
        padding-bottom: 12px;
        margin-bottom: 10px;
      }

      &-result {
        padding-top: 5px;
        padding-bottom: 0;
        font-size: 20 / 16rem;
        font-weight: 700;
        font-family: Arial, sans-serif;
        color: @green;

        .result {
          display: inline-block;
          vertical-align: middle;
          width: 98px;
          height: 20px;
          background: url("../img/rating-1.png") no-repeat 0 0;
          margin-right: 10px;
          position: relative;
          top: -5px;

          &-1 {
            background-image: url("../img/rating-1.png");
          }

          &-2 {
            background-image: url("../img/rating-2.png");
          }

          &-3 {
            background-image: url("../img/rating-3.png");
          }

          &-4 {
            background-image: url("../img/rating-4.png");
          }

          &-5 {
            background-image: url("../img/rating-5.png");
          }
        }
      }

      &-people {
        font-size: 12 / 16rem;
        color: @blueGrey;
        border-bottom: 1px dotted @blueGrey;
        text-decoration: none;
        margin-bottom: 13px;
        display: inline-block;
      }

      &-add {
        font-size: 12 / 16rem;
        color: @blueGrey;
        border-bottom: 1px dotted @blueGrey;
        text-decoration: none;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 20px;
      }

      &-item {
        color: @blueDeepDark;
        font-size: 14 / 16rem;
        border-top: 1px dashed @blueGreyLight;
        border-bottom: 1px dashed @blueGreyLight;
        margin-bottom: -1px;
        padding: 5px 0 10px;

        .num {
          font-family: Arial, sans-serif;
          color: @green;
          font-size: 20 / 16rem;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }

    .badge {
      margin-left: 7px;
      padding: 2px 5px;
      font-size: 11 / 16rem;
      line-height: 12 / 16rem;
    }
  }

  &__programs {
    margin-top: 20px;

    &--mb-pad-small {
      padding-bottom: 20px;
    }
  }

  &__transport {
    margin-top: 20px;
  }

  &__docs {
    margin-top: 20px;
  }

  &__table {
    font-family: Arial, sans-serif;
    margin: 0 -20px;

    &-header {
      background: @grayPpagin;
      font-size: 12px;
      line-height: 12px;
      color: @blueGrey;
      margin-bottom: 10px;
    }

    &-body {
      font-size: 14px;
      line-height: 24px;
      color: #556677;

      b {
        color: @blueDeepDark;
        font-weight: bold;
        display: block;
      }
    }

    &-row {
      &:after,
      &:before {
        content: '';
        display: block;
        clear: both;
      }
    }

    &-col {
      float: left;
      padding: 10px 20px;

      &.w-20 {
        width: 20px;
      }

      &.w-25 {
        width: 25px;
      }

      &.w-30 {
        width: 30px;
      }

      &.w-50 {
        width: 50px;
      }

      &.w-60 {
        width: 60px;
      }

      &.w-70 {
        width: 70px;
      }

      &.w-80 {
        width: 80px;
      }

      &.w-85 {
        width: 85px;
      }

      &.w-90 {
        width: 90px;
      }

      &.w-95 {
        width: 95px;
      }

      &.w-100 {
        width: 100px;
      }

      &.w-120 {
        width: 120px;
      }

      &.w-125 {
        width: 125px;
      }

      &.w-130 {
        width: 130px;
      }

      &.w-140 {
        width: 140px;
      }

      &.w-145 {
        width: 145px;
      }

      &.w-150 {
        width: 150px;
      }

      &.w-165 {
        width: 165px;
      }

      &.w-200 {
        width: 200px;
      }

      &.w-210 {
        width: 210px;
      }

      &.w-230 {
        width: 230px;
      }

      &.w-235 {
        width: 235px;
      }

      &.w-250 {
        width: 250px;
      }

      &.w-270 {
        width: 270px;
      }

      &.w-290 {
        width: 290px;
      }

      &.w-310 {
        width: 310px;
      }

      &.w-370 {
        width: 370px;
      }

      &.w-330 {
        width: 330px;
      }

      &.w-350 {
        width: 350px;
      }

      &.w-440 {
        width: 440px;
      }

      &.w-500 {
        width: 500px;
      }

      &.m-r-90 {
        margin-right: 90px;
      }

      &.m-r-30 {
        margin-right: 30px;
      }

      &.m-r-20 {
        margin-right: 20px;
      }

      &.p-r-0 {
        padding-right: 0 !important;
      }

      &.p-l-0 {
        padding-left: 0 !important;
      }
    }

    &-product {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dashed #b1c5db;

      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      &-price {
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: @blueDeepDark;
        font-weight: bold;
        white-space: nowrap;
      }

      &-link {
        //font-family: Arial, sans-serif;
        font-family: @baseFont-Family;
        //font-size: 14px;
        font-size: 20px;
        color: @blueDeepDark;
        //font-weight: bold;
        font-weight: 600;
      }

      &-pic {
        width: 90px;
        height: 90px;
        border-radius: 90px;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        margin-right: 20px;
      }

      &-booking {
        font-size: 12px;
        color: @blueGrey;

        .style-guide__select {
          margin-top: 2px;
          margin-bottom: 20px;
          width: 55px;
        }

        .btn {
          display: block;
          margin-bottom: 5px;
        }

        .addToFav {
          i {
            margin-right: 10px;
          }
        }
      }
    }

    &-link {
      line-height: 11 / 16rem; // 11px
    }

    &-item {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-devider {
      box-sizing: border-box;
      border-bottom: 1px dashed #b1c5db;
      margin: 17px 20px 10px;
    }

    &-icon {
      margin-right: 10px;
    }
  }

  &__tabs {}

  &__tab {
    background: @grayPpagin;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      color: @blueDeepDark;
      //font-size: 30px;
      font-size: 25px;
      line-height: 40px;
      font-weight: 600;
      position: relative;
      cursor: pointer;
      padding: 16px 48px 15px;

      &:hover {
        .camp-card__tab-icon {
          background: @green;
        }
      }
    }

    &-btn-wrap {
      margin-bottom: 20px;
      text-align: center;
      // btn {
      // 	width: 135px;
      // }
    }

    &-icon {
      position: absolute;
      left: 20px;
      top: 30px;
      width: 14px;
      height: 14px;
      background: @blueGreyLight;
      border-radius: 1px;
      transition: all 0.3s ease;

      &:after {
        content: '';
        display: block;
        width: 2px;
        height: 8px;
        background: #fff;
        border-radius: 1px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        margin-left: -1px;
      }

      &:before {
        content: '';
        display: block;
        height: 2px;
        width: 8px;
        background: #fff;
        border-radius: 1px;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -4px;
      }
    }

    &-cont {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      padding: 0 20px;
      box-sizing: border-box;

      &-box {
        background: #fff;
        margin-bottom: 20px;
        padding: 10px;
      }

      .camp-card__table {
        margin: 0;
      }
    }

    &.open {
      .camp-card__tab-cont {
        opacity: 1;
        max-height: 100%;
      }

      .camp-card__tab-icon:after {
        transform: rotate(90deg);
      }
    }

    .camp-card__table-product {
      border-bottom: 0;
    }

    .camp-card__table-product-pic {
      position: absolute;
      left: 0;
      top: 0;
    }

    .camp-card__table-product-link {
      position: relative;
      padding-left: 100px;
      display: block;

      .text {
        font-weight: normal;
        color: #556677;
        margin-top: 10px;

        .underline {
          text-decoration: underline;
        }
      }
    }

    .camp-card__table-product-link--big {
      display: block;
      font-size: 14px;
      color: @blueDeepDark;
      border: 2px solid @grayPpagin;
      text-decoration: none;
      text-align: center;
      height: 46px;
      line-height: 46px;
      font-weight: bold;

      span {
        border-bottom: 1px dashed @blueDeepDark;
        padding-bottom: 1px;
        display: inline-block;
        line-height: 14px;
        vertical-align: middle;
      }

      &:hover {
        color: #31bf78;
      }
    }

    &-cont-box {
      font-family: @secondFont-Family;
      color: @blueGreyDark;
    }
  }

  &--camps {
    padding-top: 33px;

    h1 {
      margin-bottom: 10px;
    }

    h3 {
      margin: 0 0 25px;
    }

    .camp-card__table-devider {
      margin-top: 13px;
      margin-right: 10px;
    }
  }
}

.camp-card__map-overlay {
  // transition: background .3s;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0,0,0, .5);
}

.camp-card__map-overlay--visible {
  display: block;
  // .camp-card__map-wrap {
  // 	padding: 20px;
  // 	width: auto;
  // 	height: auto;
  // 	background: #fff;
  // 	position: absolute;
  // 	top: 50%;
  // 	left: 50%;
  // 	z-index: 1200;
  // 	transform: translate(-50%, -50%);
  // }
}

.camp-card__map-wrap {
  padding: 20px;
  width: auto;
  height: auto;
  background: #fff;
  position: fixed;
  top: 50%;
  // left: -4000px;
  left: 50%;
  display: none;
  z-index: 1200;
  transform: translate(-50%, -50%);

  .camp-card__map-big {
    width: 1100px;
    height: 600px;
  }
}

.show-mod {
  left: 50%;
  -webkit-animation: show-mod 0.8s ease-out;
  animation: show-mod 0.8s ease-out;
}

.hide-mod {
  left: -4000px;
  animation: hide-mod 0.8s ease-out;
}
@keyframes show-mod {
  0% {
    transform: translate(-4000px, -50%);
  }

  80% {
    transform: translate(-45%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes hide-mod {
  0% {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  30% {
    left: 50%;
    transform: translate(-40%, -50%);
  }

  100% {
    left: 50%;
    transform: translate(-4000px, -50%);
  }
}

.camp-card__map-close {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1500;
  right: 0;
  top: 0;
}

.camp-card__nav--progamm {
  margin-bottom: 20px;

  .camp-card__nav-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.camp-card__table--full-width {
  .btn {
    margin-bottom: 10px;
  }

  .camp-card__table-body {
    &:last-child {
      .camp-card__table-col {
        padding-bottom: 0;
      }
    }
  }
}

.page-no-mobile {
  .camp-card__header {
    padding: 37px 40px 23px;
    margin-bottom: 0;
  }

  .camp-card__fullinfo,
  .camp-card__gallery,
  .slider-gallery {
    padding: 0;
  }

  .camp-card__service {
    padding: 20px;
  }

  .camp-card__fullinfo-rating {
    padding: 5px 20px;
  }

  .camp-card__docs,
  .camp-card__programs {
    padding: 40px;
  }

  .camp-card__map {
    padding: 0 20px 0 0;
  }
}
