.camp {
  position: relative;
  //z-index: 0;
  background-color: @white;
  @media @mediaMob {
    padding-top: 20px;
    padding-bottom: 14px;
  }

   > .dotBorder > .dotBorder__inner:after,
   > .dotBorder > .dotBorder__inner:before,
   > .dotBorder:after,
  > .dotBorder:before {
    opacity: 1;
    @media @mediaMob {
      display: none;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    opacity: 0;
    transition: 0.2s @baseTransitionTiming;
    transition-property: top, right, bottom, left, opacity;
    z-index: -1;
    @media @mediaMob {
      display: none;
    }
  }

  &.has-gradBg {
    background-color: #ffffff;

    background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 1px, #ffffff 2px, #ffffff 3px, rgba(255, 255, 255, 0) 4px), -webkit-linear-gradient(bottom, #ffe1b2, #ffffff 40%);

    background-image: -o-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 1px, #ffffff 2px, #ffffff 3px, rgba(255, 255, 255, 0) 4px), -o-linear-gradient(bottom, #ffe1b2, #ffffff 40%);

    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 1px, #ffffff 2px, #ffffff 3px, rgba(255, 255, 255, 0) 4px), linear-gradient(to top, #ffe1b2, #ffffff 40%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 97%;

     @media @media1200 {
      background-size: 95% 97%;
     }
     @media @mediaTable {
      background-size: 96% 97%;
     }
     @media @media600 {
      background-size: 94% 97%;
     }
     @media @mediaMob {

      background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 1px, #ffffff 2px, #ffffff 3px, rgba(255, 255, 255, 0) 4px), -webkit-linear-gradient(bottom, #ffe1b2, #ffffff 70%);

      background-image: -o-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 1px, #ffffff 2px, #ffffff 3px, rgba(255, 255, 255, 0) 4px), -o-linear-gradient(bottom, #ffe1b2, #ffffff 70%);

      background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 1px, #ffffff 2px, #ffffff 3px, rgba(255, 255, 255, 0) 4px), linear-gradient(to top, #ffe1b2, #ffffff 70%);

      background-size: 97.5% 95%;
     }

  }

  &ColInner {
    @media @mediaTable {
      display: block;
    }
  }

  &Wrap {
    box-sizing: border-box;
    @media @media1200 {
      & + & + & + & {
        position: fixed;
        visibility: hidden;
      }
    }
    @media @mediaTable {
      position: relative !important;
      visibility: visible !important;
      //display: block;
      float: left;
      width: 50%;

      & + & + & {
        margin-top: 20px;
        clear: both;
      }

      & + & + & + & {
        clear: none;
      }
    }
    @media @mediaMob {
      width: 100%;

      &:first-child {
        margin-top: -20px;
      }

      & + & {
        margin-top: 10px;
      }
    }
  }

  &__row {
    display: table;
    table-layout: fixed;
    width: 100%;
    @media @mediaMob {
      & + & {
        padding-top: 14px;
        display: block;
        width: auto;
        margin-right: 15px;
        margin-left: 15px;
        padding-left: 29.253731343283583%;
      }
    }
  }

  &__pic {
    @media @mediaMob {
      float: left;
      width: 29.375%;
      margin-left: 15px;
    }

    .dotBorder:after,
    .dotBorder:before,
    .dotBorder__inner:after,
    .dotBorder__inner:before {
      background-image: url('@{img-url-prefix}border-dot--white.svg');
      display: none;
      @media @mediaMob {
        display: block;
      }
    }

    &-img {
      display: block;
    }
  }

  &__shields {
    &Box {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 36px;
      text-align: center;
      @media @mediaMob {
        right: auto;
        left: 15px;
        width: 29.375%;
        padding-top: 8px;
        height: 0;
      }
    }

    &-ico {
      width: 36px;
      height: 36px;
      line-height: 36px;
      margin-bottom: 3px;
      color: @white;
      display: block;
      @media @mediaMob {
        width: 16px;
        height: 16px;
        line-height: 16px;
        float: right;
        clear: both;
      }
    }
  }

  &__offer {
    &Box {
      text-align: center;
      height: 0;
      // @media @mediaMob {
      //   float: left;
      //   clear: both;
      //   width: 29.375%;
      //   text-align: left;
      //   margin-left: 15px;
      // }
    }

    &-ico {
      width: 54px;
      height: 42px;
      line-height: 42px;
      top: -21px;
      z-index: 1;
      @media @mediaMob {
        width: 40px;
        height: 30px;
        top: 16px !important;
      }

      &[data-ico="offer-sale"] {
        top: -22px;
      }
    }

    &-hot {
      display: inline-block;
      position: relative;
      top: -30px;
      z-index: 1;
      width: 124px;
      height: 44px;
      background: url('@{img-url-prefix}/hot-tour.png');
      @media @mediaMob {
        display: none;
      }
    }
  }

  &__label-hot {
    width: 40px;
    height: 74px;
    background: url('@{img-url-prefix}/icon-hot.png');
    position: absolute;
    top: 0;
    right: 20px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.0714285714285714em;
    line-height: 1.6em;
    min-height: 4.8em;
    margin-top: 2.1333333333333333em;
    padding-left: 20px;
    padding-right: 20px;
    color: @grayDark;
    @media @mediaMob {
      font-size: 0.8571428571428571em;
      line-height: 1.5;
      margin-top: 0;
      text-align: left;
      display: table;
      padding-left: 24px;
      padding-right: 15px;
    }
  }

  &__separator {
    background: url('@{img-url-prefix}wave.svg') repeat-x center;
    background-size: 118px 11px;
    height: 11px;
    margin-top: 0.7142857142857142em;
    margin-bottom: 1em;
    @media @mediaMob {
      display: none;
    }
  }

  &__info {
    &Box {
      padding: 0 20px 20px;
      @media @mediaMob {
        padding: 0;
        position: relative;
      }

      &-inner {
        display: table;
        width: 100%;
        @media @mediaMob {
          padding-left: 24px;
          display: block;
          width: auto;
        }
      }
    }

    &-col {
      display: table-cell;
      width: 1%;

      &:first-child {
        width: auto;
        @media @mediaMob {
          width: 1%;
        }
      }

      & + & {
        text-align: center;
        @media @mediaMob {
          text-align: left;
        }
      }

      & + & + & {
        text-align: right;
        @media @mediaMob {
          position: absolute;
          right: 100%;
          display: block;
          width: auto;
          top: 0;
        }
      }
    }

    &-title {
      font-family: @secondFont-Family;
      color: @blueGrey;
      margin-bottom: 0.3333333333333333em;
      text-align: center;
      @media @mediaMob {
        font-size: 0.6428571428571428em;
        line-height: 1.5555555555555554;
        margin-bottom: 0;
        text-align: left;
      }
    }
  }

  &__price {
    &Box {
      text-align: center;
      white-space: nowrap;
      font-size: 1.2857142857142856em;
      line-height: 1.222222222222222;
      @media @mediaMob {
        text-align: left;
        white-space: normal;
        font-size: 1.0714285714285714em;
        line-height: 1.6;
      }
    }
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    @media @mediaMob {
      display: block;
      color: @violet;
    }

    & + & {
      margin-left: 6px;
      @media @mediaMob {
        margin-left: 0;
      }
    }

    .priceRu {
      line-height: 14px;
    }

    &--old {
      font-weight: normal;
      @media @mediaMob {
        color: @green;
      }
    }
  }

  &__seats {
    //font-size: 3.142857142857143em;
    //line-height: 1;
    font-size: 1.2857142857142856em;
    line-height: 1.222222222222222;
    font-weight: bold;
    color: #e6d1bc;
    //padding-top: 4px;
    @media @mediaMob {
      font-size: 1.0714285714285714em;
      line-height: 1.6;
      padding-top: 0;
    }

    &.small {
      font-size: 1.0714285714285714em;
      line-height: 1.6;
      padding-top: 0;
    }

    &--few {
      color: #f35555;
    }
  }

  &__period {
    font-size: 1.0714285714285714em;
    line-height: 1.6;
    font-weight: bold;
    white-space: nowrap;
  }

  &__link {
    &Box {
      font-family: @secondFont-Family;
      line-height: 2;
      @media @mediaMob {
        font-size: 0.6428571428571428em;
        line-height: 2.6666666666666665;
      }
    }
    color: @blueGrey;
  }

  &CTRL {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.0714285714285714em;
    line-height: 1.2;
    margin-top: -10px;
    margin-bottom: -10px;

    &__link {
      color: @grayDark;
      text-decoration: none;
    }

    &__ico {
      width: 36px;
      height: 36px;
      line-height: 36px;
      margin-right: 15px;
    }
  }

  &__additional {
    &Box {
      position: absolute;
      left: -10px;
      right: -10px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #fff;
      bottom: 6px;
      opacity: 0;
      transition: 0.2s @baseTransitionTiming;
      transition-property: transform, opacity, z-index;
      z-index: -1;
      padding-bottom: 12px;
      @media @mediaMob {
        display: none;
      }

      .camp__separator {
        margin-bottom: 2px;
        margin-top: 0;
      }

      .camp__infoBox {
        padding: 14px 0 12px;
      }

      .camp__infoBox + .camp__infoBox {
        border-top: 1px dashed #b1c5db;
      }
    }
  }

  &__ctrl {
    &Box {
      display: table;
      margin-top: 20px;
      width: 100%;
      @media @media600 {
        display: block;
      }
    }
    display: table-cell;
    max-width: 50%;
    vertical-align: middle;
    @media @media600 {
      display: block;
      max-width: none;

      & + & {
        margin-top: 10px;
        text-align: center;
      }
    }

    .selectric {
      padding-right: 18px;
      font-size: 12px;
    }

    .btn--primary {
      &.btn--s {
        padding-left: 5px;
        padding-right: 5px;
      }

      .btn__ico {
        margin-left: -5px;
        margin-right: 5px;
      }
    }
  }
  //&:hover &__additional {
  //&Box {
  //  transform: translateY(100%);
  //  opacity: 1;
  //  z-index: 0;
  //}
  //}
}
