.carousel {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;

  &--loading {
	opacity: 0;
	display: block;
  }
  &--hidden {
	opacity: 0;
  }
  &__content {
    white-space: nowrap!important;
	&Wrap {
	  position: relative;
	  overflow: hidden;
	  transform: translate3d(0px, 0px, 0px);
	}
	position: relative;
	touch-action: pan-Y;
	.clearfix();
  }

  &__item {
	position: relative;
  display: inline-block;
	min-height: 1px;
	// float: left;
	backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;

	img {
	  transform-style: preserve-3d;
	  }

    &:last-child {
      margin-right: 0!important;
    }
  }
  &--drag &__item {
    user-select: none;
  }
  &--refresh &__item {
	display: none;
  }
  &__nav {
	&-item {
	  cursor: pointer;
	  cursor: hand;
	  user-select: none;
	}
  }
  &__dotList {
    text-align: center;
    margin-top: 30px;
    line-height: 0;

	@media @mediaMob {
	  display: none;
	}

	&-item {
	  display: inline-block;
	  vertical-align: top;
	  background-color: transparent;
	  width: 11px;
	  height: 11px;
	  border: 2px solid #e9eaed;
	  border-radius: 50%;
	  margin-left: 4px;
	  margin-right: 4px;
	  transition: @baseTransitionDuration @baseTransitionTiming;
	  transition-property: border-color, background-color;
	  cursor: pointer;
	  cursor: hand;
	  user-select: none;

	  &:hover {
		border-color: @violet;
	  }
	  &.active {
		background-color: @violet;
		border-color: @violet;
	  }
	}
  }
  &--grab {
	cursor: move;
	cursor: grab;
  }
  .disabled {
    display: none;
  }
}

.carousel__nav {
  position: relative;
  display: block;
  height: 20px;
  margin-top: -45px;
}

.carousel__nav-item {
  .clearfix();
  width: 20px;
  height: 20px;
  //text-indent: -9999px;
  color: @blueGreyLight;

  &:focus,
  &:active {
    color: @blueGreyLight;
  }

  &:hover {
    color: @greenLight-hover;
  }

  &.disabled {
    color: @blueGreyLight;
  }
}

.carousel__nav-item--prev {
  position: absolute;
  top: 0;
  left: 0;
  // left: -20px; //outside arrows
}

.carousel__nav-item--next {
  position: absolute;
  top: 0;
  right: 0;
  // right: -20px; //outside arrows
}

.carousel__nav-item--prev-icon,
.carousel__nav-item--next-icon  {
  width: inherit;
  height: inherit;
}

//.carousel {
//  overflow: hidden;
//  white-space: nowrap;
//  position: relative;
//  &__item {
//	display: inline-block;
//	.owl-item & {
//	  width: 100%!important;
//	}
//  }
//}



//.owl-carousel .animated {
//  -webkit-animation-duration: 1000ms;
//  animation-duration: 1000ms;
//  -webkit-animation-fill-mode: both;
//  animation-fill-mode: both; }
//.owl-carousel .owl-animated-in {
//  z-index: 0; }
//.owl-carousel .owl-animated-out {
//  z-index: 1; }
//.owl-carousel .fadeOut {
//  -webkit-animation-name: fadeOut;
//  animation-name: fadeOut; }
//
//@-webkit-keyframes fadeOut {
//  0% {
//	opacity: 1; }
//
//  100% {
//	opacity: 0; } }
//
//@keyframes fadeOut {
//  0% {
//	opacity: 1; }
//
//  100% {
//	opacity: 0; } }
//
///*
// * 	Owl Carousel - Auto Height Plugin
// */
//.owl-height {
//  -webkit-transition: height 500ms ease-in-out;
//  -moz-transition: height 500ms ease-in-out;
//  -ms-transition: height 500ms ease-in-out;
//  -o-transition: height 500ms ease-in-out;
//  transition: height 500ms ease-in-out; }
//
