.category {
  .clearfix();
  width: 1280px;
  margin: 0 auto;
  //background: #f6f7f8;

  .result-item__desc-items  {
    width: 700px;
  }
}

.category__filter {
  float: left;
  width: 249px;
  margin-right: -249px;
  padding-top: 25px;
  background: #f6f7f8;
  box-shadow: 2px 0 3px #d6d7d9;
}

.category__content {
  float: right;
  width: 1031px;
  // width: 1028px;
  padding-top: 25px;
  background: #f1f2f3;
  border-left: 249px solid #f6f7f8;
  box-shadow: inset 0 -2px 0px #f1f2f3,
              inset 2px 0 3px #d6d7d9;
}

.category__content-inner {
  margin-right: 20px;
  margin-left: 43px;
  padding-bottom: 30px;
}
