.chart {
  .clearfix();
  box-sizing: border-box;
  padding-bottom: 20px;
}

.chart__diagram {
  position: relative;
  float: left;
  width: 215px;
  height: 215px;
  margin-left: 35px;
}

.chart__diagram-item {
  width: 100%;
  height: 100%;
}

.chart__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70 / 16rem;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  color: #001122;

  & span {
    display: block;
    margin-bottom: 5px;
    font-size: 15 / 16rem; // 15px
    line-height: 15 / 16rem; // 15px
    font-weight: normal;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.chart__descr {
  float: right;
  width: 350px;
  margin-top: 10px;
}

.chart__descr-head {
  .clearfix();
  margin-bottom: 24px;
  padding: 5px 40px 5px 14px;
  background: #f6f7f8;
  font-family: @secondFont-Family;
  font-size: 12 / 16rem;
  line-height: 14 / 16rem;
}

.chart__descr-head__item {
  float: left;

  &:last-child {
    float: right;
  }
}

.chart__descr-list {
  margin: 0;
  padding: 0;
}

.chart__descr-item {
  .clearfix();
  position: relative;
  margin-bottom: 14px;
  margin-left: 25px;
  margin-right: 40px;
  font-family: @secondFont-Family;
  line-height: 16 / 16rem;
  // border-bottom: 1px dashed #ccd9e0;
  font-size: 0;

  &:last-child {
    margin-bottom: 0;
  }
  // & span {
  //   position: relative;
  //   bottom: -4px;
  //   background: #fff;
  //   &:last-child {
  //     float: right;
  //     padding-left: 10px;
  //     font-weight: bold;
  //   }
  // }
  // &:before {
  //   content: "";
  //   left: -25px;
  //   top: 5px;
  //   width: 15px;
  //   height: 15px;
  //   border-radius: 50%;
  // }
}

.chart__descr-item-inner {
  font-size: 14 / 16rem;
  display: inline-block;
  vertical-align: bottom;
  width: 254px;
  overflow: hidden;
  // padding-right: 20px;
  // position: relative;
  // &:after {
  //   position: absolute;
  //   content: "";
  //   width: 1000px;
  //   height: 0;
  //   border-bottom: 1px solid;
  // }
}

.chart__descr-item-inner-text {
  display: inline;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    width: 1000px;
    height: 0;
    bottom: 3px;
    border-bottom: 1px dashed #ccd9e0;
    margin-left: 20px;
  }
}

.chart__descr-item-digit {
  font-size: 14 / 16rem;
  display: inline-block;
  vertical-align: bottom;
  width: 30px;
  text-align: right;
  font-weight: bold;
}

.chart__descr-item--intro {
  &:before {
    background: #f35555;
  }
}

.chart__descr-item--express {
  &:before {
    background: #31bf78;
  }
}

.chart__descr-item--advance {
  &:before {
    background: #6a3fc3;
  }
}

.ct-series-a .ct-slice-donut {
  stroke: #ff689a;
}

.ct-series-b .ct-slice-donut {
  stroke: #31bf78;
}

.ct-series-c .ct-slice-donut {
  stroke: #6a3fc3;
}

.ct-series-d .ct-slice-donut {
  stroke: #ffd076;
}
