.sectionBox--scallopTop.conditions {
  background: @white url("../img/kids-on-grass.jpg") no-repeat 50% -9px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 0;
    background: url("../img/conditions-scalloptop.png") no-repeat 50% 0 transparent;
    width: 100%;
    height: 9px;
  }
}

.conditions__header {
  position: relative;
  height: 390px;
  margin-bottom: 45px;

  h1 {
    position: absolute;
    bottom: 10px;
    color: @white;
  }
}

.conditions__subtitle {
  width: 950px;
  h2 {
    margin: 0;
    padding: 0;
  }

  h3 {
    margin-bottom: 40px;
  }
}

.conditions__row {
  .row-wrap();
}

.conditions__col {
  .col-half();
  padding-bottom: 30px;

  h3:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  h4:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  p:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  &.conditions__col--1 { }

  &.conditions__col--2 {
    padding-top: 47px;
  }

  img {
    margin: 25px 0;
  }
}
