.sectionBox--scallopTop.contact {
  background: @white url("../img/girl-map.jpg") no-repeat 50% -9px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 0;
    background: url("../img/contact-scalloptop.png") no-repeat 50% 0 transparent;
    width: 100%;
    height: 9px;
  }
}

.contact__header {
  position: relative;
  height: 390px;
  margin-bottom: 45px;

  h1 {
    position: absolute;
    bottom: 10px;
    //color: @white;
  }
}

.contact__subtitle {}

.contact__row {
  .row-wrap();
}

.contacts--grey {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.contact__col {
  .col-half();
  padding-bottom: 30px;

  h3:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  h4:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  p:first-child {
    margin-top: 0;
    -webkit-margin-before: 0;
  }

  &.contact__col--1 {
    h3 {
      margin-bottom: 5px;
    }
  }

  &.contact__col--2 {
    h3 {
      display: inline-block;
      min-width: 100px;
    }
  }
}
