.content {
  .clearfix();
  padding-top: 12px;
}

.content__big-col {
  float: left;
  width: 735px;
}

.content__small-col {
  float: right;
  width: 250px;
  margin-right: 62px;
  padding-top: 83px;

  h3 {
    font-size: 18px;
    color: #556677;
    line-height: 1.7rem;
  }
}