.count {
  span {
    width: 40px;
    padding-top: 4px;
    margin-left: 5px;
    font-size: 40 / 16rem;
    line-height: 40 / 16rem;
    font-weight: bold;
    color: @white;
    text-align: center;
    background: #1ba664;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom: 2px solid;
    border-color: #0a6a40;

    &:first-child {
      margin-left: 0;
    }
  }
}

.count--violet {
  span {
    background: #8f6adc;
    border-color: #6c47b8;
  }
}

.count--orange {
  span {
    background: #fa5f35;
    border-color: #e63f11;
  }
}

.count--yellow {
  span {
    background: #ffb517;
    border-color: #eba000;
  }
}

.count--blue {
  span {
    background: #21a5c6;
    border-color: #027895;
  }
}