// date-block
.date-block {
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; // 12px
  line-height:  16 / 16rem; // 14px
  font-weight: bold;
  color: @blueDeepDark;

  & span {
    font-family: @secondFont-Family;
    color: @blueGreyDark;
    font-weight: normal;
  }
}

.date-block__from {
  margin-bottom: 8px;
}