.check-in-date {
  position: relative;
}

.datepicker {
  position: relative;
  display: inline-block;
  width: 100%;

  &:hover {
    .datepicker__input {
      background: linear-gradient(to bottom, #f5f7f8, #fefeff);
    }
  }
}

.datepicker__input {
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  padding-left: 9px;
  font-family: @secondFont-Family;
  font-size: 14 /16rem; // 14px
  line-height: 16 / 16rem; // 16px
  font-weight: normal;
  color: @blueGreyDark;
  border: 1px solid #c5ced8;
  background: linear-gradient(to bottom, #eef0f0, #f7f7f7);
  box-shadow: inset 0 1px 0 0 #cedde5;

  &:focus {
    outline: none;
  }

  &:focus {
    background: linear-gradient(to bottom, #f5f7f8, #fefeff);
  }
}

.ui-datepicker {
  position: absolute;
  top: -9999px;
  left: -9999px;
  margin-top: 10px;
  padding: 10px;
  font-family: @secondFont-Family;
  background: @white;
  box-shadow: 0 0 50px #ccc;

    &:before {
    position: absolute;
    content: "";
    top: -6px;
    left: 9px;
    width: 0;
    height: 0;
    border-top: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid @white;
  }
}

.ui-datepicker-header {
  position: relative;

  .ui-datepicker-title {
    margin-top: 4px;
    margin-bottom: 9px;
    font-size: 14 / 16rem; // 14px
    font-weight: bold;
    text-align: center;
  }
}

.ui-datepicker-calendar {

  border-collapse: collapse;

  & thead {
    & th {
      padding: 3px 7px;
      padding-bottom: 8px;
      font-size: 11 / 16rem; // 11px
      font-weight: normal;
      color: #778899;
      text-transform: uppercase;
    }
  }

  & td {

    &:hover {
        background: @greenLight-hover;

        & .ui-state-default {
          color: @white;
        }
    }

    .ui-state-default {
      display: block;
      padding: 5px 7px;
      padding-top: 6px;
      font-size: 12 / 16rem; // 12px
      font-weight: bold;
      color: @blueGreyDark;
      text-align: center;
      text-decoration: none;
    }

    &.ui-datepicker-other-month {
      &:hover {
        background: transparent;
      }
    }
  }


}

.ui-datepicker-unselectable {

}

td.ui-datepicker-current-day,
td.ui-datepicker-today {
  background: @greenLight-hover;

  & .ui-state-default {
    color: @white;
  }
}

.ui-datepicker-prev.ui-corner-all,
.ui-datepicker-next.ui-corner-all {
 position: absolute;
 top: 4px;
}

.ui-datepicker-prev.ui-corner-all {
  left: 6px;
}

.ui-datepicker-next.ui-corner-all {
  right: 6px;
}

span.ui-icon.ui-icon-circle-triangle-w,
span.ui-icon.ui-icon-circle-triangle-e {
  text-indent: -9999px;
  width: 8px;
  height: 12px;
  background: url("@{img-url-prefix}spritesheet.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

span.ui-icon.ui-icon-circle-triangle-w {
  background-position: -5px -77px;

  &:hover {
    background-position: -5px -55px;
  }
}

span.ui-icon.ui-icon-circle-triangle-e {
  background-position: -5px -121px;

  &:hover {
    background-position: -5px -99px;
  }
}

.datepicker__icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
  background: url("@{img-url-prefix}spritesheet.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.datepicker__icon--open {
  background-position: 3px -133px;
  display: none;

  &:hover {
    background-position: 3px -156px;
  }
}

.datepicker__icon--close {
  background-position: 0px -22px;

  &:hover {
    background-position: 0px 3px;
  }
}