.description {

}

.description__list {
  margin: 0;
  padding: 0;
}

.description__list-item {
  list-style-type: none;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }

  &:before {
    display: none;
  }
}
