.description-item {
  font-family: @secondFont-Family;
}

.description-item__title {
  color: @blueDeepDark;
  font-weight: bold;
}

.description-item__list {
  margin: 0;
  padding: 0;
}

li.description-item__list-item {
  list-style-type: none;
  color: @blueGreyDark;
  margin-top: 0;

  &:before {
    display: none;
  }
}

ol.description-item__list {
  padding-left: 15px;

  .description-item__list-item {
    list-style-type: decimal;
  }
}

.description-item__list-item {
  
}

