.doc-small-item {
  font-family: @secondFont-Family;
  position: relative;
  padding: 5px;
  padding-left: 12px;
  background: @grayPpagin;
}

.doc-small-item__icon {
  float: left;
  margin-right: 11px;
  width: 29px;
  height: auto;
  color: @blueGreyLight;
}

.doc-small-item__span {
  display: table;
  padding-right: 100px;
  vertical-align: top;
  font-family: inherit;
  font-size: 14 / 16rem; // 14px
  line-height: 24px;
  font-weight: normal;
  color: @blueDeepDark;
}

.doc-small-item__link {
  position: absolute;
  right: 12px;
  bottom: 10px;
  border-bottom: 1px dashed;
  font-family: inherit;
  font-size: 12 / 16rem; //12px
  line-height: 13 / 16rem; // 13px
  text-decoration: none;
}
