.docs-list {
  padding-top: 33px;

  .doc-small-item {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.docs-list__title {
}

.docs-list__inner {
  .clearfix();
}

.docs-list__inner-title {
  .h3();
  margin: 0;
  margin-bottom: 10px;
}

.docs-list__desc {
  float: left;
  width: 680px;

  & small {
    display: block;
    line-height: 21 / 16rem; // 21px
  }

  p {
    margin: 12px 0;
  }
}

.docs-list__docs {
  float: right;
  width: 435px;

  .docs-list__inner-title {
    margin-bottom: 20px;
  }
}
