.documents-item {
  padding: 23px 20px;
  background: @grayPpagin;

  & a {
    text-decoration: none;

    &:hover {
      span {
        color: inherit;

        &:before {
          border-bottom-color: inherit;
        }
      }
    }
  }
}

.documents-item__icon {
  margin-right: 15px;
  margin-top: 5px;
  width: 29px;
  float: left;
}

.documents-item__desc {
  display: table;
}

.documents-item__span {
  position: relative;
  font-family: @secondFont-Family;
  font-weight: bold;
  color: @blueDeepDark;

  &:before {
    position: absolute;
    content: "";
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed @blueDeepDark;
  }
}
