.dotBorder {
  position: relative;
  &:before,
  &:after,
  &__inner:before,
  &__inner:after {
	content: '';
	position: absolute;
	background: url('@{img-url-prefix}border-dot.svg') repeat;
	background-size: 20px 20px;
	z-index: 1;
	@media @mediaMob {
	  background-size: 15px 15px;
	}
  }
  &:before,
  &__inner:before {
	right:0;
	left: 0;
	top:0;
	height: 5px;
	background-position: 0 -5px;

	@media @mediaMob {
	  height: 4px;
	  background-position: 0 -19px;
	}
  }
  &__inner:before {
	top: auto;
	bottom: 0;
	background-position: 0 -1px;
	@media @mediaMob {
	  background-position: 0 -15px;
	}
  }
  &:after,
  &__inner:after {
	top:0;
	bottom: 0;
	left: 0;
	width: 5px;
	background-position: -5px 0;
	@media @mediaMob {
	  width: 4px;
	  background-position: -4px 0;
	}
  }
  &__inner:after {
	left: auto;
	right: 0;
	background-position: -1px 0;
	@media @mediaMob {
	  background-position: 0 0;
	}
  }
}