.features {
  .clearfix();
  width: 100%;
  margin: 0 auto;
  margin-top: 36px;
  background: @white;
  text-align: center;
}

.features__item {
  display: inline-block;
  vertical-align: top;
  width: 290px;
  margin-bottom: 20px;

  .ico {
    width: inherit;
    color: #223344;
  }
}

.features__item-inner {
  .clearfix();
}

.features__item--rest {

  .features__item-icon {
    width: 100px;

    .ico {
      height: 117px;
      margin-left: 7px;
      }
  }
}

.features__item--program {

  .features__item-icon {
    width: 118px;

    .ico {
      height: 114px;
      }
  }
}

.features__item--sale {

  .features__item-icon {
    width: 140px;

    .ico {
      height: 116px;
      background: url("@{img-url-prefix}features-sale.svg")  no-repeat 6px 3px;
      }
  }
}

.features__item-icon {
  float: left;
  min-height: 1px;
}

.features__item-desc {
  float: right;
  padding-top: 5px;
  width: 145px;
  text-align: left;
}

.features__item-title {
  margin-bottom: 17px;
  font-family: @secondFont-Family;
  font-size: 15 / 16rem;
  line-height: 20 / 16rem;
  font-weight: bold;
  color: @blueDeepDark;
  text-align: left;
}