.feature-we {

}

.feature-we__icon {
  position: relative;
  height: 42px;
  margin-bottom: 24px;

  .ico {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.feature-we__title {
  margin-bottom: 17px;
  font-size: 21 / 16rem;
  line-height: 22 / 16rem;
  color: #223344;
}

.feature-we__text {
  font-family: @secondFont-Family;
  font-size: 18 / 16rem;
  line-height: 26 / 16rem;
  color: #667788;
}
