.sectionBox--scallopTop.feedback-page {
  background: @white url("../img/kid-red-phone.jpg") no-repeat 50% -9px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 0;
    background: url("../img/feedback-page-scalloptop.png") no-repeat 50% 0 transparent;
    width: 100%;
    height: 9px;
  }
}

.feedback-page__header {
  position: relative;
  height: 390px;
  margin-bottom: 45px;

  h1 {
    position: absolute;
    bottom: 10px;
    color: @white;
  }
}


.feedback-page__main {
  position: relative;
  max-width: 875px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px 70px;
  padding-bottom: 50px;
  border: solid 7px @grayLightenLight;

  .feedback-page__txt-wrap {
    position: absolute;
    top: 160px;
    right: 120px;
    width: 330px;
  }

  h3 {
    width: 800px;
    margin-bottom: 50px;
  }

  div.block-info__inner,
  div.form,
  div.form__form,
  div.form__data,
  div.form__items-wrap {
    padding: 0;
    margin: 0;
    width: auto;
  }

  .form__item {
    width: auto;
  }

  div.form-item__label {
    width: 140px;
    font-family: @baseFont-Family;
    font-size: 20px;
    font-weight: 600;
    color: @blueDeepDark;
    vertical-align: middle;
    line-height: 24px;
  }

  .field-contactform-body {
    .form-item__label {
      display: inline-block;
      vertical-align: top;
    }
    .form-item__elem {
      width: 700px;
    }
  }

  .form-item__elem {
    width: 260px;
  }

  .field-contactform-verifycode {
    display: inline-block;
    .form-item__label {
      display: inline-block;
      vertical-align: middle;
    }

    .form-item__elem {
      min-width: 450px;
      vertical-align: middle;

      img {
        vertical-align: middle;
        width: 120px;
        height: 50px;
        margin-right: 25px;
      }

      .form-ctrl {
        width: 260px;
        display: inline-block;
        vertical-align: middle;

      }
    }
  }

  div.block-info__btn-wrap {
    display: inline-block;
    vertical-align: middle;
  }

}
