.form {
  box-sizing: border-box;
  font-family: @secondFont-Family;

  & * {
    box-sizing: border-box;
  }

  input,
  textarea {
    &::-webkit-input-placeholder {color:@blueGreyDark;}
    &::-moz-placeholder          {color:@blueGreyDark;}/* Firefox 19+ */
    &:-moz-placeholder           {color:@blueGreyDark;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:@blueGreyDark;}
  }
}

.form__form {
  .clearfix();
}

.form__data {
  float: left;
  width: 434px;
}

.form__docs {
  float: left;
  width: 480px;
}

.form__title {
  font-family: @baseFont-Family;
  margin-bottom: 35px;
  font-size: 20 / 16rem; // 20px
  line-height: 22 / 16rem; // 22px
  color: @blueDeepDark;
  font-weight: 600;
}

.form__item {
  // width: 364px;
  width: 383px;
  margin-bottom: 30px;

  .form-ctrl {
    overflow: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .chbx,
  .radio {
    margin-top: 18px;
    margin-left: 83px;
  }

  .capch {
    margin-top: 11px;
    margin-left: 83px;
    font-size: 12 / 16rem; //12px
    line-height: 17 / 16rem; // 17px
  }
}

.form__item.has-error,
.form-group.has-error {
  .error-highlight-red {
    border-color: rgba(233, 102, 102, 0.63);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.52);
  }

  .error-color-red {
    color: rgba(255, 5, 5, 0.69);
  }


  .form-ctrl,
  .selectric,
  .datepicker__input {
    .error-highlight-red();
  }
}

.form-item__elem {
  position: relative;
}

.help-block,
.helper {
  position: absolute;
  top: 100%;
  margin-top: 3px;
  color: rgba(255, 5, 5, 0.69);
  font-size: 12px;
  line-height: 1;
}

.form__item--radio-chbx { // для чекбоксов и радио
  margin-top: -13px;
  margin-bottom: 24px;

  .radio,
  .chbx {
    margin-left: 0;
  }
}

.form__item--s {
  width: 272px;

  .form-item__elem {
    width: 69%;
  }
}

.form__item--l {
  width: 483px;

  .form-item__elem {
    width: 82%;
  }
}

.form__item--vat {
  .form-item__label,
  .form-item__elem {
    vertical-align: top;
  }

  .form-item__label {
    margin-top: 10px;
  }
}

.form__item--big-label {
  .form-item__label,
  .form-item__elem {
    vertical-align: top;
  }

  margin-bottom: 15px;
}

.form__item-inner {
  .clearfix();

  .form__item {
    margin-bottom: 0;
    float: left;
    // width: 50%;

    &:first-child {
      width: 47%;
      .form-item__elem {
        width: 39%;
      }
    }

    &:last-child {
      width: 49%;
      .form-item__label {
        width: 59px;
      }
      .form-item__elem {
        width: 64%;
      }
    }
  }
}

.form-item__label {
  display: inline-block;
  vertical-align: middle;
  // width: 74px;
  width: 79px;
  line-height: 15px;
  font-family: @secondFont-Family;
}

.form-item__elem {
  display: inline-block;
  vertical-align: middle;
  // width: 280px;
  width: 73%;

  .radio,
  .chbx {
    margin-top: 0;
    margin-bottom: 7px;

    &:first-last {
      margin-bottom: 0;
    }
  }

  textarea {
    height: 100px;
  }
}

.form-item__elem--radio-chbx-inline {  // в линию
  .radio,
  .chbx {
    display: inline-block;
    vertical-align: middle;
    margin-left: 27px;
    margin-bottom: 0;
    margin-top: 0;

    &:first-child {
      margin-left: 0;
    }
  }
}

.form__btn {
  width: 190px;
  margin-top: 46px;
}

.form__btn-wrap {
  float: none;
  clear: both;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  background: @grayPpagin;

  .form__btn {
    width: 135px;
    height: 40px;
    margin: 0;
    padding: 0;
    font-size: 15 / 16rem;
  }
}
