.four-in-row {
  * {
    box-sizing: border-box;
  }

  margin: 0;
  padding: 0 40px;
  font-size: 0;
}

.four-in-row__item {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  width: 290px;
  margin-bottom: 60px;
  padding-right: 25px;

  &:before {
    display: none;
  }
}

.four-in-row__item--double {
  width: 580px;
}