.goods {


  p {
    margin-bottom: 24px;
    line-height: 20 / 16rem;
  }
}

.goods__ul {
  .clearfix();
  margin: 0;
  padding: 0;
}

.goods__item {
  float: left;
  width: 216px;
  margin-top: 0;

  &:before {
    display: none;
  }
}

.goods__list {
  margin: 0;
  padding: 0;
}

.goods__list-item {
  margin-bottom: 10px;

  &:before {
    display: none;
  }
}
