.list-table {

  & {
    tbody {
      & td {
        padding: 12px 0;
      }

      & tr {
        &:first-child {

          & td {
            padding-top: 27px;
          }
        }
      }

      // body
      .list-table__body-num {
        padding-left: 20px;
      }

      .list-table__body-fio {
        font-weight: bold;

      }

      .list-table__body-pass {

      }

      .list-table__body-date-bitrh {

      }

      .list-table__body-age {
        font-weight: bold;
        text-align: right;
      }

      .list-table__body-edit {
        text-align: right;
      }

      .list-table__body-del {
        text-align: center;
      }

      .list-table__icon {
        width: 10px;
      }
    }
  }
}

// header
.list-table__head-num {
  width: 60px;
}

.list-table__head-fio {
  width: 396px;
}

.list-table__head-pass {
  width: 417px;
}

.list-table__head-date-bitrh {
  width: 163px;
}

.list-table__head-age {
  width: 50px;
}

.list-table__head-edit {

}

.list-table__head-del {

}


