.main-filter {
  position: relative;
}
.main-filter__inner {
  margin-left: 40px;
}

.main-filter__push-left {
  float: left;
}

.main-filter__push-right {
  float: right;
}

.main-filter__block {
  //padding-top: 18px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #c9ced3;
}

.main-filter__block--brd-btm-none {
  border-bottom: none;
}

.main-filter__block--pb-small {
  padding-bottom: 15px;
}

.main-filter__block--pad-top {
  padding-top: 20px;
}

.main-filter__block-inner {
  .clearfix();
}

.main-filter__block-input {
  margin-bottom: 20px;
}

.main-filter__block-inner--narrow {
  width: 180px;
}

.main-filter__block-inner--mb {
  margin-bottom: 12px;
}

.main-filter__title {
  font-family: @baseFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 22px
  margin-top: 18px;
  margin-bottom: 11px;
  font-family: @baseFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 22px
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.main-filter__select {

}

.main-filter__select--wide {
  width: 180px;
}

.main-filter__select--narrow {
  width: 85px;
}

.main-filter__chbx {
  margin-bottom:  11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-filter__slider-range-block-inner {
  margin-bottom: 6px;
}

.main-filter__slider-range {
  margin-bottom: 17px;
}

.main-filter__toggle {
  padding: 16px 0 18px 40px;
  background: #e2e7ec;
}

.main-filter__toggle-link {
  font-family: @baseFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 22px
  text-decoration: none;
  text-transform: uppercase;
  color: #000;

  & > i {
    margin-right: 9px;
    transition: .1s;
  }

  & > span {
    border-bottom: 1px dashed #000;
  }

  &:hover {
    & > span {
      border-color: @greenLight-hover;
    }
  }
}

.main-filter__lable {
  line-height: 20px;

  &:before {
    top: 4px;
  }

  &:after {
    top: 4px;
  }
}

.main-filter__lable-icon {
  margin-left: 10px;
}

.main-filter__datepicker {
  margin-bottom: 8px;
}

.main-filter__caption {
  font-family: @secondFont-Family;
  font-size: 12 / 16rem; // 12px
  line-height: 18 / 16rem; // 20px
  font-weight: normal;
  color: @grayDarckMedium;
}
