.map-filter {
  margin: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-bottom: 26px;
  padding: 0;
  font-size: 0;
}

.map-filter__item {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  list-style-type: 0;

  &:before {
    display: none;
  }
}

.map-filter__item-icon {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
}

.map-filter__item-desc {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  font-family: @secondFont-Family;
  font-size: 14 / 16rem;
  line-height: 16 / 16rem;
  color: @blueDeepDark;
  font-weight: bold;
}
