.ymaps-2-1-41-balloon__close+.ymaps-2-1-41-balloon__content{
  padding: 0 !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin: 0 !important;
}


.ymaps-2-1-41-balloon__close {
  top: 10px !important;
  right: 10px !important;
}

.ymaps-2-1-41-balloon__close-button {
  position: relative;
  width: 12px !important;
  height: 12px !important;
  margin: 0 !important;
  background-image: none !important;
  opacity: 1 !important;

  &:before,
  &:after {
    position: absolute;
    content: "";
    background: #88aacc;
  }

  &:before {
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }

  &:after {
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0) rotate(45deg);
  }

  &:hover {
    &:before,
    &:after {
      background: @greenDark-hover;
    }
  }
}
.ymaps-2-1-41-panel-pane,
.ymaps-2-1-41-balloon-pane {
  opacity: 0;
  transition: opacity .5s !important;
  transition-delay: .5s !important;
}



.map-ballon {
  margin-right: 20px;
  padding: 5px 20px;
  padding-right: 0;
  padding-bottom: 0;
  // margin-right: -10px;
  // padding-top: 15px;
  // padding-right: 0;
  // padding-bottom: 15px;
  // padding-left: 8px;
  font-family: @secondFont-Family;
  //opacity: 0;
  // transition: opacity .5s;

  // @media screen and (max-width: 460px) {
  //   margin-right: 0;
  // }
}

.baloon-visible {
  // .map-ballon {
  //   opacity: 1;
  // }
  .ymaps-2-1-41-panel-pane,
  .ymaps-2-1-41-balloon-pane {
    opacity: 1;
  }
}

.map-ballon__adderss {

}

.map-ballon__adderss-icon {
  width: 11px;
  height: 14px;
  margin-right: 10px;
  float: left;
  color: #88aacc;
}

.map-ballon__adderss-title {
  display: table;
  margin-bottom: 5px;
  font-size: 12 / 16rem;
  line-height: 14 / 16rem;
  font-weight: normal;
  color: #445566;
}

.map-ballon__title {
  display: block;
  margin-bottom: 23px;
  font-size: 14 / 16rem;
  line-height: 22 / 16rem;
  font-weight: bold;
  color: #223344;
}

.map-ballon__desc {
  display: table;
  margin-bottom: 15px;

  p {
    margin: 0;
    margin-bottom: 10px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.map-ballon__desc-img-wrap {
  display: table-cell;
  vertical-align: top;
  width: 80px;
}

.map-ballon__desc-img {
  width: 100%;
  max-width: 100%;
}

.map-ballon__desc-text-wrap {
  display: table-cell;
  vertical-align: top;
}

.map-ballon__desc-text {
  display: block;
  padding: 0 15px;
  font-size: 12 / 16rem;
  line-height: 18 / 16rem;
  font-weight: normal;
  color: #556677;
  overflow: auto;
  // height: 80px;
  height: 0;
}

.map-ballon__table {
  &>div:last-child {
    border-bottom: none;
  }
}

.map-ballon__table-head {
  display: table;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  padding: 5px 20px;
  background: #f6f7f8;
  font-size: 12 / 16rem;
  line-height: 14 / 16rem;
  font-weight: normal;
  color: #778899;
}

.map-ballon__table-head-cell {
  display: table-cell;
  vertical-align: top;
}

.map-ballon__table-head-cell--left {
  text-align: left;
}

.map-ballon__table-head-cell--right {
  text-align: right;
}

.map-ballon__table-content {
  display: table;
  width: 100%;
  padding: 10px 0;
  padding-top: 12px;
  font-size: 12 / 16rem;
  line-height: 14 / 16rem;
  font-weight: normal;
  color: #445566;
  border-bottom: 1px dashed #cfd8e1;
}

.map-ballon__table-content-cell {
  display: table-cell;
  vertical-align: top;
}

.map-ballon__table-content-cell--left {
  text-align: left;
}

.map-ballon__table-content-cell--right {
  vertical-align: middle;
  width: 40px;
  text-align: right;
}





