.map-tabs {
  & * {
    box-sizing: border-box;
  }
}

.map-tabs__list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.map-tabs__item {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;

  &.ui-state-active {
    .map-tabs__item--active();
  }
}

.map-tabs__item--active {

  .map-tabs__link {
    color: @white;
    border-color: #25a668;
    background: linear-gradient(to bottom, #3bb077, #50c18b);
    box-shadow: none;
  }

  &:hover {
    .map-tabs__link {
      color: @white;
      border-color: #25a668;
      background: linear-gradient(to bottom, #3bb077, #50c18b);
      box-shadow: none;
    }
  }
}

.map-tabs__link {
  display: block;
  min-width: 86px;
  padding: 6px 19px;
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 16px
  color: @blueGreyDark;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ced9df;
  background: #fdfdfd;
  box-shadow: inset 0 -2px 0 0 #e0ebf0;
  cursor: pointer;

  &:hover {
    background: @white;
    color: #339966;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}


