.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &Wrap {
	position: relative;
	padding-top:  44.827586206896555%;

	@media @media600 {
	  padding-top: 87.5%;
	}
	@media @media320 {
	  padding-top: 113.79310344827586%;
	}
  }
  &Filter {
	text-align: center;
	font-family: @secondFont-Family;
	margin-bottom: 15px;

	@media @mediaTable {
	  margin-left: auto;
	  margin-right: auto;
	}
	@media @mediaMob {
	  display: block;
	  text-align: left;
	}
	&__item {
	  display: inline-block;
	  vertical-align: top;
	  padding-right: 20px;
	  padding-bottom: 10px;

	  @media @mediaTable {
		padding-left: 5px;
		padding-right: 5px;
	  }
	  @media @mediaMob {
		display: block;
		padding-left: 0;
		padding-right: 0;
	  }

	  &-ico {
		width: 36px;
		height: 36px;
		line-height: 36px;

		@media @mediaMob {
		  width: 18px;
		  height: 18px;
		  line-height: 18px;
		}
		&Box {
		  display: inline-block;

		  @media @mediaMob {
			margin-bottom: 5px;
		  }
		}
	  }
	  &-title {
		display: inline-block;
		padding-left: 10px;
		font-weight: bold;
		line-height: 1;
		@media @mediaTable {
		  display: block;
		  padding-left: 0;
		  min-height: 2em;
		  margin-top: 0.7142857142857142em;
		}
		@media @mediaMob {
		  display: inline-block;
		  margin-top: 0;
		  padding-left: 6px;
		  font-size: 0.8571428571428571em;
		  line-height: 1.1666666666666665;
		  min-height: inherit;
		}
	  }
	  &-link {
		color: @blueDeepDark;
	  }
	}
  }
}