.message {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  background: #f6f7f8;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
  // overflow:hidden;

}

.message__title {
  .clearfix();
  cursor: pointer;

  &:hover {
    color: @greenLight-hover;
  }
}

.message__title-span {
  max-width: 800px;
  float: left;
  padding: 25px;
  padding-left: 0;
  font-size: 20 / 16rem;
  line-height: 22/ 16rem;
  font-weight: 600;
  color: @blueDeepDark;

  span {
    .udrline-dashed();
    margin-bottom: 5px;
    display: inline-block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.message__title-data {
  margin-top: 28px;
  font-family: @secondFont-Family;
  font-size: 14 / 16rem;
  line-height: 16 / 16rem;
  font-weight: normal;
  color: @blueGreyDark;
  float: right;
}

.message__inner {
  max-height: 0px;
  padding: 0px 50px;
  background: #fff;
  opacity: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.message.open {
  padding-bottom: 20px;

  .message__title-span {
    color: @greenLight-hover;
  }

  .message__inner {
    opacity: 1;
    max-height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
