.modal-email {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background: rgba(0,0,0,.1);

  & * {
    box-sizing: border-box;
  }

  .form__item {
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .modal-email__input {
    @media screen and (max-width: 480px) {
      width: 272px;

      .form-item__elem {
        width: 69%;
      }
    }
  }

  .modal-email__btn {
    width: 120px;
    height: 40px;
    padding: 0;
    font-size: 15 / 16rem;
    line-height: 17 / 16rem;

    &:disabled {
      background: #f3f4f4;
      box-shadow: none;
      cursor: default;
    }
  }
}

.modal-email__wrapper {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

// html, body {
//   overflow: hidden;
// }

.modal-email__inner {
  position: absolute;
  left: -50px;
  top: 0;
  right: -50px;
  bottom: 0;
}

.modal-email__inner--overflow-y {
  overflow-y: scroll;
}

.modal-email__body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 61px;
  transform: translate(-50%, -50%);
  background: #fff;

  @media @media600 {
    width: 90%;
    padding: 20px;
  }

  @media @media600 {
    width: 77%;
    padding: 40px;
  }

  @media screen and (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-email__body--no-fix {
  position: static;
  margin: 0 auto;
  transform: translate(0%, 0%);
}

.modal-email__title {
  margin-bottom: 31px;
  font-size: 30 / 16rem;
  line-height: 35 / 16rem;
  font-weight: normal;
  color: #001122;

  span {
    display: block;

    @media @media600 {
      display: inline;
    }
  }

  @media @media600 {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 480px) {
    font-size: 25 / 16rem;
    line-height: 30 / 16rem;
  }
}

.modal-email__inner-wrap {
  margin-bottom: 15px;
}

.modal-email__close {
  position: absolute;
  right: 30px;
  top: 23px;
  font-size: 20 / 16rem;
  line-height: 21 / 16rem;
  color: #001122;
  background: #fff;

  // @media @media768 {
  //   top: 30px;
  //   right: 0;
  // }

  @media @media660 {
    top: 14px;
    right: 22px;
  }

  & span {
    border-bottom: 1px solid;
    border-color: inherit;
    margin-right: 10px;

    @media @media660 {
      display: none;
    }
  }

  .modal-email__close-icon {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    width: 12px;
    height: 12px;

    @media @media660 {
      position: relative;
      top: 0;
      width: 20px;
      height: 20px;
    }
  }
}
