.modal-enter {

  .modal-header {
    position: relative;
    background-image: url("../img/mdl-enter-hdr-505x125.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .recover-pwd {
    font-family: @secondFont-Family;
    margin-left: 9px;
  }

  .modal-enter__wrap {
    float: right;
    width: 260px;
  }

  .modal-enter__remember-me {
    margin-top: -10px;
    margin-bottom: 40px;
  }

  .form__item {
    width: auto;
  }

  .form-item__label {
    float: left;
    width: 100px;
  }

  .form-item__elem {
    float: right;
    width: 260px;
  }
}
