.modal-city {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  box-sizing: border-box;

  & * {
    box-sizing: border-box;
  }
}

.modal-city__wrapper {
  display: none;
  position: absolute;
  overflow: hidden;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
  background: #fff url("@{img-url-prefix}bg-dot.svg");
  background-size: 37px 38px;

  @media @media600 {
    background: #fff;
  }

  @media @media768 {
    top: 0;
  }

  @media @media600 {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
}

// html, body {
//   overflow-y: hidden;
// }

.modal-city__inner {
  position: absolute;
  left: -50px;
  top: 0;
  right: -50px;
  bottom: 0;
}

.modal-city__inner--overflow-y {
  overflow-y: scroll;
}

.modal-city__body {
  position: absolute;
  top: 50%;
  left: 50%;
  // max-width: 700px;
  width: 658px;
  padding-left: 80px;
  padding-right: 0;
  padding-top: 45px;
  padding-bottom: 57px;
  transform: translate(-50%, -50%);
  background: #fff;

  ul, li {
    margin: 0;
    padding: 0;
  }

  li {
    &:before {
      display: none;
    }
  }

  label {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  @media @media660 {
    width: 90%;
    padding: 20px;
  }

  @media @media600 {
    width: 77%;
    padding: 40px;
  }
}

.modal-city__body--no-fix {
  position: static;
  margin: 0 auto;
  transform: translate(0%, 0%);
}

.modal-city__title {
  margin-bottom: 45px;
  font-size: 40 / 16rem;
  line-height: 42 / 16rem;
  font-weight: normal;
  color: #001122;

  @media @media600 {
    margin-bottom: 20px;
  }
}

.modal-city__list-wrap {
  margin-bottom: 40px;
}

li.modal-city__main-list-item {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  margin-bottom: 20px;

  @media @media660 {
    width: 180px;
  }

  @media @media600 {
    width: 190px;
  }
}

li.modal-city__list-item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-city__search {
  margin-right: 80px;

  @media @media660 {
    margin-right: 0;
  }
}


.modal-city__input {
  @media @media600 {
    font-size: 15 / 16rem;
  }
}

.modal-city__close {
  position: absolute;
  right: 22px;
  top: 0;
  font-size: 20 / 16rem;
  line-height: 21 / 16rem;
  color: #001122;
  background: #fff;

  &.modal-city__close--inner {
    display: none;
  }

  @media @media768 {
    top: 30px;
    right: 0;
  }

  @media @media660 {
    top: 14px;
    right: 33px;

    &.modal-city__close--outer {
      display: none;
    }

    &.modal-city__close--inner {
      display: block;
    }
  }

  @media @media660 {
    right: 22px;
  }

  & span {
    border-bottom: 1px solid;
    border-color: inherit;
    margin-right: 10px;

    @media @media768 {
      display: none;
    }
  }

  .modal-city__close-icon {
    top: 4px;
    width: 12px;
    height: 12px;

    @media @media768 {
      width: 20px;
      height: 20px;
    }
  }
}
