.modal-reg {

  .modal-header {
    position: relative;
    background-image: url("../img/mdl-reg-hdr-505x125.png");
    background-repeat: no-repeat;
    background-position: top center;
  }

  .modal-reg__pwd2 {
    margin-top: -5px;
    line-height: 18px;
  }

  .modal-reg__button {
    float: right;
    .btn {
      width: 150px;
    }
  }

  .modal-reg__wrap {}

  .modal-reg__confirm-me {
    float: left;
    width: 185px;
  }

  .form__item {
    width: auto;
  }

  .form-item__label {
    float: left;
    width: 100px;
  }

  .form-item__elem {
    float: right;
    width: 260px;
  }
}
