body.modal-open {
  padding-right: 0!important;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  transform: translate(0, -25%);
  transition: all 0.3s ease-out;
}

.modal.in .modal-dialog {
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  display: table;
  margin: auto;
}

.modal-content {
  background: @white;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #0a090a;
  transition: all 0.3s ease-out;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  .clearfix();
  position: relative;
  box-sizing: border-box;
  min-height: 125px;
  padding: 20px 65px;
  background-color: @blueDeepDark;
}

.modal-title {
  position: relative;
  font-family: @baseFont-Family;
  font-size: 42px;
  line-height: 80px;
  font-weight: 600;
  color: @white;
}

.modal-close__btn {
  position: absolute;
  z-index: 10;
  display: block;
  right: 20px;
  top: 20px;
  padding: 3px;
  margin: 0;
  //color: @blueDeepExtraDark;
  color: @blueGreyDark;
  font-size: 15px;
  background: transparent;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  &:hover {
    color: #31bf78;
  }
  .ico--xs {
    width: 14px;
    height: 14px;
  }
}

.modal-close__btn--white {
  color: @white;
  &:hover {
    color: #31bf78;
  }
}

.modal-body {
  .clearfix();
  box-sizing: border-box;
  position: relative;
  padding: 45px 65px;

  .form__item {
    width: auto;
    .chbx,
    .radio {
      margin: 0;
    }
  }


  .form-item__label {
    width: auto;
    min-width: 100px;
    margin-bottom: 5px;
    margin-right: 15px;
    font-family: @baseFont-Family;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: @blueDeepDark;
  }

  .form-item__elem {
    width: 100%;
  }
}

.modal-content.modal-content--light {
  .modal-header {
    min-height: auto;
    padding: 20px 40px 20px 40px;
    background-color: @white;
  }
  .modal-title {
    color: @blueDeepDark;
    font-size: 30px;
    line-height: 1.5;
  }
  .modal-body {
    padding: 20px 40px 40px 40px;
  }
  .form-item__label {
    font-family: @secondFont-Family;
    font-size: 14px;
    font-weight: normal;
    color: @blueGreyDark;
  }

}

// .modal-content {
//   position: relative;
//   background-color: #ffffff;
//   background-clip: padding-box;
//   outline: 0;
// }
//
// .modal-header .close {
//   margin-top: -2px;
// }
//
// .modal-footer {
//   padding: 15px;
//   text-align: right;
//   border-top: 1px solid #e5e5e5;
// }
//
// .modal-footer .btn + .btn {
//   margin-left: 5px;
//   margin-bottom: 0;
// }
//
// .modal-footer .btn-group .btn + .btn {
//   margin-left: -1px;
// }
//
// .modal-footer .btn-block + .btn-block {
//   margin-left: 0;
// }
//
// .modal-scrollbar-measure {
//   position: absolute;
//   top: -9999px;
//   width: 50px;
//   height: 50px;
//   overflow: scroll;
// }
//
// .modal .close {
//   float: right;
//   font-size: 21px;
//   font-weight: bold;
//   line-height: 1;
//   color: #000;
//   text-shadow: 0 1px 0 #fff;
//   filter: alpha(opacity=20);
//   opacity: 0.2;
// }
//
// .modal button.close {
//   appearance: none;
//   padding: 0;
//   cursor: pointer;
//   background: transparent;
//   border: 0;
// }
//
// .modal .close:focus,
// .modal .close:hover {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
//   filter: alpha(opacity=50);
//   opacity: 0.5;
// }
//
// .modal [role="button"] {
//   cursor: pointer;
// }
