.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__item {
    white-space: nowrap;
    vertical-align: top;
    position: relative;

    & + & {
      margin-left: 20px;

      @media @media1000 {
        margin-left: 10px;
      }
    }

    &-link {
      color: @blueDeepDark;
      font-size: 1.4285714285714284em;
      line-height: 1.3;
      text-transform: uppercase;
      display: inline-block;
      @media @media1100 {
        font-size: 1.2857142857142856em;
        line-height: 1.3333333333333333;
      }
      @media @media1000 {
        font-size: 1.1428571428571428em;
        line-height: 1.375;
      }
      &--sub {
        text-decoration: none;
        span {
          text-decoration: underline;
        }
        &:after {
          content: '▼';
          display: inline-block;
          margin-left: 5px;
          font-size: 14px;
          transform: scale(.5);
        }
      }
    }
  }

  &__itemSub {
    &-Wrap {
      display: none;
      padding-top: 12px;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
    }
    position: relative;
    background-color: @white;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 -4px 0 #1ba664 inset,
                0 0 50px #dadada;
    white-space: normal;
    padding-top: 23px;
    padding-bottom: 34px;

    
    &:after {
      bottom: 100%;
      left: 10px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: 6px;
    }

    &-item {
      padding-left: 20px;
      padding-right: 20px;
      &:before {
        display: none;
      }
      & + & {
        margin-top: 9px;
      }
    }

    &-link {
      color: @grayDark;
    }
  }
  &__item--active &__itemSub-Wrap,
  &__item:hover  &__itemSub-Wrap {
    display: block;
  }
  &__item--active &__item-link--sub:after,
  &__item-link--sub:hover:after {
    content: '▲';
  }
  .pageHeader--over & {
    &__item {
      &-link {
        color: @white;
      }
    }
  }
}

.page-no-mobile {
  .nav{
    position: static;
    visibility: visible;
  }
  .nav__item-link {
    font-size: 1.4285714285714284em;
    line-height: 1.3;
  }
}