.order-header {
  box-sizing: border-box;
  width: 100%;
  padding-top: 41px;
  padding-bottom: 17px;
  background: url("@{img-url-prefix}bg-order-1-header.png") no-repeat center bottom;

  & * {
    box-sizing: border-box;
  }
}

.order-header--page-2 {
  background: url("@{img-url-prefix}bg-order-2-header.png") no-repeat center bottom;
}

.order-header--page-3 {
  background: url("@{img-url-prefix}bg-order-3-header.png") no-repeat center bottom;
}

.order-header__list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.order-header__item {
  display: inline-block;
  vertical-align: top;
  width: 413px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  font-family: @baseFont-Family;
  font-size: 20 / 16rem; // 20px
  line-height: 22 / 16rem; // 22px
  font-weight: 600;
  color: @white;
  text-transform: uppercase;

  &:first-child {
    margin-left: 0;
  }
}
.order-header__item--second {
  padding-left: 65px;
}

.order-header__item--third {
  padding-left: 64px;
}