.order-block {
  padding-top: 34px;
}

.order__title {
  margin-bottom: 32 / 16rem; // 32px
  font-weight: 600;
}

.order-block__book-order {
  margin-top: -9px;
}

// .order-block__separator {
//   background: url('@{img-url-prefix}wave-multi.svg') repeat-x center;
//   background-size: 77px 25px;
//   height: 25px;
//   margin-top: 31px;
//   margin-bottom: 27px;
// }

.order-block__program-title {
  margin-bottom: 20px;
  font-size: 20 / 16rem; // 20px
  line-height: 30 / 16rem; // 22px
  color: @blueDeepExtraDark;
  font-weight: 600;
  text-decoration: underline;
}

.order-block__inform {
  display: block;
  margin-top: 13px;
  margin-bottom: -9px;
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 16px
  font-weight: normal;
  color: @blueGreyDark;
}

.order-block__desc {
  width: 640px;
  margin-bottom: 24px;
}

.order-block__description {
  margin-bottom: 24px;
}

.order-block__amount {
  margin-bottom: 35px;
}

.order-block__print {
  margin-bottom: 10px;
}

.order-block__search-block {
  margin-bottom: 28px;
}

.order-block__block-srch-res {
  margin-bottom: 33px;
}

.order-block__buy {
  margin-bottom: 19px;
}

.order-block--inform {
  padding-bottom: 55px;
}
