// .buy-step1--bonus {
//   .buy__price {
//     display: inline-block;
//   }
//   & .step1-use-bonus {
//     display: inline-block;
//     width: 25%;
//     margin-top: -7px;
//     text-align: center;
//     vertical-align: top;
//   }
//   & .form__item {
//     width: 100%;
//     margin: 0;
//     font-family: @secondFont-Family;
//   }
//   & .form-item {
//     &__label {
//       width: auto;
//     }
//     &__elem {
//       width: 150px;
//     }
//   }
//   .buy__price {
//     width: 25%;
//     padding: 0;
//     margin: 0;
//     margin-top: -7px;
//     vertical-align: top;
//   }
//   .block-price {
//     &__title,
//     &__price {
//       display: block;
//       width: auto;
//       text-align: center;
//       line-height: normal;
//     }
//     &__title {
//       line-height: 24px;
//     }
//     &__price {
//       margin-top: -2px;
//     }
//   }
//   .price {
//     font-size: 30px;
//     line-height: 30px;
//   }
//   .buy__offer {
//     margin-left: 10px;
//   }
//
// }
//
// .step1-bonus-amount {
//   display: inline-block;
//   width: 25%;
//   margin-top: -7px;
//   vertical-align: top;
//   &__title {
//     font-family: @secondFont-Family;
//   }
//   &__amount {
//     margin-top: -5px;
//     font-family: @baseFont-Family;
//     font-weight: bold;
//     font-size: 20px;
//   }
// }
//
// //////////////////////////////////
//

.sectionBox.sectionBox--bonus {
  //position: relative;
  padding-bottom: 60px;
}

.sectionBox--bonus {
  .buy__back {
    display: inline-block;
    vertical-align: top;
  }

  .base-price__wrap {
    display: inline-block;
    margin-left: 115px;
    vertical-align: top;

    .priceRu {
      padding-left: 5px;
      color: #000000;
      font-size: 22px;
      font-weight: bold;
    }

    .base-price {
      margin-bottom: 15px;
      margin-left: -15px;
    }
  }

  .base-price__label {
    margin-right: 10px;
    font-family: @secondFont-Family;
    line-height: 22px;
    vertical-align: top;
  }

  .base-price__amount {
    font-family: @baseFont-Family;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    line-height: 20px;
  }

  .form__item {
    width: auto;
  }

  .form-item__elem {
    width: 135px;
    //overflow: hidden;
  }

  .form-item__label {
    width: auto;
    margin-right: 10px;
  }

  .form-item__label--small {
    display: block;
    width: auto;
    padding-top: 5px;
    padding-left: 125px;
    font-size: 12px;
    color: @grayDarckMedium;
  }

  .buy__price {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 50px;
    vertical-align: top;
  }

  .buy__offer {
    position: absolute;
    top: 105px;
    right: 60px;
  }
}
