.order-child {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  background: @grayPpagin;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-child.order-child--active {
  margin-bottom: 30px;
  padding-bottom: 20px;

  .order-child__inner  {
    //padding: 48px;
    opacity: 1;
    max-height: 100%;
  }
}


.order-child.order-child--btn-out {

  .order-child__inner {
    padding-bottom: 0;

    .form {
      padding-bottom: 0;
    }
  }

  .order-child__title {
    padding: 34px 0;

    .ico {
      top: -7px;
      width: 27px;
      height: 27px;
      margin-right: 15px;
    }
  }

  .form__btn-wrap {
    margin-left: -48px;
    margin-right: -48px;
  }

  .form__data,
  .form__docs {
      margin-bottom: 50px;
  }
}

.order-child.order-child--btn-out.order-child--active {
  margin-bottom: 20px;

  .order-child__title-text {
    color: @greenLight-hover;
  }
}

.order-child__title {
  padding: 20px 0;
  font-size: 30 / 16rem; // 20px
  line-height: 32 / 16rem; // 32px
  color: @blueDeepDark;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    .order-child__icon {
      color: @greenLight-hover;
    }
  }

  .udrline-dashed {

    &:before {
      bottom: 3px;
    }
  }
}

.order-child__title-text {

}

.order-child__icon {
  top: 2px;
  width: 14px;
  height: 14px;
  margin-right: 20px;
}

.order-child__inner {
  // padding: 0 48px;
  background: @white;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s ease, max-height .3s ease, padding .1s;

  .form {
    padding: 48px;
  }
}



