.page-footer {
  background-color: @white;
  font-family: @secondFont-Family;
  font-size: 0.8571428571428571em;
  line-height: 1.6666666666666665;
  min-height: 5em;
  color: @blueGrey;
  padding-top: 32px;
  padding-bottom: 28px;

  @media @mediaTable {
    padding-top: 18px;
    padding-bottom: 60px;
  }
  @media @mediaMob {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 62px;
    font-size: 0.7142857142857142em;
    line-height: 2;
  }

  &__inner {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;

    @media @mediaTable {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__logo {
    &Box {
      position: absolute;
      left: 40px;

      @media @mediaTable {
        visibility: hidden;
      }
    }
    &-ico {
      width: 90px;
      height: 54px;
      line-height: 54px;
      color: @blueGreyLight;
    }
  }
  &__social {
    &Box {
      float: right;
      padding-top: 6px;

      @media @mediaTable {
        padding-top: 12px;
      }

      @media @mediaMob {
        float: none;
        padding-right: 0;
        padding-top: 0;
        text-align: center;
        margin-bottom: 18px;
      }
    }
    &-item {
      & + & {
        margin-left: 10px;

        @media @mediaMob {
          margin-left: 20px;
        }
      }
    }
    &-ico {
      color: #b1c5db;
      @media @mediaMob {
        width: 14px;
        height: 14px;
        line-height: 14px;
      }
    }
  }

  &__info {
    display: table-cell;
    vertical-align: top;
    width: 280px;
    min-width: 180px;
    padding-right: @pagePadRight;
    padding-left: 130px;

    @media @mediaTable {
      position: absolute;
      left: @pagePadLeft;
      right: @pagePadRight;
      padding-right: 0;
      width: auto;
      text-align: center;
      top: 100%;
      margin-top: 20px;
      padding-left: 0;
    }
    @media @mediaMob {
      margin-top: 18px;
    }
    &-copyright {
      @media @mediaTable {
        display: inline-block;
      }
    }
    &-address {
      @media @mediaTable {
        display: inline-block;
      }
    }
  }
  &__nav {
    display: table-cell;
    vertical-align: top;
    width: 540px;

    @media @mediaMob {
      display: block;
      width: auto;
    }

    &-col {
      display: table-cell;
      width: 1%;
      vertical-align: top;
      padding-right: @pagePadRight;

      @media @mediaMob {
        display: block;
        width: auto;
        padding-right: 0;
        text-align: center;
      }
    }
    &-item {
      & + & {
        @media @mediaTable {
          margin-top: 10px;
        }
        @media @mediaMob {
          margin-top: 0;
        }
      }
    }
    &-link {
      color: @blueGreyLight;
    }
  }
}
// продолжить отсюда
.page-no-mobile {
  .page-footer {
    background-color: @white;
    font-family: @secondFont-Family;
    font-size: 0.8571428571428571em;
    line-height: 1.6666666666666665;
    min-height: 5em;
    color: @blueGrey;
    padding-top: 32px;
    padding-bottom: 28px;

    &__inner {
      padding-left: 40px;
      padding-right: 40px;
      position: relative;
    }
    &__logo {
      &Box {
        position: absolute;
        left: 40px;
        visibility: visible;
      }
      &-ico {
        width: 90px;
        height: 54px;
        line-height: 54px;
        color: @blueGreyLight;
      }
    }
    &__social {
      &Box {
        float: right;
        padding-top: 6px;
      }
      &-item {
        & + & {
          margin-left: 10px;
        }
      }
      &-ico {
        width: 28px;
        height: 28px;
        line-height: 28px;
        color: #b1c5db;
      }
    }

    &__info {
      display: table-cell;
      vertical-align: top;
      width: 280px;
      min-width: 180px;
      padding-right: @pagePadRight;
      padding-left: 130px;

      position: static;
      left: initial;
      right: initial;
      text-align: left;
      top: initial;
      margin-top: initial;
      &-copyright {
      }
      &-address {
      }
    }
    &__nav {
      display: table-cell;
      vertical-align: top;
      width: 540px;
      &-col {
        display: table-cell;
        width: 1%;
        vertical-align: top;
        padding-right: @pagePadRight;

      }
      &-item {
        & + & {
        }
      }
      &-link {
        color: @blueGreyLight;
      }
    }
  }
}