.pageHeader {
  &--bg {
  	background: @white;
  	position: relative;
  	padding-bottom: 10px;
  	&:after {
  		content: '';
  		display: block;
  		width: 100%;
  		height: 22px;
  		background: url(../img/header-bg.png) repeat-x center 0 @grayMedium;
  		background-color: transparent; // Roman 10/03/2016
  		position: absolute;
  		bottom: -22px;
  		left: 0;
  	}
  	> .inner-block {
		padding-left: 40px;
		padding-right: 40px;
  	}
  }
  > .inner-block {
	padding-top: 36px;
	padding-bottom: 18px;

		@media @mediaMob {
		  padding-top: 18px;
		}
  }
  &__logo {
		&Box {
		  display: table-cell;
		  width: 1%;
		  vertical-align: top;

		  @media @mediaTable {
				width: 100%;
				text-align: center;
		  }
		}
		&-link {
		  color: #26b26f;
		}
		&-ico {
		  width: 196px;
		  height: 116px;
		  line-height: 116px;

		  @media @mediaTable {
			width: 230px;
			height: 130px;
			line-height: 130px;
		  }
		  @media @media600 {
			width: 110px;
			height: 65px;
			line-height: 65px;
		  }
		}
  }
  &__content {
	display: table-cell;
	vertical-align: top;
	padding-top: 5px;
	padding-left: 4.354838709677419%;

		@media @mediaTable {
		  padding-left: 0;
		  padding-top: 20px;
		  min-width: 130px;
		  padding-right: 16px;
		}
		@media @mediaMob {
		  min-width: 50px;
		  padding-top: 10px;
		}
		&Inner {
		  display: table;
		  width: 100%;
		  margin-bottom: 32px;
		}
  }
  &__contact {
		&Box {
		  font-family: @secondFont-Family;
		  display: table-cell;
		  vertical-align: top;
		  width: 20.2020202020202%;
		  padding-right: 20px;
		  white-space: nowrap;
		}
		&-num {
		  font-weight: bold;
		  color: @blueDeepDark;
		  margin-bottom: 7px;
		}
		&-callback {
		  font-size: 0.8571428571428571em;
		  line-height: 1.3333333333333333;
		  color: @blueGrey;
		}
  }
  &__city {
		&Box {
		  font-family: @secondFont-Family;
		  display: table-cell;
		  vertical-align: top;
		  padding-right: 20px;
		}
		&-current {
		  font-weight: bold;
		  color: @blueDeepDark;
		  margin-bottom: 7px;
		  position: relative;

		  &:after {
			content: '\a0';
		  }

		  &-inner {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			position: absolute;
			max-width: 100%;
		  }
		}
		&-choose {
		  font-size: 0.8571428571428571em;
		  line-height: 1.3333333333333333;
		  color: @blueGrey;
		}
  }
  &__auth {
		&Box {
		  display: table-cell;
		  width: 1%;
		  white-space: nowrap;
		  font-family: @secondFont-Family;
		  position: relative;

		  &:after {
				content: '';
				position: absolute;
				background: url('@{img-url-prefix}wave--strong.svg') repeat-x bottom center;
				background-size: 34px 11px;
				left: 0;
				right: 0;
				height: 11px;
				top: 30px;

				@media @mediaMob {
				  background-size: 20px 11px;
				  top: 20px;
				}
		  }
		}
		&-link {
		  font-weight: bold;
		  color: @blueDeepDark;
		  text-decoration: none;
		  margin-left: 3px;
		  margin-right: 3px;
		  cursor: pointer;
		  border: 0;
		  box-shadow: 0;
		  padding: 0;
		  background: transparent;
		  outline: none;
		  &:first-child {
			margin-right: 8px;
			margin-left: 0;

			@media @mediaMob {
			  margin-right: 0;
			}
		  }
		}
		&-ico {
		  width: 14px;
		  height: 14px;
		  line-height: 14px;
		  color: @blueGreyLight;
		}
  }
  &__additional {
	&Box {
	  display: table-cell;
	  vertical-align: top;
	  font-family: @secondFont-Family;
	  width: 20.2020202020202%;
	  padding-right: 20px;
	  white-space: nowrap;
	}
	& + & {
	  margin-top: 5px;
	}
	&-ico {
	  width: 16px;
	  height: 16px;
	  line-height: 16px;
	  color: @blueGreyLight;
	}
	&-link {
	  font-size: 0.8571428571428571em;
	  line-height: 1.3333333333333333;
	  color: @blueGrey;
	  margin-left: 10px;
	}
	&-counter {
	  background-color: @blueGreyLight;
	  color: @white;
	  font-size: 0.7142857142857142em;
	  line-height: 1.4000000000000001;
	  margin-left: 6px;
	  padding-left: 4px;
	  padding-right: 4px;
	  border-radius: 7px;
	}
  }
  &__nav {
	display: table-cell;
	vertical-align: top;
	min-width: 130px;
	padding-left: 20px;
	padding-top: 24px;
	@media @mediaMob {
	  min-width: 50px;
	  padding-top: 14px;
	}

	&-ico {
	  width: 24px;
	  height: 24px;
	  line-height: 24px;
	  color: @blueGreyLight;

	  @media @mediaMob {
		width: 20px;
		height: 20px;
		line-height: 20px;
	  }
	}
  }

  &--over {
	height: 0;
	position: relative;
	z-index: 6;

	& .pageHeader {
	  &__logo-link {
		color: @white;
		.ico {
		  color: inherit;
		}
	  }
	  &__contact {
		&-num {
		  color: @white;
		}
		&-callback {
		  color: @white;
		}
	  }
	  &__city {
		&-current {
		  color: @white;
		}
		&-choose {
		  color: @white;
		}
	  }
	  &__auth {
		&Box {
		  &:after {
			background-image: url('@{img-url-prefix}wave--strongWhite.svg');
		  }
		}
		&-link {
		  color: @white;
		}
		&-ico {
		  color: @white;
		}
	  }
	  &__additional {
		&-ico {
		  color: @white;
		}
		&-link {
		  color: @white;
		}
	  }
	  &__nav-ico {
		color: @white;
	  }
	}
  }
}

.page-no-mobile {
	.pageHeader {
	  &--bg {
	  	background: @white;
	  	position: relative;
	  	padding-bottom: 10px;
	  	&:after {
	  		content: '';
	  		display: block;
	  		width: 100%;
	  		height: 22px;
	  		background: url(../img/header-bg.png) repeat-x center 0 @grayMedium;
	  		background-color: transparent; // Roman 10/03/2016
	  		position: absolute;
	  		bottom: -22px;
	  		left: 0;
	  	}
	  	> .inner-block {
			padding-left: 40px;
			padding-right: 40px;
	  	}
	  }
	  > .inner-block {
		padding-top: 36px;
		padding-bottom: 18px;

	  }
	  &__logo {
			&Box {
			  display: table-cell;
			  width: 1%;
			  vertical-align: top;
				text-align: left;
			}
			&-link {
			  color: #26b26f;
			}
			&-ico {
			  width: 196px;
			  height: 116px;
			  line-height: 116px;
			}
	  }
	  &__content {
			display: table-cell;
			vertical-align: top;
			padding-top: 5px;
			padding-left: 4.354838709677419%;
			min-width: initial;
			padding-right: initial;

			&Inner {
			  display: table;
			  width: 100%;
			  margin-bottom: 32px;
			}
	  }
	  &__contact {
			&Box {
			  font-family: @secondFont-Family;
			  display: table-cell;
			  vertical-align: top;
			  width: 20.2020202020202%;
			  padding-right: 20px;
			  white-space: nowrap;
			  position: static;
		    visibility: visible;
			}
			&-num {
			  font-weight: bold;
			  color: @blueDeepDark;
			  margin-bottom: 7px;
			}
			&-callback {
			  font-size: 0.8571428571428571em;
			  line-height: 1.3333333333333333;
			  color: @blueGrey;
			}
	  }
	  &__city {
			&Box {
			  font-family: @secondFont-Family;
			  display: table-cell;
			  vertical-align: top;
			  padding-right: 20px;
			  position: static;
		    visibility: visible;
			}
			&-current {
			  font-weight: bold;
			  color: @blueDeepDark;
			  margin-bottom: 7px;
			  position: relative;

			  &:after {
				content: '\a0';
			  }

			  &-inner {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				position: absolute;
				max-width: 100%;
			  }
			}
			&-choose {
			  font-size: 0.8571428571428571em;
			  line-height: 1.3333333333333333;
			  color: @blueGrey;
			}
	  }
	  &__auth {
			&Box {
			  display: table-cell;
			  width: 1%;
			  white-space: nowrap;
			  font-family: @secondFont-Family;
			  position: relative;

			  &:after {
					content: '';
					position: absolute;
					background: url('@{img-url-prefix}wave--strong.svg') repeat-x bottom center;
					background-size: 34px 11px;
					left: 0;
					right: 0;
					height: 11px;
					top: 30px;
			  }
			}
			&-link {
			  font-weight: bold;
			  color: @blueDeepDark;
			  text-decoration: none;
			  margin-left: 3px;
			  margin-right: 3px;
			  position: static;
		    visibility: visible;
			  &:first-child {
				margin-right: 8px;
				margin-left: 0;
			  }
			}
			&-ico {
			  width: 14px;
			  height: 14px;
			  line-height: 14px;
			  color: @blueGreyLight;
			}
	  }
	  &__additional {
			&Box {
			  display: table-cell;
			  vertical-align: top;
			  font-family: @secondFont-Family;
			  width: 20.2020202020202%;
			  padding-right: 20px;
			  white-space: nowrap;
			  position: static;
		    visibility: visible;
			}
		& + & {
		  margin-top: 5px;
		}
		&-ico {
		  width: 16px;
		  height: 16px;
		  line-height: 16px;
		  color: @blueGreyLight;
		}
		&-link {
		  font-size: 0.8571428571428571em;
		  line-height: 1.3333333333333333;
		  color: @blueGrey;
		  margin-left: 10px;
		}
		&-counter {
		  background-color: @blueGreyLight;
		  color: @white;
		  font-size: 0.7142857142857142em;
		  line-height: 1.4000000000000001;
		  margin-left: 6px;
		  padding-left: 4px;
		  padding-right: 4px;
		  border-radius: 7px;
		}
	  }
	  &__nav {
			display: table-cell;
			vertical-align: top;
			min-width: 130px;
			padding-left: 20px;
			padding-top: 24px;
			position: fixed;
		  visibility: hidden;

		&-ico {
		  width: 24px;
		  height: 24px;
		  line-height: 24px;
		  color: @blueGreyLight;
		}
	  }

	  &--over {
		height: 0;
		position: relative;
		z-index: 6;

		& .pageHeader {
		  &__logo-link {
				color: @white;
				.ico {
				  color: inherit;
				}
			  }
			  &__contact {
				&-num {
				  color: @white;
				}
				&-callback {
				  color: @white;
				}
			  }
			  &__city {
				&-current {
				  color: @white;
				}
				&-choose {
				  color: @white;
				}
			  }
			  &__auth {
				&Box {
				  &:after {
					background-image: url('@{img-url-prefix}wave--strongWhite.svg');
				  }
				}
				&-link {
				  color: @white;
				}
				&-ico {
				  color: @white;
				}
			  }
			  &__additional {
				&-ico {
				  color: @white;
				}
				&-link {
				  color: @white;
				}
			  }
			  &__nav-ico {
				color: @white;
			  }
			}
	  }
	}
}