.paginator {
  & * {
    box-sizing: border-box;
  }
}

.paginator__list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.paginator__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  list-style-type: none;

  &:first-child {
    margin-left: 0;
  }

  &.active {
    .paginator__link {
      background: @greenLight-hover;
      color: @white;
      cursor: default;
    }
  }
}

.paginator__link,
.paginator__span {
  display: block;
  padding: 5px;
  font-family: @thirdFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 16px
  font-weight: normal;
  color: @blueGreyDark;
  text-align: center;
  text-decoration: none;
  background: @grayPpagin;
}

.paginator__link {
  min-width: 40px;
  padding: 12px 5px;

  &:hover {
    color: @greenLight-hover;

    .paginator__ico {
      color: @greenLight-hover;
    }
  }
}

.paginator__link--prev,
.paginator__link--next {
  padding-left: 15px;
  padding-right: 15px;
}

.paginator__link--prev {

  .paginator__ico  {
    margin-right: 6px;
  }

}

.paginator__link--next {
  .paginator__ico  {
    margin-left: 6px;
  }
}

.paginator__ico {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 10px;
  margin-top: -1px;
  color: #88aacc;
}

.paginator__link-span {

}

.paginator__span {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 7px;
  padding-bottom: 17px;
  background:  transparent;
}
