.partnerList {
  overflow: hidden;

	&__item {
	  height: 120px;
	  text-align: center;
	  // background-color: @grayLight;
	  white-space: nowrap;
	  border: 2px solid @white;
	  padding-left: 10px;
	  padding-right: 10px;
	  box-sizing: border-box;
	  float: left;
	  width: 100%/6;

	  @media @mediaTable {
		width: 100%/3;
	  }
	  @media @mediaMob {
		width: 100%/2;
	  }
	  .carousel--loaded & {
		width: auto;
		float: none;
	  }

	  &:before {
		content: '';
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	  }
	  &-img {
		vertical-align: middle;
	  }
	}
}