.pay-type {
  font-family: @secondFont-Family;
  font-size: 12 / 16rem; // 12px
}

.pay-type__desc {

}

.pay-type__change {
  font-family: @secondFont-Family;
  font-size: 12 / 16rem; // 12px
  font-weight: bold;
}
