.preloader {
  &:before {
    position: fixed;
    z-index: 300;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, .6) url("@{img-url-prefix}fin_spin.gif") no-repeat center center;
  }
}
