.sectionBox--scallopTop.prepare {
  background: @white url("../img/kids-play-sand.jpg") no-repeat 50% -9px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 0;
    background: url("../img/prepare-scalloptop.png") no-repeat 50% 0 transparent;
    width: 100%;
    height: 9px;
  }
}

.prepare__header {
  position: relative;
  height: 390px;
  margin-bottom: 45px;

  h1 {
    position: absolute;
    bottom: 10px;
    //color: @white;
  }
}

.prepare__subtitle {
  width: 100%;

  h2 {
    width: 750px;
    margin: 0;
    padding: 0;
  }

  h3 {
    width: 750px;
    margin-bottom: 40px;
  }

  .prepare-header-pix {
    float: right;
  }
}

.prepare__row {
  width: 1200px;
  padding-bottom: 20px;
}

.prepare-block {
  display: inline-block;
  width: 330px;
  min-height: 150px;
  margin-right: 65px;
  margin-bottom: 20px;
  vertical-align: top;

  img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0;
    -webkit-margin-before: 0;
  }
}
