.price {
  font-size: 40 / 16rem; // 40px
  line-height: 44 / 16rem; // 42px
  //line-height: 43.8 / 16rem;
  color: @violetMiddle;
  font-weight: bold;
}

.price-medium {
  font-size: 20 / 16rem; // 40px
  line-height: 22 / 16rem; // 42px
  color: @violetMiddle;
  font-weight: bold;
}

// price-small
.price-small {

}

.price-small__item {
  margin-top: 7px;

  &:first-child {
    margin-top: 0;
  }
}

.cost-small,
.price-small__item--cost {
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 16px
  font-weight: bold;
  color: #7f4aea;
}

.sale-small,
.price-small__item--sale {
  .price-small__item--cost();
  color: #26b26f;

  .price-small__inner {
  text-decoration: line-through;
  }
}

.price-small__inner {
  display: inline-block;
  vertical-align: top;
}
