.print {
  .clearfix();
}

.print__btn,
.print__links {
 float: left;
}

.print__btn {
  margin-right: 30px;

  .btn {
    width: 180px;
    text-align: center;
  }
}
.print__links {
  font-family: @secondFont-Family;
  line-height: 18 / 16rem; // 14px
}

.print__links-item {
  display: block;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }
}

