.programs-type {
  .clearfix();
}

.programs-type__title {

}

.programs-type__method {
  float: left;
  padding: 40px;
}

.programs-type__method-inner {
  overflow-y: auto;
  height: 230px;
}

.programs-type__chart {
  float: right;
  padding-top: 40px;
  padding-bottom: 20px;

  .programs-type__title {
    margin-left: 40px;
  }
}

.programs-type__method,
.programs-type__chart {
  box-sizing: border-box;
  padding-top: 33px;
  width: 610px;
  min-height: 370px;
  background: @white;
}

