.programm__table-prgm {
  width: 455px;
}

.programm__table-place {
  width: 418px;
}

.programm__table-date {
  width: 198px;
}

.programm__table-transport {
  width: 260px;
}

.programm__table-arrive {
  width: 156px;
}

.programm__table-date-arrive {
  width: 199px;
}

.programm__table-cost {

}

.programm__table-row {
  td {
    padding-top: 40px;
  }

  &:first-child {
    td {
      padding-top: 0;
    }
  }
}

.programm__date {
  margin-top: 42px;
  margin-bottom: 6px;
}

.programm__icon {
  margin-top: 32px;
  margin-bottom: 7px;
}

.programm__price {
  margin-top: 12px;
}

.program__transport {
  margin-top: 42px;
}

.programm__description {
  margin-top: 36px;
  padding-bottom: 14px;
}

.programm__camp {
  font-family: @secondFont-Family;
}

.programm{
  
}

