.programm-gal-descr {
  .clearfix();
}

.programm-gal-descr__gal {
  float: left;
  width: 620px;
  height: 440px;
  box-sizing: border-box;

  .slider-gallery {
    width: 567px !important;
    margin-left: 50px;
  }

  .slider-gallery__fullscreen-triger {
    right: initial;
    left: -49px;
    bottom: 0;
  }

  .fotorama {
    overflow: visible;
  }

  .fotorama__stage {
    position: relative;
    z-index: 2;
  }

  .fotorama__nav-wrap {
    position: absolute;
    z-index: 1;
    left: -249px;
    top: 0;
    height: 393px;
    overflow: hidden;
  }

  .fotorama__nav__frame--thumb {
    display: block;
    padding: 0 !important;
    margin-bottom: 10px;
    &.fotorama__active {
      border: 1px solid #33bb77;
    }
  }
  .fotorama__thumb-border {
    display: none !important;
  }

  .fotorama__arr {
    width: 40px;

    &.fotorama__arr--next {
      &:before {
        right: 15px;
      }
    }

    &.fotorama__arr--prev {
      &:before {
        left: 15px;
      }
    }
  }
}

.programm-gal-descr__text-wrap {
  float: right;
  width: 555px;
}
.programm-gal-descr__text {
  height: 440px;
  overflow-y: auto;
}

.programm-gal-descr__text-title {
  margin-top: 27px;
}

.overshadow {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 105px;
    background: url(../img/glow.png) repeat-x 0 35px;
    width: 100%;
  }
}