.programm-header {
  .clearfix();
  padding: 0 20px;
  margin-bottom: 20px;

  .programm-rating {
    float: right;
    margin-right: 35px;

    &__icon {
      display: inline-block;
      margin-right: 10px;
    }

    &__value {
      display: inline-block;
    }
  }

  .social-netw {
    float: right;
    line-height: 55px;

    a:active,
    a:focus,
    a:hover {
      opacity: 0.8;
    }
  }
}


.programm-rating__stars {
  display: block;
  height: 20px;

  .rateit-selected,
  .rateit-range {
    background-size: 14px;
  }
}


.programm-rating__comments {
  font-family: @secondFont-Family;
  font-size: 14px;
  font-weight: bold;
  color: @blueDeepDark;
}

.programm-header__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
}

.programm-header__item-inner {
  display: inline-block;
  vertical-align: top;
  font-family: @secondFont-Family;
  font-size: 12px;
  line-height: 18px;

  .programm-organisator,
  .programm-specialisation {
    font-size: 14px;
    font-weight: bold;
    color: @blueDeepDark;
  }
}

.programm-header__age-limit {
  font-size: 0;
  margin-right: 10px;

  .age-dash,
  .age-high,
  .age-low {
    font-family: @baseFont-Family;
    font-size: 40px;
    line-height: 32px;
    color: @green;
    font-weight: 600;
    letter-spacing: -5px;
  }

  .age-dash {
    margin-left: 5px;
  }
}

.programm-title {
  padding: 0 20px;
}

.camp-card__nav {
  &.camp-card__nav--progamm2 {
    margin: 0;
  }
}

.camp-card__nav-item.camp-card__nav-item--comments {
  .badge {
    border-bottom: none;
    vertical-align: middle;
  }
}

.programm-section {
  .camp-card__fullinfo-contents {
    //min-height: 550px;
  }

  .block-info {
    padding-top: 15px;
  }

  .block-info__inner {
    position: relative;
    padding: 40px 0 0;
  }

  .programs-type__chart {
    display: block;
    float: right;
    //position: relative;
    //top: 40px;
    //right: 0;
    width: auto;
    padding: 0;
    margin: 0;
    padding-left: 60px;

    .programs-type__title {
      margin: 0 0 30px;
    }

    .chart__diagram {
      display: block;
      float: none;
      margin: 0 auto 30px;
    }

    .chart__caption b {
      font-weight: 600;
      line-height: 0.9;
      vertical-align: top;
    }

    .chart__descr {
      display: block;
      float: none;
      margin: 0 auto;

      &-head {
        padding-right: 15px;
      }

      &-item-inner {
        width: 285px;
      }

      &-item {
        margin-left: 15px;
        margin-right: 15px;
      }

      .color-label {
        display: inline-block;
        vertical-align: baseline;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        border-radius: 50%;

        &--a {
          background-color: #ff689a; //chart.less .ct-series-a
        }

        &--b {
          background-color: #31bf78; //chart.less .ct-series-a
        }

        &--c {
          background-color: #6a3fc3; //chart.less .ct-series-a
        }

        &--d {
          background-color: #ffd076; //chart.less .ct-series-a
        }
      }
    }
  }

  .programm-decription {
    //width: 640px;

    h4, .h4 {
      margin-top: 0;
    }

    &.camp-card__fullinfo-content--active ~ .programs-type__chart {
      //display: none;
    }
  }

  .methods {
    &.camp-card__fullinfo-content--active ~ .programs-type__chart {
      //display: none;
    }
  }

  .skills {
    //width: 640px;

    h4, .h4 {
      margin-top: 0;
    }

    &.camp-card__fullinfo-content--active ~ .programs-type__chart {
      //display: none;
    }
  }

  .schedule {
    margin-top: -15px;

    &.camp-card__fullinfo-content--active ~ .programs-type__chart {
      //display: none;
    }

    .camp-card__tab-cont-box {
      padding: 30px;

      &.camp-card__tab-cont-box--pad0 {
        padding: 0;
      }
    }
  }

  .camp-card__table-devider {
    margin: 25px 0;
  }

  .camp-card__tab {
    background: @grayPpagin;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      color: @blueDeepDark;
      //font-size: 30px;
      font-size: 25px;
      line-height: 40px;
      font-weight: 600;
      position: relative;
      cursor: pointer;
      padding: 16px 48px 15px;

      &:hover {
        color: @green;

        .camp-card__tab-icon {
          background: @green;
        }
      }
    }

    &-btn-wrap {
      margin-bottom: 20px;
      text-align: center;
      // btn {
      // 	width: 135px;
      // }
    }

    &-icon {
      position: absolute;
      left: 20px;
      top: 30px;
      width: 14px;
      height: 14px;
      background: @blueGreyLight;
      border-radius: 1px;
      transition: all 0.3s ease;

      &:after {
        content: '';
        display: block;
        width: 2px;
        height: 8px;
        background: #fff;
        border-radius: 1px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        margin-left: -1px;
      }

      &:before {
        content: '';
        display: block;
        height: 2px;
        width: 8px;
        background: #fff;
        border-radius: 1px;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -4px;
      }
    }

    &-cont {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
      padding: 0 20px;
      box-sizing: border-box;

      &-box {
        background: @white;
        margin-bottom: 20px;
        padding: 30px 0;
      }

      .camp-card__table {
        margin: 0;
      }
    }

    &.open {
      .camp-card__tab-cont {
        opacity: 1;
        max-height: 100%;
      }

      .camp-card__tab-icon:after {
        transform: rotate(90deg);
      }

      .camp-card__tab-title {
        color: @green;
      }
      // .camp-card__tab-icon {
      //   background: @green;
      // }
    }

    .camp-card__table-product {
      border-bottom: 0;
    }

    .camp-card__table-product-pic {
      position: absolute;
      left: 0;
      top: 0;
    }

    .camp-card__table-product-link {
      position: relative;
      padding-left: 100px;
      display: block;

      .text {
        font-weight: normal;
        color: #556677;
        margin-top: 10px;

        .underline {
          text-decoration: underline;
        }
      }
    }

    .camp-card__table-product-link--big {
      display: block;
      font-size: 14px;
      color: @blueDeepDark;
      border: 2px solid @grayPpagin;
      text-decoration: none;
      text-align: center;
      height: 46px;
      line-height: 46px;
      font-weight: bold;

      span {
        border-bottom: 1px dashed @blueDeepDark;
        padding-bottom: 1px;
        display: inline-block;
        line-height: 14px;
        vertical-align: middle;
      }

      &:hover {
        color: #31bf78;
      }
    }

    &-cont-box {
      font-family: @secondFont-Family;
      color: @blueGreyDark;
    }
  }
}

.schedule-header {
  position: relative;
  padding: 30px;
}

.scheduled-programm-title {
  font-family: @baseFont-Family;
  font-size: 20px;
  font-weight: 600;
  color: @blueDeepDark;

  & a {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-bottom: 1px dashed #77828c;

    &:active,
    &:focus {
      border: none;
    }
  }

  &.scheduled-programm-title--active {
    &::before {
      content: "";
      position: absolute;
      top: 17px;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      pointer-events: none;
      border-top: none;
      border-right: none;
      border-left: 2px solid @green;
      border-bottom: 2px solid @green;
    }

    & a {
      position: relative;
      border: none;
      color: @green;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 45%;
        left: -30px;
        display: block;
        width: 17px;
        height: 2px;
        background: @green;
        border-top: solid @white 300px;
        overflow: hidden;
      }
    }
  }
}
////
// .programm__table-prgm {
//   width: 455px;
// }
//
// .programm__table-place {
//   width: 418px;
// }
//
// .programm__table-date {
//   width: 198px;
// }
//
// .programm__table-transport {
//   width: 260px;
// }
//
// .programm__table-arrive {
//   width: 156px;
// }
//
// .programm__table-date-arrive {
//   width: 199px;
// }
//
// .programm__table-cost {}
//
// .programm__table-row {
//   td {
//     padding-top: 40px;
//   }
//
//   &:first-child {
//     td {
//       padding-top: 0;
//     }
//   }
// }
//
// .programm__date {
//   margin-top: 42px;
//   margin-bottom: 6px;
// }
//
// .programm__icon {
//   margin-top: 32px;
//   margin-bottom: 7px;
// }
//
// .programm__price {
//   margin-top: 12px;
// }
//
// .program__transport {
//   margin-top: 42px;
// }
//
// .programm__description {
//   margin-top: 36px;
//   padding-bottom: 14px;
// }
//
// .programm__camp {
//   font-family: @secondFont-Family;
// }
//Доступные лагеря и заезды//

.avail-camps-section {
  .camp-card__fullinfo-button {
    background: none;
  }

  .block-info__inner {
    padding: 10px;
  }

  .camp-card__fullinfo-contents {
    padding: 0;
    margin-bottom: 20px;
  }
}

.avail-camps__item {
  padding-bottom: 0;
}

.avail-camps__item-header {
  padding: 20px 20px 0;
}

.avail-camps-title-img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;

}

.avail-camps-title {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.avail-camps__table {
  font-family: @secondFont-Family;
  font-size: 14px;

  .small-txt {
    font-size: 12px;
    line-height: 1.5;
  }

  &-header {
    .small-txt();
    min-height: 30px;
    padding: 5px 0;
    background: @grayPpagin;
  }

  &-body {
    min-height: 110px;
    padding: 20px 0;

    .avail-camps__table-col {
      margin-left: -1px;
    }
  }

  &-row {
    padding: 0 10px;
  }

  &-col {
    display: inline-block;
    vertical-align: top;

    &--1 {
      width: 380px;
    }

    &--2 {
      width: 200px;
    }

    &--3 {
      width: 130px;
    }

    &--4 {
      width: 150px;
    }

    &--5 {
      width: 55px;
      margin-right: 20px;
    }

    &--6 {
      width: 110px;
    }

    &--7 {
      width: 45px;
    }
  }

  &-product-link {
    font-family: @baseFont-Family;
    font-size: 20px;
    line-height: 1;
    color: @blueDeepDark;
    font-weight: 600;
  }

  &-product-price {
    color: @blueDeepDark;
  }

  &-product-booking {
    .btn {
      width: 110px;
    }
  }

  &-booking-heart {
    text-align: right;
  }
}

.avail-camps__table-transfer {
  text-decoration: none;
  border-bottom: dashed 1px @blueGrey;
}

.avail-camps__table-transfer-q {}

.transfer-wrap {
  text-align: center;
  display: inline-block;
  width: 105px;
  height: 30px;

  &.hovered {
    cursor: pointer;
    background: @greenLight-hover;

    .avail-camps__table-transfer {
      color: @white;
      border-bottom: dashed 1px @white;
    }
  }
  // &:active {
  //   background: @green;
  // }
}

.camp-card__table-devider {
  margin: 15px 0 25px;
  padding: 0 20px;
}

.avail-camps-section,
.comments-section,
.docs-section,
.programm-section {
  .h1 {
    padding: 0 20px;
  }
}

.camp-card__inside {
  padding: 0 20px;

  p {
    line-height: 1.5;
  }
}

.docs-section {
  .block-info {
    padding-top: 15px;
  }

  .block-info__inner {
    padding: 0;
  }

  .docs-checkin {
    .clearfix();
  }

  .docs-checkin__list {
    float: left;
    width: 660px;
  }

  .doc-small-item {
    margin-bottom: 5px;

    &__icon {
      vertical-align: top;
    }

    &__doc-name {
      display: inline-block;
      vertical-align: top;
      line-height: 1.5;
      width: 460px;
      margin-right: 40px;
    }

    &__link {
      position: static;
      vertical-align: top;
      line-height: 1.5;
    }
  }

  .docs-checkin__rules {
    float: right;
    width: 400px;
    padding-right: 50px;

    b {
      color: @blueDeepDark;
    }
  }
}

.comments-section {
  .h4 {
    margin: 10px 0;
  }
}

.comments-list__item {
  margin-bottom: 20px;
  &:not(:last-child)::after {
    content: "";
    display: block;
    width: 105%;
    height: 20px;
    margin-top: 20px;
    transform: translateX(-20px);
    background: @white;
  }
}


.comment-rating {
  float: right;
}

.comment-rating__value {
  display: inline-block;
  vertical-align: top;
}

.comment-rating__stars {
  display: inline-block;
  padding-bottom: 3px;
  vertical-align: middle;
  margin: 0 10px;

  .rateit-selected,
  .rateit-range {
    background-size: 20px;
  }
}

.comment__user-info {
}

.comment__user-avatar {
  vertical-align: text-bottom;
  margin-right: 5px;
}
.comment__user-name {
}

.comment__user-date {
  margin-top: 0;
}

.comments-list__item-body {
  padding: 25px;
  background: @white;
}

.comments-list__item-comment {
  width: 650px;
}
