.program-speed-desc {
  margin-bottom: 32px;
}

.program-speed-desc__list {
  margin: 0;
  padding: 0;
}

.program-speed-desc__item {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 70px;
  list-style-type: none;
  font-size: 0;

  &:before {
    display: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

.program-speed-desc__item-inner {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  font-family: @secondFont-Family;
  font-size: 14px;
  line-height: 14px;
  color: @blueGreyDark;

  & span {
    display: block;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.program-speed-desc__icon {
  top: 2px;
  width: 28px;
  height: 28px;
  color: inherit;
}

.program-speed-desc__icon-32 {
  top: 0;
  width: 32px;
  height: 32px;
}

.program-speed-desc__big-text {
  margin-left: -2px;
  font-family: @secondFont-Family;
  font-size: 34 / 16rem; // 34px
  line-height: 32 / 16rem; // 36px
  color: inherit;
  font-weight: 600;
}

.program-speed-desc__item-inner--green {
  color: #33bb77;
}
