.programm-schedule {
  display: none;

  &.visible {
    display: block;
  }

  .carousel__content {
    font-size: 0;
    white-space: normal!important;
  }

  .carousel__contentWrap {
    padding-left: 20px;
  }

  .carousel__item {
    vertical-align: top;
  }

  .carousel__nav {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
}

.programm-schedule__slider-item {
  vertical-align: top;
  width: 212px;
  font-family: @secondFont-Family;
  font-size: 14px;
  color: @blueDeepDark;
}

.programm-day__title {
  height: 55px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 2.5;
  font-weight: 600;
  font-family: @baseFont-Family;
  background: @grayPpagin;
}

.programm-day__date {
  width: 210px;
  height: 30px;
  padding-left: 20px;
  line-height: 2.2;
  background: #e1e8ef;
}

.programm-day__time-list {
  padding-left: 20px;
  padding-right: 30px;

  .programm-day__time-item {
    margin: 10px 0;

    &.hidden {
      display: none;
    }

    .event-time {}

    .event-description {
      margin-bottom: 20px;
      line-height: 1.5;
    }
  }
}
