.programm-item {
  .clearfix();
  padding-top: 28px;
}

.programm-item__img-wrap {
  float: left;
  width: 90px;
  height: 90px;
  margin-left: 10px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.programm-item__img {
}

.programm-item_desc {
  display: table;
}

.programm-item__title {
  width: 305px;
  margin-bottom: 2px;
  padding-top: 10px;
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; // 14px
  font-weight: bold;
  line-height: 24px;
  color: @blueDeepDark;
}

.programm-item__title--under {
  text-decoration: underline;
}

.programm-item__link {

}

.programm-item__text {
  margin: 12px 0;
  padding-right: 34px;
  font-family: @secondFont-Family;

  span {
    display: block;
  }
}
