.resentprogs {
  .search-result-filter__apper {
    display: none;
  }
  .result-item__desc-items {
    width: 890px;
  }
  .result-item:last-child {
    bottom: 0;
  }
  .result-item__title {
    width: 75%;
  }
}
.resentprogs__title {
  margin-top: 18px;
}
.resentprogs__inner {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  background: @grayMedium;
}