.result-item {
  box-sizing: border-box;
  margin-bottom: 20px;

  &.bg-hot {
    background: url(/img/horizontal_cards-hot.png) no-repeat center bottom #fff;
    background-size: 100%;
    .result-item__book ,
    .result-item__decr {
      background: transparent;
    }
  }

  * {
    box-sizing: border-box;
  }
}

.result-item__decr {
  .clearfix();
  background: #fff;
}

.result-item__img-wrapper {
  float: left;
  width: 248px;
  // width: 21.37931034482759%;
  font-size: 0;
}

.result-item__img {
}

.result-item__desc-items {
  float: right;
  // width: 700px;
  width: 930px;
  // width: 76.89655172413793%;
  padding-top: 15px;
  padding-right: 19px;
}

.result-item__desc-links {
  .clearfix();
  margin-bottom: 12px;
}

.result-item__icons {
  float: left;
  min-width: 112px;

  & > a {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.result-item__type-place {
  float: left;
  min-width: 197px;
}

.result-item__type-place-icon-camp {
  display: inline-block;
  vertical-align: middle;
  // width: 21px;
  // height: 21px;
}

.result-item__type-place-icon-ask {
  width: 14px;
  height: 14px;
  margin-top: 5px;
  margin-left: 5px;
}

.result__text {
  font-family:  @secondFont-Family;
  font-size: 12 / 16rem;  // 12px
  line-height: 14 / 16rem; // 14px
  font-weight: normal;
  color: @grayDarckMedium;
}

.result-item__type-place-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  .result__text();
}

.result-item__liked {
  float: right;

  // &:hover {
  //   .result-item__liked-icon {
  //     color: @greenLight-hover;
  //   }
  // }
}

.result-item__liked-link {
  .result__text();
  text-decoration: none;

  & span {
    margin-left: 10px;
    border-bottom: 1px dashed @grayDarckMedium;
  }

  &:hover {
    & span {
      border-color: @greenLight-hover;
    }
  }
}

.result-item__delete {
  float: right;
}

.result-item__delete-link {
  .result__text();
  margin-left: 26px;
  text-decoration: none;
}

.result-item__delete-text {
  border-bottom: 1px dashed @grayDarckMedium;

  &:hover {
    border-color: @greenLight-hover;
  }
}

.result-item__delete-icon {
  top: 2px;
  width: 11px;
  height: 11px;
  margin-left: 7px;
}

.result-item__rating {
  .result__text();
  margin-left: 26px;
  float: right;
}

.result-item__rating-icon {
  width: 21px;
  height: 24px;
  color: @greenLight-hover;
}

.result-item__rating__didgit {
  margin-left: 7px;
  margin-right: 4px;
  font-size: 14 / 16rem; // 14px
  line-height: 14 / 16rem; // 14px
  font-weight: bold;
  color: @blueDeepDark;
}

.result-item__place {
  margin-bottom: 10px;
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 18 / 16rem; // 18px
  font-weight: normal;
  color: @blueGreyDark;
}

.result-item__inner {
  .clearfix();

  .state-book{
    float: right;
    width: 190px;
    margin-top: -20px;
  }
}

.result-item__title {
  font-family: @baseFont-Family;
  font-size: 30 / 16rem; // 14px
  line-height: 38 / 16rem; // 18px
  font-weight: 600;
  color: @blueDeepExtraDark;
}

.result-item__book {
  .clearfix();
  padding: 20px;
  padding-top: 18px;
  padding-bottom: 14px;
  background: @grayPpagin;

  & * {
    box-sizing: border-box;
  }
}

.book-title {
  margin-bottom: 6px;
  font-family: @secondFont-Family;
  font-size: 12 / 16rem; // 12px
  line-height: 14 / 16rem; // 14px
  font-weight: normal;
  color: @grayDarckMedium
}

.result-item__title--fl-left {
  float: left;
  width: 75%;
}

.book-body {
  font-family: @baseFont-Family;
  font-size: 30 / 16rem; // 30px
  line-height: 32 / 16rem; // 32px
  font-weight: bold;
  color: @blueDeepDark;
}

.result-item__age {
  float: left;
  width: 95px;
}

.result-item__age-title {
  .book-title();
}

.result-item__age-body {
  .book-body();
}

.result-item__date {
  float: left;
  width: 133px;
  margin-right: 23px;

  .selectric {
    padding-right: 22px;
  }

  .selectric-items {
    overflow: auto;

    li {
      padding: 5px 18px;
      padding-left: 11px;
      padding-right: 0px;
    }
  }
}

.result-item__date-title {
  .book-title();
  margin-bottom: 7px;
}

.result-item__sits {
  float: left;
  width: 83px;
}

.result-item__sits-title {
  .book-title();
}

.result-item__sits-body {
  .book-body();
  color: @green;
}

.result-item__sits-body--small {
  color: @red;
}

.result-item__child {
  float: left;
  width: 77px;
}

.result-item__child-title {
  .book-title();
  margin-bottom: 7px;
}

.result-item__book-icon {
  float: left;
  width: 108px;
  padding-top: 3px;
  padding-left: 28px;

  &-hot {
    padding-right: 25px;
    padding-top: 17px;
  }
}

.result-item__hot-icon {
  float: left;
  width: 72px;
  height: 38px;
  margin-top: 3px;
  margin-left: 28px;
  background: url(/img/category-hot-label.png) no-repeat 0 0;
}

.result-item__book-icon-ico {
  width: 55px;
  height: 45px;
}

.result-item__amount {
  float: left;
  width: 192px;
}

.result-item__amount-title {
  .book-title();
}

.result-item__amount-sale {
  font-size: 0;

  span {
    .book-body();
    display: inline-block;
    position: relative;
    font-size: 15 / 16rem; // 15px
    line-height: 20 / 16rem; // 200px

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      border-bottom: 1px solid #000;
      top: 8 / 16rem; // 7px
    }
  }
}

.result-item__amount-body {
  .book-body();

  & span {
    position: relative;

    // &:before {
    //   display: block;
    //   content: "–";
    //   top: 0.05em;
    //   position: absolute;
    // }
  }
}

.result-item__button {
  float: right;

  .btn {
    font-size: 14 / 16rem; // 14px
    line-height: 26 / 16rem; // 26px
  }
}

.result-item__button-l {
  width: 190px;
}


