.search-result-filter {
  .clearfix();
  position: relative;
  margin-bottom: 20px;
  padding: 21px 20px;
  background: #fff;

  &:before {
    position: absolute;
    content: "";
    height: 90%;
    width: 0;
    border-right: 1px solid dashed
  }
}

.search-result-filter__sort {
  float: left;
}

.search-result-filter__sort-title {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  font-family: @baseFont-Family;
  font-size: 14 / 16rem; //20px
  line-height: 30 / 16rem; // 22px
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.search-result-filter__sort-list {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 0;
}

@padVert: 2px;
@padHoriz: 4px;

.search-result-filter__sort-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  padding: 0 @padHoriz;
  list-style-type: none;

  &:first-child {
    margin-left: 0;
  }
}


.search-result-filter__sort-item--active {
  padding: 0;

  .search-result-filter__sort-link {
    padding: @padVert @padHoriz;
    color: #fff;
    background: @green;
    border-radius: 2px;

     &:before {
      display: none;
     }
  }
}

.search-result-filter__sort-link {
  position: relative;
  //padding: 2px 3px;
  padding: @padVert 0;
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; //20px
  line-height: 30 / 16rem; // 22px
  font-weight: normal;
  color: @blueGreyDark;
  text-decoration: none;

  &:before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed #000;
  }
}



.search-result-filter__apper {
  float: right;
}

.search-result-filter__apper__title {
  .search-result-filter__sort-title();

  margin-right: 13px;
}

.search-result-filter__apper__tabs {
  display: inline-block;
  vertical-align: top;
}
