.search-block {
  box-sizing: border-box;
  border: 10px solid #e9eaed;
  border-radius: 0;
  padding: 4px;

  & * {
    box-sizing: border-box;
  }
}

.search-block__form {
  position: relative;
}

.search-block__input {
  width: 100%;
  padding: 11px 20px;
  border-radius: 0;
  border: none;
  font-family: @secondFont-Family;
  color: @grayDark;
  font-weight: bold;
  font-size: 14 / 16rem; // 14px
  line-height: 17 / 16rem; // 17px
  outline: none;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {color:@grayDark;}
  &::-moz-placeholder          {color:@grayDark;}/* Firefox 19+ */
  &:-moz-placeholder           {color:@grayDark;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:@grayDark;}
}

.btn--secondary.btn--s.search-block__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 155px;
  height: 40px;
  font-size: 15 /16rem; // 15px
}
