.search-result-title {
  margin-bottom: 12px;
  padding: 13px 0;
  font-family: @baseFont-Family;
  font-size: 20 /16rem; // 20px
  line-height: 22 /16rem; // 22px
  font-weight: 600;
  color: @blueDeepDark;
}