//855x50

.searchBar {
  position: absolute;
  top: 500px;
  z-index: 2;
  width: 100%;
  // padding: 30px;
  // background-color: rgba(0,0,0,.3);
  @media @media1000 {
    // padding: 20px;
  }
  @media @mediaTable {
    position: static;
    height: 60px;
    padding: 80px 0 0;
    margin-top: 5px;
  }
  @media @mediaMob {
    position: static;
    height: 90px;
    padding: 50px 0 0;
    margin-top: 5px;
  }

  & > .inner-block {
    max-width: 855px;
  }

  form {
    position: relative;
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  // add Roman
  .form-ctrl,
  .selectric {
    padding: 8px 25px;
    padding-right: 45px;
    height: 50px;
    font-family: @baseFont-Family;
    font-size: 20px;
    line-height: 28px;
    color: @white;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.8);
    border: solid 2px @violet;
    box-shadow: none;
  }

  .selectric {

    .button {
      right: 15px;
      margin-top: -15px;
      color: @white;
    }

    &-hover {
      .button {
        color: @violet;
      }
    }

    &-open,
    &-focus {
      .button {
        display: none;
        color: @violet;
      }
    }

    .label {
      color: @white;
    }

    &-items {
      top: 100%;
      padding-top: 0;
      padding-bottom: 0;
      min-width: 0;
      font-family: @baseFont-Family;
      box-shadow: none;

      &:after {
        display: none;
      }

      ul {
        //height: auto;
      }

      li {
        padding: 8px 25px;
        font-family: @baseFont-Family;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #EEE;

        &.selected,
        &:hover {
          background: @gray;
          color: @blueGreyExtraDark;
        }
      }

      .selectric-scroll ul li:first-child {
        // скрывает прервый пункт, который служит плейсхолдером на мобильное версии
        height: 0;
        font-size: 0;
        margin: 0;
        padding: 0;
      }

      .selectric-scroll ul li {
        margin: 0;
      }
    }
  }
  // end = > add Roman
  .form-grp {
    box-sizing: border-box;
    display: table-cell;
    border-collapse: collapse;
    vertical-align: top;
    @media @mediaTable {}
    @media @mediaMob {}

    // &:first-child {
    //   border-left: none;
    //   padding-left: 0;
    // }
  }

  &__season {
    min-width: 175px;
    border-right: none;
    box-shadow: inset @violet;
    @media @mediaTable {
      width: auto;
      min-width: initial;
    }
    @media @mediaMob {
      width: 50%;
    }
  }

  &__area {
    width: 100%;
    position: static;
    @media @mediaTable {
      max-width: 0;
      width: 0;
      padding-left: 0 !important;
    }

     & > .form-ctrl,
    .selectric-wrapper {
      @media @mediaTable {
        position: absolute;
        //width: 100%;
        right: 0;
        top: -60px;
        left: 0;
        z-index: 1;
      }
      @media @mediaMob {
        top: -45px;
      }
    }
  }

  &__ages {
    min-width: 145px;
    @media @mediaTable {
      width: auto;
      min-width: initial;
    }
    @media @mediaMob {
      width: 50%;
    }
  }

  &__submit {
    border-left: none !important;
    @media @mediaTable {
      width: 1%;
    }
    @media @mediaMob {
      position: static !important;
      padding-left: 0 !important;
      width: 0;
    }

    .btn {
      width: 150px;
      height: 50px;
      background-image:
        linear-gradient( @violet, @violetDarken );
      border: none;
      color: @white;
      font-family: @baseFont-Family;
      font-weight: bold;
      padding-left: 20px;
      padding-right: 20px;
      box-shadow: 0 -2px 0 #4019a2 inset;
      @media @mediaMob {
        width: 100%;
        position: absolute;
        left: 0;
        top: 45px;
      }

      &:focus,
      &:hover {
        background-image:
          linear-gradient( @violetDark, @violetDarken-hover );
      }

      &:active {
        background-image:
          linear-gradient( @violetDarken-hover, @violetDarken-hover );
      }
    }
  }

  input::-webkit-input-placeholder {
    color: @white;
  }

  input::-moz-placeholder {
    color: @white;
  }

  input:-moz-placeholder {
    color: @white;
  }

  input:-ms-input-placeholder {
    color: @white;
  }
}
