.section-tabs {
  margin-top: -13px;
  .camp-card__fullinfo {
    width: auto;
    height: auto;
    float: none;
    overflow: initial;
  }

  .camp-card__fullinfo-tabs {
    background: rgba(255,255,255, 0);
  }

  .camp-card__fullinfo-contents {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 0;
    overflow: initial;
    background: @white;

    &:after {
      display: none;
    }

    .balance {
      margin-left: 17px;
    }

    .separator-big {
      margin-top: 23px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .search-result-filter {
    margin-bottom: 18px;
  }

  .search-result-filter__apper {
    display: none;
  }

  .result-item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .result-item__desc-items {
    width: 892px;
  }

  .result-item__button {
    margin-top: 2px;
  }

  // .result-item__book {
  //   padding-bottom: 14px;
  // }

}