@sectionBoxPad: 40px;
@sectionBoxPadTab: 20px;
@sectionBoxPadMob: 15px;
@sectionBoxPadSmall: 10px;
@sectionBoxPadBottomMob: 30px;

.sectionBox {
  background-color: @white;
  padding: @sectionBoxPad;

  @media @mediaTable {
    padding-right: @sectionBoxPadTab;
    padding-left: @sectionBoxPadTab;
  }
  @media @mediaMob {
    padding-top: 18px;
    margin-left: -@pagePadRightMob;
    margin-right: -@pagePadLeftMob;
    padding-left: @sectionBoxPadMob;
    padding-right: @sectionBoxPadMob;
    padding-bottom: @sectionBoxPadBottomMob;
  }

  &.sectionBox--pad20 {
    padding-top: 30px!important;
    padding-right: 20px!important;
    padding-left: 20px!important;
    padding-bottom: 20px!important;
  }

  &--scallopTop {
    position: relative;
    margin-top: 10px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -8px;
      left: 0;
      // background: url(../img/scallop-bg.png) no-repeat 50% 0 @grayMedium;
      background: url(../img/scallop-bg.png) no-repeat 50% 0 transparent;
      width: 100%;
      height: 8px;
    }
  }
  &--noPad {
    padding: 0 !important;
  }
  &--noBg {
    background: none !important;
  }
  &__title {
    text-transform: uppercase;
    color: @blueDeepDark;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: center;
  }
  &--mbNone {
    margin-bottom: -20px;
  }
  &__content {
    .clearfix();

    &--noPad {
      margin-left: -@sectionBoxPad;
      margin-right: -@sectionBoxPad;
      margin-bottom: -@sectionBoxPad;

      @media @mediaTable {
        margin-left: -@sectionBoxPadTab;
        margin-right: -@sectionBoxPadTab;
      }
      @media @mediaMob {
        margin-left: -@sectionBoxPadMob;
        margin-right: -@sectionBoxPadMob;
        margin-bottom: -@sectionBoxPadBottomMob;
      }
    }

    &--inner {
      margin-left: -@sectionBoxPad / 2;
      margin-right: -@sectionBoxPad / 2;
    }

  }
  &__col {

    &Wrap {
      margin-left: -@sectionBoxPad/2;
      margin-right: -@sectionBoxPad/2;

      @media @mediaTable {
        margin-left: -@sectionBoxPadTab/2;
        margin-right: -@sectionBoxPadTab/2;
      }

      @media @mediaMob {
        margin-left: 0;
        margin-right: 0;
      }
      &--padSmall {
        margin-left: -@sectionBoxPadSmall;
        margin-right: -@sectionBoxPadSmall;
      }
    }
    &Inner {
      display: table;
      table-layout: fixed;
      width: 100%;

      @media @mediaMob {
        display: block;
      }
    }
    display: table-cell;
    vertical-align: top;
    padding-left: @sectionBoxPad/2;
    padding-right: @sectionBoxPad/2;
    width: 100%;


    @media @mediaTable {
      padding-right: @sectionBoxPadTab/2;
      padding-left: @sectionBoxPadTab/2;
    }
    @media @mediaMob {
      display: block;
      padding-left: 0;
      padding-right: 0;
    }

    &Wrap--padSmall & {
      padding-left: @sectionBoxPadSmall;
      padding-right: @sectionBoxPadSmall;

      @media @mediaMob {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__ctrl {
  margin-top: 44px;
  text-align: center;
  width: 360px;
  margin-left: auto;
  margin-right: auto;

    @media @mediaMob {
      margin-top: 34px;
      width: auto;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  &--advt {
    img {
      display: block;
    }
  }
}



//// Index page
//@indexSectionPadTop: 14px;
//@indexSectionPadRight: 40px;
//@indexSectionPadBottom: 40px;
//@indexSectionPadLeft: 40px;
//
//@indexSectionPadTopMob: 0;
//@indexSectionPadRightMob: 15px;
//@indexSectionPadBottomMob: 30px;
//@indexSectionPadLeftMob: 15px;


//
//
//
//  @media @mediaMob {
//	padding-top: @indexSectionPadTopMob;
//	padding-right: @indexSectionPadRightMob;
//	padding-bottom: @indexSectionPadBottomMob;
//	padding-left: @indexSectionPadLeftMob;
//
//	margin-left: -@pagePadLeftMob;
//	margin-right: -@pagePadRightMob;
//  }
//
//
//
//
//  &-content {
//	margin-right: -@indexSectionPadRight;
//	margin-left: -@indexSectionPadLeft;
//
//	@media @mediaTable {
//	  margin-right: -(@indexSectionPadRight/2)/2;
//	  margin-left: -(@indexSectionPadLeft/2)/2;
//	}
//	.clearfix();
//  }
//  &-item {
//	float: left;
//	width: 100%/3;
//
//	@media @mediaTable {
//	  width: 100%/2;
//	  &+&+& {
//		display: none;
//	  }
//	}
//	@media @mediaMob {
//	  width: auto;
//	  float: none;
//
//
//	  &+&+& {
//		display: block;
//	  }
//	}
//
//	&__inner {
//	  margin-left: @indexSectionPadRight/2;
//	  margin-right: @indexSectionPadRight/2;
//
//	  @media @mediaTable {
//		margin-right: (@indexSectionPadRight/2)/2;
//		margin-left: (@indexSectionPadLeft/2)/2;
//	  }
//	}



.page-no-mobile {
  .sectionBox {
    margin-left: 0;
    margin-right: 0;
    padding: @sectionBoxPad;
  }
}
