.slider-dots {
  font-size: 0;
}

.slider-dots-item {
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  width: 11px;
  height: 11px;
  border: 2px solid #e9eaed;
  border-radius: 50%;
  margin-left: 8px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transition-property: border-color, background-color;
  user-select: none;

  &:first-child {
    margin-left: 0;
  }

  &.active {
    background: @greenLight-hover;
    border-color: @greenLight-hover;
  }
}