@slider-width: 100%;
@slider-height: 5px;
@slider-handle-demention: 8px;
@slider-handle-border-width: 4px;

.slider-range {
  padding: 7px 9px;
}

.ui-slider {
  position: relative;
  width: @slider-width;
  height: @slider-height;
  border-radius: 10px;
  background: #f1f1f1;
  box-shadow: inset 0 1px 0 0 #cfcfcf;
}

.ui-slider-handle {
  position: absolute;
  top: -6px;
  width: @slider-handle-demention;
  height: @slider-handle-demention;
  margin-left: -@slider-handle-demention;
  border: @slider-handle-border-width solid @white;
  border-radius: 50%;
  background: @white;
  box-shadow: 0 3px 10px #a9a9a9;
  cursor: pointer;

  &:hover,
  &:active {
    background: #31bf78;
  }

  &:hover,
  &:focus,
  &:active {
    z-index: 4;
    outline: none;
  }
}

.ui-slider-range {
  position: absolute;
  height: @slider-height;
  background: linear-gradient(to bottom, #6ecb9f, #39b87b);
}


.ui-slider-range-min {

}

.ui-slider-range-max {

}


.slider-range-block {

}

.slider-range-block-inner {
  .clearfix();
}

.slider-range-input {
  box-sizing: border-box;
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 16px
  font-weight: normal;
  color: @blueGreyDark;
  border: none;
  background:  transparent;
}

.slider-range-input--min {
  float: left;
  width: 50%;
  text-align: left;
}

.slider-range-input--max {
  float: right;
  width: 50%;
  text-align: right;
}

