.small-search {
  position: relative;

  .small-search__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 102px;
    padding: 0;
    font-size: 15px;
    height: 39px;
    text-transform: uppercase;
  }

  .ui-autocomplete {
    position: absolute;
    width: 100%;
    max-height: 105px;
    overflow-y: scroll;
    font-family: @secondFont-Family;
    font-size: 20 / 16rem;
    line-height: 36 / 16rem;
    color: #001122;
    // background: violet;
    // max-height: 400px;
    // overflow-y: scroll;
    
    @media @media660 {
      position: relative;
    }

    @media @media600 {
      font-size: 15 / 16rem;
    }

    .ui-menu-item {
      // margin-bottom: 1px;
      padding-left: 6px;
      background: #fff;

      @media @media660 {
        padding-left: 0;
      }
    }
  }

  ul,li {
    margin: 0;
    padding: 0;
  }

  li {
    &:before {
      display: none;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.small-search__input {
  width: 100%;
  padding: 0px;
  padding-right: 105px;
  padding-left: 0;
  font-family: @secondFont-Family;
  font-size: 20 / 16rem;
  line-height: 36 / 16rem;
  height: 39px;
  font-weight: normal;
  color: #001122;
  border: none;
  border-bottom: 1px solid #99aabb;
  border-radius: 0;
  background: rgba(255,255,255, 0);
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {color:#001122;}
  &::-moz-placeholder          {color:#001122;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#001122;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#001122;}
}