.state-book {
  width: 130px;
}

.state-book__icon {
  width: 59px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.state-book__icon-ico {
  width: 59px;
  height: 59px;
}

.state-book__text {
  font-size: 15 / 16rem;
  line-height: 17 / 16rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

}

.state-book--stateBook-yes {
  .state-book__text {
    color: @greenLight-hover;
  }
}

.state-book--stateBook-no {
  .state-book__text {
    color: @violetLighten;
  }
}
