.bonus-balance {
  position: absolute;
  top: 45px;
  right: 20px;
  font-family: @baseFont-Family;
  font-weight: 600;
  color: @grayDarckMedium;
  font-size: 20px;

  &__amount {
    color: @blueDeepDark;
  }
}

.bonus-table {
  &-row td {
    padding: 15px 0;
  }

  .bonus-table__head {
    &-date {
      width: 220px;
    }

    &-event {
      width: 330px;
    }

    &-quantity {
      width: 200px;
    }

    &-expire {
      width: 225px;
    }
  }

  .bonus-table__body {
    &-date {
      padding-left: 20px;
    }

    &-event {
      padding-right: 140px;
    }
  }
}

.bonus-block__wrap {
  position: relative;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 105%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: @gray;
  }
}

.promocode-table {
  margin-bottom: 20px;

  &-row td {
    padding: 15px 0;
  }

  .promocode-table__head {
    &-fio {
      width: 420px;
    }

    &-email {
      width: 330px;
      overflow: hidden;
    }

    &-reg {
      width: 225px;
    }
  }

  .promocode-table__body {
    &-fio {
      padding-left: 20px;
      padding-right: 50px;
    }

    &-email {
      overflow: hidden;
    }
  }
}

.bonus-block,
.promocode-block {
  .block-info__inner {
    padding: 15px;
    margin: 0;
  }
}

.promocode-block {
  .block-info__title {}
}

.promocode-invite-form {
  padding-left: 20px;
  padding-bottom: 35px;

  .dashed-line {
    height: 0;
    margin-left: -20px;
    margin-bottom: 20px;
    border: 0 none;
    border-top: 1px dashed @blueGreyLight;
    background: none;
  }

  .block-info__title {
    float: none;
  }

  .form__item {
    display: inline-block;
    width: auto;
    margin-right: 60px;
    margin-bottom: 0;
    vertical-align: middle;
    // overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }

    .form-item__label {
      display: inline-block;
      width: auto;
      padding-right: 10px;
      line-height: 30px;
    }

    .form-item__elem {
      display: inline-block;
      width: 190px;
      // overflow: hidden;
    }
  }
}
