.selectric-review-new__program {
  float: left;
  width: 320px;
  margin-right: 20px;
  line-height: 1.3;
  .selectric .label {
    font-weight: bold;
  }
}

.review-new__wrap {
}

.review-new__item {
  width: 700px;
  margin-top: -20px;
  .form-item__label {
    display: block;
    width: auto;
    margin-bottom: 5px;
  }

  .form-item__elem {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    textarea {
      height: 75px;
    }
  }
}

.review-modal__item {
  margin-top: 0;
  .form-item__label {
    display: inline-block;
    vertical-align: top;
    width: 100px;
  }
  .form-item__elem {
    display: inline-block;
    vertical-align: top;
    width: 495px;
  }
}

.review-rating {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 50px;
  line-height: 1;
  .rateit-reset {
    display: none!important;
  }
  &__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: @secondFont-Family;
  }
}

.review-publish {
  max-width: 220px;
  font-family: @secondFont-Family;
  text-align: right;
  line-height: 1.5;
}

.review-IMHO {
  max-width: 960px;
  margin-bottom: 20px;
  font-family: @secondFont-Family;
  line-height: 1.5;

  &__buttons {
    float: right;
    .btn {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
