.topicTravel {
  background-color: @white;

  @media @mediaMob {
	& + & {
	  margin-top: 22px;
	}
  }

  &__picBox {
	margin-bottom: 18px;

	&-img {
	  display: block;
	}
  }

  &__title {
	color: @grayDark;
	text-transform: uppercase;
	min-height: 2.4em;
	display: flex;
	align-items: center;
	font-size: 1.0714285714285714em;
	line-height: 1.2;

	.no-flexbox & {
	  display: table-cell;
	  width: 1%;
	  height: 2.4em;
	  vertical-align: middle;
	}
  }

  &__suggestion {
s
	&List {
	  margin-top: 18px;
	}

	& + & {
	  margin-top: 9px;

	  @media @mediaMob {
		margin-top: 5px;
	  }
	}

	&-title {

	  &Wrap {
		display: table-cell;
		position: relative;

		&:before {
		  content:'';
		  height: 0;
		  line-height: 0;
		  border-bottom: 1px dashed #baddef;
		  position: absolute;
		  left: 0;
		  right: 0;
		  bottom: 0.42857142857142855em;
		}
	  }

	  font-family: @secondFont-Family;
	  font-size: 0.9285714285714285em;
	  line-height: 1.5384615384615385;
	  display: inline;
	  background-color: @white;
	  padding-right: 10px;
	  position: relative;
	}

	&-infoBox {
	  display: table-cell;
	  width: 1%;
	  white-space: nowrap;
	  padding-left: 10px;
	  vertical-align: bottom;
	}
	&-price {

	  &Prefix {
		font-family: @secondFont-Family;
		font-size: 0.9285714285714285em;
		line-height: 1.3846153846153846;
		padding-right: 0.3076923076923077em;
	  }
	  font-weight: bold;
	  font-size: 1.0714285714285714em;
	  line-height: 1.2;
	  color: @blueDeepDark;
	}
  }
}