// .tranpsort
.tranpsort {
  font-family: @secondFont-Family;
  font-size: 14 / 16rem; // 14px
  line-height: 16 / 16rem; // 16px
  font-weight: bold;
  color: @blueDeepDark;

  & span {
    display: block;
    color: @blueGreyDark;
    font-weight: normal;
  }
}

.tranpsort__title {
  margin-bottom: 28px;
}
.tranpsort__block {
  padding-left: 20px;
}
.tranpsort__from,
.tranpsort__to {
  line-height: 24px;
}
.tranpsort__to {

}