.usefull-links {
  * {
    box-sizing: border-box;
  }

  position: relative;
  padding-bottom: 40px;
  padding-top: 10px;
  background: #faf6e9;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    top: -8px;
    left: 0;
    background: url("@{img-url-prefix}bg-wave-brown.png") repeat-x;
  }

  .sectionBox {
    background: inherit;
  }
}

.usefull-links__inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 60px;
}

.usefull-links__title {
  font-size: 25 / 16rem;
  line-height: 27 / 16rem;
}

.usefull-links__list {
  .clearfix();
  margin: 0;
  padding: 0;
}

.usefull-links__item {
  float: left;
  width: 250px;
  margin: 0;
  padding-right: 70px;
  list-style-type: none;

  &:before {
    display: none;
  }

  a {
    display: block;
    margin-bottom: 18px;
    line-height: 18 / 16rem;
  }
}
