.why-we-brief {
  * {
    box-sizing: border-box;
  }

  padding: 40px;
  padding-bottom: 0;
  padding-top: 45px;

  .clearfix();
  background: transparent;
}

.why-we-brief__descr {
  float: left;
  width: 55%;
  padding-top: 32px;

  p {
    font-family: @baseFont-Family;
    font-size: 21 / 16rem;
    line-height: 32 / 16rem;
    color: #334455;
    font-weight: 600;
  }

  h1 {

  }
}

.why-we-brief__img {
  float: right;
  width: 45%;
  padding-left: 11%;
  opacity: .8;

  img {
    max-width: 100%;
  }
}
