.why-we-bg{
  // &.page-main {
    background-color: @white;
    background-image: url("@{img-url-prefix}why-word-bg.png"), url("@{img-url-prefix}why-main-bg.jpg");
    background-repeat:  no-repeat, repeat-x;
    background-position: center -20px, 0 -220px;
    background-size: contain, auto;
  // }
}